{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-11-27",
    "endpointPrefix":"comprehend",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon Comprehend",
    "serviceId":"Comprehend",
    "signatureVersion":"v4",
    "signingName":"comprehend",
    "targetPrefix":"Comprehend_20171127",
    "uid":"comprehend-2017-11-27",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchDetectDominantLanguage":{
      "name":"BatchDetectDominantLanguage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectDominantLanguageRequest"},
      "output":{"shape":"BatchDetectDominantLanguageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>"
    },
    "BatchDetectEntities":{
      "name":"BatchDetectEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectEntitiesRequest"},
      "output":{"shape":"BatchDetectEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-entities.html\">Entities</a> in the Comprehend Developer Guide. </p>"
    },
    "BatchDetectKeyPhrases":{
      "name":"BatchDetectKeyPhrases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectKeyPhrasesRequest"},
      "output":{"shape":"BatchDetectKeyPhrasesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Detects the key noun phrases found in a batch of documents.</p>"
    },
    "BatchDetectSentiment":{
      "name":"BatchDetectSentiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectSentimentRequest"},
      "output":{"shape":"BatchDetectSentimentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.</p>"
    },
    "BatchDetectSyntax":{
      "name":"BatchDetectSyntax",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectSyntaxRequest"},
      "output":{"shape":"BatchDetectSyntaxResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-syntax.html\">Syntax</a> in the Comprehend Developer Guide. </p>"
    },
    "BatchDetectTargetedSentiment":{
      "name":"BatchDetectTargetedSentiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectTargetedSentimentRequest"},
      "output":{"shape":"BatchDetectTargetedSentimentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects a batch of documents and returns a sentiment analysis for each entity identified in the documents.</p> <p>For more information about targeted sentiment, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-targeted-sentiment.html\">Targeted sentiment</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "ClassifyDocument":{
      "name":"ClassifyDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ClassifyDocumentRequest"},
      "output":{"shape":"ClassifyDocumentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a classification request to analyze a single document in real-time. <code>ClassifyDocument</code> supports the following model types:</p> <ul> <li> <p>Custom classifier - a custom model that you have created and trained. For input, you can provide plain text, a single-page document (PDF, Word, or image), or Amazon Textract API output. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-document-classification.html\">Custom classification</a> in the <i>Amazon Comprehend Developer Guide</i>.</p> </li> <li> <p>Prompt safety classifier - Amazon Comprehend provides a pre-trained model for classifying input prompts for generative AI applications. For input, you provide English plain text input. For prompt safety classification, the response includes only the <code>Classes</code> field. For more information about prompt safety classifiers, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/trust-safety.html#prompt-classification\">Prompt safety classification</a> in the <i>Amazon Comprehend Developer Guide</i>.</p> </li> </ul> <p>If the system detects errors while processing a page in the input document, the API response includes an <code>Errors</code> field that describes the errors.</p> <p>If the system detects a document-level error in your input document, the API returns an <code>InvalidRequestException</code> error response. For details about this exception, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/idp-inputs-sync-err.html\"> Errors in semi-structured documents</a> in the Comprehend Developer Guide. </p>"
    },
    "ContainsPiiEntities":{
      "name":"ContainsPiiEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ContainsPiiEntitiesRequest"},
      "output":{"shape":"ContainsPiiEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Analyzes input text for the presence of personally identifiable information (PII) and returns the labels of identified PII entity types such as name, address, bank account number, or phone number.</p>"
    },
    "CreateDataset":{
      "name":"CreateDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatasetRequest"},
      "output":{"shape":"CreateDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a dataset to upload training or test data for a model associated with a flywheel. For more information about datasets, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "CreateDocumentClassifier":{
      "name":"CreateDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentClassifierRequest"},
      "output":{"shape":"CreateDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new document classifier that you can use to categorize documents. To create a classifier, you provide a set of training documents that are labeled with the categories that you want to use. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/training-classifier-model.html\">Training classifier models</a> in the Comprehend Developer Guide. </p>"
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointRequest"},
      "output":{"shape":"CreateEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a model-specific endpoint for synchronous inference for a previously trained custom model For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>"
    },
    "CreateEntityRecognizer":{
      "name":"CreateEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEntityRecognizerRequest"},
      "output":{"shape":"CreateEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an entity recognizer using submitted files. After your <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the <code>DescribeEntityRecognizer</code> API. </p>"
    },
    "CreateFlywheel":{
      "name":"CreateFlywheel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFlywheelRequest"},
      "output":{"shape":"CreateFlywheelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>A flywheel is an Amazon Web Services resource that orchestrates the ongoing training of a model for custom classification or custom entity recognition. You can create a flywheel to start with an existing trained model, or Comprehend can create and train a new model.</p> <p>When you create the flywheel, Comprehend creates a data lake in your account. The data lake holds the training data and test data for all versions of the model.</p> <p>To use a flywheel with an existing trained model, you specify the active model version. Comprehend copies the model's training data and test data into the flywheel's data lake.</p> <p>To use the flywheel with a new model, you need to provide a dataset for training data (and optional test data) when you create the flywheel.</p> <p>For more information about flywheels, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "DeleteDocumentClassifier":{
      "name":"DeleteDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentClassifierRequest"},
      "output":{"shape":"DeleteDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a previously created document classifier</p> <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is then removed by a background job. Once removed, the classifier disappears from your account and is no longer available for use. </p>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointRequest"},
      "output":{"shape":"DeleteEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a model-specific endpoint for a previously-trained custom model. All endpoints must be deleted in order for the model to be deleted. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>"
    },
    "DeleteEntityRecognizer":{
      "name":"DeleteEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEntityRecognizerRequest"},
      "output":{"shape":"DeleteEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an entity recognizer.</p> <p>Only those recognizers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the recognizer into a DELETING state, and it is then removed by a background job. Once removed, the recognizer disappears from your account and is no longer available for use. </p>"
    },
    "DeleteFlywheel":{
      "name":"DeleteFlywheel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFlywheelRequest"},
      "output":{"shape":"DeleteFlywheelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a flywheel. When you delete the flywheel, Amazon Comprehend does not delete the data lake or the model associated with the flywheel.</p> <p>For more information about flywheels, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a resource-based policy that is attached to a custom model.</p>"
    },
    "DescribeDataset":{
      "name":"DescribeDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatasetRequest"},
      "output":{"shape":"DescribeDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about the dataset that you specify. For more information about datasets, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "DescribeDocumentClassificationJob":{
      "name":"DescribeDocumentClassificationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentClassificationJobRequest"},
      "output":{"shape":"DescribeDocumentClassificationJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a document classification job. Use this operation to get the status of a classification job.</p>"
    },
    "DescribeDocumentClassifier":{
      "name":"DescribeDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentClassifierRequest"},
      "output":{"shape":"DescribeDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a document classifier.</p>"
    },
    "DescribeDominantLanguageDetectionJob":{
      "name":"DescribeDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDominantLanguageDetectionJobRequest"},
      "output":{"shape":"DescribeDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointRequest"},
      "output":{"shape":"DescribeEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a specific endpoint. Use this operation to get the status of an endpoint. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>"
    },
    "DescribeEntitiesDetectionJob":{
      "name":"DescribeEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntitiesDetectionJobRequest"},
      "output":{"shape":"DescribeEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DescribeEntityRecognizer":{
      "name":"DescribeEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntityRecognizerRequest"},
      "output":{"shape":"DescribeEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides details about an entity recognizer including status, S3 buckets containing training data, recognizer metadata, metrics, and so on.</p>"
    },
    "DescribeEventsDetectionJob":{
      "name":"DescribeEventsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsDetectionJobRequest"},
      "output":{"shape":"DescribeEventsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the status and details of an events detection job.</p>"
    },
    "DescribeFlywheel":{
      "name":"DescribeFlywheel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFlywheelRequest"},
      "output":{"shape":"DescribeFlywheelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides configuration information about the flywheel. For more information about flywheels, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "DescribeFlywheelIteration":{
      "name":"DescribeFlywheelIteration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFlywheelIterationRequest"},
      "output":{"shape":"DescribeFlywheelIterationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve the configuration properties of a flywheel iteration. For more information about flywheels, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "DescribeKeyPhrasesDetectionJob":{
      "name":"DescribeKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"DescribeKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DescribePiiEntitiesDetectionJob":{
      "name":"DescribePiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePiiEntitiesDetectionJobRequest"},
      "output":{"shape":"DescribePiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a PII entities detection job. For example, you can use this operation to get the job status.</p>"
    },
    "DescribeResourcePolicy":{
      "name":"DescribeResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResourcePolicyRequest"},
      "output":{"shape":"DescribeResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the details of a resource-based policy that is attached to a custom model, including the JSON body of the policy.</p>"
    },
    "DescribeSentimentDetectionJob":{
      "name":"DescribeSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSentimentDetectionJobRequest"},
      "output":{"shape":"DescribeSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DescribeTargetedSentimentDetectionJob":{
      "name":"DescribeTargetedSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTargetedSentimentDetectionJobRequest"},
      "output":{"shape":"DescribeTargetedSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a targeted sentiment detection job. Use this operation to get the status of the job.</p>"
    },
    "DescribeTopicsDetectionJob":{
      "name":"DescribeTopicsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTopicsDetectionJobRequest"},
      "output":{"shape":"DescribeTopicsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DetectDominantLanguage":{
      "name":"DetectDominantLanguage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectDominantLanguageRequest"},
      "output":{"shape":"DetectDominantLanguageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>"
    },
    "DetectEntities":{
      "name":"DetectEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectEntitiesRequest"},
      "output":{"shape":"DetectEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Detects named entities in input text when you use the pre-trained model. Detects custom entities if you have a custom entity recognition model. </p> <p> When detecting named entities using the pre-trained model, use plain text as the input. For more information about named entities, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-entities.html\">Entities</a> in the Comprehend Developer Guide.</p> <p>When you use a custom entity recognition model, you can input plain text or you can upload a single-page input document (text, PDF, Word, or image). </p> <p>If the system detects errors while processing a page in the input document, the API response includes an entry in <code>Errors</code> for each error. </p> <p>If the system detects a document-level error in your input document, the API returns an <code>InvalidRequestException</code> error response. For details about this exception, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/idp-inputs-sync-err.html\"> Errors in semi-structured documents</a> in the Comprehend Developer Guide. </p>"
    },
    "DetectKeyPhrases":{
      "name":"DetectKeyPhrases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectKeyPhrasesRequest"},
      "output":{"shape":"DetectKeyPhrasesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Detects the key noun phrases found in the text. </p>"
    },
    "DetectPiiEntities":{
      "name":"DetectPiiEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectPiiEntitiesRequest"},
      "output":{"shape":"DetectPiiEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects the input text for entities that contain personally identifiable information (PII) and returns information about them.</p>"
    },
    "DetectSentiment":{
      "name":"DetectSentiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectSentimentRequest"},
      "output":{"shape":"DetectSentimentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). </p>"
    },
    "DetectSyntax":{
      "name":"DetectSyntax",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectSyntaxRequest"},
      "output":{"shape":"DetectSyntaxResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects text for syntax and the part of speech of words in the document. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-syntax.html\">Syntax</a> in the Comprehend Developer Guide. </p>"
    },
    "DetectTargetedSentiment":{
      "name":"DetectTargetedSentiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectTargetedSentimentRequest"},
      "output":{"shape":"DetectTargetedSentimentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects the input text and returns a sentiment analysis for each entity identified in the text.</p> <p>For more information about targeted sentiment, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-targeted-sentiment.html\">Targeted sentiment</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "DetectToxicContent":{
      "name":"DetectToxicContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectToxicContentRequest"},
      "output":{"shape":"DetectToxicContentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Performs toxicity analysis on the list of text strings that you provide as input. The API response contains a results list that matches the size of the input list. For more information about toxicity detection, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/toxicity-detection.html\">Toxicity detection</a> in the <i>Amazon Comprehend Developer Guide</i>. </p>"
    },
    "ImportModel":{
      "name":"ImportModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportModelRequest"},
      "output":{"shape":"ImportModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new custom model that replicates a source custom model that you import. The source model can be in your Amazon Web Services account or another one.</p> <p>If the source model is in another Amazon Web Services account, then it must have a resource-based policy that authorizes you to import it.</p> <p>The source model must be in the same Amazon Web Services Region that you're using when you import. You can't import a model that's in a different Region.</p>"
    },
    "ListDatasets":{
      "name":"ListDatasets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatasetsRequest"},
      "output":{"shape":"ListDatasetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List the datasets that you have configured in this Region. For more information about datasets, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "ListDocumentClassificationJobs":{
      "name":"ListDocumentClassificationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentClassificationJobsRequest"},
      "output":{"shape":"ListDocumentClassificationJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the documentation classification jobs that you have submitted.</p>"
    },
    "ListDocumentClassifierSummaries":{
      "name":"ListDocumentClassifierSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentClassifierSummariesRequest"},
      "output":{"shape":"ListDocumentClassifierSummariesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of summaries of the document classifiers that you have created</p>"
    },
    "ListDocumentClassifiers":{
      "name":"ListDocumentClassifiers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentClassifiersRequest"},
      "output":{"shape":"ListDocumentClassifiersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the document classifiers that you have created.</p>"
    },
    "ListDominantLanguageDetectionJobs":{
      "name":"ListDominantLanguageDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDominantLanguageDetectionJobsRequest"},
      "output":{"shape":"ListDominantLanguageDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the dominant language detection jobs that you have submitted.</p>"
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsRequest"},
      "output":{"shape":"ListEndpointsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of all existing endpoints that you've created. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>"
    },
    "ListEntitiesDetectionJobs":{
      "name":"ListEntitiesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntitiesDetectionJobsRequest"},
      "output":{"shape":"ListEntitiesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the entity detection jobs that you have submitted.</p>"
    },
    "ListEntityRecognizerSummaries":{
      "name":"ListEntityRecognizerSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntityRecognizerSummariesRequest"},
      "output":{"shape":"ListEntityRecognizerSummariesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of summaries for the entity recognizers that you have created.</p>"
    },
    "ListEntityRecognizers":{
      "name":"ListEntityRecognizers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntityRecognizersRequest"},
      "output":{"shape":"ListEntityRecognizersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the properties of all entity recognizers that you created, including recognizers currently in training. Allows you to filter the list of recognizers based on criteria such as status and submission time. This call returns up to 500 entity recognizers in the list, with a default number of 100 recognizers in the list.</p> <p>The results of this list are not in any particular order. Please get the list and sort locally if needed.</p>"
    },
    "ListEventsDetectionJobs":{
      "name":"ListEventsDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventsDetectionJobsRequest"},
      "output":{"shape":"ListEventsDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the events detection jobs that you have submitted.</p>"
    },
    "ListFlywheelIterationHistory":{
      "name":"ListFlywheelIterationHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFlywheelIterationHistoryRequest"},
      "output":{"shape":"ListFlywheelIterationHistoryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Information about the history of a flywheel iteration. For more information about flywheels, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "ListFlywheels":{
      "name":"ListFlywheels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFlywheelsRequest"},
      "output":{"shape":"ListFlywheelsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the flywheels that you have created.</p>"
    },
    "ListKeyPhrasesDetectionJobs":{
      "name":"ListKeyPhrasesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListKeyPhrasesDetectionJobsRequest"},
      "output":{"shape":"ListKeyPhrasesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get a list of key phrase detection jobs that you have submitted.</p>"
    },
    "ListPiiEntitiesDetectionJobs":{
      "name":"ListPiiEntitiesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPiiEntitiesDetectionJobsRequest"},
      "output":{"shape":"ListPiiEntitiesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the PII entity detection jobs that you have submitted.</p>"
    },
    "ListSentimentDetectionJobs":{
      "name":"ListSentimentDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSentimentDetectionJobsRequest"},
      "output":{"shape":"ListSentimentDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of sentiment detection jobs that you have submitted.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all tags associated with a given Amazon Comprehend resource. </p>"
    },
    "ListTargetedSentimentDetectionJobs":{
      "name":"ListTargetedSentimentDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTargetedSentimentDetectionJobsRequest"},
      "output":{"shape":"ListTargetedSentimentDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of targeted sentiment detection jobs that you have submitted.</p>"
    },
    "ListTopicsDetectionJobs":{
      "name":"ListTopicsDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTopicsDetectionJobsRequest"},
      "output":{"shape":"ListTopicsDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the topic detection jobs that you have submitted.</p>"
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Attaches a resource-based policy to a custom model. You can use this policy to authorize an entity in another Amazon Web Services account to import the custom model, which replicates it in Amazon Comprehend in their account.</p>"
    },
    "StartDocumentClassificationJob":{
      "name":"StartDocumentClassificationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDocumentClassificationJobRequest"},
      "output":{"shape":"StartDocumentClassificationJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous document classification job using a custom classification model. Use the <code>DescribeDocumentClassificationJob</code> operation to track the progress of the job.</p>"
    },
    "StartDominantLanguageDetectionJob":{
      "name":"StartDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDominantLanguageDetectionJobRequest"},
      "output":{"shape":"StartDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.</p>"
    },
    "StartEntitiesDetectionJob":{
      "name":"StartEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEntitiesDetectionJobRequest"},
      "output":{"shape":"StartEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.</p> <p>This API can be used for either standard entity detection or custom entity recognition. In order to be used for custom entity recognition, the optional <code>EntityRecognizerArn</code> must be used in order to provide access to the recognizer being used to detect the custom entity.</p>"
    },
    "StartEventsDetectionJob":{
      "name":"StartEventsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEventsDetectionJobRequest"},
      "output":{"shape":"StartEventsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous event detection job for a collection of documents.</p>"
    },
    "StartFlywheelIteration":{
      "name":"StartFlywheelIteration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartFlywheelIterationRequest"},
      "output":{"shape":"StartFlywheelIterationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Start the flywheel iteration.This operation uses any new datasets to train a new model version. For more information about flywheels, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/flywheels-about.html\"> Flywheel overview</a> in the <i>Amazon Comprehend Developer Guide</i>.</p>"
    },
    "StartKeyPhrasesDetectionJob":{
      "name":"StartKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"StartKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.</p>"
    },
    "StartPiiEntitiesDetectionJob":{
      "name":"StartPiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartPiiEntitiesDetectionJobRequest"},
      "output":{"shape":"StartPiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous PII entity detection job for a collection of documents.</p>"
    },
    "StartSentimentDetectionJob":{
      "name":"StartSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSentimentDetectionJobRequest"},
      "output":{"shape":"StartSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous sentiment detection job for a collection of documents. Use the operation to track the status of a job.</p>"
    },
    "StartTargetedSentimentDetectionJob":{
      "name":"StartTargetedSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTargetedSentimentDetectionJobRequest"},
      "output":{"shape":"StartTargetedSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous targeted sentiment detection job for a collection of documents. Use the <code>DescribeTargetedSentimentDetectionJob</code> operation to track the status of a job.</p>"
    },
    "StartTopicsDetectionJob":{
      "name":"StartTopicsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTopicsDetectionJobRequest"},
      "output":{"shape":"StartTopicsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.</p>"
    },
    "StopDominantLanguageDetectionJob":{
      "name":"StopDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDominantLanguageDetectionJobRequest"},
      "output":{"shape":"StopDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopEntitiesDetectionJob":{
      "name":"StopEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopEntitiesDetectionJobRequest"},
      "output":{"shape":"StopEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopEventsDetectionJob":{
      "name":"StopEventsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopEventsDetectionJobRequest"},
      "output":{"shape":"StopEventsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops an events detection job in progress.</p>"
    },
    "StopKeyPhrasesDetectionJob":{
      "name":"StopKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"StopKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopPiiEntitiesDetectionJob":{
      "name":"StopPiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopPiiEntitiesDetectionJobRequest"},
      "output":{"shape":"StopPiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a PII entities detection job in progress.</p>"
    },
    "StopSentimentDetectionJob":{
      "name":"StopSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopSentimentDetectionJobRequest"},
      "output":{"shape":"StopSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopTargetedSentimentDetectionJob":{
      "name":"StopTargetedSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTargetedSentimentDetectionJobRequest"},
      "output":{"shape":"StopTargetedSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a targeted sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopTrainingDocumentClassifier":{
      "name":"StopTrainingDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingDocumentClassifierRequest"},
      "output":{"shape":"StopTrainingDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a document classifier training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and put into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body. </p>"
    },
    "StopTrainingEntityRecognizer":{
      "name":"StopTrainingEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingEntityRecognizerRequest"},
      "output":{"shape":"StopTrainingEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops an entity recognizer training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and putted into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a specific tag with an Amazon Comprehend resource. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"TooManyTagKeysException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a specific tag associated with an Amazon Comprehend resource. </p>"
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointRequest"},
      "output":{"shape":"UpdateEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates information about the specified endpoint. For information about endpoints, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/manage-endpoints.html\">Managing endpoints</a>.</p>"
    },
    "UpdateFlywheel":{
      "name":"UpdateFlywheel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFlywheelRequest"},
      "output":{"shape":"UpdateFlywheelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update the configuration information for an existing flywheel.</p>"
    }
  },
  "shapes":{
    "AnyLengthString":{"type":"string"},
    "AttributeNamesList":{
      "type":"list",
      "member":{"shape":"AttributeNamesListItem"}
    },
    "AttributeNamesListItem":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "AugmentedManifestsDocumentTypeFormat":{
      "type":"string",
      "enum":[
        "PLAIN_TEXT_DOCUMENT",
        "SEMI_STRUCTURED_DOCUMENT"
      ]
    },
    "AugmentedManifestsListItem":{
      "type":"structure",
      "required":[
        "S3Uri",
        "AttributeNames"
      ],
      "members":{
        "S3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The Amazon S3 location of the augmented manifest file.</p>"
        },
        "Split":{
          "shape":"Split",
          "documentation":"<p>The purpose of the data you've provided in the augmented manifest. You can either train or test this data. If you don't specify, the default is train.</p> <p>TRAIN - all of the documents in the manifest will be used for training. If no test documents are provided, Amazon Comprehend will automatically reserve a portion of the training documents for testing.</p> <p> TEST - all of the documents in the manifest will be used for testing.</p>"
        },
        "AttributeNames":{
          "shape":"AttributeNamesList",
          "documentation":"<p>The JSON attribute that contains the annotations for your training documents. The number of attribute names that you specify depends on whether your augmented manifest file is the output of a single labeling job or a chained labeling job.</p> <p>If your file is the output of a single labeling job, specify the LabelAttributeName key that was used when the job was created in Ground Truth.</p> <p>If your file is the output of a chained labeling job, specify the LabelAttributeName key for one or more jobs in the chain. Each LabelAttributeName key provides the annotations from an individual job.</p>"
        },
        "AnnotationDataS3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The S3 prefix to the annotation files that are referred in the augmented manifest file.</p>"
        },
        "SourceDocumentsS3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The S3 prefix to the source files (PDFs) that are referred to in the augmented manifest file.</p>"
        },
        "DocumentType":{
          "shape":"AugmentedManifestsDocumentTypeFormat",
          "documentation":"<p>The type of augmented manifest. PlainTextDocument or SemiStructuredDocument. If you don't specify, the default is PlainTextDocument. </p> <ul> <li> <p> <code>PLAIN_TEXT_DOCUMENT</code> A document type that represents any unicode text that is encoded in UTF-8.</p> </li> <li> <p> <code>SEMI_STRUCTURED_DOCUMENT</code> A document type with positional and structural context, like a PDF. For training with Amazon Comprehend, only PDFs are supported. For inference, Amazon Comprehend support PDFs, DOCX and TXT.</p> </li> </ul>"
        }
      },
      "documentation":"<p>An augmented manifest file that provides training data for your custom model. An augmented manifest file is a labeled dataset that is produced by Amazon SageMaker Ground Truth.</p>"
    },
    "BatchDetectDominantLanguageItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "Languages":{
          "shape":"ListOfDominantLanguages",
          "documentation":"<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>"
    },
    "BatchDetectDominantLanguageRequest":{
      "type":"structure",
      "required":["TextList"],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters. The maximum size of each document is 5 KB.</p>"
        }
      }
    },
    "BatchDetectDominantLanguageResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectDominantLanguageResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectEntitiesItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "Entities":{
          "shape":"ListOfEntities",
          "documentation":"<p>One or more <a>Entity</a> objects, one for each entity detected in the document.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>"
    },
    "BatchDetectEntitiesRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>"
        }
      }
    },
    "BatchDetectEntitiesResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectEntitiesResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectKeyPhrasesItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "KeyPhrases":{
          "shape":"ListOfKeyPhrases",
          "documentation":"<p>One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>"
    },
    "BatchDetectKeyPhrasesRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>"
        }
      }
    },
    "BatchDetectKeyPhrasesResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectKeyPhrasesResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectSentimentItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "Sentiment":{
          "shape":"SentimentType",
          "documentation":"<p>The sentiment detected in the document.</p>"
        },
        "SentimentScore":{
          "shape":"SentimentScore",
          "documentation":"<p>The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>"
    },
    "BatchDetectSentimentRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB. </p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>"
        }
      }
    },
    "BatchDetectSentimentResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectSentimentResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectSyntaxItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "SyntaxTokens":{
          "shape":"ListOfSyntaxTokens",
          "documentation":"<p>The syntax tokens for the words in the document, one token for each word.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object that is successfully processed by the operation.</p>"
    },
    "BatchDetectSyntaxRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size for each document is 5 KB.</p>"
        },
        "LanguageCode":{
          "shape":"SyntaxLanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the following languages supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>"
        }
      }
    },
    "BatchDetectSyntaxResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectSyntaxResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectTargetedSentimentItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of this result in the input list.</p>"
        },
        "Entities":{
          "shape":"ListOfTargetedSentimentEntities",
          "documentation":"<p>An array of targeted sentiment entities.</p>"
        }
      },
      "documentation":"<p>Analysis results for one of the documents in the batch.</p>"
    },
    "BatchDetectTargetedSentimentRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the UTF-8 encoded text of the input documents. The list can contain a maximum of 25 documents. The maximum size of each document is 5 KB.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. Currently, English is the only supported language.</p>"
        }
      }
    },
    "BatchDetectTargetedSentimentResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectTargetedSentimentResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>List of errors that the operation can return.</p>"
        }
      },
      "sensitive":true
    },
    "BatchItemError":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "ErrorCode":{
          "shape":"String",
          "documentation":"<p>The numeric error code of the error.</p>"
        },
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>A text description of the error.</p>"
        }
      },
      "documentation":"<p>Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.</p>"
    },
    "BatchItemErrorList":{
      "type":"list",
      "member":{"shape":"BatchItemError"}
    },
    "BatchSizeLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
      "exception":true
    },
    "Block":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"String",
          "documentation":"<p>Unique identifier for the block.</p>"
        },
        "BlockType":{
          "shape":"BlockType",
          "documentation":"<p>The block represents a line of text or one word of text.</p> <ul> <li> <p>WORD - A word that's detected on a document page. A word is one or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p>LINE - A string of tab-delimited, contiguous words that are detected on a document page</p> </li> </ul>"
        },
        "Text":{
          "shape":"String",
          "documentation":"<p>The word or line of text extracted from the block.</p>"
        },
        "Page":{
          "shape":"Integer",
          "documentation":"<p>Page number where the block appears.</p>"
        },
        "Geometry":{
          "shape":"Geometry",
          "documentation":"<p>Co-ordinates of the rectangle or polygon that contains the text.</p>"
        },
        "Relationships":{
          "shape":"ListOfRelationships",
          "documentation":"<p>A list of child blocks of the current block. For example, a LINE object has child blocks for each WORD block that's part of the line of text. </p>"
        }
      },
      "documentation":"<p>Information about each word or line of text in the input document.</p> <p>For additional information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/API_Block.html\">Block</a> in the Amazon Textract API reference.</p>"
    },
    "BlockReference":{
      "type":"structure",
      "members":{
        "BlockId":{
          "shape":"String",
          "documentation":"<p>Unique identifier for the block.</p>"
        },
        "BeginOffset":{
          "shape":"Integer",
          "documentation":"<p>Offset of the start of the block within its parent block.</p>"
        },
        "EndOffset":{
          "shape":"Integer",
          "documentation":"<p>Offset of the end of the block within its parent block.</p>"
        },
        "ChildBlocks":{
          "shape":"ListOfChildBlocks",
          "documentation":"<p>List of child blocks within this block.</p>"
        }
      },
      "documentation":"<p>A reference to a block. </p>"
    },
    "BlockType":{
      "type":"string",
      "enum":[
        "LINE",
        "WORD"
      ]
    },
    "BoundingBox":{
      "type":"structure",
      "members":{
        "Height":{
          "shape":"Float",
          "documentation":"<p>The height of the bounding box as a ratio of the overall document page height.</p>"
        },
        "Left":{
          "shape":"Float",
          "documentation":"<p>The left coordinate of the bounding box as a ratio of overall document page width.</p>"
        },
        "Top":{
          "shape":"Float",
          "documentation":"<p>The top coordinate of the bounding box as a ratio of overall document page height.</p>"
        },
        "Width":{
          "shape":"Float",
          "documentation":"<p>The width of the bounding box as a ratio of the overall document page width.</p>"
        }
      },
      "documentation":"<p>The bounding box around the detected page or around an element on a document page. The left (x-coordinate) and top (y-coordinate) are coordinates that represent the top and left sides of the bounding box. Note that the upper-left corner of the image is the origin (0,0). </p> <p>For additional information, see <a href=\"https://docs.aws.amazon.com/textract/latest/dg/API_BoundingBox.html\">BoundingBox</a> in the Amazon Textract API reference.</p>"
    },
    "ChildBlock":{
      "type":"structure",
      "members":{
        "ChildBlockId":{
          "shape":"String",
          "documentation":"<p>Unique identifier for the child block.</p>"
        },
        "BeginOffset":{
          "shape":"Integer",
          "documentation":"<p>Offset of the start of the child block within its parent block.</p>"
        },
        "EndOffset":{
          "shape":"Integer",
          "documentation":"<p>Offset of the end of the child block within its parent block.</p>"
        }
      },
      "documentation":"<p>Nested block contained within a block.</p>"
    },
    "ClassifierEvaluationMetrics":{
      "type":"structure",
      "members":{
        "Accuracy":{
          "shape":"Double",
          "documentation":"<p>The fraction of the labels that were correct recognized. It is computed by dividing the number of labels in the test documents that were correctly recognized by the total number of labels in the test documents.</p>"
        },
        "Precision":{
          "shape":"Double",
          "documentation":"<p>A measure of the usefulness of the classifier results in the test data. High precision means that the classifier returned substantially more relevant results than irrelevant ones.</p>"
        },
        "Recall":{
          "shape":"Double",
          "documentation":"<p>A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. </p>"
        },
        "F1Score":{
          "shape":"Double",
          "documentation":"<p>A measure of how accurate the classifier results are for the test data. It is derived from the <code>Precision</code> and <code>Recall</code> values. The <code>F1Score</code> is the harmonic average of the two scores. The highest score is 1, and the worst score is 0. </p>"
        },
        "MicroPrecision":{
          "shape":"Double",
          "documentation":"<p>A measure of the usefulness of the recognizer results in the test data. High precision means that the recognizer returned substantially more relevant results than irrelevant ones. Unlike the Precision metric which comes from averaging the precision of all available labels, this is based on the overall score of all precision scores added together.</p>"
        },
        "MicroRecall":{
          "shape":"Double",
          "documentation":"<p>A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. Specifically, this indicates how many of the correct categories in the text that the model can predict. It is a percentage of correct categories in the text that can found. Instead of averaging the recall scores of all labels (as with Recall), micro Recall is based on the overall score of all recall scores added together.</p>"
        },
        "MicroF1Score":{
          "shape":"Double",
          "documentation":"<p>A measure of how accurate the classifier results are for the test data. It is a combination of the <code>Micro Precision</code> and <code>Micro Recall</code> values. The <code>Micro F1Score</code> is the harmonic mean of the two scores. The highest score is 1, and the worst score is 0.</p>"
        },
        "HammingLoss":{
          "shape":"Double",
          "documentation":"<p>Indicates the fraction of labels that are incorrectly predicted. Also seen as the fraction of wrong labels compared to the total number of labels. Scores closer to zero are better.</p>"
        }
      },
      "documentation":"<p>Describes the result metrics for the test data associated with an documentation classifier.</p>"
    },
    "ClassifierMetadata":{
      "type":"structure",
      "members":{
        "NumberOfLabels":{
          "shape":"Integer",
          "documentation":"<p>The number of labels in the input data. </p>"
        },
        "NumberOfTrainedDocuments":{
          "shape":"Integer",
          "documentation":"<p>The number of documents in the input data that were used to train the classifier. Typically this is 80 to 90 percent of the input documents.</p>"
        },
        "NumberOfTestDocuments":{
          "shape":"Integer",
          "documentation":"<p>The number of documents in the input data that were used to test the classifier. Typically this is 10 to 20 percent of the input documents, up to 10,000 documents.</p>"
        },
        "EvaluationMetrics":{
          "shape":"ClassifierEvaluationMetrics",
          "documentation":"<p> Describes the result metrics for the test data associated with an documentation classifier.</p>"
        }
      },
      "documentation":"<p>Provides information about a document classifier.</p>",
      "sensitive":true
    },
    "ClassifyDocumentRequest":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "Text":{
          "shape":"CustomerInputString",
          "documentation":"<p>The document text to be analyzed. If you enter text using this parameter, do not use the <code>Bytes</code> parameter.</p>"
        },
        "EndpointArn":{
          "shape":"DocumentClassifierEndpointArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the endpoint. </p> <p>For prompt safety classification, Amazon Comprehend provides the endpoint ARN. For more information about prompt safety classifiers, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/trust-safety.html#prompt-classification\">Prompt safety classification</a> in the <i>Amazon Comprehend Developer Guide</i> </p> <p>For custom classification, you create an endpoint for your custom model. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/using-endpoints.html\">Using Amazon Comprehend endpoints</a>.</p>"
        },
        "Bytes":{
          "shape":"SemiStructuredDocumentBlob",
          "documentation":"<p>Use the <code>Bytes</code> parameter to input a text, PDF, Word or image file.</p> <p>When you classify a document using a custom model, you can also use the <code>Bytes</code> parameter to input an Amazon Textract <code>DetectDocumentText</code> or <code>AnalyzeDocument</code> output file.</p> <p>To classify a document using the prompt safety classifier, use the <code>Text</code> parameter for input.</p> <p>Provide the input document as a sequence of base64-encoded bytes. If your code uses an Amazon Web Services SDK to classify documents, the SDK may encode the document file bytes for you. </p> <p>The maximum length of this field depends on the input document type. For details, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/idp-inputs-sync.html\"> Inputs for real-time custom analysis</a> in the Comprehend Developer Guide. </p> <p>If you use the <code>Bytes</code> parameter, do not use the <code>Text</code> parameter.</p>"
        },
        "DocumentReaderConfig":{
          "shape":"DocumentReaderConfig",
          "documentation":"<p>Provides configuration parameters to override the default actions for extracting text from PDF documents and image files.</p>"
        }
      }
    },
    "ClassifyDocumentResponse":{
      "type":"structure",
      "members":{
        "Classes":{
          "shape":"ListOfClasses",
          "documentation":"<p>The classes used by the document being analyzed. These are used for models trained in multi-class mode. Individual classes are mutually exclusive and each document is expected to have only a single class assigned to it. For example, an animal can be a dog or a cat, but not both at the same time. </p> <p>For prompt safety classification, the response includes only two classes (SAFE_PROMPT and UNSAFE_PROMPT), along with a confidence score for each class. The value range of the score is zero to one, where one is the highest confidence.</p>"
        },
        "Labels":{
          "shape":"ListOfLabels",
          "documentation":"<p>The labels used in the document being analyzed. These are used for multi-label trained models. Individual labels represent different categories that are related in some manner and are not mutually exclusive. For example, a movie can be just an action movie, or it can be an action movie, a science fiction movie, and a comedy, all at the same time. </p>"
        },
        "DocumentMetadata":{
          "shape":"DocumentMetadata",
          "documentation":"<p>Extraction information about the document. This field is present in the response only if your request includes the <code>Byte</code> parameter. </p>"
        },
        "DocumentType":{
          "shape":"ListOfDocumentType",
          "documentation":"<p>The document type for each page in the input document. This field is present in the response only if your request includes the <code>Byte</code> parameter. </p>"
        },
        "Errors":{
          "shape":"ListOfErrors",
          "documentation":"<p>Page-level errors that the system detected while processing the input document. The field is empty if the system encountered no errors.</p>"
        },
        "Warnings":{
          "shape":"ListOfWarnings",
          "documentation":"<p>Warnings detected while processing the input document. The response includes a warning if there is a mismatch between the input document type and the model type associated with the endpoint that you specified. The response can also include warnings for individual pages that have a mismatch. </p> <p>The field is empty if the system generated no warnings.</p>"
        }
      },
      "sensitive":true
    },
    "ClientRequestTokenString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9-]+$"
    },
    "ComprehendArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-]{1,64}/[a-zA-Z0-9](-*[a-zA-Z0-9])*((/dataset/[a-zA-Z0-9](-*[a-zA-Z0-9])*)|(/version/[a-zA-Z0-9](-*[a-zA-Z0-9])*))?"
    },
    "ComprehendArnName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
    },
    "ComprehendDatasetArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:flywheel/[a-zA-Z0-9](-*[a-zA-Z0-9])*/dataset/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ComprehendEndpointArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier-endpoint|entity-recognizer-endpoint)/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ComprehendEndpointName":{
      "type":"string",
      "max":40,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
    },
    "ComprehendFlywheelArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:flywheel/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ComprehendModelArn":{
      "type":"string",
      "max":256,
[...]
