/* Alerts
/* ---------------------------------------------------------- */

.gh-box {
    position: relative;
    padding: 12px 10px 14px 40px;
    border: 1px solid transparent;
    border-left-width: 5px;
    color: var(--midgrey);
    line-height: 1.55em;
    letter-spacing: 0.2px;
    background: #fff;
    border-radius: 5px;
    border-color: var(--whitegrey);
    box-shadow: 0 6px 10px -8px rgba(0,0,0,.15)
}

.gh-box svg:first-of-type {
    position: absolute;
    top: 13px;
    left: 15px;
    height: 2.1rem;
    width: auto;
}

.gh-box-info {
    border-left-color: var(--blue);
}

.gh-box-info svg {
    fill: var(--blue);
}
