---
translations:
  en:
    installation: 'Installation'
    usage: 'Usage'
    email: 'Email'
    themes: 'Themes'
    help: 'Help'
  es:
    installation: 'Instalación'
    usage: 'uso'
    email: 'Email'
    themes: 'temas'
    help: 'ayudar'
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.css" >
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

<!--[if lt IE 9]>
  <script src="{{ site.url }}/assets/js/html5shiv.js"></script>
  <script src="{{ site.url }}/assets/js/respond.min.js"></script>
<![endif]-->

<link rel="shortcut icon" href="{{ site.url }}/assets/img/favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<script type="text/javascript">
  var analytics=analytics||[];(function(){var e=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group"],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)};
  analytics.load("uj8ix0aatc");
</script>

</head>
<body class="{{ page.bodyclass }}">

<header class="navbar navbar-fixed-top bs-docs-nav">
  <nav class="container">
    <a href="{{ site.url }}/{{page.lang-url}}" class="navbar-brand">Ghost Guide</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{ site.url }}/{{page.lang-url}}installation">{{page.translations.[page.lang].installation}}</a>
        </li>
        <li>
          <a href="{{ site.url }}/{{page.lang-url}}usage">{{page.translations.[page.lang].usage}}</a>
        </li>
        <li>
          <a href="{{ site.url }}/{{page.lang-url}}mail">{{page.translations.[page.lang].email}}</a>
        </li>
        <li>
          <a href="{{ site.url }}/{{page.lang-url}}themes">{{page.translations.[page.lang].themes}}</a>
        </li>
        <li>
          <a href="{{ site.url }}/{{page.lang-url}}help">{{page.translations.[page.lang].help}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main id="main" role="main">

    {% if page.heading %}
    <header class="bs-header">
        <div class="container">
            <h1>{{ page.heading }}</h1>
            {% if page.subheading %}
            <p>{{ page.subheading }}</p>
            {% endif %}
        </div>
    </header>
    {% endif %}

  {{ content }}

</main>

<footer id="global-footer">
    <!-- <div class="dropdown">
        {% for item in site.languages %}
        {% if page.lang == item.key %}
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class='icon down'></span>{{item.name}}</a>
        {% endif %}
        {% endfor %}
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="{{ site.url }}/">English</a></li>
            <li><a href="{{ site.url }}/es/">Español</a></li>
        </ul>
    </div> -->
  <p>Lovingly created and maintained by <a href="http://john.onolan.org">John O'Nolan</a> + <a href="http://erisds.co.uk">Hannah Wolfe</a> + an amazing group of <a href="https://github.com/TryGhost/Ghost/contributors">contributors</a>.</p>
    <hr>
  <p>All code copyright (C) 2013 The Ghost Foundation - Released under the <a href="http://tryghost.org/about/license.html">MIT</a> License.<br />
    All documentation is released under the Creative Commons <a href="http://creativecommons.org/licenses/by/3.0/">By-3.0</a> License.</p>
</footer>

<script src="{{ site.url }}/assets/js/jquery.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/assets/js/main.js"></script>

</body>
</html>