<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>

<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/main.css" rel="stylesheet">

<!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/js/respond.min.js"></script>
<![endif]-->

<link rel="shortcut icon" href="assets/ico/favicon.png">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body class="{{ page.bodyclass }}">

<header class="navbar navbar-fixed-top bs-docs-nav">
  <nav class="container">
    <a href="{{ site.url }}" class="navbar-brand">Ghost Guide</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="installation">Installation</a>
        </li>
        <li>
          <a href="usage">Usage</a>
        </li>
        <li>
          <a href="customisation">Customisation</a>
        </li>
        <li>
          <a href="themes">Themes</a>
        </li>
        <li>
          <a href="plugins">Plugins</a>
        </li>
        <li>
          <a href="help">Help</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main id="main" role="main">
{{ content }}
</main>

<footer id="global-footer">
  <p>Lovingly created and maintained by <a href="http://john.onolan.org">John O'Nolan</a> + <a href="http://erisds.co.uk">Hannah Wolfe</a> + an amazing group of <a href="https://github.com/TryGhost/Ghost/contributors">contributors</a>.</p>
    <hr>
  <p>All code copyright (C) 2013 The Ghost Foundation - Released under the <a href="http://tryghost.org/about/license.html">MIT</a> License.<br />
    All documentation is released under the Creative Commons <a href="http://creativecommons.org/licenses/by/3.0/">By-3.0</a> License.</p>
</footer>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>
</html>