---
layout: default
---
<div class="container">
    <div class="row">
        <aside id="sidebar" class="col-lg-3">
            <nav class="bs-sidebar">
                <ul class="nav bs-sidenav">
                    <li class="active"><a href="#report-problem"> How do I report a problem / issue?</a></li>
                    <li><a href="#donating">Can I donate to Ghost?</a></li>
                    <li><a href="#contributing">How can I contribute?</a></li>
                    <li><a href="#is-ghost-a-cms">Is Ghost a CMS?</a></li>
                    <li><a href="#why-nodejs">Why NodeJS?</a></li>
                    <li><a href="#markdown">What is Markdown?</a></li>
                    <li><a href="#installating">How do I install Ghost?</a></li>
                    <li><a href="#recommended-services">Is there a list of recommended services / hosts?</a></li>
                    <li><a href="#feature-x">(When) Will Ghost support feature X?</a></li>
                    <li><a href="#inserting-images">How do I insert images into a post?</a></li>
                    <li><a href="#dashboard">Where's the dashboard?</a></li>
                    <li><a href="#plugins">Is Ghost going to have plugins?</a></li>
                    <li><a href="#localization">When will localization be available?</a></li>
                    <li><a href="#only-one-user">Why can I only have one user?</a></li>
                    <li><a href="#shortcodes">Will there be shortcodes?</a></li>
                </ul>
            </nav>
        </aside>
        <section id="content" class="col-lg-9">
            {{ content }}
        </section>
    </div>
</div>