---
layout: default
---

<div class="container">
    <div class="row">
        <aside id="sidebar" class="col-lg-3">
            <nav class="bs-sidebar">
                <ul class="nav bs-sidenav">
                    <li class="active"><a href="#email-config">About</a></li>
                    <li><a href="#how-to">How to</a></li>
                    <li><a href="#mailgun">Mailgun</a></li>
                    <li><a href="#ses">Amazon SES</a></li>
                    <li><a href="#gmail">Gmail</a></li>
                    <li><a href="#from">From Address</a></li>
                </ul>
            </nav>
        </aside>
        <section id="content" class="col-lg-9">
            {{ content }}
        </section>
    </div>
</div>
        