---
layout: default
---

<div class="container">
    <div class="row">
        <aside id="sidebar" class="col-lg-3">
            <nav class="bs-sidebar">
                <ul class="nav bs-sidenav">
                    <li class="active"><a href="#overview">Overview</a></li>
                    <li class="active"><a href="#ghost-local">Local Install</a></li>
                    <li class=""><a href="#customise">Customise</a></li>
                    <li class=""><a href="#ghost-deploy">Deploy Ghost</a></li>
                </ul>
            </nav>
        </aside>
        <section id="content" class="col-lg-9">
            {{ content }}
        </section>
    </div>
</div>