---
layout: default
---
<div class="container">
    <div class="row">
        <aside id="sidebar" class="col-lg-3">
            <nav class="bs-sidebar">
                <ul class="nav bs-sidenav">
                    <li class="active"><a href="#doc-translating">Translating the Documentation</a></li>
                    <li><a href="#ghost-translating">Translating the Ghost platform</a></li>
                </ul>
            </nav>
        </aside>
        <section id="content" class="col-lg-9">
            {{ content }}
        </section>
    </div>
</div>