{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-08-23",
    "endpointPrefix":"appflow",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Appflow",
    "serviceId":"Appflow",
    "signatureVersion":"v4",
    "signingName":"appflow",
    "uid":"appflow-2020-08-23",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CancelFlowExecutions":{
      "name":"CancelFlowExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/cancel-flow-executions"
      },
      "input":{"shape":"CancelFlowExecutionsRequest"},
      "output":{"shape":"CancelFlowExecutionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels active runs for a flow.</p> <p>You can cancel all of the active runs for a flow, or you can cancel specific runs by providing their IDs.</p> <p>You can cancel a flow run only when the run is in progress. You can't cancel a run that has already completed or failed. You also can't cancel a run that's scheduled to occur but hasn't started yet. To prevent a scheduled run, you can deactivate the flow with the <code>StopFlow</code> action.</p> <p>You cannot resume a run after you cancel it.</p> <p>When you send your request, the status for each run becomes <code>CancelStarted</code>. When the cancellation completes, the status becomes <code>Canceled</code>.</p> <note> <p>When you cancel a run, you still incur charges for any data that the run already processed before the cancellation. If the run had already written some data to the flow destination, then that data remains in the destination. If you configured the flow to use a batch API (such as the Salesforce Bulk API 2.0), then the run will finish reading or writing its entire batch of data after the cancellation. For these operations, the data processing charges for Amazon AppFlow apply. For the pricing information, see <a href=\"http://aws.amazon.com/appflow/pricing/\">Amazon AppFlow pricing</a>.</p> </note>"
    },
    "CreateConnectorProfile":{
      "name":"CreateConnectorProfile",
      "http":{
        "method":"POST",
        "requestUri":"/create-connector-profile"
      },
      "input":{"shape":"CreateConnectorProfileRequest"},
      "output":{"shape":"CreateConnectorProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConnectorAuthenticationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Creates a new connector profile associated with your Amazon Web Services account. There is a soft quota of 100 connector profiles per Amazon Web Services account. If you need more connector profiles than this quota allows, you can submit a request to the Amazon AppFlow team through the Amazon AppFlow support channel. In each connector profile that you create, you can provide the credentials and properties for only one connector.</p>"
    },
    "CreateFlow":{
      "name":"CreateFlow",
      "http":{
        "method":"POST",
        "requestUri":"/create-flow"
      },
      "input":{"shape":"CreateFlowRequest"},
      "output":{"shape":"CreateFlowResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ConnectorAuthenticationException"},
        {"shape":"ConnectorServerException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Enables your application to create a new flow using Amazon AppFlow. You must create a connector profile before calling this API. Please note that the Request Syntax below shows syntax for multiple destinations, however, you can only transfer data to one item in this list at a time. Amazon AppFlow does not currently support flows to multiple destinations at once. </p>"
    },
    "DeleteConnectorProfile":{
      "name":"DeleteConnectorProfile",
      "http":{
        "method":"POST",
        "requestUri":"/delete-connector-profile"
      },
      "input":{"shape":"DeleteConnectorProfileRequest"},
      "output":{"shape":"DeleteConnectorProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Enables you to delete an existing connector profile. </p>"
    },
    "DeleteFlow":{
      "name":"DeleteFlow",
      "http":{
        "method":"POST",
        "requestUri":"/delete-flow"
      },
      "input":{"shape":"DeleteFlowRequest"},
      "output":{"shape":"DeleteFlowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Enables your application to delete an existing flow. Before deleting the flow, Amazon AppFlow validates the request by checking the flow configuration and status. You can delete flows one at a time. </p>"
    },
    "DescribeConnector":{
      "name":"DescribeConnector",
      "http":{
        "method":"POST",
        "requestUri":"/describe-connector"
      },
      "input":{"shape":"DescribeConnectorRequest"},
      "output":{"shape":"DescribeConnectorResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes the given custom connector registered in your Amazon Web Services account. This API can be used for custom connectors that are registered in your account and also for Amazon authored connectors.</p>"
    },
    "DescribeConnectorEntity":{
      "name":"DescribeConnectorEntity",
      "http":{
        "method":"POST",
        "requestUri":"/describe-connector-entity"
      },
      "input":{"shape":"DescribeConnectorEntityRequest"},
      "output":{"shape":"DescribeConnectorEntityResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConnectorAuthenticationException"},
        {"shape":"ConnectorServerException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Provides details regarding the entity used with the connector, with a description of the data model for each field in that entity. </p>"
    },
    "DescribeConnectorProfiles":{
      "name":"DescribeConnectorProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/describe-connector-profiles"
      },
      "input":{"shape":"DescribeConnectorProfilesRequest"},
      "output":{"shape":"DescribeConnectorProfilesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of <code>connector-profile</code> details matching the provided <code>connector-profile</code> names and <code>connector-types</code>. Both input lists are optional, and you can use them to filter the result. </p> <p>If no names or <code>connector-types</code> are provided, returns all connector profiles in a paginated form. If there is no match, this operation returns an empty list.</p>"
    },
    "DescribeConnectors":{
      "name":"DescribeConnectors",
      "http":{
        "method":"POST",
        "requestUri":"/describe-connectors"
      },
      "input":{"shape":"DescribeConnectorsRequest"},
      "output":{"shape":"DescribeConnectorsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Describes the connectors vended by Amazon AppFlow for specified connector types. If you don't specify a connector type, this operation describes all connectors vended by Amazon AppFlow. If there are more connectors than can be returned in one page, the response contains a <code>nextToken</code> object, which can be be passed in to the next call to the <code>DescribeConnectors</code> API operation to retrieve the next page. </p>"
    },
    "DescribeFlow":{
      "name":"DescribeFlow",
      "http":{
        "method":"POST",
        "requestUri":"/describe-flow"
      },
      "input":{"shape":"DescribeFlowRequest"},
      "output":{"shape":"DescribeFlowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Provides a description of the specified flow. </p>"
    },
    "DescribeFlowExecutionRecords":{
      "name":"DescribeFlowExecutionRecords",
      "http":{
        "method":"POST",
        "requestUri":"/describe-flow-execution-records"
      },
      "input":{"shape":"DescribeFlowExecutionRecordsRequest"},
      "output":{"shape":"DescribeFlowExecutionRecordsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Fetches the execution history of the flow. </p>"
    },
    "ListConnectorEntities":{
      "name":"ListConnectorEntities",
      "http":{
        "method":"POST",
        "requestUri":"/list-connector-entities"
      },
      "input":{"shape":"ListConnectorEntitiesRequest"},
      "output":{"shape":"ListConnectorEntitiesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConnectorAuthenticationException"},
        {"shape":"ConnectorServerException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns the list of available connector entities supported by Amazon AppFlow. For example, you can query Salesforce for <i>Account</i> and <i>Opportunity</i> entities, or query ServiceNow for the <i>Incident</i> entity. </p>"
    },
    "ListConnectors":{
      "name":"ListConnectors",
      "http":{
        "method":"POST",
        "requestUri":"/list-connectors"
      },
      "input":{"shape":"ListConnectorsRequest"},
      "output":{"shape":"ListConnectorsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the list of all registered custom connectors in your Amazon Web Services account. This API lists only custom connectors registered in this account, not the Amazon Web Services authored connectors. </p>"
    },
    "ListFlows":{
      "name":"ListFlows",
      "http":{
        "method":"POST",
        "requestUri":"/list-flows"
      },
      "input":{"shape":"ListFlowsRequest"},
      "output":{"shape":"ListFlowsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Lists all of the flows associated with your account. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Retrieves the tags that are associated with a specified flow. </p>"
    },
    "RegisterConnector":{
      "name":"RegisterConnector",
      "http":{
        "method":"POST",
        "requestUri":"/register-connector"
      },
      "input":{"shape":"RegisterConnectorRequest"},
      "output":{"shape":"RegisterConnectorResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConnectorServerException"},
        {"shape":"ConnectorAuthenticationException"}
      ],
      "documentation":"<p>Registers a new custom connector with your Amazon Web Services account. Before you can register the connector, you must deploy the associated AWS lambda function in your account.</p>"
    },
    "ResetConnectorMetadataCache":{
      "name":"ResetConnectorMetadataCache",
      "http":{
        "method":"POST",
        "requestUri":"/reset-connector-metadata-cache"
      },
      "input":{"shape":"ResetConnectorMetadataCacheRequest"},
      "output":{"shape":"ResetConnectorMetadataCacheResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Resets metadata about your connector entities that Amazon AppFlow stored in its cache. Use this action when you want Amazon AppFlow to return the latest information about the data that you have in a source application.</p> <p>Amazon AppFlow returns metadata about your entities when you use the ListConnectorEntities or DescribeConnectorEntities actions. Following these actions, Amazon AppFlow caches the metadata to reduce the number of API requests that it must send to the source application. Amazon AppFlow automatically resets the cache once every hour, but you can use this action when you want to get the latest metadata right away.</p>"
    },
    "StartFlow":{
      "name":"StartFlow",
      "http":{
        "method":"POST",
        "requestUri":"/start-flow"
      },
      "input":{"shape":"StartFlowRequest"},
      "output":{"shape":"StartFlowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p> Activates an existing flow. For on-demand flows, this operation runs the flow immediately. For schedule and event-triggered flows, this operation activates the flow. </p>"
    },
    "StopFlow":{
      "name":"StopFlow",
      "http":{
        "method":"POST",
        "requestUri":"/stop-flow"
      },
      "input":{"shape":"StopFlowRequest"},
      "output":{"shape":"StopFlowResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deactivates the existing flow. For on-demand flows, this operation returns an <code>unsupportedOperationException</code> error message. For schedule and event-triggered flows, this operation deactivates the flow. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Applies a tag to the specified flow. </p>"
    },
    "UnregisterConnector":{
      "name":"UnregisterConnector",
      "http":{
        "method":"POST",
        "requestUri":"/unregister-connector"
      },
      "input":{"shape":"UnregisterConnectorRequest"},
      "output":{"shape":"UnregisterConnectorResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Unregisters the custom connector registered in your account that matches the connector label provided in the request.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Removes a tag from the specified flow. </p>"
    },
    "UpdateConnectorProfile":{
      "name":"UpdateConnectorProfile",
      "http":{
        "method":"POST",
        "requestUri":"/update-connector-profile"
      },
      "input":{"shape":"UpdateConnectorProfileRequest"},
      "output":{"shape":"UpdateConnectorProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ConnectorAuthenticationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates a given connector profile associated with your account. </p>"
    },
    "UpdateConnectorRegistration":{
      "name":"UpdateConnectorRegistration",
      "http":{
        "method":"POST",
        "requestUri":"/update-connector-registration"
      },
      "input":{"shape":"UpdateConnectorRegistrationRequest"},
      "output":{"shape":"UpdateConnectorRegistrationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConnectorServerException"},
        {"shape":"ConnectorAuthenticationException"}
      ],
      "documentation":"<p>Updates a custom connector that you've previously registered. This operation updates the connector with one of the following:</p> <ul> <li> <p>The latest version of the AWS Lambda function that's assigned to the connector</p> </li> <li> <p>A new AWS Lambda function that you specify</p> </li> </ul>"
    },
    "UpdateFlow":{
      "name":"UpdateFlow",
      "http":{
        "method":"POST",
        "requestUri":"/update-flow"
      },
      "input":{"shape":"UpdateFlowRequest"},
      "output":{"shape":"UpdateFlowResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ConnectorAuthenticationException"},
        {"shape":"ConnectorServerException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates an existing flow. </p>"
    }
  },
  "shapes":{
    "ARN":{
      "type":"string",
      "max":512,
      "pattern":"arn:aws:.*:.*:[0-9]+:.*"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>AppFlow/Requester has invalid or missing permissions.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccessKeyId":{
      "type":"string",
      "max":256,
      "pattern":"\\S+",
      "sensitive":true
    },
    "AccessToken":{
      "type":"string",
      "max":4096,
      "pattern":"\\S+",
      "sensitive":true
    },
    "AccountName":{
      "type":"string",
      "max":512,
      "pattern":"\\S+"
    },
    "AggregationConfig":{
      "type":"structure",
      "members":{
        "aggregationType":{
          "shape":"AggregationType",
          "documentation":"<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated. </p>"
        },
        "targetFileSize":{
          "shape":"Long",
          "documentation":"<p>The desired file size, in MB, for each output file that Amazon AppFlow writes to the flow destination. For each file, Amazon AppFlow attempts to achieve the size that you specify. The actual file sizes might differ from this target based on the number and size of the records that each file contains.</p>"
        }
      },
      "documentation":"<p> The aggregation settings that you can use to customize the output format of your flow data. </p>"
    },
    "AggregationType":{
      "type":"string",
      "enum":[
        "None",
        "SingleFile"
      ]
    },
    "AmplitudeConnectorOperator":{
      "type":"string",
      "enum":["BETWEEN"]
    },
    "AmplitudeConnectorProfileCredentials":{
      "type":"structure",
      "required":[
        "apiKey",
        "secretKey"
      ],
      "members":{
        "apiKey":{
          "shape":"ApiKey",
          "documentation":"<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>"
        },
        "secretKey":{
          "shape":"SecretKey",
          "documentation":"<p> The Secret Access Key portion of the credentials. </p>"
        }
      },
      "documentation":"<p> The connector-specific credentials required when using Amplitude. </p>"
    },
    "AmplitudeConnectorProfileProperties":{
      "type":"structure",
      "members":{},
      "documentation":"<p> The connector-specific profile properties required when using Amplitude. </p>"
    },
    "AmplitudeMetadata":{
      "type":"structure",
      "members":{},
      "documentation":"<p> The connector metadata specific to Amplitude. </p>"
    },
    "AmplitudeSourceProperties":{
      "type":"structure",
      "required":["object"],
      "members":{
        "object":{
          "shape":"Object",
          "documentation":"<p> The object specified in the Amplitude flow source. </p>"
        }
      },
      "documentation":"<p> The properties that are applied when Amplitude is being used as a source. </p>"
    },
    "ApiKey":{
      "type":"string",
      "max":256,
      "pattern":"\\S+",
      "sensitive":true
    },
    "ApiKeyCredentials":{
      "type":"structure",
      "required":["apiKey"],
      "members":{
        "apiKey":{
          "shape":"ApiKey",
          "documentation":"<p>The API key required for API key authentication.</p>"
        },
        "apiSecretKey":{
          "shape":"ApiSecretKey",
          "documentation":"<p>The API secret key required for API key authentication.</p>"
        }
      },
      "documentation":"<p>The API key credentials required for API key authentication.</p>"
    },
    "ApiSecretKey":{
      "type":"string",
      "max":256,
      "pattern":"\\S+",
      "sensitive":true
    },
    "ApiToken":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "ApiVersion":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "ApplicationHostUrl":{
      "type":"string",
      "max":256,
      "pattern":"^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]"
    },
    "ApplicationKey":{
      "type":"string",
      "max":512,
      "pattern":"\\S+"
    },
    "ApplicationServicePath":{
      "type":"string",
      "max":512,
      "pattern":"\\S+"
    },
    "ApplicationType":{
      "type":"string",
      "max":512,
      "pattern":"\\S+"
    },
    "AuthCode":{
      "type":"string",
      "max":4096,
      "pattern":"\\S+"
    },
    "AuthCodeUrl":{
      "type":"string",
      "max":256,
      "pattern":"^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]"
    },
    "AuthCodeUrlList":{
      "type":"list",
      "member":{"shape":"AuthCodeUrl"}
    },
    "AuthParameter":{
      "type":"structure",
      "members":{
        "key":{
          "shape":"Key",
          "documentation":"<p>The authentication key required to authenticate with the connector.</p>"
        },
        "isRequired":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether this authentication parameter is required.</p>"
        },
        "label":{
          "shape":"Label",
          "documentation":"<p>Label used for authentication parameter.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description about the authentication parameter.</p>"
        },
        "isSensitiveField":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether this authentication parameter is a sensitive field.</p>"
        },
        "connectorSuppliedValues":{
          "shape":"ConnectorSuppliedValueList",
          "documentation":"<p>Contains default values for this authentication parameter that are supplied by the connector.</p>"
        }
      },
      "documentation":"<p>Information about required authentication parameters.</p>"
    },
    "AuthParameterList":{
      "type":"list",
      "member":{"shape":"AuthParameter"}
    },
    "AuthenticationConfig":{
      "type":"structure",
      "members":{
        "isBasicAuthSupported":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether basic authentication is supported by the connector.</p>"
        },
        "isApiKeyAuthSupported":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether API key authentication is supported by the connector</p>"
        },
        "isOAuth2Supported":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether OAuth 2.0 authentication is supported by the connector.</p>"
        },
        "isCustomAuthSupported":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether custom authentication is supported by the connector</p>"
        },
        "oAuth2Defaults":{
          "shape":"OAuth2Defaults",
          "documentation":"<p>Contains the default values required for OAuth 2.0 authentication.</p>"
        },
        "customAuthConfigs":{
          "shape":"CustomAuthConfigList",
          "documentation":"<p>Contains information required for custom authentication.</p>"
        }
      },
      "documentation":"<p>Contains information about the authentication config that the connector supports.</p>"
    },
    "AuthenticationType":{
      "type":"string",
      "enum":[
        "OAUTH2",
        "APIKEY",
        "BASIC",
        "CUSTOM"
      ]
    },
    "BasicAuthCredentials":{
      "type":"structure",
      "required":[
        "username",
        "password"
      ],
      "members":{
        "username":{
          "shape":"Username",
          "documentation":"<p> The username to use to connect to a resource. </p>"
        },
        "password":{
          "shape":"Password",
          "documentation":"<p> The password to use to connect to a resource.</p>"
        }
      },
      "documentation":"<p> The basic auth credentials required for basic authentication. </p>"
    },
    "Boolean":{"type":"boolean"},
    "BucketName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"\\S+"
    },
    "BucketPrefix":{
      "type":"string",
      "max":512,
      "pattern":".*"
    },
    "BusinessUnitId":{
      "type":"string",
      "max":18,
      "pattern":"\\S+"
    },
    "CancelFlowExecutionsRequest":{
      "type":"structure",
      "required":["flowName"],
      "members":{
        "flowName":{
          "shape":"FlowName",
          "documentation":"<p>The name of a flow with active runs that you want to cancel.</p>"
        },
        "executionIds":{
          "shape":"ExecutionIds",
          "documentation":"<p>The ID of each active run to cancel. These runs must belong to the flow you specify in your request.</p> <p>If you omit this parameter, your request ends all active runs that belong to the flow.</p>"
        }
      }
    },
    "CancelFlowExecutionsResponse":{
      "type":"structure",
      "members":{
        "invalidExecutions":{
          "shape":"ExecutionIds",
          "documentation":"<p>The IDs of runs that Amazon AppFlow couldn't cancel. These runs might be ineligible for canceling because they haven't started yet or have already completed.</p>"
        }
      }
    },
    "CatalogType":{
      "type":"string",
      "enum":["GLUE"]
    },
    "ClientCredentialsArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws:secretsmanager:.*:[0-9]+:.*",
      "sensitive":true
    },
    "ClientId":{
      "type":"string",
      "max":512,
      "pattern":"\\S+"
    },
    "ClientNumber":{
      "type":"string",
      "max":3,
      "min":3,
      "pattern":"^\\d{3}$"
    },
    "ClientSecret":{
      "type":"string",
      "max":512,
      "pattern":"\\S+",
      "sensitive":true
    },
    "ClientToken":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[ -~]+"
    },
    "ClusterIdentifier":{
      "type":"string",
      "max":512,
      "pattern":"\\S+"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again. </p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConnectionMode":{
      "type":"string",
      "enum":[
        "Public",
        "Private"
      ]
    },
    "ConnectorAuthenticationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> An error occurred when authenticating with the connector endpoint. </p>",
      "error":{"httpStatusCode":401},
      "exception":true
    },
    "ConnectorConfiguration":{
      "type":"structure",
      "members":{
        "canUseAsSource":{
          "shape":"Boolean",
          "documentation":"<p> Specifies whether the connector can be used as a source. </p>"
        },
        "canUseAsDestination":{
          "shape":"Boolean",
          "documentation":"<p> Specifies whether the connector can be used as a destination. </p>"
        },
        "supportedDestinationConnectors":{
          "shape":"ConnectorTypeList",
          "documentation":"<p> Lists the connectors that are available for use as destinations. </p>"
        },
        "supportedSchedulingFrequencies":{
          "shape":"SchedulingFrequencyTypeList",
          "documentation":"<p> Specifies the supported flow frequency for that connector. </p>"
        },
        "isPrivateLinkEnabled":{
          "shape":"Boolean",
          "documentation":"<p> Specifies if PrivateLink is enabled for that connector. </p>"
        },
        "isPrivateLinkEndpointUrlRequired":{
          "shape":"Boolean",
          "documentation":"<p> Specifies if a PrivateLink endpoint URL is required. </p>"
        },
        "supportedTriggerTypes":{
          "shape":"TriggerTypeList",
          "documentation":"<p> Specifies the supported trigger types for the flow. </p>"
        },
        "connectorMetadata":{
          "shape":"ConnectorMetadata",
          "documentation":"<p> Specifies connector-specific metadata such as <code>oAuthScopes</code>, <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. </p>"
        },
        "connectorType":{
          "shape":"ConnectorType",
          "documentation":"<p>The connector type.</p>"
        },
        "connectorLabel":{
          "shape":"ConnectorLabel",
          "documentation":"<p>The label used for registering the connector.</p>"
        },
        "connectorDescription":{
          "shape":"ConnectorDescription",
          "documentation":"<p>A description about the connector.</p>"
        },
        "connectorOwner":{
          "shape":"ConnectorOwner",
          "documentation":"<p>The owner who developed the connector.</p>"
        },
        "connectorName":{
          "shape":"ConnectorName",
          "documentation":"<p>The connector name.</p>"
        },
        "connectorVersion":{
          "shape":"ConnectorVersion",
          "documentation":"<p>The connector version.</p>"
        },
        "connectorArn":{
          "shape":"ARN",
          "documentation":"<p>The Amazon Resource Name (ARN) for the registered connector.</p>"
        },
        "connectorModes":{
          "shape":"ConnectorModeList",
          "documentation":"<p>The connection modes that the connector supports.</p>"
        },
        "authenticationConfig":{
          "shape":"AuthenticationConfig",
          "documentation":"<p>The authentication config required for the connector.</p>"
        },
        "connectorRuntimeSettings":{
          "shape":"ConnectorRuntimeSettingList",
          "documentation":"<p>The required connector runtime settings.</p>"
        },
        "supportedApiVersions":{
          "shape":"SupportedApiVersionList",
          "documentation":"<p>A list of API versions that are supported by the connector.</p>"
        },
        "supportedOperators":{
          "shape":"SupportedOperatorList",
          "documentation":"<p>A list of operators supported by the connector.</p>"
        },
        "supportedWriteOperations":{
          "shape":"SupportedWriteOperationList",
          "documentation":"<p>A list of write operations supported by the connector.</p>"
        },
        "connectorProvisioningType":{
          "shape":"ConnectorProvisioningType",
          "documentation":"<p>The provisioning type used to register the connector.</p>"
        },
        "connectorProvisioningConfig":{
          "shape":"ConnectorProvisioningConfig",
          "documentation":"<p>The configuration required for registering the connector.</p>"
        },
        "logoURL":{
          "shape":"LogoURL",
          "documentation":"<p>Logo URL of the connector.</p>"
        },
        "registeredAt":{
          "shape":"Date",
          "documentation":"<p>The date on which the connector was registered.</p>"
        },
        "registeredBy":{
          "shape":"RegisteredBy",
          "documentation":"<p>Information about who registered the connector.</p>"
        },
        "supportedDataTransferTypes":{
          "shape":"SupportedDataTransferTypeList",
          "documentation":"<p>The data transfer types that the connector supports.</p> <dl> <dt>RECORD</dt> <dd> <p>Structured records.</p> </dd> <dt>FILE</dt> <dd> <p>Files or binary data.</p> </dd> </dl>"
        },
        "supportedDataTransferApis":{
          "shape":"SupportedDataTransferApis",
          "documentation":"<p>The APIs of the connector application that Amazon AppFlow can use to transfer your data.</p>"
        }
      },
      "documentation":"<p> The configuration settings related to a given connector. </p>"
    },
    "ConnectorConfigurationsMap":{
      "type":"map",
      "key":{"shape":"ConnectorType"},
      "value":{"shape":"ConnectorConfiguration"}
    },
    "ConnectorDescription":{
      "type":"string",
      "max":2048,
      "pattern":"[\\w!@#\\-.?,\\s]*"
    },
    "ConnectorDetail":{
      "type":"structure",
      "members":{
        "connectorDescription":{
          "shape":"ConnectorDescription",
          "documentation":"<p>A description about the registered connector.</p>"
        },
        "connectorName":{
          "shape":"ConnectorName",
          "documentation":"<p>The name of the connector.</p>"
        },
        "connectorOwner":{
          "shape":"ConnectorOwner",
          "documentation":"<p>The owner of the connector.</p>"
        },
        "connectorVersion":{
          "shape":"ConnectorVersion",
          "documentation":"<p>The connector version.</p>"
        },
        "applicationType":{
          "shape":"ApplicationType",
          "documentation":"<p>The application type of the connector.</p>"
        },
        "connectorType":{
          "shape":"ConnectorType",
          "documentation":"<p>The connector type.</p>"
        },
        "connectorLabel":{
          "shape":"ConnectorLabel",
          "documentation":"<p>A label used for the connector.</p>"
        },
        "registeredAt":{
          "shape":"Date",
          "documentation":"<p>The time at which the connector was registered.</p>"
        },
        "registeredBy":{
          "shape":"RegisteredBy",
          "documentation":"<p>The user who registered the connector.</p>"
        },
        "connectorProvisioningType":{
          "shape":"ConnectorProvisioningType",
          "documentation":"<p>The provisioning type that the connector uses.</p>"
        },
        "connectorModes":{
          "shape":"ConnectorModeList",
          "documentation":"<p>The connection mode that the connector supports.</p>"
        },
        "supportedDataTransferTypes":{
          "shape":"SupportedDataTransferTypeList",
          "documentation":"<p>The data transfer types that the connector supports.</p> <dl> <dt>RECORD</dt> <dd> <p>Structured records.</p> </dd> <dt>FILE</dt> <dd> <p>Files or binary data.</p> </dd> </dl>"
        }
      },
      "documentation":"<p>Information about the registered connector.</p>"
    },
    "ConnectorEntity":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p> The name of the connector entity. </p>"
        },
        "label":{
          "shape":"Label",
          "documentation":"<p> The label applied to the connector entity. </p>"
        },
        "hasNestedEntities":{
          "shape":"Boolean",
          "documentation":"<p> Specifies whether the connector entity is a parent or a category and has more entities nested underneath it. If another call is made with <code>entitiesPath = \"the_current_entity_name_with_hasNestedEntities_true\"</code>, then it returns the nested entities underneath it. This provides a way to retrieve all supported entities in a recursive fashion. </p>"
        }
      },
      "documentation":"<p> The high-level entity that can be queried in Amazon AppFlow. For example, a Salesforce entity might be an <i>Account</i> or <i>Opportunity</i>, whereas a ServiceNow entity might be an <i>Incident</i>. </p>"
    },
    "ConnectorEntityField":{
      "type":"structure",
      "required":["identifier"],
      "members":{
        "identifier":{
          "shape":"Identifier",
          "documentation":"<p> The unique identifier of the connector field. </p>"
        },
        "parentIdentifier":{
          "shape":"Identifier",
          "documentation":"<p>The parent identifier of the connector field.</p>"
        },
        "label":{
          "shape":"Label",
          "documentation":"<p> The label applied to a connector entity field. </p>"
        },
        "isPrimaryKey":{
          "shape":"Boolean",
          "documentation":"<p>Booelan value that indicates whether this field can be used as a primary key.</p>"
        },
        "defaultValue":{
          "shape":"String",
          "documentation":"<p>Default value that can be assigned to this field.</p>"
        },
        "isDeprecated":{
          "shape":"Boolean",
          "documentation":"<p>Booelan value that indicates whether this field is deprecated or not.</p>"
        },
        "supportedFieldTypeDetails":{
          "shape":"SupportedFieldTypeDetails",
          "documentation":"<p> Contains details regarding the supported <code>FieldType</code>, including the corresponding <code>filterOperators</code> and <code>supportedValues</code>. </p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p> A description of the connector entity field. </p>"
        },
        "sourceProperties":{
          "shape":"SourceFieldProperties",
          "documentation":"<p> The properties that can be applied to a field when the connector is being used as a source. </p>"
        },
        "destinationProperties":{
          "shape":"DestinationFieldProperties",
          "documentation":"<p> The properties applied to a field when the connector is being used as a destination. </p>"
        },
        "customProperties":{
          "shape":"CustomProperties",
          "documentation":"<p>A map that has specific properties related to the ConnectorEntityField.</p>"
        }
      },
      "documentation":"<p> Describes the data model of a connector field. For example, for an <i>account</i> entity, the fields would be <i>account name</i>, <i>account ID</i>, and so on. </p>"
    },
    "ConnectorEntityFieldList":{
      "type":"list",
      "member":{"shape":"ConnectorEntityField"}
    },
    "ConnectorEntityList":{
      "type":"list",
      "member":{"shape":"ConnectorEntity"}
    },
    "ConnectorEntityMap":{
      "type":"map",
      "key":{"shape":"Group"},
      "value":{"shape":"ConnectorEntityList"}
    },
    "ConnectorLabel":{
      "type":"string",
      "max":256,
      "pattern":"[a-zA-Z0-9][\\w!@#.-]+"
    },
    "ConnectorList":{
      "type":"list",
      "member":{"shape":"ConnectorDetail"}
    },
    "ConnectorMetadata":{
      "type":"structure",
      "members":{
        "Amplitude":{
          "shape":"AmplitudeMetadata",
          "documentation":"<p> The connector metadata specific to Amplitude. </p>"
        },
        "Datadog":{
          "shape":"DatadogMetadata",
          "documentation":"<p> The connector metadata specific to Datadog. </p>"
        },
        "Dynatrace":{
          "shape":"DynatraceMetadata",
          "documentation":"<p> The connector metadata specific to Dynatrace. </p>"
        },
        "GoogleAnalytics":{
          "shape":"GoogleAnalyticsMetadata",
          "documentation":"<p> The connector metadata specific to Google Analytics. </p>"
        },
        "InforNexus":{
          "shape":"InforNexusMetadata",
          "documentation":"<p> The connector metadata specific to Infor Nexus. </p>"
        },
        "Marketo":{
          "shape":"MarketoMetadata",
          "documentation":"<p> The connector metadata specific to Marketo. </p>"
        },
        "Redshift":{
          "shape":"RedshiftMetadata",
          "documentation":"<p> The connector metadata specific to Amazon Redshift. </p>"
        },
        "S3":{
          "shape":"S3Metadata",
          "documentation":"<p> The connector metadata specific to Amazon S3. </p>"
        },
        "Salesforce":{
          "shape":"SalesforceMetadata",
          "documentation":"<p> The connector metadata specific to Salesforce. </p>"
        },
        "ServiceNow":{
          "shape":"ServiceNowMetadata",
          "documentation":"<p> The connector metadata specific to ServiceNow. </p>"
        },
        "Singular":{
          "shape":"SingularMetadata",
          "documentation":"<p> The connector metadata specific to Singular. </p>"
        },
        "Slack":{
          "shape":"SlackMetadata",
          "documentation":"<p> The connector metadata specific to Slack. </p>"
        },
        "Snowflake":{
          "shape":"SnowflakeMetadata",
          "documentation":"<p> The connector metadata specific to Snowflake. </p>"
        },
        "Trendmicro":{
          "shape":"TrendmicroMetadata",
          "documentation":"<p> The connector metadata specific to Trend Micro. </p>"
        },
        "Veeva":{
          "shape":"VeevaMetadata",
          "documentation":"<p> The connector metadata specific to Veeva. </p>"
        },
        "Zendesk":{
          "shape":"ZendeskMetadata",
          "documentation":"<p> The connector metadata specific to Zendesk. </p>"
        },
        "EventBridge":{
          "shape":"EventBridgeMetadata",
          "documentation":"<p> The connector metadata specific to Amazon EventBridge. </p>"
        },
        "Upsolver":{
          "shape":"UpsolverMetadata",
          "documentation":"<p> The connector metadata specific to Upsolver. </p>"
        },
        "CustomerProfiles":{
          "shape":"CustomerProfilesMetadata",
          "documentation":"<p> The connector metadata specific to Amazon Connect Customer Profiles. </p>"
        },
        "Honeycode":{
          "shape":"HoneycodeMetadata",
          "documentation":"<p> The connector metadata specific to Amazon Honeycode. </p>"
        },
        "SAPOData":{"shape":"SAPODataMetadata"},
        "Pardot":{
          "shape":"PardotMetadata",
          "documentation":"<p>The connector metadata specific to Salesforce Pardot.</p>"
        }
      },
      "documentation":"<p> A structure to specify connector-specific metadata such as <code>oAuthScopes</code>, <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. </p>"
    },
    "ConnectorMode":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "ConnectorModeList":{
      "type":"list",
      "member":{"shape":"ConnectorMode"}
    },
    "ConnectorName":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ConnectorOAuthRequest":{
      "type":"structure",
      "members":{
        "authCode":{
          "shape":"AuthCode",
          "documentation":"<p> The code provided by the connector when it has been authenticated via the connected app. </p>"
        },
        "redirectUri":{
          "shape":"RedirectUri",
          "documentation":"<p> The URL to which the authentication server redirects the browser after authorization has been granted. </p>"
        }
      },
      "documentation":"<p> Used by select connectors for which the OAuth workflow is supported, such as Salesforce, Google Analytics, Marketo, Zendesk, and Slack. </p>"
    },
    "ConnectorOperator":{
      "type":"structure",
      "members":{
        "Amplitude":{
          "shape":"AmplitudeConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Amplitude source fields. </p>"
        },
        "Datadog":{
          "shape":"DatadogConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Datadog source fields. </p>"
        },
        "Dynatrace":{
          "shape":"DynatraceConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Dynatrace source fields. </p>"
        },
        "GoogleAnalytics":{
          "shape":"GoogleAnalyticsConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Google Analytics source fields. </p>"
        },
        "InforNexus":{
          "shape":"InforNexusConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Infor Nexus source fields. </p>"
        },
        "Marketo":{
          "shape":"MarketoConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Marketo source fields. </p>"
        },
        "S3":{
          "shape":"S3ConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Amazon S3 source fields. </p>"
        },
        "Salesforce":{
          "shape":"SalesforceConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Salesforce source fields. </p>"
        },
        "ServiceNow":{
          "shape":"ServiceNowConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided ServiceNow source fields. </p>"
        },
        "Singular":{
          "shape":"SingularConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Singular source fields. </p>"
        },
        "Slack":{
          "shape":"SlackConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Slack source fields. </p>"
        },
        "Trendmicro":{
          "shape":"TrendmicroConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Trend Micro source fields. </p>"
        },
        "Veeva":{
          "shape":"VeevaConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Veeva source fields. </p>"
        },
        "Zendesk":{
          "shape":"ZendeskConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided Zendesk source fields. </p>"
        },
        "SAPOData":{
          "shape":"SAPODataConnectorOperator",
          "documentation":"<p> The operation to be performed on the provided SAPOData source fields. </p>"
        },
        "CustomConnector":{
          "shape":"Operator",
          "documentation":"<p>Operators supported by the custom connector.</p>"
        },
        "Pardot":{
          "shape":"PardotConnectorOperator",
          "documentation":"<p>The operation to be performed on the provided Salesforce Pardot source fields.</p>"
        }
      },
      "documentation":"<p> The operation to be performed on the provided source fields. </p>"
    },
    "ConnectorOwner":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ConnectorProfile":{
      "type":"structure",
      "members":{
        "connectorProfileArn":{
          "shape":"ConnectorProfileArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the connector profile. </p>"
        },
        "connectorProfileName":{
          "shape":"ConnectorProfileName",
          "documentation":"<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the Amazon Web Services account. </p>"
        },
        "connectorType":{
          "shape":"ConnectorType",
          "documentation":"<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
        },
        "connectorLabel":{
          "shape":"ConnectorLabel",
          "documentation":"<p>The label for the connector profile being created.</p>"
        },
        "connectionMode":{
          "shape":"ConnectionMode",
          "documentation":"<p> Indicates the connection mode and if it is public or private. </p>"
        },
        "credentialsArn":{
          "shape":"ARN",
          "documentation":"<p> The Amazon Resource Name (ARN) of the connector profile credentials. </p>"
        },
        "connectorProfileProperties":{
          "shape":"ConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties of the profile configuration. </p>"
        },
        "createdAt":{
          "shape":"Date",
          "documentation":"<p> Specifies when the connector profile was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Date",
          "documentation":"<p> Specifies when the connector profile was last updated. </p>"
        },
        "privateConnectionProvisioningState":{
          "shape":"PrivateConnectionProvisioningState",
          "documentation":"<p> Specifies the private connection provisioning state. </p>"
        }
      },
      "documentation":"<p> Describes an instance of a connector. This includes the provided name, credentials ARN, connection-mode, and so on. To keep the API intuitive and extensible, the fields that are common to all types of connector profiles are explicitly specified at the top level. The rest of the connector-specific properties are available via the <code>connectorProfileProperties</code> field. </p>"
    },
    "ConnectorProfileArn":{
      "type":"string",
      "max":512,
      "pattern":"arn:aws:appflow:.*:[0-9]+:.*"
    },
    "ConnectorProfileConfig":{
      "type":"structure",
      "required":["connectorProfileProperties"],
      "members":{
        "connectorProfileProperties":{
          "shape":"ConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties of the profile configuration. </p>"
        },
        "connectorProfileCredentials":{
          "shape":"ConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required by each connector. </p>"
        }
      },
      "documentation":"<p> Defines the connector-specific configuration and credentials for the connector profile. </p>"
    },
    "ConnectorProfileCredentials":{
      "type":"structure",
      "members":{
        "Amplitude":{
          "shape":"AmplitudeConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Amplitude. </p>"
        },
        "Datadog":{
          "shape":"DatadogConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Datadog. </p>"
        },
        "Dynatrace":{
          "shape":"DynatraceConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Dynatrace. </p>"
        },
        "GoogleAnalytics":{
          "shape":"GoogleAnalyticsConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Google Analytics. </p>"
        },
        "Honeycode":{
          "shape":"HoneycodeConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Amazon Honeycode. </p>"
        },
        "InforNexus":{
          "shape":"InforNexusConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Infor Nexus. </p>"
        },
        "Marketo":{
          "shape":"MarketoConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Marketo. </p>"
        },
        "Redshift":{
          "shape":"RedshiftConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Amazon Redshift. </p>"
        },
        "Salesforce":{
          "shape":"SalesforceConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Salesforce. </p>"
        },
        "ServiceNow":{
          "shape":"ServiceNowConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using ServiceNow. </p>"
        },
        "Singular":{
          "shape":"SingularConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Singular. </p>"
        },
        "Slack":{
          "shape":"SlackConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Slack. </p>"
        },
        "Snowflake":{
          "shape":"SnowflakeConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Snowflake. </p>"
        },
        "Trendmicro":{
          "shape":"TrendmicroConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Trend Micro. </p>"
        },
        "Veeva":{
          "shape":"VeevaConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Veeva. </p>"
        },
        "Zendesk":{
          "shape":"ZendeskConnectorProfileCredentials",
          "documentation":"<p> The connector-specific credentials required when using Zendesk. </p>"
        },
        "SAPOData":{"shape":"SAPODataConnectorProfileCredentials"},
        "CustomConnector":{"shape":"CustomConnectorProfileCredentials"},
        "Pardot":{
          "shape":"PardotConnectorProfileCredentials",
          "documentation":"<p>The connector-specific credentials required when using Salesforce Pardot.</p>"
        }
      },
      "documentation":"<p> The connector-specific credentials required by a connector. </p>"
    },
    "ConnectorProfileDetailList":{
      "type":"list",
      "member":{"shape":"ConnectorProfile"}
    },
    "ConnectorProfileName":{
      "type":"string",
      "max":256,
      "pattern":"[\\w/!@#+=.-]+"
    },
    "ConnectorProfileNameList":{
      "type":"list",
      "member":{"shape":"ConnectorProfileName"},
      "max":100,
      "min":0
    },
    "ConnectorProfileProperties":{
      "type":"structure",
      "members":{
        "Amplitude":{
          "shape":"AmplitudeConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Amplitude. </p>"
        },
        "Datadog":{
          "shape":"DatadogConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Datadog. </p>"
        },
        "Dynatrace":{
          "shape":"DynatraceConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Dynatrace. </p>"
        },
        "GoogleAnalytics":{
          "shape":"GoogleAnalyticsConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required Google Analytics. </p>"
        },
        "Honeycode":{
          "shape":"HoneycodeConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Amazon Honeycode. </p>"
        },
        "InforNexus":{
          "shape":"InforNexusConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Infor Nexus. </p>"
        },
        "Marketo":{
          "shape":"MarketoConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Marketo. </p>"
        },
        "Redshift":{
          "shape":"RedshiftConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Amazon Redshift. </p>"
        },
        "Salesforce":{
          "shape":"SalesforceConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Salesforce. </p>"
        },
        "ServiceNow":{
          "shape":"ServiceNowConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by serviceNow. </p>"
        },
        "Singular":{
          "shape":"SingularConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Singular. </p>"
        },
        "Slack":{
          "shape":"SlackConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Slack. </p>"
        },
        "Snowflake":{
          "shape":"SnowflakeConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Snowflake. </p>"
        },
        "Trendmicro":{
          "shape":"TrendmicroConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Trend Micro. </p>"
        },
        "Veeva":{
          "shape":"VeevaConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Veeva. </p>"
        },
        "Zendesk":{
          "shape":"ZendeskConnectorProfileProperties",
          "documentation":"<p> The connector-specific properties required by Zendesk. </p>"
        },
        "SAPOData":{"shape":"SAPODataConnectorProfileProperties"},
        "CustomConnector":{
          "shape":"CustomConnectorProfileProperties",
          "documentation":"<p>The properties required by the custom connector.</p>"
        },
        "Pardot":{
          "shape":"PardotConnectorProfileProperties",
          "documentation":"<p>The connector-specific properties required by Salesforce Pardot.</p>"
        }
      },
      "documentation":"<p> The connector-specific profile properties required by each connector. </p>"
    },
    "ConnectorProvisioningConfig":{
      "type":"structure",
      "members":{
        "lambda":{
          "shape":"LambdaConnectorProvisioningConfig",
          "documentation":"<p>Contains information about the configuration of the lambda which is being registered as the connector.</p>"
        }
      },
      "documentation":"<p>Contains information about the configuration of the connector being registered.</p>"
    },
    "ConnectorProvisioningType":{
      "type":"string",
      "documentation":"<p>The type of provisioning that the connector supports, such as Lambda.</p>",
      "enum":["LAMBDA"]
    },
    "ConnectorRuntimeSetting":{
      "type":"structure",
      "members":{
        "key":{
          "shape":"Key",
          "documentation":"<p>Contains value information about the connector runtime setting.</p>"
        },
        "dataType":{
          "shape":"ConnectorRuntimeSettingDataType",
          "documentation":"<p>Data type of the connector runtime setting.</p>"
        },
        "isRequired":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether this connector runtime setting is required.</p>"
        },
        "label":{
          "shape":"Label",
          "documentation":"<p>A label used for connector runtime setting.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description about the connector runtime setting.</p>"
        },
        "scope":{
          "shape":"ConnectorRuntimeSettingScope",
          "documentation":"<p>Indicates the scope of the connector runtime setting.</p>"
        },
        "connectorSuppliedValueOptions":{
          "shape":"ConnectorSuppliedValueOptionList",
          "documentation":"<p>Contains default values for the connector runtime setting that are supplied by the connector.</p>"
        }
      },
      "documentation":"<p>Contains information about the connector runtime settings that are required for flow execution.</p>"
    },
    "ConnectorRuntimeSettingDataType":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "ConnectorRuntimeSettingList":{
      "type":"list",
      "member":{"shape":"ConnectorRuntimeSetting"}
    },
    "ConnectorRuntimeSettingScope":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "ConnectorServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> An error occurred when retrieving data from the connector endpoint. </p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ConnectorSuppliedValue":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "ConnectorSuppliedValueList":{
      "type":"list",
      "member":{"shape":"ConnectorSuppliedValue"}
    },
    "ConnectorSuppliedValueOptionList":{
      "type":"list",
      "member":{"shape":"ConnectorSuppliedValue"}
    },
    "ConnectorType":{
      "type":"string",
      "enum":[
        "Salesforce",
        "Singular",
        "Slack",
        "Redshift",
        "S3",
        "Marketo",
        "Googleanalytics",
        "Zendesk",
        "Servicenow",
        "Datadog",
        "Trendmicro",
        "Snowflake",
        "Dynatrace",
        "Infornexus",
        "Amplitude",
        "Veeva",
        "EventBridge",
        "LookoutMetrics",
        "Upsolver",
        "Honeycode",
        "CustomerProfiles",
        "SAPOData",
        "CustomConnector",
        "Pardot"
      ]
    },
    "ConnectorTypeList":{
      "type":"list",
      "member":{"shape":"ConnectorType"},
      "max":100,
      "min":0
    },
    "ConnectorVersion":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "CreateConnectorProfileRequest":{
      "type":"structure",
      "required":[
        "connectorProfileName",
        "connectorType",
        "connectionMode",
        "connectorProfileConfig"
      ],
      "members":{
        "connectorProfileName":{
          "shape":"ConnectorProfileName",
          "documentation":"<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in your Amazon Web Services account. </p>"
        },
        "kmsArn":{
          "shape":"KMSArn",
          "documentation":"<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. </p>"
        },
        "connectorType":{
          "shape":"ConnectorType",
          "documentation":"<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
        },
        "connectorLabel":{
          "shape":"ConnectorLabel",
          "documentation":"<p>The label of the connector. The label is unique for each <code>ConnectorRegistration</code> in your Amazon Web Services account. Only needed if calling for CUSTOMCONNECTOR connector type/.</p>"
        },
        "connectionMode":{
          "shape":"ConnectionMode",
          "documentation":"<p> Indicates the connection mode and specifies whether it is public or private. Private flows use Amazon Web Services PrivateLink to route data over Amazon Web Services infrastructure without exposing it to the public internet. </p>"
        },
        "connectorProfileConfig":{
          "shape":"ConnectorProfileConfig",
          "documentation":"<p> Defines the connector-specific configuration and credentials. </p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The <code>clientToken</code> parameter is an idempotency token. It ensures that your <code>CreateConnectorProfile</code> request completes only once. You choose the value to pass. For example, if you don't receive a response from your request, you can safely retry the request with the same <code>clientToken</code> parameter value.</p> <p>If you omit a <code>clientToken</code> value, the Amazon Web Services SDK that you are using inserts a value for you. This way, the SDK can safely retry requests multiple times after a network error. You must provide your own value for other use cases.</p> <p>If you specify input parameters that differ from your first request, an error occurs. If you use a different value for <code>clientToken</code>, Amazon AppFlow considers it a new call to <code>CreateConnectorProfile</code>. The token is active for 8 hours.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateConnectorProfileResponse":{
      "type":"structure",
      "members":{
        "connectorProfileArn":{
          "shape":"ConnectorProfileArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the connector profile. </p>"
        }
      }
    },
    "CreateFlowRequest":{
      "type":"structure",
      "required":[
        "flowName",
        "triggerConfig",
        "sourceFlowConfig",
        "destinationFlowConfigList",
        "tasks"
      ],
      "members":{
        "flowName":{
          "shape":"FlowName",
          "documentation":"<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>"
        },
        "description":{
          "shape":"FlowDescription",
          "documentation":"<p> A description of the flow you want to create. </p>"
        },
        "kmsArn":{
          "shape":"KMSArn",
          "documentation":"<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. </p>"
        },
        "triggerConfig":{
          "shape":"TriggerConfig",
          "documentation":"<p> The trigger settings that determine how and when the flow runs. </p>"
        },
        "sourceFlowConfig":{
          "shape":"SourceFlowConfig",
          "documentation":"<p> The configuration that controls how Amazon AppFlow retrieves data from the source connector. </p>"
        },
        "destinationFlowConfigList":{
          "shape":"DestinationFlowConfigList",
          "documentation":"<p> The configuration that controls how Amazon AppFlow places data in the destination connector. </p>"
        },
        "tasks":{
          "shape":"Tasks",
          "documentation":"<p> A list of tasks that Amazon AppFlow performs while transferring the data in the flow run. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags used to organize, track, or control access for your flow. </p>"
        },
        "metadataCatalogConfig":{
          "shape":"MetadataCatalogConfig",
          "documentation":"<p>Specifies the configuration that Amazon AppFlow uses when it catalogs the data that's transferred by the associated flow. When Amazon AppFlow catalogs the data from a flow, it stores metadata in a data catalog.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The <code>clientToken</code> parameter is an idempotency token. It ensures that your <code>CreateFlow</code> request completes only once. You choose the value to pass. For example, if you don't receive a response from your request, you can safely retry the request with the same <code>clientToken</code> parameter value.</p> <p>If you omit a <code>clientToken</code> value, the Amazon Web Services SDK that you are using inserts a value for you. This way, the SDK can safely retry requests multiple times after a network error. You must provide your own value for other use cases.</p> <p>If you specify input parameters that differ from your first request, an error occurs. If you use a different value for <code>clientToken</code>, Amazon AppFlow considers it a new call to <code>CreateFlow</code>. The token is active for 8 hours.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateFlowResponse":{
      "type":"structure",
      "members":{
        "flowArn":{
          "shape":"FlowArn",
          "documentation":"<p> The flow's Amazon Resource Name (ARN). </p>"
        },
        "flowStatus":{
          "shape":"FlowStatus",
          "documentation":"<p> Indicates the current status of the flow. </p>"
        }
      }
    },
    "CreatedBy":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "CredentialsMap":{
      "type":"map",
      "key":{"shape":"CredentialsMapKey"},
      "value":{"shape":"CredentialsMapValue"},
      "max":50,
      "min":0
    },
    "CredentialsMapKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w]+",
      "sensitive":true
    },
    "CredentialsMapValue":{
      "type":"string",
      "max":2048,
      "pattern":"\\S+",
      "sensitive":true
    },
    "CustomAuthConfig":{
      "type":"structure",
      "members":{
        "customAuthenticationType":{
          "shape":"CustomAuthenticationType",
          "documentation":"<p>The authentication type that the custom connector uses.</p>"
        },
        "authParameters":{
          "shape":"AuthParameterList",
          "documentation":"<p>Information about authentication parameters required for authentication.</p>"
        }
      },
      "documentation":"<p>Configuration information required for custom authentication.</p>"
    },
    "CustomAuthConfigList":{
      "type":"list",
      "member":{"shape":"CustomAuthConfig"}
    },
    "CustomAuthCredentials":{
      "type":"structure",
      "required":["customAuthenticationType"],
      "members":{
        "customAuthenticationType":{
          "shape":"CustomAuthenticationType",
          "documentation":"<p>The custom authentication type that the connector uses.</p>"
        },
        "credentialsMap":{
          "shape":"CredentialsMap",
          "documentation":"<p>A map that holds custom authentication credentials.</p>"
        }
      },
      "documentation":"<p>The custom credentials required for custom authentication.</p>"
    },
    "CustomAuthenticationType":{
      "type":"string",
      "max":256,
      "pattern":"\\S+"
    },
    "CustomConnectorDestinationProperties":{
      "type":"structure",
      "required":["entityName"],
      "members":{
        "entityName":{
          "shape":"EntityName",
          "documentation":"<p>The entity specified in the custom connector as a destination in the flow.</p>"
        },
        "errorHandlingConfig":{
          "shape":"ErrorHandlingConfig",
          "documentation":"<p>The settings that determine how Amazon AppFlow handles an error when placing data in the custom connector as destination.</p>"
        },
        "writeOperationType":{
          "shape":"WriteOperationType",
          "documentation":"<p>Specifies the type of write operation to be performed in the custom connector when it's used as destination.</p>"
        },
        "idFieldNames":{
          "shape":"IdFieldNameList",
          "documentation":"<p>The name of the field that Amazon AppFlow uses as an ID when performing a write operation such as update, delete, or upsert.</p>"
        },
        "customProperties":{
          "shape":"CustomProperties",
          "documentation":"<p>The custom properties that are specific to the connector when it's used as a destination in the flow.</p>"
        }
      },
      "documentation":"<p>The properties that are applied when the custom connector is being used as a destination.</p>"
    },
    "CustomConnectorProfileCredentials":{
      "type":"structure",
      "required":["authenticationType"],
      "members":{
        "authenticationType":{
          "shape":"AuthenticationType",
          "documentation":"<p>The authentication type that the custom connector uses for authenticating while creating a connector profile.</p>"
        },
        "basic":{
          "shape":"BasicAuthCredentials",
          "documentation":"<p>The basic credentials that are required for the authentication of the user.</p>"
        },
        "oauth2":{
          "shape":"OAuth2Credentials",
          "documentation":"<p>The OAuth 2.0 credentials required for the authentication of the user.</p>"
        },
        "apiKey":{
          "shape":"ApiKeyCredentials",
          "documentation":"<p>The API keys required for the authentication of the user.</p>"
        },
        "custom":{
          "shape":"CustomAuthCredentials",
          "documentation":"<p>If the connector uses the custom authentication mechanism, this holds the required credentials.</p>"
        }
      },
      "documentation":"<p>The connector-specific profile credentials that are required when using the custom connector.</p>"
    },
    "CustomConnectorProfileProperties":{
      "type":"structure",
      "members":{
        "profileProperties":{
          "shape":"ProfilePropertiesMap",
          "documentation":"<p>A map of properties that are required to create a profile for the custom connector.</p>"
        },
        "oAuth2Properties":{"shape":"OAuth2Properties"}
      },
      "documentation":"<p>The profile properties required by the custom connector.</p>"
    },
    "CustomConnectorSourceProperties":{
      "type":"structure",
      "required":["entityName"],
      "members":{
        "entityName":{
          "shape":"EntityName",
          "documentation":"<p>The entity specified in the custom connector as a source in the flow.</p>"
        },
        "customProperties":{
          "shape":"CustomProperties",
          "documentation":"<p>Custom properties that are required to use the custom connector as a source.</p>"
        },
        "dataTransferApi":{
          "shape":"DataTransferApi",
          "documentation":"<p>The API of the connector application that Amazon AppFlow uses to transfer your data.</p>"
        }
      },
      "documentation":"<p>The properties that are applied when the custom connector is being used as a source.</p>"
    },
    "CustomProperties":{
      "type":"map",
      "key":{"shape":"CustomPropertyKey"},
      "value":{"shape":"CustomPropertyValue"},
      "max":50,
      "min":0
    },
    "CustomPropertyKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w]+"
    },
    "CustomPropertyValue":{
      "type":"string",
      "max":2048,
      "pattern":"\\S+"
    },
    "CustomerProfilesDestinationProperties":{
      "type":"structure",
      "required":["domainName"],
      "members":{
        "domainName":{
          "shape":"DomainName",
          "documentation":"<p> The unique name of the Amazon Connect Customer Profiles domain. </p>"
        },
        "objectTypeName":{
          "shape":"ObjectTypeName",
          "documentation":"<p> The object specified in the Amazon Connect Customer Profiles flow destination. </p>"
        }
      },
      "documentation":"<p> The properties that are applied when Amazon Connect Customer Profiles is used as a destination. </p>"
    },
    "CustomerProfilesMetadata":{
      "type":"structure",
      "members":{},
      "documentation":"<p> The connector metadata specific to Amazon Connect Customer Profiles. </p>"
    },
    "DataApiRoleArn":{
      "type":"string",
      "max":512,
      "pattern":"arn:aws:iam:.*:[0-9]+:.*"
    },
    "DataPullMode":{
      "type":"string",
      "enum":[
        "Incremental",
        "Complete"
      ]
    },
    "DataTransferApi":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DataTransferApiTypeName",
          "documentation":"<p>The name of the connector application API.</p>"
        },
        "Type":{
          "shape":"DataTransferApiType",
          "documentation":"<p>You can specify one of the following types:</p> <dl> <dt>AUTOMATIC</dt> <dd> <p>The default. Optimizes a flow for datasets that fluctuate in size from small to large. For each flow run, Amazon AppFlow chooses to use the SYNC or ASYNC API type based on the amount of data that the run transfers.</p> </dd> <dt>SYNC</dt> <dd> <p>A synchronous API. This type of API optimizes a flow for small to medium-sized datasets.</p> </dd> <dt>ASYNC</dt> <dd> <p>An asynchronous API. This type of API optimizes a flow for large datasets.</p> </dd> </dl>"
        }
      },
      "documentation":"<p>The API of the connector application that Amazon AppFlow uses to transfer your data.</p>"
    },
    "DataTransferApiType":{
      "type":"string",
      "enum":[
        "SYNC",
        "ASYNC",
        "AUTOMATIC"
      ]
    },
    "DataTransferApiTypeName":{
      "type":"string",
      "max":64,
      "pattern":"[\\w/-]+"
    },
    "DatabaseName":{
      "type":"string",
      "max":512,
      "pattern":"\\S+"
    },
    "DatabaseUrl":{
      "type":"string",
      "max":512,
      "pattern":"\\S+"
    },
    "DatadogConnectorOperator":{
      "type":"string",
      "enum":[
        "PROJECTION",
        "BETWEEN",
        "EQUAL_TO",
        "ADDITION",
        "MULTIPLICATION",
        "DIVISION",
        "SUBTRACTION",
        "MASK_ALL",
        "MASK_FIRST_N",
        "MASK_LAST_N",
        "VALIDATE_NON_NULL",
        "VALIDATE_NON_ZERO",
        "VALIDATE_NON_NEGATIVE",
        "VALIDATE_NUMERIC",
        "NO_OP"
      ]
    },
    "DatadogConnectorProfileCredentials":{
      "type":"structure",
      "required":[
        "apiKey",
        "applicationKey"
      ],
      "members":{
        "apiKey":{
          "shape":"ApiKey",
          "documentation":"<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API. </p>"
        },
        "applicationKey":{
          "shape":"ApplicationKey",
          "documentation":"<p> Application keys, in conjunction with your API key, give you full access to Datadog’s programmatic API. Application keys are associated with the user account that created them. The application key is used to log all requests made to the API. </p>"
        }
      },
      "documentation":"<p> The connector-specific credentials required by Datadog. </p>"
    },
    "DatadogConnectorProfileProperties":{
      "type":"structure",
      "required":["instanceUrl"],
      "members":{
        "instanceUrl":{
          "shape":"InstanceUrl",
          "documentation":"<p> The location of the Datadog resource. </p>"
        }
      },
      "documentation":"<p> The connector-specific profile properties required by Datadog. </p>"
    },
    "DatadogMetadata":{
      "type":"structure",
      "members":{},
      "documentation":"<p> The connector metadata specific to Datadog. </p>"
    },
    "DatadogSourceProperties":{
      "type":"structure",
      "required":["object"],
      "members":{
        "object":{
          "shape":"Object",
          "documentation":"<p> The object specified in the Datadog flow source. </p>"
        }
      },
      "documentation":"<p> The properties that are applied when Datadog is being used as a source. </p>"
    },
    "Date":{"type":"timestamp"},
    "DatetimeTypeFieldName":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "DeleteConnectorProfileRequest":{
      "type":"structure",
      "required":["connectorProfileName"],
      "members":{
        "connectorProfileName":{
          "shape":"ConnectorProfileName",
          "documentation":"<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in your account. </p>"
        },
        "forceDelete":{
          "shape":"Boolean",
          "documentation":"<p> Indicates whether Amazon AppFlow should delete the profile, even if it is currently in use in one or more flows. </p>"
        }
      }
    },
    "DeleteConnectorProfileResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteFlowRequest":{
      "type":"structure",
      "required":["flowName"],
      "members":{
        "flowName":{
          "shape":"FlowName",
          "documentation":"<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>"
        },
        "forceDelete":{
          "shape":"Boolean",
          "documentation":"<p> Indicates whether Amazon AppFlow should delete the flow, even if it is currently in use. </p>"
        }
      }
    },
    "DeleteFlowResponse":{
      "type":"structure",
      "members":{}
    },
    "DescribeConnectorEntityRequest":{
      "type":"structure",
      "required":["connectorEntityName"],
      "members":{
        "connectorEntityName":{
          "shape":"EntityName",
          "documentation":"<p> The entity name for that connector. </p>"
        },
        "connectorType":{
          "shape":"ConnectorType",
          "documentation":"<p> The type of connector application, such as Salesforce, Amplitude, and so on. </p>"
        },
        "connectorProfileName":{
          "shape":"ConnectorProfileName",
          "documentation":"<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the Amazon Web Services account. </p>"
        },
        "apiVersion":{
          "shape":"ApiVersion",
          "documentation":"<p>The version of the API that's used by the connector.</p>"
        }
      }
    },
    "DescribeConnectorEntityResponse":{
      "type":"structure",
      "required":["connectorEntityFields"],
      "members":{
        "connectorEntityFields":{
          "shape":"ConnectorEntityFieldList",
          "documentation":"<p> Describes the fields for that connector entity. For example, for an <i>account</i> entity, the fields would be <i>account name</i>, <i>account ID</i>, and so on. </p>"
        }
      }
    },
    "DescribeConnectorProfilesRequest":{
      "type":"structure",
      "members":{
        "connectorProfileNames":{
          "shape":"ConnectorProfileNameList",
          "documentation":"<p> The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the Amazon Web Services account. </p>"
        },
        "connectorType":{
          "shape":"ConnectorType",
          "documentation":"<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
        },
        "connectorLabel":{
          "shape":"ConnectorLabel",
          "documentation":"<p>The name of the connector. The name is unique for each <code>ConnectorRegistration</code> in your Amazon Web Services account. Only needed if calling for CUSTOMCONNECTOR connector type/.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p> Specifies the maximum number of items that should be returned in the result set. The default for <code>maxResults</code> is 20 (for all paginated API operations). </p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p> The pagination token for the next page of data. </p>"
        }
      }
    },
    "DescribeConnectorProfilesResponse":{
      "type":"structure",
      "members":{
        "connectorProfileDetails":{
          "shape":"ConnectorProfileDetailList",
          "documentation":"<p> Returns information about the connector profiles associated with the flow. </p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p> The pagination token for the next page of data. If <code>nextToken=null</code>, this means that all records have been fetched. </p>"
        }
      }
    },
    "DescribeConnectorRequest":{
      "type":"structure",
      "required":["connectorType"],
      "members":{
        "connectorType":{
          "shape":"ConnectorType",
          "documentation":"<p>The connector type, such as CUSTOMCONNECTOR, Saleforce, Marketo. Please choose CUSTOMCONNECTOR for Lambda based custom connectors.</p>"
        },
        "connectorLabel":{
          "shape":"ConnectorLabel",
          "documentation":"<p>The label of the connector. The label is unique for each <code>ConnectorRegistration</code> in your Amazon Web Services account. Only needed if calling for CUSTOMCONNECTOR connector type/.</p>"
        }
      }
    },
    "DescribeConnectorResponse":{
      "type":"structure",
      "members":{
        "connectorConfiguration":{
          "shape":"ConnectorConfiguration",
          "documentation":"<p>Configuration info of all the connectors that the user requested.</p>"
        }
      }
    },
    "DescribeConnectorsRequest":{
      "type":"structure",
      "members":{
        "connectorTypes":{
          "shape":"ConnectorTypeList",
          "documentation":"<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of items that should be returned in the result set. The default is 20.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p> The pagination token for the next page of data. </p>"
        }
      }
    },
    "DescribeConnectorsResponse":{
      "type":"structure",
      "members":{
        "connectorConfigurations":{
          "shape":"ConnectorConfigurationsMap",
          "documentation":"<p> The configuration that is applied to the connectors used in the flow. </p>"
        },
        "connectors":{
          "shape":"ConnectorList",
          "documentation":"<p>Information about the connectors supported in Amazon AppFlow.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p> The pagination token for the next page of data. </p>"
        }
      }
    },
    "DescribeFlowExecutionRecordsRequest":{
      "type":"structure",
      "required":["flowName"],
      "members":{
        "flowName":{
          "shape":"FlowName",
          "documentation":"<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p> Specifies the maximum number of items that should be returned in the result set. The default for <code>maxResults</code> is 20 (for all paginated API operations). </p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p> The pagination token for the next page of data. </p>"
        }
      }
    },
    "DescribeFlowExecutionRecordsResponse":{
      "type":"structure",
      "members":{
        "flowExecutions":{
          "shape":"FlowExecutionList",
          "documentation":"<p> Returns a list of all instances when this flow was run. </p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p> The pagination token for the next page of data. </p>"
        }
      }
    },
    "DescribeFlowRequest":{
      "type":"structure",
      "required":["flowName"],
      "members":{
        "flowName":{
          "shape":"FlowName",
          "documentation":"<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>"
        }
      }
    },
    "DescribeFlowResponse":{
      "type":"structure",
      "members":{
        "flowArn":{
          "shape":"FlowArn",
          "documentation":"<p> The flow's Amazon Resource Name (ARN). </p>"
        },
        "description":{
          "shape":"FlowDescription",
          "documentation":"<p> A description of the flow. </p>"
        },
        "flowName":{
          "shape":"FlowName",
          "documentation":"<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only. </p>"
        },
        "kmsArn":{
          "shape":"KMSArn",
          "documentation":"<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. </p>"
        },
        "flowStatus":{
          "shape":"FlowStatus",
          "documentation":"<p> Indicates the current status of the flow. </p>"
        },
        "flowStatusMessage":{
          "shape":"FlowStatusMessage",
          "documentation":"<p> Contains an error message if the flow status is in a suspended or error state. This applies only to scheduled or event-triggered flows. </p>"
        },
        "sourceFlowConfig":{
          "shape":"SourceFlowConfig",
          "documentation":"<p> The configuration that controls how Amazon AppFlow retrieves data from the source connector. </p>"
        },
        "destinationFlowConfigList":{
          "shape":"DestinationFlowConfigList",
          "documentation":"<p> The configuration that controls how Amazon AppFlow transfers data to the destination connector. </p>"
        },
        "lastRunExecutionDetails":{
          "shape":"ExecutionDetails",
          "documentation":"<p> Describes the details of the most recent flow run. </p>"
        },
        "triggerConfig":{
          "shape":"TriggerConfig",
          "documentation":"<p> The trigger settings that determine how and when the flow runs. </p>"
        },
        "tasks":{
          "shape":"Tasks",
          "documentation":"<p> A list of tasks that Amazon AppFlow performs while transferring the data in the flow run. </p>"
        },
        "createdAt":{
          "shape":"Date",
          "documentation":"<p> Specifies when the flow was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Date",
          "documentation":"<p> Specifies when the flow was last updated. </p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p> The ARN of the user who created the flow. </p>"
        },
        "lastUpdatedBy":{
          "shape":"UpdatedBy",
          "documentation":"<p> Specifies the user name of the account that performed the most recent update. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags used to organize, track, or control access for your flow. </p>"
        },
        "metadataCatalogConfig":{
          "shape":"MetadataCatalogConfig",
          "documentation":"<p>Specifies the configuration that Amazon AppFlow uses when it catalogs the data that's transferred by the associated flow. When Amazon AppFlow catalogs the data from a flow, it stores metadata in a data catalog.</p>"
        },
        "lastRunMetadataCatalogDetails":{
          "shape":"MetadataCatalogDetails",
          "documentation":"<p>Describes the metadata catalog, metadata table, and data partitions that Amazon AppFlow used for the associated flow run.</p>"
        },
        "schemaVersion":{
          "shape":"Long",
          "documentation":"<p>The version number of your data schema. Amazon AppFlow assigns this version number. The version number increases by one when you change any of the following settings in your flow configuration:</p> <ul> <li> <p>Source-to-destination field mappings</p> </li> <li> <p>Field data types</p> </li> <li> <p>Partition keys</p> </li> </ul>"
        }
      }
    },
    "Description":{
      "type":"string",
      "max":1024,
      "pattern":"[\\s\\w/!@#+=.-]*"
    },
    "DestinationConnectorProperties":{
      "type":"structure",
      "members":{
        "Redshift":{
          "shape":"RedshiftDestinationProperties",
          "documentation":"<p> The properties required to query Amazon Redshift. </p>"
        },
        "S3":{
          "shape":"S3DestinationProperties",
          "documentation":"<p> The properties required to query Amazon S3. </p>"
        },
        "Salesforce":{
          "shape":"SalesforceDestinationProperties",
          "documentation":"<p> The properties required to query Salesforce. </p>"
        },
        "Snowflake":{
          "shape":"SnowflakeDestinationProperties",
          "documentation":"<p> The properties required to query Snowflake. </p>"
        },
        "EventBridge":{
          "shape":"EventBridgeDestinationProperties",
          "documentation":"<p> The properties required to query Amazon EventBridge. </p>"
        },
        "LookoutMetrics":{
          "shape":"LookoutMetricsDestinationProperties",
          "documentation":"<p> The properties required to query Amazon Lookout for Metrics. </p>"
        },
        "Upsolver":{
          "shape":"UpsolverDestinationProperties",
          "documentation":"<p> The properties required to query Upsolver. </p>"
        },
        "Honeycode":{
          "shape":"HoneycodeDestinationProperties",
          "documentation":"<p> The properties required to query Amazon Honeycode. </p>"
        },
        "CustomerProfiles":{
          "shape":"CustomerProfilesDestinationProperties",
          "documentation":"<p> The properties required to query Amazon Connect Customer Profiles. </p>"
        },
        "Zendesk":{
          "shape":"ZendeskDestinationProperties",
          "documentation":"<p>The properties required to query Zendesk.</p>"
        },
        "Marketo":{
          "shape":"MarketoDestinationProperties",
          "documentation":"<p>The properties required to query Marketo.</p>"
        },
        "CustomConnector":{
          "shape":"CustomConnectorDestinationProperties",
          "documentation":"<p>The properties that are required to query the custom Connector.</p>"
        },
        "SAPOData":{
          "shape":"SAPODataDestinationProperties",
          "documentation":"<p>The properties required to query SAPOData.</p>"
        }
      },
      "documentation":"<p> This stores the information that is required to query a particular connector. </p>"
    },
    "DestinationField":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "DestinationFieldProperties":{
      "type":"structure",
      "members":{
        "isCreatable":{
          "shape":"Boolean",
          "documentation":"<p> Specifies if the destination field can be created by the current user. </p>"
        },
        "isNullable":{
          "shape":"Boolean",
          "documentation":"<p> Specifies if the destination field can have a null value. </p>"
        },
        "isUpsertable":{
          "shape":"Boolean",
          "documentation":"<p> Specifies if the flow run can either insert new rows in the destination field if they do not already exist, or update them if they do. </p>"
        },
        "isUpdatable":{
          "shape":"Boolean",
          "documentation":"<p> Specifies whether the field can be updated during an <code>UPDATE</code> or <code>UPSERT</code> write operation. </p>"
        },
        "isDefaultedOnCreate":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the field can use the default value during a Create operation.</p>"
        },
        "supportedWriteOperations":{
          "shape":"SupportedWriteOperationList",
          "documentation":"<p> A list of supported write operations. For each write operation listed, this field can be used in <code>idFieldNames</code> when that write operation is present as a destination option. </p>"
        }
      },
      "documentation":"<p> The properties that can be applied to a field when connector is being used as a destination. </p>"
    },
    "DestinationFlowConfig":{
      "type":"structure",
      "required":[
        "connectorType",
        "destinationConnectorProperties"
      ],
      "members":{
        "connectorType":{
          "shape":"ConnectorType",
          "documentation":"<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
        },
        "apiVersion":{
          "shape":"ApiVersion",
          "documentation":"<p>The API version that the destination connector uses.</p>"
        },
        "connectorProfileName":{
          "shape":"ConnectorProfileName",
          "documentation":"<p> The name of the connector profile. This name must be unique for each connector profile in the Amazon Web Services account. </p>"
        },
        "destinationConnectorProperties":{
          "shape":"DestinationConnectorProperties",
          "documentation":"<p> This stores the information that is required to query a particular connector. </p>"
        }
      },
      "documentation":"<p> Contains information about the configuration of destination connectors present in the flow. </p>"
    },
    "DestinationFlowConfigList":{
      "type":"list",
      "member":{"shape":"DestinationFlowConfig"}
    },
    "DocumentType":{
      "type":"string",
      "max":512,
      "pattern":"[\\s\\w_-]+"
    },
    "DomainName":{
      "type":"string",
      "max":64,
      "pattern":"\\S+"
    },
    "Double":{"type":"double"},
    "DynatraceConnectorOperator":{
      "type":"string",
      "enum":[
        "PROJECTION",
        "BETWEEN",
        "EQUAL_TO",
        "ADDITION",
        "MULTIPLICATION",
        "DIVISION",
        "SUBTRACTION",
        "MASK_ALL",
        "MASK_FIRST_N",
        "MASK_LAST_N",
        "VALIDATE_NON_NULL",
        "VALIDATE_NON_ZERO",
        "VALIDATE_NON_NEGATIVE",
        "VALIDATE_NUMERIC",
        "NO_OP"
      ]
    },
    "DynatraceConnectorProfileCredentials":{
      "type":"structure",
      "required":["apiToken"],
      "members":{
        "apiToken":{
          "shape":"ApiToken",
          "documentation":"<p> The API tokens used by Dynatrace API to authenticate various API calls. </p>"
        }
      },
      "documentation":"<p> The connector-specific profile credentials required by Dynatrace. </p>"
    },
    "DynatraceConnectorProfileProperties":{
      "type":"structure",
      "required":["instanceUrl"],
      "members":{
        "instanceUrl":{
          "shape":"InstanceUrl",
          "documentation":"<p> The location of the Dynatrace resource. </p>"
        }
      },
      "documentation":"<p> The connector-specific profile properties required by Dynatrace. </p>"
[...]
