{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-01",
    "endpointPrefix":"route53resolver",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Route53Resolver",
    "serviceFullName":"Amazon Route 53 Resolver",
    "serviceId":"Route53Resolver",
    "signatureVersion":"v4",
    "targetPrefix":"Route53Resolver",
    "uid":"route53resolver-2018-04-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateFirewallRuleGroup":{
      "name":"AssociateFirewallRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateFirewallRuleGroupRequest"},
      "output":{"shape":"AssociateFirewallRuleGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associates a <a>FirewallRuleGroup</a> with a VPC, to provide DNS filtering for the VPC. </p>"
    },
    "AssociateResolverEndpointIpAddress":{
      "name":"AssociateResolverEndpointIpAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateResolverEndpointIpAddressRequest"},
      "output":{"shape":"AssociateResolverEndpointIpAddressResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds IP addresses to an inbound or an outbound Resolver endpoint. If you want to add more than one IP address, submit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To remove an IP address from an endpoint, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverEndpointIpAddress.html\">DisassociateResolverEndpointIpAddress</a>. </p>"
    },
    "AssociateResolverQueryLogConfig":{
      "name":"AssociateResolverQueryLogConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateResolverQueryLogConfigRequest"},
      "output":{"shape":"AssociateResolverQueryLogConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Associates an Amazon VPC with a specified query logging configuration. Route 53 Resolver logs DNS queries that originate in all of the Amazon VPCs that are associated with a specified query logging configuration. To associate more than one VPC with a configuration, submit one <code>AssociateResolverQueryLogConfig</code> request for each VPC.</p> <note> <p>The VPCs that you associate with a query logging configuration must be in the same Region as the configuration.</p> </note> <p>To remove a VPC from a query logging configuration, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>. </p>"
    },
    "AssociateResolverRule":{
      "name":"AssociateResolverRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateResolverRuleRequest"},
      "output":{"shape":"AssociateResolverRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associates a Resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries for the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the IP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverRule.html\">CreateResolverRule</a>. </p>"
    },
    "CreateFirewallDomainList":{
      "name":"CreateFirewallDomainList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFirewallDomainListRequest"},
      "output":{"shape":"CreateFirewallDomainListResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an empty firewall domain list for use in DNS Firewall rules. You can populate the domains for the new list with a file, using <a>ImportFirewallDomains</a>, or with domain strings, using <a>UpdateFirewallDomains</a>. </p>"
    },
    "CreateFirewallRule":{
      "name":"CreateFirewallRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFirewallRuleRequest"},
      "output":{"shape":"CreateFirewallRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a single DNS Firewall rule in the specified rule group, using the specified domain list.</p>"
    },
    "CreateFirewallRuleGroup":{
      "name":"CreateFirewallRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFirewallRuleGroupRequest"},
      "output":{"shape":"CreateFirewallRuleGroupResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an empty DNS Firewall rule group for filtering DNS network traffic in a VPC. You can add rules to the new rule group by calling <a>CreateFirewallRule</a>. </p>"
    },
    "CreateOutpostResolver":{
      "name":"CreateOutpostResolver",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOutpostResolverRequest"},
      "output":{"shape":"CreateOutpostResolverResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a Route 53 Resolver on an Outpost.</p>"
    },
    "CreateResolverEndpoint":{
      "name":"CreateResolverEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResolverEndpointRequest"},
      "output":{"shape":"CreateResolverEndpointResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a Resolver endpoint. There are two types of Resolver endpoints, inbound and outbound:</p> <ul> <li> <p>An <i>inbound Resolver endpoint</i> forwards DNS queries to the DNS service for a VPC from your network.</p> </li> <li> <p>An <i>outbound Resolver endpoint</i> forwards DNS queries from the DNS service for a VPC to your network.</p> </li> </ul>"
    },
    "CreateResolverQueryLogConfig":{
      "name":"CreateResolverQueryLogConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResolverQueryLogConfigRequest"},
      "output":{"shape":"CreateResolverQueryLogConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a Resolver query logging configuration, which defines where you want Resolver to save DNS query logs that originate in your VPCs. Resolver can log queries only for VPCs that are in the same Region as the query logging configuration.</p> <p>To specify which VPCs you want to log queries for, you use <code>AssociateResolverQueryLogConfig</code>. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverQueryLogConfig.html\">AssociateResolverQueryLogConfig</a>. </p> <p>You can optionally use Resource Access Manager (RAM) to share a query logging configuration with other Amazon Web Services accounts. The other accounts can then associate VPCs with the configuration. The query logs that Resolver creates for a configuration include all DNS queries that originate in all VPCs that are associated with the configuration.</p>"
    },
    "CreateResolverRule":{
      "name":"CreateResolverRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResolverRuleRequest"},
      "output":{"shape":"CreateResolverRuleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>For DNS queries that originate in your VPCs, specifies which Resolver endpoint the queries pass through, one domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.</p>"
    },
    "DeleteFirewallDomainList":{
      "name":"DeleteFirewallDomainList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFirewallDomainListRequest"},
      "output":{"shape":"DeleteFirewallDomainListResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified domain list. </p>"
    },
    "DeleteFirewallRule":{
      "name":"DeleteFirewallRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFirewallRuleRequest"},
      "output":{"shape":"DeleteFirewallRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified firewall rule.</p>"
    },
    "DeleteFirewallRuleGroup":{
      "name":"DeleteFirewallRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFirewallRuleGroupRequest"},
      "output":{"shape":"DeleteFirewallRuleGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified firewall rule group. </p>"
    },
    "DeleteOutpostResolver":{
      "name":"DeleteOutpostResolver",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOutpostResolverRequest"},
      "output":{"shape":"DeleteOutpostResolverResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a Resolver on the Outpost.</p>"
    },
    "DeleteResolverEndpoint":{
      "name":"DeleteResolverEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResolverEndpointRequest"},
      "output":{"shape":"DeleteResolverEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a Resolver endpoint. The effect of deleting a Resolver endpoint depends on whether it's an inbound or an outbound Resolver endpoint:</p> <ul> <li> <p> <b>Inbound</b>: DNS queries from your network are no longer routed to the DNS service for the specified VPC.</p> </li> <li> <p> <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network.</p> </li> </ul>"
    },
    "DeleteResolverQueryLogConfig":{
      "name":"DeleteResolverQueryLogConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResolverQueryLogConfigRequest"},
      "output":{"shape":"DeleteResolverQueryLogConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a query logging configuration. When you delete a configuration, Resolver stops logging DNS queries for all of the Amazon VPCs that are associated with the configuration. This also applies if the query logging configuration is shared with other Amazon Web Services accounts, and the other accounts have associated VPCs with the shared configuration.</p> <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. See <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>.</p> <p>If you used Resource Access Manager (RAM) to share a query logging configuration with other accounts, you must stop sharing the configuration before you can delete a configuration. The accounts that you shared the configuration with can first disassociate VPCs that they associated with the configuration, but that's not necessary. If you stop sharing the configuration, those VPCs are automatically disassociated from the configuration.</p>"
    },
    "DeleteResolverRule":{
      "name":"DeleteResolverRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResolverRuleRequest"},
      "output":{"shape":"DeleteResolverRuleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a Resolver rule. Before you can delete a Resolver rule, you must disassociate it from all the VPCs that you associated the Resolver rule with. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverRule.html\">DisassociateResolverRule</a>.</p>"
    },
    "DisassociateFirewallRuleGroup":{
      "name":"DisassociateFirewallRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateFirewallRuleGroupRequest"},
      "output":{"shape":"DisassociateFirewallRuleGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociates a <a>FirewallRuleGroup</a> from a VPC, to remove DNS filtering from the VPC. </p>"
    },
    "DisassociateResolverEndpointIpAddress":{
      "name":"DisassociateResolverEndpointIpAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateResolverEndpointIpAddressRequest"},
      "output":{"shape":"DisassociateResolverEndpointIpAddressResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes IP addresses from an inbound or an outbound Resolver endpoint. If you want to remove more than one IP address, submit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To add an IP address to an endpoint, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverEndpointIpAddress.html\">AssociateResolverEndpointIpAddress</a>. </p>"
    },
    "DisassociateResolverQueryLogConfig":{
      "name":"DisassociateResolverQueryLogConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateResolverQueryLogConfigRequest"},
      "output":{"shape":"DisassociateResolverQueryLogConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Disassociates a VPC from a query logging configuration.</p> <note> <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. If you used Resource Access Manager (RAM) to share a query logging configuration with other accounts, VPCs can be disassociated from the configuration in the following ways:</p> <ul> <li> <p>The accounts that you shared the configuration with can disassociate VPCs from the configuration.</p> </li> <li> <p>You can stop sharing the configuration.</p> </li> </ul> </note>"
    },
    "DisassociateResolverRule":{
      "name":"DisassociateResolverRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateResolverRuleRequest"},
      "output":{"shape":"DisassociateResolverRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes the association between a specified Resolver rule and a specified VPC.</p> <important> <p>If you disassociate a Resolver rule from a VPC, Resolver stops forwarding DNS queries for the domain name that you specified in the Resolver rule. </p> </important>"
    },
    "GetFirewallConfig":{
      "name":"GetFirewallConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFirewallConfigRequest"},
      "output":{"shape":"GetFirewallConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the configuration of the firewall behavior provided by DNS Firewall for a single VPC from Amazon Virtual Private Cloud (Amazon VPC). </p>"
    },
    "GetFirewallDomainList":{
      "name":"GetFirewallDomainList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFirewallDomainListRequest"},
      "output":{"shape":"GetFirewallDomainListResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the specified firewall domain list.</p>"
    },
    "GetFirewallRuleGroup":{
      "name":"GetFirewallRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFirewallRuleGroupRequest"},
      "output":{"shape":"GetFirewallRuleGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the specified firewall rule group. </p>"
    },
    "GetFirewallRuleGroupAssociation":{
      "name":"GetFirewallRuleGroupAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFirewallRuleGroupAssociationRequest"},
      "output":{"shape":"GetFirewallRuleGroupAssociationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a firewall rule group association, which enables DNS filtering for a VPC with one rule group. A VPC can have more than one firewall rule group association, and a rule group can be associated with more than one VPC.</p>"
    },
    "GetFirewallRuleGroupPolicy":{
      "name":"GetFirewallRuleGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFirewallRuleGroupPolicyRequest"},
      "output":{"shape":"GetFirewallRuleGroupPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the Identity and Access Management (Amazon Web Services IAM) policy for sharing the specified rule group. You can use the policy to share the rule group using Resource Access Manager (RAM). </p>"
    },
    "GetOutpostResolver":{
      "name":"GetOutpostResolver",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOutpostResolverRequest"},
      "output":{"shape":"GetOutpostResolverResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets information about a specified Resolver on the Outpost, such as its instance count and type, name, and the current status of the Resolver.</p>"
    },
    "GetResolverConfig":{
      "name":"GetResolverConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverConfigRequest"},
      "output":{"shape":"GetResolverConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the behavior configuration of Route 53 Resolver behavior for a single VPC from Amazon Virtual Private Cloud.</p>"
    },
    "GetResolverDnssecConfig":{
      "name":"GetResolverDnssecConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverDnssecConfigRequest"},
      "output":{"shape":"GetResolverDnssecConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets DNSSEC validation information for a specified resource.</p>"
    },
    "GetResolverEndpoint":{
      "name":"GetResolverEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverEndpointRequest"},
      "output":{"shape":"GetResolverEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a specified Resolver endpoint, such as whether it's an inbound or an outbound Resolver endpoint, and the current status of the endpoint.</p>"
    },
    "GetResolverQueryLogConfig":{
      "name":"GetResolverQueryLogConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverQueryLogConfigRequest"},
      "output":{"shape":"GetResolverQueryLogConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a specified Resolver query logging configuration, such as the number of VPCs that the configuration is logging queries for and the location that logs are sent to. </p>"
    },
    "GetResolverQueryLogConfigAssociation":{
      "name":"GetResolverQueryLogConfigAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverQueryLogConfigAssociationRequest"},
      "output":{"shape":"GetResolverQueryLogConfigAssociationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a specified association between a Resolver query logging configuration and an Amazon VPC. When you associate a VPC with a query logging configuration, Resolver logs DNS queries that originate in that VPC.</p>"
    },
    "GetResolverQueryLogConfigPolicy":{
      "name":"GetResolverQueryLogConfigPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverQueryLogConfigPolicyRequest"},
      "output":{"shape":"GetResolverQueryLogConfigPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a query logging policy. A query logging policy specifies the Resolver query logging operations and resources that you want to allow another Amazon Web Services account to be able to use.</p>"
    },
    "GetResolverRule":{
      "name":"GetResolverRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverRuleRequest"},
      "output":{"shape":"GetResolverRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a specified Resolver rule, such as the domain name that the rule forwards DNS queries for and the ID of the outbound Resolver endpoint that the rule is associated with.</p>"
    },
    "GetResolverRuleAssociation":{
      "name":"GetResolverRuleAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverRuleAssociationRequest"},
      "output":{"shape":"GetResolverRuleAssociationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about an association between a specified Resolver rule and a VPC. You associate a Resolver rule and a VPC using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverRule.html\">AssociateResolverRule</a>. </p>"
    },
    "GetResolverRulePolicy":{
      "name":"GetResolverRulePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResolverRulePolicyRequest"},
      "output":{"shape":"GetResolverRulePolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about the Resolver rule policy for a specified rule. A Resolver rule policy includes the rule that you want to share with another account, the account that you want to share the rule with, and the Resolver operations that you want to allow the account to use. </p>"
    },
    "ImportFirewallDomains":{
      "name":"ImportFirewallDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportFirewallDomainsRequest"},
      "output":{"shape":"ImportFirewallDomainsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Imports domain names from a file into a domain list, for use in a DNS firewall rule group. </p> <p>Each domain specification in your domain list must satisfy the following requirements: </p> <ul> <li> <p>It can optionally start with <code>*</code> (asterisk).</p> </li> <li> <p>With the exception of the optional starting asterisk, it must only contain the following characters: <code>A-Z</code>, <code>a-z</code>, <code>0-9</code>, <code>-</code> (hyphen).</p> </li> <li> <p>It must be from 1-255 characters in length. </p> </li> </ul>"
    },
    "ListFirewallConfigs":{
      "name":"ListFirewallConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFirewallConfigsRequest"},
      "output":{"shape":"ListFirewallConfigsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the firewall configurations that you have defined. DNS Firewall uses the configurations to manage firewall behavior for your VPCs. </p> <p>A single call might return only a partial list of the configurations. For information, see <code>MaxResults</code>. </p>"
    },
    "ListFirewallDomainLists":{
      "name":"ListFirewallDomainLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFirewallDomainListsRequest"},
      "output":{"shape":"ListFirewallDomainListsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the firewall domain lists that you have defined. For each firewall domain list, you can retrieve the domains that are defined for a list by calling <a>ListFirewallDomains</a>. </p> <p>A single call to this list operation might return only a partial list of the domain lists. For information, see <code>MaxResults</code>. </p>"
    },
    "ListFirewallDomains":{
      "name":"ListFirewallDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFirewallDomainsRequest"},
      "output":{"shape":"ListFirewallDomainsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the domains that you have defined for the specified firewall domain list. </p> <p>A single call might return only a partial list of the domains. For information, see <code>MaxResults</code>. </p>"
    },
    "ListFirewallRuleGroupAssociations":{
      "name":"ListFirewallRuleGroupAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFirewallRuleGroupAssociationsRequest"},
      "output":{"shape":"ListFirewallRuleGroupAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the firewall rule group associations that you have defined. Each association enables DNS filtering for a VPC with one rule group. </p> <p>A single call might return only a partial list of the associations. For information, see <code>MaxResults</code>. </p>"
    },
    "ListFirewallRuleGroups":{
      "name":"ListFirewallRuleGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFirewallRuleGroupsRequest"},
      "output":{"shape":"ListFirewallRuleGroupsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the minimal high-level information for the rule groups that you have defined. </p> <p>A single call might return only a partial list of the rule groups. For information, see <code>MaxResults</code>. </p>"
    },
    "ListFirewallRules":{
      "name":"ListFirewallRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFirewallRulesRequest"},
      "output":{"shape":"ListFirewallRulesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the firewall rules that you have defined for the specified firewall rule group. DNS Firewall uses the rules in a rule group to filter DNS network traffic for a VPC. </p> <p>A single call might return only a partial list of the rules. For information, see <code>MaxResults</code>. </p>"
    },
    "ListOutpostResolvers":{
      "name":"ListOutpostResolvers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOutpostResolversRequest"},
      "output":{"shape":"ListOutpostResolversResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all the Resolvers on Outposts that were created using the current Amazon Web Services account.</p>"
    },
    "ListResolverConfigs":{
      "name":"ListResolverConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResolverConfigsRequest"},
      "output":{"shape":"ListResolverConfigsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the Resolver configurations that you have defined. Route 53 Resolver uses the configurations to manage DNS resolution behavior for your VPCs.</p>"
    },
    "ListResolverDnssecConfigs":{
      "name":"ListResolverDnssecConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResolverDnssecConfigsRequest"},
      "output":{"shape":"ListResolverDnssecConfigsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the configurations for DNSSEC validation that are associated with the current Amazon Web Services account.</p>"
    },
    "ListResolverEndpointIpAddresses":{
      "name":"ListResolverEndpointIpAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResolverEndpointIpAddressesRequest"},
      "output":{"shape":"ListResolverEndpointIpAddressesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets the IP addresses for a specified Resolver endpoint.</p>"
    },
    "ListResolverEndpoints":{
      "name":"ListResolverEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResolverEndpointsRequest"},
      "output":{"shape":"ListResolverEndpointsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all the Resolver endpoints that were created using the current Amazon Web Services account.</p>"
    },
    "ListResolverQueryLogConfigAssociations":{
      "name":"ListResolverQueryLogConfigAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResolverQueryLogConfigAssociationsRequest"},
      "output":{"shape":"ListResolverQueryLogConfigAssociationsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists information about associations between Amazon VPCs and query logging configurations.</p>"
    },
    "ListResolverQueryLogConfigs":{
      "name":"ListResolverQueryLogConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResolverQueryLogConfigsRequest"},
      "output":{"shape":"ListResolverQueryLogConfigsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists information about the specified query logging configurations. Each configuration defines where you want Resolver to save DNS query logs and specifies the VPCs that you want to log queries for.</p>"
    },
    "ListResolverRuleAssociations":{
      "name":"ListResolverRuleAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResolverRuleAssociationsRequest"},
      "output":{"shape":"ListResolverRuleAssociationsResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the associations that were created between Resolver rules and VPCs using the current Amazon Web Services account.</p>"
    },
    "ListResolverRules":{
      "name":"ListResolverRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResolverRulesRequest"},
      "output":{"shape":"ListResolverRulesResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the Resolver rules that were created using the current Amazon Web Services account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the tags that you associated with the specified resource.</p>"
    },
    "PutFirewallRuleGroupPolicy":{
      "name":"PutFirewallRuleGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutFirewallRuleGroupPolicyRequest"},
      "output":{"shape":"PutFirewallRuleGroupPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Attaches an Identity and Access Management (Amazon Web Services IAM) policy for sharing the rule group. You can use the policy to share the rule group using Resource Access Manager (RAM). </p>"
    },
    "PutResolverQueryLogConfigPolicy":{
      "name":"PutResolverQueryLogConfigPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResolverQueryLogConfigPolicyRequest"},
      "output":{"shape":"PutResolverQueryLogConfigPolicyResponse"},
      "errors":[
        {"shape":"InvalidPolicyDocument"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Specifies an Amazon Web Services account that you want to share a query logging configuration with, the query logging configuration that you want to share, and the operations that you want the account to be able to perform on the configuration.</p>"
    },
    "PutResolverRulePolicy":{
      "name":"PutResolverRulePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResolverRulePolicyRequest"},
      "output":{"shape":"PutResolverRulePolicyResponse"},
      "errors":[
        {"shape":"InvalidPolicyDocument"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Specifies an Amazon Web Services rule that you want to share with another account, the account that you want to share the rule with, and the operations that you want the account to be able to perform on the rule.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidTagException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds one or more tags to a specified resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes one or more tags from a specified resource.</p>"
    },
    "UpdateFirewallConfig":{
      "name":"UpdateFirewallConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallConfigRequest"},
      "output":{"shape":"UpdateFirewallConfigResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the configuration of the firewall behavior provided by DNS Firewall for a single VPC from Amazon Virtual Private Cloud (Amazon VPC). </p>"
    },
    "UpdateFirewallDomains":{
      "name":"UpdateFirewallDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallDomainsRequest"},
      "output":{"shape":"UpdateFirewallDomainsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the firewall domain list from an array of domain specifications. </p>"
    },
    "UpdateFirewallRule":{
      "name":"UpdateFirewallRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallRuleRequest"},
      "output":{"shape":"UpdateFirewallRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified firewall rule. </p>"
    },
    "UpdateFirewallRuleGroupAssociation":{
      "name":"UpdateFirewallRuleGroupAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallRuleGroupAssociationRequest"},
      "output":{"shape":"UpdateFirewallRuleGroupAssociationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Changes the association of a <a>FirewallRuleGroup</a> with a VPC. The association enables DNS filtering for the VPC. </p>"
    },
    "UpdateOutpostResolver":{
      "name":"UpdateOutpostResolver",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateOutpostResolverRequest"},
      "output":{"shape":"UpdateOutpostResolverResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>You can use <code>UpdateOutpostResolver</code> to update the instance count, type, or name of a Resolver on an Outpost.</p>"
    },
    "UpdateResolverConfig":{
      "name":"UpdateResolverConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateResolverConfigRequest"},
      "output":{"shape":"UpdateResolverConfigResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the behavior configuration of Route 53 Resolver behavior for a single VPC from Amazon Virtual Private Cloud.</p>"
    },
    "UpdateResolverDnssecConfig":{
      "name":"UpdateResolverDnssecConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateResolverDnssecConfigRequest"},
      "output":{"shape":"UpdateResolverDnssecConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing DNSSEC validation configuration. If there is no existing DNSSEC validation configuration, one is created.</p>"
    },
    "UpdateResolverEndpoint":{
      "name":"UpdateResolverEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateResolverEndpointRequest"},
      "output":{"shape":"UpdateResolverEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the name, or endpoint type for an inbound or an outbound Resolver endpoint. You can only update between IPV4 and DUALSTACK, IPV6 endpoint type can't be updated to other type. </p>"
    },
    "UpdateResolverRule":{
      "name":"UpdateResolverRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateResolverRuleRequest"},
      "output":{"shape":"UpdateResolverRuleResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates settings for a specified Resolver rule. <code>ResolverRuleId</code> is required, and all other parameters are optional. If you don't specify a parameter, it retains its current value.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p> <p>This error can also be thrown when a customer has reached the 5120 character limit for a resource policy for CloudWatch Logs.</p>",
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":32,
      "min":12
    },
    "Action":{
      "type":"string",
      "enum":[
        "ALLOW",
        "BLOCK",
        "ALERT"
      ]
    },
    "Arn":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AssociateFirewallRuleGroupRequest":{
      "type":"structure",
      "required":[
        "CreatorRequestId",
        "FirewallRuleGroupId",
        "VpcId",
        "Priority",
        "Name"
      ],
      "members":{
        "CreatorRequestId":{
          "shape":"CreatorRequestId",
          "documentation":"<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "idempotencyToken":true
        },
        "FirewallRuleGroupId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the firewall rule group. </p>"
        },
        "VpcId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the VPC that you want to associate with the rule group. </p>"
        },
        "Priority":{
          "shape":"Priority",
          "documentation":"<p>The setting that determines the processing order of the rule group among the rule groups that you associate with the specified VPC. DNS Firewall filters VPC traffic starting from the rule group with the lowest numeric priority setting. </p> <p>You must specify a unique priority for each rule group that you associate with a single VPC. To make it easier to insert rule groups later, leave space between the numbers, for example, use 101, 200, and so on. You can change the priority setting for a rule group association after you create it.</p> <p>The allowed values for <code>Priority</code> are between 100 and 9900.</p>"
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>A name that lets you identify the association, to manage and use it.</p>"
        },
        "MutationProtection":{
          "shape":"MutationProtectionStatus",
          "documentation":"<p>If enabled, this setting disallows modification or removal of the association, to help prevent against accidentally altering DNS firewall protections. When you create the association, the default setting is <code>DISABLED</code>. </p>",
          "box":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of the tag keys and values that you want to associate with the rule group association. </p>",
          "box":true
        }
      }
    },
    "AssociateFirewallRuleGroupResponse":{
      "type":"structure",
      "members":{
        "FirewallRuleGroupAssociation":{
          "shape":"FirewallRuleGroupAssociation",
          "documentation":"<p>The association that you just created. The association has an ID that you can use to identify it in other requests, like update and delete.</p>"
        }
      }
    },
    "AssociateResolverEndpointIpAddressRequest":{
      "type":"structure",
      "required":[
        "ResolverEndpointId",
        "IpAddress"
      ],
      "members":{
        "ResolverEndpointId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Resolver endpoint that you want to associate IP addresses with.</p>"
        },
        "IpAddress":{
          "shape":"IpAddressUpdate",
          "documentation":"<p>Either the IPv4 address that you want to add to a Resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>"
        }
      }
    },
    "AssociateResolverEndpointIpAddressResponse":{
      "type":"structure",
      "members":{
        "ResolverEndpoint":{
          "shape":"ResolverEndpoint",
          "documentation":"<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>"
        }
      }
    },
    "AssociateResolverQueryLogConfigRequest":{
      "type":"structure",
      "required":[
        "ResolverQueryLogConfigId",
        "ResourceId"
      ],
      "members":{
        "ResolverQueryLogConfigId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the query logging configuration that you want to associate a VPC with.</p>"
        },
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of an Amazon VPC that you want this query logging configuration to log queries for.</p> <note> <p>The VPCs and the query logging configuration must be in the same Region.</p> </note>"
        }
      }
    },
    "AssociateResolverQueryLogConfigResponse":{
      "type":"structure",
      "members":{
        "ResolverQueryLogConfigAssociation":{
          "shape":"ResolverQueryLogConfigAssociation",
          "documentation":"<p>A complex type that contains settings for a specified association between an Amazon VPC and a query logging configuration.</p>"
        }
      }
    },
    "AssociateResolverRuleRequest":{
      "type":"structure",
      "required":[
        "ResolverRuleId",
        "VPCId"
      ],
      "members":{
        "ResolverRuleId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Resolver rule that you want to associate with the VPC. To list the existing Resolver rules, use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>.</p>"
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>A name for the association that you're creating between a Resolver rule and a VPC.</p>"
        },
        "VPCId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the VPC that you want to associate the Resolver rule with.</p>"
        }
      }
    },
    "AssociateResolverRuleResponse":{
      "type":"structure",
      "members":{
        "ResolverRuleAssociation":{
          "shape":"ResolverRuleAssociation",
          "documentation":"<p>Information about the <code>AssociateResolverRule</code> request, including the status of the request.</p>"
        }
      }
    },
    "AutodefinedReverseFlag":{
      "type":"string",
      "enum":[
        "ENABLE",
        "DISABLE",
        "USE_LOCAL_RESOURCE_SETTING"
      ]
    },
    "BlockOverrideDnsType":{
      "type":"string",
      "enum":["CNAME"]
    },
    "BlockOverrideDomain":{
      "type":"string",
      "max":255,
      "min":1
    },
    "BlockOverrideTtl":{
      "type":"integer",
      "max":604800,
      "min":0
    },
    "BlockResponse":{
      "type":"string",
      "enum":[
        "NODATA",
        "NXDOMAIN",
        "OVERRIDE"
      ]
    },
    "Boolean":{"type":"boolean"},
    "ConfidenceThreshold":{
      "type":"string",
      "enum":[
        "LOW",
        "MEDIUM",
        "HIGH"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>The requested state transition isn't valid. For example, you can't delete a firewall domain list if it is in the process of being deleted, or you can't import domains into a domain list that is in the process of being deleted.</p>",
      "exception":true
    },
    "Count":{"type":"integer"},
    "CreateFirewallDomainListRequest":{
      "type":"structure",
      "required":[
        "CreatorRequestId",
        "Name"
      ],
      "members":{
        "CreatorRequestId":{
          "shape":"CreatorRequestId",
          "documentation":"<p>A unique string that identifies the request and that allows you to retry failed requests without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "idempotencyToken":true
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>A name that lets you identify the domain list to manage and use it.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of the tag keys and values that you want to associate with the domain list. </p>",
          "box":true
        }
      }
    },
    "CreateFirewallDomainListResponse":{
      "type":"structure",
      "members":{
        "FirewallDomainList":{
          "shape":"FirewallDomainList",
          "documentation":"<p>The domain list that you just created.</p>"
        }
      }
    },
    "CreateFirewallRuleGroupRequest":{
      "type":"structure",
      "required":[
        "CreatorRequestId",
        "Name"
      ],
      "members":{
        "CreatorRequestId":{
          "shape":"CreatorRequestId",
          "documentation":"<p>A unique string defined by you to identify the request. This allows you to retry failed requests without the risk of running the operation twice. This can be any unique string, for example, a timestamp. </p>",
          "idempotencyToken":true
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>A name that lets you identify the rule group, to manage and use it.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of the tag keys and values that you want to associate with the rule group. </p>",
          "box":true
        }
      }
    },
    "CreateFirewallRuleGroupResponse":{
      "type":"structure",
      "members":{
        "FirewallRuleGroup":{
          "shape":"FirewallRuleGroup",
          "documentation":"<p>A collection of rules used to filter DNS network traffic. </p>"
        }
      }
    },
    "CreateFirewallRuleRequest":{
      "type":"structure",
      "required":[
        "CreatorRequestId",
        "FirewallRuleGroupId",
        "Priority",
        "Action",
        "Name"
      ],
      "members":{
        "CreatorRequestId":{
          "shape":"CreatorRequestId",
          "documentation":"<p>A unique string that identifies the request and that allows you to retry failed requests without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "idempotencyToken":true
        },
        "FirewallRuleGroupId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the firewall rule group where you want to create the rule. </p>"
        },
        "FirewallDomainListId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the domain list that you want to use in the rule. Can't be used together with <code>DnsThreatProtecton</code>.</p>",
          "box":true
        },
        "Priority":{
          "shape":"Priority",
          "documentation":"<p>The setting that determines the processing order of the rule in the rule group. DNS Firewall processes the rules in a rule group by order of priority, starting from the lowest setting.</p> <p>You must specify a unique priority for each rule in a rule group. To make it easier to insert rules later, leave space between the numbers, for example, use 100, 200, and so on. You can change the priority setting for the rules in a rule group at any time.</p>"
        },
        "Action":{
          "shape":"Action",
          "documentation":"<p>The action that DNS Firewall should take on a DNS query when it matches one of the domains in the rule's domain list, or a threat in a DNS Firewall Advanced rule:</p> <ul> <li> <p> <code>ALLOW</code> - Permit the request to go through. Not available for DNS Firewall Advanced rules.</p> </li> <li> <p> <code>ALERT</code> - Permit the request and send metrics and logs to Cloud Watch.</p> </li> <li> <p> <code>BLOCK</code> - Disallow the request. This option requires additional details in the rule's <code>BlockResponse</code>. </p> </li> </ul>"
        },
        "BlockResponse":{
          "shape":"BlockResponse",
          "documentation":"<p>The way that you want DNS Firewall to block the request, used with the rule action setting <code>BLOCK</code>. </p> <ul> <li> <p> <code>NODATA</code> - Respond indicating that the query was successful, but no response is available for it.</p> </li> <li> <p> <code>NXDOMAIN</code> - Respond indicating that the domain name that's in the query doesn't exist.</p> </li> <li> <p> <code>OVERRIDE</code> - Provide a custom override in the response. This option requires custom handling details in the rule's <code>BlockOverride*</code> settings. </p> </li> </ul> <p>This setting is required if the rule action setting is <code>BLOCK</code>.</p>",
          "box":true
        },
        "BlockOverrideDomain":{
          "shape":"BlockOverrideDomain",
          "documentation":"<p>The custom DNS record to send back in response to the query. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>",
          "box":true
        },
        "BlockOverrideDnsType":{
          "shape":"BlockOverrideDnsType",
          "documentation":"<p>The DNS record's type. This determines the format of the record value that you provided in <code>BlockOverrideDomain</code>. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>",
          "box":true
        },
        "BlockOverrideTtl":{
          "shape":"BlockOverrideTtl",
          "documentation":"<p>The recommended amount of time, in seconds, for the DNS resolver or web browser to cache the provided override record. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>",
          "box":true
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>A name that lets you identify the rule in the rule group.</p>"
        },
        "FirewallDomainRedirectionAction":{
          "shape":"FirewallDomainRedirectionAction",
          "documentation":"<p> How you want the the rule to evaluate DNS redirection in the DNS redirection chain, such as CNAME or DNAME. </p> <p> <code>INSPECT_REDIRECTION_DOMAIN</code>: (Default) inspects all domains in the redirection chain. The individual domains in the redirection chain must be added to the domain list.</p> <p> <code>TRUST_REDIRECTION_DOMAIN</code>: Inspects only the first domain in the redirection chain. You don't need to add the subsequent domains in the domain in the redirection list to the domain list.</p>",
          "box":true
        },
        "Qtype":{
          "shape":"Qtype",
          "documentation":"<p> The DNS query type you want the rule to evaluate. Allowed values are; </p> <ul> <li> <p> A: Returns an IPv4 address.</p> </li> <li> <p>AAAA: Returns an Ipv6 address.</p> </li> <li> <p>CAA: Restricts CAs that can create SSL/TLS certifications for the domain.</p> </li> <li> <p>CNAME: Returns another domain name.</p> </li> <li> <p>DS: Record that identifies the DNSSEC signing key of a delegated zone.</p> </li> <li> <p>MX: Specifies mail servers.</p> </li> <li> <p>NAPTR: Regular-expression-based rewriting of domain names.</p> </li> <li> <p>NS: Authoritative name servers.</p> </li> <li> <p>PTR: Maps an IP address to a domain name.</p> </li> <li> <p>SOA: Start of authority record for the zone.</p> </li> <li> <p>SPF: Lists the servers authorized to send emails from a domain.</p> </li> <li> <p>SRV: Application specific values that identify servers.</p> </li> <li> <p>TXT: Verifies email senders and application-specific values.</p> </li> <li> <p>A query type you define by using the DNS type ID, for example 28 for AAAA. The values must be defined as TYPENUMBER, where the NUMBER can be 1-65334, for example, TYPE28. For more information, see <a href=\"https://en.wikipedia.org/wiki/List_of_DNS_record_types\">List of DNS record types</a>.</p> </li> </ul>",
          "box":true
        },
        "DnsThreatProtection":{
          "shape":"DnsThreatProtection",
          "documentation":"<p> Use to create a DNS Firewall Advanced rule. </p>",
          "box":true
        },
        "ConfidenceThreshold":{
          "shape":"ConfidenceThreshold",
          "documentation":"<p> The confidence threshold for DNS Firewall Advanced. You must provide this value when you create a DNS Firewall Advanced rule. The confidence level values mean: </p> <ul> <li> <p> <code>LOW</code>: Provides the highest detection rate for threats, but also increases false positives.</p> </li> <li> <p> <code>MEDIUM</code>: Provides a balance between detecting threats and false positives.</p> </li> <li> <p> <code>HIGH</code>: Detects only the most well corroborated threats with a low rate of false positives. </p> </li> </ul>",
          "box":true
        }
      }
    },
    "CreateFirewallRuleResponse":{
      "type":"structure",
      "members":{
        "FirewallRule":{
          "shape":"FirewallRule",
          "documentation":"<p>The firewall rule that you just created. </p>"
        }
      }
    },
    "CreateOutpostResolverRequest":{
      "type":"structure",
      "required":[
        "CreatorRequestId",
        "Name",
        "PreferredInstanceType",
        "OutpostArn"
      ],
      "members":{
        "CreatorRequestId":{
          "shape":"CreatorRequestId",
          "documentation":"<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. </p> <p> <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>"
        },
        "Name":{
          "shape":"OutpostResolverName",
          "documentation":"<p>A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.</p>"
        },
        "InstanceCount":{
          "shape":"InstanceCount",
          "documentation":"<p>Number of Amazon EC2 instances for the Resolver on Outpost. The default and minimal value is 4.</p>",
          "box":true
        },
        "PreferredInstanceType":{
          "shape":"OutpostInstanceType",
          "documentation":"<p> The Amazon EC2 instance type. If you specify this, you must also specify a value for the <code>OutpostArn</code>. </p>"
        },
        "OutpostArn":{
          "shape":"OutpostArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Outpost. If you specify this, you must also specify a value for the <code>PreferredInstanceType</code>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p> A string that helps identify the Route 53 Resolvers on Outpost. </p>",
          "box":true
        }
      }
    },
    "CreateOutpostResolverResponse":{
      "type":"structure",
      "members":{
        "OutpostResolver":{
          "shape":"OutpostResolver",
          "documentation":"<p>Information about the <code>CreateOutpostResolver</code> request, including the status of the request.</p>"
        }
      }
    },
    "CreateResolverEndpointRequest":{
      "type":"structure",
      "required":[
        "CreatorRequestId",
        "SecurityGroupIds",
        "Direction",
        "IpAddresses"
      ],
      "members":{
        "CreatorRequestId":{
          "shape":"CreatorRequestId",
          "documentation":"<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>"
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.</p>"
        },
        "SecurityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>The ID of one or more security groups that you want to use to control access to this VPC. The security group that you specify must include one or more inbound rules (for inbound Resolver endpoints) or outbound rules (for outbound Resolver endpoints). Inbound and outbound rules must allow TCP and UDP access. For inbound access, open port 53. For outbound access, open the port that you're using for DNS queries on your network.</p> <p>Some security group rules will cause your connection to be tracked. For outbound resolver endpoint, it can potentially impact the maximum queries per second from outbound endpoint to your target name server. For inbound resolver endpoint, it can bring down the overall maximum queries per second per IP address to as low as 1500. To avoid connection tracking caused by security group, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/security-group-connection-tracking.html#untracked-connectionsl\">Untracked connections</a>.</p>",
          "box":true
        },
        "Direction":{
          "shape":"ResolverEndpointDirection",
          "documentation":"<p>Specify the applicable value:</p> <ul> <li> <p> <code>INBOUND</code>: Resolver forwards DNS queries to the DNS service for a VPC from your network.</p> </li> <li> <p> <code>OUTBOUND</code>: Resolver forwards DNS queries from the DNS service for a VPC to your network.</p> </li> <li> <p> <code>INBOUND_DELEGATION</code>: Resolver delegates queries to Route 53 private hosted zones from your network.</p> </li> </ul>"
        },
        "IpAddresses":{
          "shape":"IpAddressesRequest",
          "documentation":"<p>The subnets and IP addresses in your VPC that DNS queries originate from (for outbound endpoints) or that you forward DNS queries to (for inbound endpoints). The subnet ID uniquely identifies a VPC. </p> <note> <p>Even though the minimum is 1, Route 53 requires that you create at least two.</p> </note>"
        },
        "OutpostArn":{
          "shape":"OutpostArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Outpost. If you specify this, you must also specify a value for the <code>PreferredInstanceType</code>. </p>",
          "box":true
        },
        "PreferredInstanceType":{
          "shape":"OutpostInstanceType",
          "documentation":"<p>The instance type. If you specify this, you must also specify a value for the <code>OutpostArn</code>.</p>",
          "box":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of the tag keys and values that you want to associate with the endpoint.</p>",
          "box":true
        },
        "ResolverEndpointType":{
          "shape":"ResolverEndpointType",
          "documentation":"<p> For the endpoint type you can choose either IPv4, IPv6, or dual-stack. A dual-stack endpoint means that it will resolve via both IPv4 and IPv6. This endpoint type is applied to all IP addresses. </p>",
          "box":true
        },
        "Protocols":{
          "shape":"ProtocolList",
          "documentation":"<p> The protocols you want to use for the endpoint. DoH-FIPS is applicable for default inbound endpoints only. </p> <p>For a default inbound endpoint you can apply the protocols as follows:</p> <ul> <li> <p> Do53 and DoH in combination.</p> </li> <li> <p>Do53 and DoH-FIPS in combination.</p> </li> <li> <p>Do53 alone.</p> </li> <li> <p>DoH alone.</p> </li> <li> <p>DoH-FIPS alone.</p> </li> <li> <p>None, which is treated as Do53.</p> </li> </ul> <p>For a delegation inbound endpoint you can use Do53 only.</p> <p>For an outbound endpoint you can apply the protocols as follows:</p> <ul> <li> <p> Do53 and DoH in combination.</p> </li> <li> <p>Do53 alone.</p> </li> <li> <p>DoH alone.</p> </li> <li> <p>None, which is treated as Do53.</p> </li> </ul>",
          "box":true
        }
      }
    },
    "CreateResolverEndpointResponse":{
      "type":"structure",
      "members":{
        "ResolverEndpoint":{
          "shape":"ResolverEndpoint",
          "documentation":"<p>Information about the <code>CreateResolverEndpoint</code> request, including the status of the request.</p>"
        }
      }
    },
    "CreateResolverQueryLogConfigRequest":{
      "type":"structure",
      "required":[
        "Name",
        "DestinationArn",
        "CreatorRequestId"
      ],
      "members":{
        "Name":{
          "shape":"ResolverQueryLogConfigName",
          "documentation":"<p>The name that you want to give the query logging configuration.</p>"
        },
        "DestinationArn":{
          "shape":"DestinationArn",
          "documentation":"<p>The ARN of the resource that you want Resolver to send query logs. You can send query logs to an S3 bucket, a CloudWatch Logs log group, or a Kinesis Data Firehose delivery stream. Examples of valid values include the following:</p> <ul> <li> <p> <b>S3 bucket</b>: </p> <p> <code>arn:aws:s3:::amzn-s3-demo-bucket</code> </p> <p>You can optionally append a file prefix to the end of the ARN.</p> <p> <code>arn:aws:s3:::amzn-s3-demo-bucket/development/</code> </p> </li> <li> <p> <b>CloudWatch Logs log group</b>: </p> <p> <code>arn:aws:logs:us-west-1:123456789012:log-group:/mystack-testgroup-12ABC1AB12A1:*</code> </p> </li> <li> <p> <b>Kinesis Data Firehose delivery stream</b>:</p> <p> <code>arn:aws:kinesis:us-east-2:0123456789:stream/my_stream_name</code> </p> </li> </ul>"
        },
        "CreatorRequestId":{
          "shape":"CreatorRequestId",
          "documentation":"<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of the tag keys and values that you want to associate with the query logging configuration.</p>",
          "box":true
        }
      }
    },
    "CreateResolverQueryLogConfigResponse":{
      "type":"structure",
      "members":{
        "ResolverQueryLogConfig":{
          "shape":"ResolverQueryLogConfig",
          "documentation":"<p>Information about the <code>CreateResolverQueryLogConfig</code> request, including the status of the request.</p>"
        }
      }
    },
    "CreateResolverRuleRequest":{
      "type":"structure",
      "required":[
        "CreatorRequestId",
        "RuleType"
      ],
      "members":{
        "CreatorRequestId":{
          "shape":"CreatorRequestId",
          "documentation":"<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of running the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>"
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>A friendly name that lets you easily find a rule in the Resolver dashboard in the Route 53 console.</p>"
        },
        "RuleType":{
          "shape":"RuleTypeOption",
          "documentation":"<p>When you want to forward DNS queries for specified domain name to resolvers on your network, specify <code>FORWARD</code> or <code>DELEGATE</code>.</p> <p>When you have a forwarding rule to forward DNS queries for a domain to your network and you want Resolver to process queries for a subdomain of that domain, specify <code>SYSTEM</code>.</p> <p>For example, to forward DNS queries for example.com to resolvers on your network, you create a rule and specify <code>FORWARD</code> for <code>RuleType</code>. To then have Resolver process queries for apex.example.com, you create a rule and specify <code>SYSTEM</code> for <code>RuleType</code>.</p> <p>Currently, only Resolver can create rules that have a value of <code>RECURSIVE</code> for <code>RuleType</code>.</p>"
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>DNS queries for this domain name are forwarded to the IP addresses that you specify in <code>TargetIps</code>. If a query matches multiple Resolver rules (example.com and www.example.com), outbound DNS queries are routed using the Resolver rule that contains the most specific domain name (www.example.com).</p>",
          "box":true
        },
        "TargetIps":{
          "shape":"TargetList",
          "documentation":"<p>The IPs that you want Resolver to forward DNS queries to. You can specify either Ipv4 or Ipv6 addresses but not both in the same rule. Separate IP addresses with a space.</p> <p> <code>TargetIps</code> is available only when the value of <code>Rule type</code> is <code>FORWARD</code>.</p>",
          "box":true
        },
        "ResolverEndpointId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the outbound Resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify in <code>TargetIps</code>.</p>",
          "box":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of the tag keys and values that you want to associate with the endpoint.</p>",
          "box":true
        },
        "DelegationRecord":{
          "shape":"DelegationRecord",
          "documentation":"<p> DNS queries with the delegation records that match this domain name are forwarded to the resolvers on your network. </p>",
          "box":true
        }
      }
    },
    "CreateResolverRuleResponse":{
      "type":"structure",
      "members":{
        "ResolverRule":{
          "shape":"ResolverRule",
          "documentation":"<p>Information about the <code>CreateResolverRule</code> request, including the status of the request.</p>"
        }
      }
    },
    "CreatorRequestId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DelegationRecord":{
      "type":"string",
      "max":256,
      "min":1
    },
    "DeleteFirewallDomainListRequest":{
      "type":"structure",
      "required":["FirewallDomainListId"],
      "members":{
        "FirewallDomainListId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the domain list that you want to delete. </p>"
        }
      }
    },
    "DeleteFirewallDomainListResponse":{
      "type":"structure",
      "members":{
        "FirewallDomainList":{
          "shape":"FirewallDomainList",
          "documentation":"<p>The domain list that you just deleted. </p>"
        }
      }
    },
    "DeleteFirewallRuleGroupRequest":{
      "type":"structure",
      "required":["FirewallRuleGroupId"],
      "members":{
        "FirewallRuleGroupId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the firewall rule group that you want to delete. </p>"
        }
      }
    },
    "DeleteFirewallRuleGroupResponse":{
      "type":"structure",
      "members":{
        "FirewallRuleGroup":{
          "shape":"FirewallRuleGroup",
          "documentation":"<p>A collection of rules used to filter DNS network traffic. </p>"
        }
      }
    },
    "DeleteFirewallRuleRequest":{
      "type":"structure",
      "required":["FirewallRuleGroupId"],
      "members":{
        "FirewallRuleGroupId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the firewall rule group that you want to delete the rule from. </p>"
        },
        "FirewallDomainListId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the domain list that's used in the rule. </p>",
          "box":true
        },
        "FirewallThreatProtectionId":{
          "shape":"ResourceId",
          "documentation":"<p> The ID that is created for a DNS Firewall Advanced rule. </p>",
          "box":true
        },
        "Qtype":{
          "shape":"Qtype",
          "documentation":"<p> The DNS query type that the rule you are deleting evaluates. Allowed values are; </p> <ul> <li> <p> A: Returns an IPv4 address.</p> </li> <li> <p>AAAA: Returns an Ipv6 address.</p> </li> <li> <p>CAA: Restricts CAs that can create SSL/TLS certifications for the domain.</p> </li> <li> <p>CNAME: Returns another domain name.</p> </li> <li> <p>DS: Record that identifies the DNSSEC signing key of a delegated zone.</p> </li> <li> <p>MX: Specifies mail servers.</p> </li> <li> <p>NAPTR: Regular-expression-based rewriting of domain names.</p> </li> <li> <p>NS: Authoritative name servers.</p> </li> <li> <p>PTR: Maps an IP address to a domain name.</p> </li> <li> <p>SOA: Start of authority record for the zone.</p> </li> <li> <p>SPF: Lists the servers authorized to send emails from a domain.</p> </li> <li> <p>SRV: Application specific values that identify servers.</p> </li> <li> <p>TXT: Verifies email senders and application-specific values.</p> </li> <li> <p>A query type you define by using the DNS type ID, for example 28 for AAAA. The values must be defined as TYPENUMBER, where the NUMBER can be 1-65334, for example, TYPE28. For more information, see <a href=\"https://en.wikipedia.org/wiki/List_of_DNS_record_types\">List of DNS record types</a>.</p> </li> </ul>"
        }
      }
    },
    "DeleteFirewallRuleResponse":{
      "type":"structure",
      "members":{
        "FirewallRule":{
          "shape":"FirewallRule",
          "documentation":"<p>The specification for the firewall rule that you just deleted.</p>"
        }
      }
    },
    "DeleteOutpostResolverRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>A unique string that identifies the Resolver on the Outpost.</p>"
        }
      }
    },
    "DeleteOutpostResolverResponse":{
      "type":"structure",
      "members":{
        "OutpostResolver":{
          "shape":"OutpostResolver",
          "documentation":"<p>Information about the <code>DeleteOutpostResolver</code> request, including the status of the request.</p>"
        }
      }
    },
    "DeleteResolverEndpointRequest":{
      "type":"structure",
      "required":["ResolverEndpointId"],
      "members":{
        "ResolverEndpointId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Resolver endpoint that you want to delete.</p>"
        }
      }
    },
    "DeleteResolverEndpointResponse":{
      "type":"structure",
      "members":{
        "ResolverEndpoint":{
          "shape":"ResolverEndpoint",
          "documentation":"<p>Information about the <code>DeleteResolverEndpoint</code> request, including the status of the request.</p>"
        }
      }
    },
    "DeleteResolverQueryLogConfigRequest":{
      "type":"structure",
      "required":["ResolverQueryLogConfigId"],
      "members":{
        "ResolverQueryLogConfigId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the query logging configuration that you want to delete.</p>"
        }
      }
    },
    "DeleteResolverQueryLogConfigResponse":{
      "type":"structure",
      "members":{
        "ResolverQueryLogConfig":{
          "shape":"ResolverQueryLogConfig",
          "documentation":"<p>Information about the query logging configuration that you deleted, including the status of the request.</p>"
        }
      }
    },
    "DeleteResolverRuleRequest":{
      "type":"structure",
      "required":["ResolverRuleId"],
      "members":{
        "ResolverRuleId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Resolver rule that you want to delete.</p>"
        }
      }
    },
    "DeleteResolverRuleResponse":{
      "type":"structure",
      "members":{
        "ResolverRule":{
          "shape":"ResolverRule",
          "documentation":"<p>Information about the <code>DeleteResolverRule</code> request, including the status of the request.</p>"
        }
      }
    },
    "DestinationArn":{
      "type":"string",
      "max":600,
      "min":1
    },
    "DisassociateFirewallRuleGroupRequest":{
      "type":"structure",
      "required":["FirewallRuleGroupAssociationId"],
      "members":{
        "FirewallRuleGroupAssociationId":{
          "shape":"ResourceId",
          "documentation":"<p>The identifier of the <a>FirewallRuleGroupAssociation</a>. </p>"
        }
      }
    },
    "DisassociateFirewallRuleGroupResponse":{
      "type":"structure",
      "members":{
        "FirewallRuleGroupAssociation":{
          "shape":"FirewallRuleGroupAssociation",
          "documentation":"<p>The firewall rule group association that you just removed. </p>"
        }
      }
    },
    "DisassociateResolverEndpointIpAddressRequest":{
      "type":"structure",
      "required":[
        "ResolverEndpointId",
        "IpAddress"
      ],
      "members":{
        "ResolverEndpointId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Resolver endpoint that you want to disassociate an IP address from.</p>"
        },
        "IpAddress":{
          "shape":"IpAddressUpdate",
          "documentation":"<p>The IPv4 address that you want to remove from a Resolver endpoint.</p>"
        }
      }
    },
    "DisassociateResolverEndpointIpAddressResponse":{
      "type":"structure",
      "members":{
        "ResolverEndpoint":{
          "shape":"ResolverEndpoint",
          "documentation":"<p>The response to an <code>DisassociateResolverEndpointIpAddress</code> request.</p>"
        }
      }
    },
    "DisassociateResolverQueryLogConfigRequest":{
      "type":"structure",
      "required":[
        "ResolverQueryLogConfigId",
        "ResourceId"
      ],
      "members":{
        "ResolverQueryLogConfigId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the query logging configuration that you want to disassociate a specified VPC from.</p>"
        },
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Amazon VPC that you want to disassociate from a specified query logging configuration.</p>"
        }
      }
    },
    "DisassociateResolverQueryLogConfigResponse":{
      "type":"structure",
      "members":{
        "ResolverQueryLogConfigAssociation":{
          "shape":"ResolverQueryLogConfigAssociation",
          "documentation":"<p>A complex type that contains settings for the association that you deleted between an Amazon VPC and a query logging configuration.</p>"
        }
      }
    },
    "DisassociateResolverRuleRequest":{
      "type":"structure",
      "required":[
        "VPCId",
        "ResolverRuleId"
      ],
      "members":{
        "VPCId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the VPC that you want to disassociate the Resolver rule from.</p>"
        },
        "ResolverRuleId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Resolver rule that you want to disassociate from the specified VPC.</p>"
        }
      }
    },
    "DisassociateResolverRuleResponse":{
      "type":"structure",
      "members":{
        "ResolverRuleAssociation":{
          "shape":"ResolverRuleAssociation",
          "documentation":"<p>Information about the <code>DisassociateResolverRule</code> request, including the status of the request.</p>"
        }
      }
    },
    "DnsThreatProtection":{
      "type":"string",
      "enum":[
        "DGA",
        "DNS_TUNNELING"
      ]
    },
    "DomainListFileUrl":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "DomainName":{
      "type":"string",
      "max":256,
      "min":1
    },
    "ExceptionMessage":{"type":"string"},
    "Filter":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"FilterName",
          "documentation":"<p>The name of the parameter that you want to use to filter objects.</p> <p>The valid values for <code>Name</code> depend on the action that you're including the filter in, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverEndpoints.html\">ListResolverEndpoints</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRuleAssociations.html\">ListResolverRuleAssociations</a>, <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigs.html\">ListResolverQueryLogConfigs</a>, or <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigAssociations.html\">ListResolverQueryLogConfigAssociations</a>.</p> <note> <p>In early versions of Resolver, values for <code>Name</code> were listed as uppercase, with underscore (_) delimiters. For example, <code>CreatorRequestId</code> was originally listed as <code>CREATOR_REQUEST_ID</code>. Uppercase values for <code>Name</code> are still supported.</p> </note> <p> <b>ListResolverEndpoints</b> </p> <p>Valid values for <code>Name</code> include the following:</p> <ul> <li> <p> <code>CreatorRequestId</code>: The value that you specified when you created the Resolver endpoint.</p> </li> <li> <p> <code>Direction</code>: Whether you want to return inbound or outbound Resolver endpoints. If you specify <code>DIRECTION</code> for <code>Name</code>, specify <code>INBOUND</code> or <code>OUTBOUND</code> for <code>Values</code>.</p> </li> <li> <p> <code>HostVPCId</code>: The ID of the VPC that inbound DNS queries pass through on the way from your network to your VPCs in a region, or the VPC that outbound queries pass through on the way from your VPCs to your network. In a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverEndpoint.html\">CreateResolverEndpoint</a> request, <code>SubnetId</code> indirectly identifies the VPC. In a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_GetResolverEndpoint.html\">GetResolverEndpoint</a> request, the VPC ID for a Resolver endpoint is returned in the <code>HostVPCId</code> element. </p> </li> <li> <p> <code>IpAddressCount</code>: The number of IP addresses that you have associated with the Resolver endpoint.</p> </li> <li> <p> <code>Name</code>: The name of the Resolver endpoint.</p> </li> <li> <p> <code>SecurityGroupIds</code>: The IDs of the VPC security groups that you specified when you created the Resolver endpoint.</p> </li> <li> <p> <code>Status</code>: The status of the Resolver endpoint. If you specify <code>Status</code> for <code>Name</code>, specify one of the following status codes for <code>Values</code>: <code>CREATING</code>, <code>OPERATIONAL</code>, <code>UPDATING</code>, <code>AUTO_RECOVERING</code>, <code>ACTION_NEEDED</code>, or <code>DELETING</code>. For more information, see <code>Status</code> in <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ResolverEndpoint.html\">ResolverEndpoint</a>.</p> </li> </ul> <p> <b>ListResolverRules</b> </p> <p>Valid values for <code>Name</code> include the following:</p> <ul> <li> <p> <code>CreatorRequestId</code>: The value that you specified when you created the Resolver rule.</p> </li> <li> <p> <code>DomainName</code>: The domain name for which Resolver is forwarding DNS queries to your network. In the value that you specify for <code>Values</code>, include a trailing dot (.) after the domain name. For example, if the domain name is example.com, specify the following value. Note the \".\" after <code>com</code>:</p> <p> <code>example.com.</code> </p> </li> <li> <p> <code>Name</code>: The name of the Resolver rule.</p> </li> <li> <p> <code>ResolverEndpointId</code>: The ID of the Resolver endpoint that the Resolver rule is associated with.</p> <note> <p>You can filter on the Resolver endpoint only for rules that have a value of <code>FORWARD</code> for <code>RuleType</code>.</p> </note> </li> <li> <p> <code>Status</code>: The status of the Resolver rule. If you specify <code>Status</code> for <code>Name</code>, specify one of the following status codes for <code>Values</code>: <code>COMPLETE</code>, <code>DELETING</code>, <code>UPDATING</code>, or <code>FAILED</code>.</p> </li> <li> <p> <code>Type</code>: The type of the Resolver rule. If you specify <code>TYPE</code> for <code>Name</code>, specify <code>FORWARD</code> or <code>SYSTEM</code> for <code>Values</code>.</p> </li> </ul> <p> <b>ListResolverRuleAssociati
[...]
