body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  padding: 0; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px 0; }

h1 {
  margin-top: 40px; }

#tree, #headings {
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 290px;
  padding: 10px 0;
  overflow: auto; }

#sidebar_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  overflow: hidden; }

#sidebar_switch {
  position: absolute;
  top: 0;
  left: 0;
  width: 290px;
  height: 29px;
  border-bottom: 1px solid; }
  #sidebar_switch span {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 29px;
    cursor: pointer; }
  #sidebar_switch .selected {
    font-weight: bold; }

.slidey #sidebar_wrapper {
  -webkit-transition: width 250ms linear;
  -moz-transition: width 250ms linear;
  -ms-transition: width 250ms linear;
  -o-transition: width 250ms linear;
  transition: width 250ms linear; }

.sidebar #sidebar_wrapper {
  width: 290px; }

#tree .nodename {
  text-indent: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAg0lEQVQYlWNIS0tbAcSK////Z8CHGTIzM7+mp6d/ASouwqswKyvrO1DRfyg+CcRaxCgE4Z9A3AjEbIQUgjHQOQvwKgS6+ffChQt3AiUDcCqsra29d/v27R6ghCVWN2ZnZ/9YuXLlRqBAPBALYvVMR0fHmQcPHrQBOUZ4gwfqFj5CAQ4Al6wLIYDwo9QAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer; }
#tree .open > .nodename {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAlElEQVQYlWNIS0tbCsT/8eCN////Z2B49OhRfHZ29jdsioDiP27evJkNVggkONeuXbscm8Jly5atA8rzwRSCsG5DQ8MtZEU1NTUPgOLGUHm4QgaQFVlZWT9BijIzM39fuHChDCaHohBkBdCq9SCF8+bN2wHkC+FSCMLGkyZNOvb9+3dbNHEMhSDsDsRMxCjEiolWCADeUBHgU/IGQQAAAABJRU5ErkJggg==);
  background-position: left 7px; }
#tree .dir, #tree .file {
  position: relative;
  min-height: 20px;
  line-height: 20px;
  padding-left: 12px; }
  #tree .dir > .children, #tree .file > .children {
    display: none; }
  #tree .dir.open > .children, #tree .file.open > .children {
    display: block; }
#tree .file {
  padding-left: 24px;
  display: block;
  text-decoration: none; }
#tree > .dir {
  padding-left: 0; }

#headings .heading a {
  text-decoration: none;
  padding-left: 10px;
  display: block; }
#headings .h1 {
  padding-left: 0;
  margin-top: 10px;
  font-size: 1.3em; }
#headings .h2 {
  padding-left: 10px;
  margin-top: 8px;
  font-size: 1.1em; }
#headings .h3 {
  padding-left: 20px;
  margin-top: 5px;
  font-size: 1em; }
#headings .h4 {
  padding-left: 30px;
  margin-top: 3px;
  font-size: 0.9em; }
#headings .h5 {
  padding-left: 40px;
  margin-top: 1px;
  font-size: 0.8em; }
#headings .h6 {
  padding-left: 50px;
  font-size: 0.75em; }

#sidebar-toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: 5px;
  bottom: 0;
  z-index: 2;
  cursor: pointer; }
  #sidebar-toggle:hover {
    width: 10px; }

.slidey #sidebar-toggle, .slidey #container {
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -ms-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear; }

.sidebar #sidebar-toggle {
  left: 290px; }

#container {
  position: fixed;
  left: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto; }

.sidebar #container {
  left: 295px; }

.no-sidebar #sidebar_wrapper, .no-sidebar #sidebar-toggle {
  display: none; }
.no-sidebar #container {
  left: 0; }

#page {
  padding-top: 40px; }

table td {
  border: 0;
  outline: 0; }

.docs.markdown {
  padding: 10px 50px; }

td.docs {
  max-width: 450px;
  min-width: 450px;
  min-height: 5px;
  padding: 10px 25px 1px 50px;
  overflow-x: hidden;
  vertical-align: top;
  text-align: left; }

.docs pre {
  margin: 15px 0 15px;
  padding: 5px;
  padding-left: 10px;
  border: 1px solid;
  font-size: 12px;
  overflow: auto; }
  .docs pre.code_stats {
    font-size: 60%; }
.docs p tt, .docs p code, .docs li tt, .docs li code {
  border: 1px solid;
  font-size: 12px;
  padding: 0 0.2em; }

.dox {
  border-top: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px; }
  .dox .details {
    padding: 10px;
    border: 1px solid;
    margin-bottom: 10px; }
  .dox .dox_tag_title {
    font-weight: bold; }
  .dox .dox_tag_detail {
    margin-left: 10px; }
    .dox .dox_tag_detail span {
      margin-right: 5px; }
  .dox .dox_type {
    font-style: italic; }
  .dox .dox_tag_name {
    font-weight: bold; }

.pilwrap {
  position: relative;
  padding-top: 1px; }
  .pilwrap .pilcrow {
    font: 12px Arial;
    text-decoration: none;
    color: #454545;
    position: absolute;
    top: 3px;
    left: -20px;
    padding: 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
  .pilwrap:hover .pilcrow {
    opacity: 1; }

td.code {
  padding: 8px 15px 8px 25px;
  width: 100%;
  vertical-align: top;
  border-left: 1px solid; }

.background {
  border-left: 1px solid;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 525px; }

pre, tt, code {
  font-size: 12px;
  line-height: 18px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0;
  white-space: pre-wrap; }

.line-num {
  display: inline-block;
  width: 50px;
  text-align: right;
  opacity: 0.3;
  margin-left: -20px;
  text-decoration: none; }

/* All the stuff that can depend on colour scheme goes below here: */
body {
  background: white;
  color: #2f2f24; }

a {
  color: #261a3b; }
  a:visited {
    color: #261a3b; }

#sidebar_wrapper {
  background: #f4f4f3; }

#sidebar_switch {
  background: #ededec;
  border-bottom-color: #dededc; }
  #sidebar_switch span {
    color: #2d2d22; }
  #sidebar_switch span:hover {
    background: #f4f4f3; }
  #sidebar_switch .selected {
    background: #fafafa;
    color: #252519; }

#tree .file {
  color: #252519; }

#headings .heading a {
  color: #252519; }

#sidebar-toggle {
  background: #e9e9e8; }
  #sidebar-toggle:hover {
    background: #dededc; }

.docs.markdown {
  background: white; }
.docs pre {
  border-color: #dededc; }
.docs p tt, .docs p code, .docs li tt, .docs li code {
  border-color: #dededc;
  background: #f4f4f3; }

.highlight {
  background: #f4f4f3;
  color: auto; }

.dox {
  border-top-color: #e6e6e4; }
  .dox .details {
    background: #f4f4f3;
    border-color: #dededc; }

.pilwrap .pilcrow {
  color: #3a3a2f; }

td.code, .background {
  border-left-color: #dededc; }

td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .highlight .hll { background-color: #ffffcc }
body .highlight  { background: #f8f8f8; }
body .highlight .c { color: #408080; font-style: italic } /* Comment */
body .highlight .err { border: 1px solid #FF0000 } /* Error */
body .highlight .k { color: #008000; font-weight: bold } /* Keyword */
body .highlight .o { color: #666666 } /* Operator */
body .highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
body .highlight .cp { color: #BC7A00 } /* Comment.Preproc */
body .highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
body .highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
body .highlight .gd { color: #A00000 } /* Generic.Deleted */
body .highlight .ge { font-style: italic } /* Generic.Emph */
body .highlight .gr { color: #FF0000 } /* Generic.Error */
body .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .highlight .gi { color: #00A000 } /* Generic.Inserted */
body .highlight .go { color: #888888 } /* Generic.Output */
body .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
body .highlight .gs { font-weight: bold } /* Generic.Strong */
body .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .highlight .gt { color: #0044DD } /* Generic.Traceback */
body .highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
body .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
body .highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
body .highlight .kp { color: #008000 } /* Keyword.Pseudo */
body .highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
body .highlight .kt { color: #B00040 } /* Keyword.Type */
body .highlight .m { color: #666666 } /* Literal.Number */
body .highlight .s { color: #BA2121 } /* Literal.String */
body .highlight .na { color: #7D9029 } /* Name.Attribute */
body .highlight .nb { color: #008000 } /* Name.Builtin */
body .highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
body .highlight .no { color: #880000 } /* Name.Constant */
body .highlight .nd { color: #AA22FF } /* Name.Decorator */
body .highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
body .highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
body .highlight .nf { color: #0000FF } /* Name.Function */
body .highlight .nl { color: #A0A000 } /* Name.Label */
body .highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
body .highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
body .highlight .nv { color: #19177C } /* Name.Variable */
body .highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
body .highlight .w { color: #bbbbbb } /* Text.Whitespace */
body .highlight .mf { color: #666666 } /* Literal.Number.Float */
body .highlight .mh { color: #666666 } /* Literal.Number.Hex */
body .highlight .mi { color: #666666 } /* Literal.Number.Integer */
body .highlight .mo { color: #666666 } /* Literal.Number.Oct */
body .highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
body .highlight .sc { color: #BA2121 } /* Literal.String.Char */
body .highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
body .highlight .s2 { color: #BA2121 } /* Literal.String.Double */
body .highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
body .highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
body .highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
body .highlight .sx { color: #008000 } /* Literal.String.Other */
body .highlight .sr { color: #BB6688 } /* Literal.String.Regex */
body .highlight .s1 { color: #BA2121 } /* Literal.String.Single */
body .highlight .ss { color: #19177C } /* Literal.String.Symbol */
body .highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
body .highlight .vc { color: #19177C } /* Name.Variable.Class */
body .highlight .vg { color: #19177C } /* Name.Variable.Global */
body .highlight .vi { color: #19177C } /* Name.Variable.Instance */
body .highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

  