{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-11-27",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"qbusiness",
    "protocol":"rest-json",
    "protocolSettings":{"h2":"eventstream"},
    "protocols":["rest-json"],
    "serviceFullName":"QBusiness",
    "serviceId":"QBusiness",
    "signatureVersion":"v4",
    "signingName":"qbusiness",
    "uid":"qbusiness-2023-11-27"
  },
  "operations":{
    "AssociatePermission":{
      "name":"AssociatePermission",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/policy",
        "responseCode":200
      },
      "input":{"shape":"AssociatePermissionRequest"},
      "output":{"shape":"AssociatePermissionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Adds or updates a permission policy for a Amazon Q Business application, allowing cross-account access for an ISV. This operation creates a new policy statement for the specified Amazon Q Business application. The policy statement defines the IAM actions that the ISV is allowed to perform on the Amazon Q Business application's resources.</p>"
    },
    "BatchDeleteDocument":{
      "name":"BatchDeleteDocument",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/documents/delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteDocumentRequest"},
      "output":{"shape":"BatchDeleteDocumentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Asynchronously deletes one or more documents added using the <code>BatchPutDocument</code> API from an Amazon Q Business index.</p> <p>You can see the progress of the deletion, and any error messages related to the process, by using CloudWatch.</p>"
    },
    "BatchPutDocument":{
      "name":"BatchPutDocument",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/documents",
        "responseCode":200
      },
      "input":{"shape":"BatchPutDocumentRequest"},
      "output":{"shape":"BatchPutDocumentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Adds one or more documents to an Amazon Q Business index.</p> <p>You use this API to:</p> <ul> <li> <p>ingest your structured and unstructured documents and documents stored in an Amazon S3 bucket into an Amazon Q Business index.</p> </li> <li> <p>add custom attributes to documents in an Amazon Q Business index.</p> </li> <li> <p>attach an access control list to the documents added to an Amazon Q Business index.</p> </li> </ul> <p>You can see the progress of the deletion, and any error messages related to the process, by using CloudWatch.</p>"
    },
    "CancelSubscription":{
      "name":"CancelSubscription",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/subscriptions/{subscriptionId}",
        "responseCode":200
      },
      "input":{"shape":"CancelSubscriptionRequest"},
      "output":{"shape":"CancelSubscriptionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Unsubscribes a user or a group from their pricing tier in an Amazon Q Business application. An unsubscribed user or group loses all Amazon Q Business feature access at the start of next month. </p>",
      "idempotent":true
    },
    "Chat":{
      "name":"Chat",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/conversations",
        "responseCode":200
      },
      "input":{"shape":"ChatInput"},
      "output":{"shape":"ChatOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ExternalResourceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts or continues a streaming Amazon Q Business conversation.</p>"
    },
    "ChatSync":{
      "name":"ChatSync",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/conversations?sync",
        "responseCode":200
      },
      "input":{"shape":"ChatSyncInput"},
      "output":{"shape":"ChatSyncOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ExternalResourceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts or continues a non-streaming Amazon Q Business conversation.</p>"
    },
    "CheckDocumentAccess":{
      "name":"CheckDocumentAccess",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/index/{indexId}/users/{userId}/documents/{documentId}/check-document-access",
        "responseCode":200
      },
      "input":{"shape":"CheckDocumentAccessRequest"},
      "output":{"shape":"CheckDocumentAccessResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Verifies if a user has access permissions for a specified document and returns the actual ACL attached to the document. Resolves user access on the document via user aliases and groups when verifying user access.</p>"
    },
    "CreateAnonymousWebExperienceUrl":{
      "name":"CreateAnonymousWebExperienceUrl",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/experiences/{webExperienceId}/anonymous-url",
        "responseCode":200
      },
      "input":{"shape":"CreateAnonymousWebExperienceUrlRequest"},
      "output":{"shape":"CreateAnonymousWebExperienceUrlResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a unique URL for anonymous Amazon Q Business web experience. This URL can only be used once and must be used within 5 minutes after it's generated.</p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/applications",
        "responseCode":200
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Q Business application.</p> <note> <p>There are new tiers for Amazon Q Business. Not all features in Amazon Q Business Pro are also available in Amazon Q Business Lite. For information on what's included in Amazon Q Business Lite and what's included in Amazon Q Business Pro, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/tiers.html#user-sub-tiers\">Amazon Q Business tiers</a>. You must use the Amazon Q Business console to assign subscription tiers to users. </p> <p>An Amazon Q Apps service linked role will be created if it's absent in the Amazon Web Services account when <code>QAppsConfiguration</code> is enabled in the request. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/using-service-linked-roles-qapps.html\"> Using service-linked roles for Q Apps</a>.</p> <p>When you create an application, Amazon Q Business may securely transmit data for processing from your selected Amazon Web Services region, but within your geography. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/cross-region-inference.html\">Cross region inference in Amazon Q Business</a>.</p> </note>",
      "idempotent":true
    },
    "CreateChatResponseConfiguration":{
      "name":"CreateChatResponseConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/chatresponseconfigurations",
        "responseCode":200
      },
      "input":{"shape":"CreateChatResponseConfigurationRequest"},
      "output":{"shape":"CreateChatResponseConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new chat response configuration for an Amazon Q Business application. This operation establishes a set of parameters that define how the system generates and formats responses to user queries in chat interactions.</p>",
      "idempotent":true
    },
    "CreateDataAccessor":{
      "name":"CreateDataAccessor",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/dataaccessors",
        "responseCode":200
      },
      "input":{"shape":"CreateDataAccessorRequest"},
      "output":{"shape":"CreateDataAccessorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new data accessor for an ISV to access data from a Amazon Q Business application. The data accessor is an entity that represents the ISV's access to the Amazon Q Business application's data. It includes the IAM role ARN for the ISV, a friendly name, and a set of action configurations that define the specific actions the ISV is allowed to perform and any associated data filters. When the data accessor is created, an IAM Identity Center application is also created to manage the ISV's identity and authentication for accessing the Amazon Q Business application.</p>",
      "idempotent":true
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources",
        "responseCode":200
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a data source connector for an Amazon Q Business application.</p> <p> <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the data source was successfully created. Otherwise, an exception is raised.</p>",
      "idempotent":true
    },
    "CreateIndex":{
      "name":"CreateIndex",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices",
        "responseCode":200
      },
      "input":{"shape":"CreateIndexRequest"},
      "output":{"shape":"CreateIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Q Business index.</p> <p>To determine if index creation has completed, check the <code>Status</code> field returned from a call to <code>DescribeIndex</code>. The <code>Status</code> field is set to <code>ACTIVE</code> when the index is ready to use.</p> <p>Once the index is active, you can index your documents using the <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_BatchPutDocument.html\"> <code>BatchPutDocument</code> </a> API or the <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_CreateDataSource.html\"> <code>CreateDataSource</code> </a> API.</p>"
    },
    "CreatePlugin":{
      "name":"CreatePlugin",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/plugins",
        "responseCode":200
      },
      "input":{"shape":"CreatePluginRequest"},
      "output":{"shape":"CreatePluginResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Q Business plugin.</p>",
      "idempotent":true
    },
    "CreateRetriever":{
      "name":"CreateRetriever",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/retrievers",
        "responseCode":200
      },
      "input":{"shape":"CreateRetrieverRequest"},
      "output":{"shape":"CreateRetrieverResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Adds a retriever to your Amazon Q Business application.</p>"
    },
    "CreateSubscription":{
      "name":"CreateSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/subscriptions",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionRequest"},
      "output":{"shape":"CreateSubscriptionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Subscribes an IAM Identity Center user or a group to a pricing tier for an Amazon Q Business application.</p> <p>Amazon Q Business offers two subscription tiers: <code>Q_LITE</code> and <code>Q_BUSINESS</code>. Subscription tier determines feature access for the user. For more information on subscriptions and pricing tiers, see <a href=\"https://aws.amazon.com/q/business/pricing/\">Amazon Q Business pricing</a>.</p> <note> <p>For an example IAM role policy for assigning subscriptions, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/setting-up.html#permissions\">Set up required permissions</a> in the Amazon Q Business User Guide.</p> </note>",
      "idempotent":true
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/users",
        "responseCode":200
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a universally unique identifier (UUID) mapped to a list of local user ids within an application.</p>",
      "idempotent":true
    },
    "CreateWebExperience":{
      "name":"CreateWebExperience",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/experiences",
        "responseCode":200
      },
      "input":{"shape":"CreateWebExperienceRequest"},
      "output":{"shape":"CreateWebExperienceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Q Business web experience.</p>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q Business application.</p>",
      "idempotent":true
    },
    "DeleteAttachment":{
      "name":"DeleteAttachment",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/conversations/{conversationId}/attachments/{attachmentId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAttachmentRequest"},
      "output":{"shape":"DeleteAttachmentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an attachment associated with a specific Amazon Q Business conversation.</p>",
      "idempotent":true
    },
    "DeleteChatControlsConfiguration":{
      "name":"DeleteChatControlsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/chatcontrols",
        "responseCode":200
      },
      "input":{"shape":"DeleteChatControlsConfigurationRequest"},
      "output":{"shape":"DeleteChatControlsConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes chat controls configured for an existing Amazon Q Business application.</p>",
      "idempotent":true
    },
    "DeleteChatResponseConfiguration":{
      "name":"DeleteChatResponseConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/chatresponseconfigurations/{chatResponseConfigurationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteChatResponseConfigurationRequest"},
      "output":{"shape":"DeleteChatResponseConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a specified chat response configuration from an Amazon Q Business application.</p>",
      "idempotent":true
    },
    "DeleteConversation":{
      "name":"DeleteConversation",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/conversations/{conversationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteConversationRequest"},
      "output":{"shape":"DeleteConversationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q Business web experience conversation.</p>",
      "idempotent":true
    },
    "DeleteDataAccessor":{
      "name":"DeleteDataAccessor",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/dataaccessors/{dataAccessorId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataAccessorRequest"},
      "output":{"shape":"DeleteDataAccessorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a specified data accessor. This operation permanently removes the data accessor and its associated IAM Identity Center application. Any access granted to the ISV through this data accessor will be revoked.</p>",
      "idempotent":true
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q Business data source connector. While the data source is being deleted, the <code>Status</code> field returned by a call to the <code>DescribeDataSource</code> API is set to <code>DELETING</code>. </p>",
      "idempotent":true
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/groups/{groupName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a group so that all users and sub groups that belong to the group can no longer access documents only available to that group. For example, after deleting the group \"Summer Interns\", all interns who belonged to that group no longer see intern-only documents in their chat results. </p> <p>If you want to delete, update, or replace users or sub groups of a group, you need to use the <code>PutGroup</code> operation. For example, if a user in the group \"Engineering\" leaves the engineering team and another user takes their place, you provide an updated list of users or sub groups that belong to the \"Engineering\" group when calling <code>PutGroup</code>.</p>",
      "idempotent":true
    },
    "DeleteIndex":{
      "name":"DeleteIndex",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/indices/{indexId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteIndexRequest"},
      "output":{"shape":"DeleteIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q Business index.</p>",
      "idempotent":true
    },
    "DeletePlugin":{
      "name":"DeletePlugin",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/plugins/{pluginId}",
        "responseCode":200
      },
      "input":{"shape":"DeletePluginRequest"},
      "output":{"shape":"DeletePluginResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q Business plugin.</p>",
      "idempotent":true
    },
    "DeleteRetriever":{
      "name":"DeleteRetriever",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteRetrieverRequest"},
      "output":{"shape":"DeleteRetrieverResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the retriever used by an Amazon Q Business application.</p>",
      "idempotent":true
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a user by email id.</p>",
      "idempotent":true
    },
    "DeleteWebExperience":{
      "name":"DeleteWebExperience",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteWebExperienceRequest"},
      "output":{"shape":"DeleteWebExperienceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Amazon Q Business web experience.</p>",
      "idempotent":true
    },
    "DisassociatePermission":{
      "name":"DisassociatePermission",
      "http":{
        "method":"DELETE",
        "requestUri":"/applications/{applicationId}/policy/{statementId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePermissionRequest"},
      "output":{"shape":"DisassociatePermissionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes a permission policy from a Amazon Q Business application, revoking the cross-account access that was previously granted to an ISV. This operation deletes the specified policy statement from the application's permission policy.</p>",
      "idempotent":true
    },
    "GetApplication":{
      "name":"GetApplication",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"GetApplicationRequest"},
      "output":{"shape":"GetApplicationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q Business application.</p>"
    },
    "GetChatControlsConfiguration":{
      "name":"GetChatControlsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/chatcontrols",
        "responseCode":200
      },
      "input":{"shape":"GetChatControlsConfigurationRequest"},
      "output":{"shape":"GetChatControlsConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about chat controls configured for an existing Amazon Q Business application.</p>"
    },
    "GetChatResponseConfiguration":{
      "name":"GetChatResponseConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/chatresponseconfigurations/{chatResponseConfigurationId}",
        "responseCode":200
      },
      "input":{"shape":"GetChatResponseConfigurationRequest"},
      "output":{"shape":"GetChatResponseConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific chat response configuration from an Amazon Q Business application. This operation returns the complete configuration settings and metadata.</p>"
    },
    "GetDataAccessor":{
      "name":"GetDataAccessor",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/dataaccessors/{dataAccessorId}",
        "responseCode":200
      },
      "input":{"shape":"GetDataAccessorRequest"},
      "output":{"shape":"GetDataAccessorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about a specified data accessor. This operation returns details about the data accessor, including its display name, unique identifier, Amazon Resource Name (ARN), the associated Amazon Q Business application and IAM Identity Center application, the IAM role for the ISV, the action configurations, and the timestamps for when the data accessor was created and last updated.</p>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceRequest"},
      "output":{"shape":"GetDataSourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q Business data source connector.</p>"
    },
    "GetDocumentContent":{
      "name":"GetDocumentContent",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/index/{indexId}/documents/{documentId}/content",
        "responseCode":200
      },
      "input":{"shape":"GetDocumentContentRequest"},
      "output":{"shape":"GetDocumentContentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the content of a document that was ingested into Amazon Q Business. This API validates user authorization against document ACLs before returning a pre-signed URL for secure document access. You can download or view source documents referenced in chat responses through the URL.</p>"
    },
    "GetGroup":{
      "name":"GetGroup",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/groups/{groupName}",
        "responseCode":200
      },
      "input":{"shape":"GetGroupRequest"},
      "output":{"shape":"GetGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes a group by group name.</p>"
    },
    "GetIndex":{
      "name":"GetIndex",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}",
        "responseCode":200
      },
      "input":{"shape":"GetIndexRequest"},
      "output":{"shape":"GetIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q Business index.</p>"
    },
    "GetMedia":{
      "name":"GetMedia",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/conversations/{conversationId}/messages/{messageId}/media/{mediaId}",
        "responseCode":200
      },
      "input":{"shape":"GetMediaRequest"},
      "output":{"shape":"GetMediaResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"MediaTooLargeException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the image bytes corresponding to a media object. If you have implemented your own application with the Chat and ChatSync APIs, and have enabled content extraction from visual data in Amazon Q Business, you use the GetMedia API operation to download the images so you can show them in your UI with responses.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/extracting-meaning-from-images.html\">Extracting semantic meaning from images and visuals</a>.</p>"
    },
    "GetPlugin":{
      "name":"GetPlugin",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/plugins/{pluginId}",
        "responseCode":200
      },
      "input":{"shape":"GetPluginRequest"},
      "output":{"shape":"GetPluginResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q Business plugin.</p>"
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{"shape":"GetPolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the current permission policy for a Amazon Q Business application. The policy is returned as a JSON-formatted string and defines the IAM actions that are allowed or denied for the application's resources.</p>"
    },
    "GetRetriever":{
      "name":"GetRetriever",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode":200
      },
      "input":{"shape":"GetRetrieverRequest"},
      "output":{"shape":"GetRetrieverResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing retriever used by an Amazon Q Business application.</p>"
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"GetUserRequest"},
      "output":{"shape":"GetUserResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the universally unique identifier (UUID) associated with a local user in a data source.</p>"
    },
    "GetWebExperience":{
      "name":"GetWebExperience",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode":200
      },
      "input":{"shape":"GetWebExperienceRequest"},
      "output":{"shape":"GetWebExperienceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an existing Amazon Q Business web experience.</p>"
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"GET",
        "requestUri":"/applications",
        "responseCode":200
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists Amazon Q Business applications.</p> <note> <p>Amazon Q Business applications may securely transmit data for processing across Amazon Web Services Regions within your geography. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/cross-region-inference.html\">Cross region inference in Amazon Q Business</a>.</p> </note>"
    },
    "ListAttachments":{
      "name":"ListAttachments",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/attachments",
        "responseCode":200
      },
      "input":{"shape":"ListAttachmentsRequest"},
      "output":{"shape":"ListAttachmentsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a list of attachments associated with an Amazon Q Business web experience or a list of attachements associated with a specific Amazon Q Business conversation.</p>"
    },
    "ListChatResponseConfigurations":{
      "name":"ListChatResponseConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/chatresponseconfigurations",
        "responseCode":200
      },
      "input":{"shape":"ListChatResponseConfigurationsRequest"},
      "output":{"shape":"ListChatResponseConfigurationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of all chat response configurations available in a specified Amazon Q Business application. This operation returns summary information about each configuration to help administrators manage and select appropriate response settings.</p>"
    },
    "ListConversations":{
      "name":"ListConversations",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/conversations",
        "responseCode":200
      },
      "input":{"shape":"ListConversationsRequest"},
      "output":{"shape":"ListConversationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists one or more Amazon Q Business conversations.</p>"
    },
    "ListDataAccessors":{
      "name":"ListDataAccessors",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/dataaccessors",
        "responseCode":200
      },
      "input":{"shape":"ListDataAccessorsRequest"},
      "output":{"shape":"ListDataAccessorsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the data accessors for a Amazon Q Business application. This operation returns a paginated list of data accessor summaries, including the friendly name, unique identifier, ARN, associated IAM role, and creation/update timestamps for each data accessor.</p>"
    },
    "ListDataSourceSyncJobs":{
      "name":"ListDataSourceSyncJobs",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/syncjobs",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourceSyncJobsRequest"},
      "output":{"shape":"ListDataSourceSyncJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Get information about an Amazon Q Business data source connector synchronization.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the Amazon Q Business data source connectors that you have created.</p>"
    },
    "ListDocuments":{
      "name":"ListDocuments",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/index/{indexId}/documents",
        "responseCode":200
      },
      "input":{"shape":"ListDocumentsRequest"},
      "output":{"shape":"ListDocumentsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>A list of documents attached to an index.</p>"
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/groups",
        "responseCode":200
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Provides a list of groups that are mapped to users.</p>"
    },
    "ListIndices":{
      "name":"ListIndices",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/indices",
        "responseCode":200
      },
      "input":{"shape":"ListIndicesRequest"},
      "output":{"shape":"ListIndicesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the Amazon Q Business indices you have created.</p>"
    },
    "ListMessages":{
      "name":"ListMessages",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/conversations/{conversationId}",
        "responseCode":200
      },
      "input":{"shape":"ListMessagesRequest"},
      "output":{"shape":"ListMessagesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a list of messages associated with an Amazon Q Business web experience.</p>"
    },
    "ListPluginActions":{
      "name":"ListPluginActions",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/plugins/{pluginId}/actions",
        "responseCode":200
      },
      "input":{"shape":"ListPluginActionsRequest"},
      "output":{"shape":"ListPluginActionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists configured Amazon Q Business actions for a specific plugin in an Amazon Q Business application.</p>"
    },
    "ListPluginTypeActions":{
      "name":"ListPluginTypeActions",
      "http":{
        "method":"GET",
        "requestUri":"/pluginTypes/{pluginType}/actions",
        "responseCode":200
      },
      "input":{"shape":"ListPluginTypeActionsRequest"},
      "output":{"shape":"ListPluginTypeActionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists configured Amazon Q Business actions for any plugin type—both built-in and custom.</p>"
    },
    "ListPluginTypeMetadata":{
      "name":"ListPluginTypeMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/pluginTypeMetadata",
        "responseCode":200
      },
      "input":{"shape":"ListPluginTypeMetadataRequest"},
      "output":{"shape":"ListPluginTypeMetadataResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists metadata for all Amazon Q Business plugin types.</p>"
    },
    "ListPlugins":{
      "name":"ListPlugins",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/plugins",
        "responseCode":200
      },
      "input":{"shape":"ListPluginsRequest"},
      "output":{"shape":"ListPluginsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists configured Amazon Q Business plugins.</p>"
    },
    "ListRetrievers":{
      "name":"ListRetrievers",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/retrievers",
        "responseCode":200
      },
      "input":{"shape":"ListRetrieversRequest"},
      "output":{"shape":"ListRetrieversResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the retriever used by an Amazon Q Business application.</p>"
    },
    "ListSubscriptions":{
      "name":"ListSubscriptions",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/subscriptions",
        "responseCode":200
      },
      "input":{"shape":"ListSubscriptionsRequest"},
      "output":{"shape":"ListSubscriptionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists all subscriptions created in an Amazon Q Business application. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v1/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a list of tags associated with a specified resource. Amazon Q Business applications and data sources can have tags associated with them.</p>"
    },
    "ListWebExperiences":{
      "name":"ListWebExperiences",
      "http":{
        "method":"GET",
        "requestUri":"/applications/{applicationId}/experiences",
        "responseCode":200
      },
      "input":{"shape":"ListWebExperiencesRequest"},
      "output":{"shape":"ListWebExperiencesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists one or more Amazon Q Business Web Experiences.</p>"
    },
    "PutFeedback":{
      "name":"PutFeedback",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/conversations/{conversationId}/messages/{messageId}/feedback",
        "responseCode":200
      },
      "input":{"shape":"PutFeedbackRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables your end user to provide feedback on their Amazon Q Business generated chat responses.</p>"
    },
    "PutGroup":{
      "name":"PutGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/groups",
        "responseCode":200
      },
      "input":{"shape":"PutGroupRequest"},
      "output":{"shape":"PutGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create, or updates, a mapping of users—who have access to a document—to groups.</p> <p>You can also map sub groups to groups. For example, the group \"Company Intellectual Property Teams\" includes sub groups \"Research\" and \"Engineering\". These sub groups include their own list of users or people who work in these teams. Only users who work in research and engineering, and therefore belong in the intellectual property group, can see top-secret company documents in their Amazon Q Business chat results.</p> <p>There are two options for creating groups, either passing group members inline or using an S3 file via the S3PathForGroupMembers field. For inline groups, there is a limit of 1000 members per group and for provided S3 files there is a limit of 100 thousand members. When creating a group using an S3 file, you provide both an S3 file and a <code>RoleArn</code> for Amazon Q Buisness to access the file.</p>",
      "idempotent":true
    },
    "SearchRelevantContent":{
      "name":"SearchRelevantContent",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/relevant-content",
        "responseCode":200
      },
      "input":{"shape":"SearchRelevantContentRequest"},
      "output":{"shape":"SearchRelevantContentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LicenseNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Searches for relevant content in a Amazon Q Business application based on a query. This operation takes a search query text, the Amazon Q Business application identifier, and optional filters (such as content source and maximum results) as input. It returns a list of relevant content items, where each item includes the content text, the unique document identifier, the document title, the document URI, any relevant document attributes, and score attributes indicating the confidence level of the relevance.</p>"
    },
    "StartDataSourceSyncJob":{
      "name":"StartDataSourceSyncJob",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/startsync",
        "responseCode":200
      },
      "input":{"shape":"StartDataSourceSyncJobRequest"},
      "output":{"shape":"StartDataSourceSyncJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Starts a data source connector synchronization job. If a synchronization job is already in progress, Amazon Q Business returns a <code>ConflictException</code>.</p>"
    },
    "StopDataSourceSyncJob":{
      "name":"StopDataSourceSyncJob",
      "http":{
        "method":"POST",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}/stopsync",
        "responseCode":200
      },
      "input":{"shape":"StopDataSourceSyncJobRequest"},
      "output":{"shape":"StopDataSourceSyncJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Stops an Amazon Q Business data source connector synchronization job already in progress.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds the specified tag to the specified Amazon Q Business application or data source resource. If the tag already exists, the existing value is replaced with the new value.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes a tag from an Amazon Q Business application or a data source.</p>",
      "idempotent":true
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"UpdateApplicationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing Amazon Q Business application.</p> <note> <p>Amazon Q Business applications may securely transmit data for processing across Amazon Web Services Regions within your geography. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/cross-region-inference.html\">Cross region inference in Amazon Q Business</a>.</p> </note> <note> <p>An Amazon Q Apps service-linked role will be created if it's absent in the Amazon Web Services account when <code>QAppsConfiguration</code> is enabled in the request. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/using-service-linked-roles-qapps.html\">Using service-linked roles for Q Apps</a>. </p> </note>",
      "idempotent":true
    },
    "UpdateChatControlsConfiguration":{
      "name":"UpdateChatControlsConfiguration",
      "http":{
        "method":"PATCH",
        "requestUri":"/applications/{applicationId}/chatcontrols",
        "responseCode":200
      },
      "input":{"shape":"UpdateChatControlsConfigurationRequest"},
      "output":{"shape":"UpdateChatControlsConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates a set of chat controls configured for an existing Amazon Q Business application.</p>",
      "idempotent":true
    },
    "UpdateChatResponseConfiguration":{
      "name":"UpdateChatResponseConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/chatresponseconfigurations/{chatResponseConfigurationId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateChatResponseConfigurationRequest"},
      "output":{"shape":"UpdateChatResponseConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing chat response configuration in an Amazon Q Business application. This operation allows administrators to modify configuration settings, display name, and response parameters to refine how the system generates responses.</p>",
      "idempotent":true
    },
    "UpdateDataAccessor":{
      "name":"UpdateDataAccessor",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/dataaccessors/{dataAccessorId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataAccessorRequest"},
      "output":{"shape":"UpdateDataAccessorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing data accessor. This operation allows modifying the action configurations (the allowed actions and associated filters) and the display name of the data accessor. It does not allow changing the IAM role associated with the data accessor or other core properties of the data accessor.</p>",
      "idempotent":true
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/indices/{indexId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing Amazon Q Business data source connector.</p>",
      "idempotent":true
    },
    "UpdateIndex":{
      "name":"UpdateIndex",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/indices/{indexId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateIndexRequest"},
      "output":{"shape":"UpdateIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an Amazon Q Business index.</p>",
      "idempotent":true
    },
    "UpdatePlugin":{
      "name":"UpdatePlugin",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/plugins/{pluginId}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePluginRequest"},
      "output":{"shape":"UpdatePluginResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an Amazon Q Business plugin.</p>",
      "idempotent":true
    },
    "UpdateRetriever":{
      "name":"UpdateRetriever",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/retrievers/{retrieverId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRetrieverRequest"},
      "output":{"shape":"UpdateRetrieverResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates the retriever used for your Amazon Q Business application.</p>",
      "idempotent":true
    },
    "UpdateSubscription":{
      "name":"UpdateSubscription",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/subscriptions/{subscriptionId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSubscriptionRequest"},
      "output":{"shape":"UpdateSubscriptionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the pricing tier for an Amazon Q Business subscription. Upgrades are instant. Downgrades apply at the start of the next month. Subscription tier determines feature access for the user. For more information on subscriptions and pricing tiers, see <a href=\"https://aws.amazon.com/q/business/pricing/\">Amazon Q Business pricing</a>.</p>",
      "idempotent":true
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates a information associated with a user id.</p>",
      "idempotent":true
    },
    "UpdateWebExperience":{
      "name":"UpdateWebExperience",
      "http":{
        "method":"PUT",
        "requestUri":"/applications/{applicationId}/experiences/{webExperienceId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateWebExperienceRequest"},
      "output":{"shape":"UpdateWebExperienceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an Amazon Q Business web experience. </p>",
      "idempotent":true
    }
  },
  "shapes":{
    "APISchema":{
      "type":"structure",
      "members":{
        "payload":{
          "shape":"Payload",
          "documentation":"<p>The JSON or YAML-formatted payload defining the OpenAPI schema for a custom plugin. </p>"
        },
        "s3":{
          "shape":"S3",
          "documentation":"<p>Contains details about the S3 object containing the OpenAPI schema for a custom plugin. The schema could be in either JSON or YAML format.</p>"
        }
      },
      "documentation":"<p>Contains details about the OpenAPI schema for a custom plugin. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/custom-plugin.html#plugins-api-schema\">custom plugin OpenAPI schemas</a>. You can either include the schema directly in the payload field or you can upload it to an S3 bucket and specify the S3 bucket location in the <code>s3</code> field. </p>",
      "union":true
    },
    "APISchemaType":{
      "type":"string",
      "enum":["OPEN_API_V3"]
    },
    "AccessConfiguration":{
      "type":"structure",
      "required":["accessControls"],
      "members":{
        "accessControls":{
          "shape":"AccessControls",
          "documentation":"<p>A list of <code>AccessControlList</code> objects.</p>"
        },
        "memberRelation":{
          "shape":"MemberRelation",
          "documentation":"<p>Describes the member relation within the <code>AccessControlList</code> object.</p>"
        }
      },
      "documentation":"<p>Used to configure access permissions for a document.</p>"
    },
    "AccessControl":{
      "type":"structure",
      "required":["principals"],
      "members":{
        "principals":{
          "shape":"Principals",
          "documentation":"<p>Contains a list of principals, where a principal can be either a <code>USER</code> or a <code>GROUP</code>. Each principal can be have the following type of document access: <code>ALLOW</code> or <code>DENY</code>.</p>"
        },
        "memberRelation":{
          "shape":"MemberRelation",
          "documentation":"<p>Describes the member relation within a principal list.</p>"
        }
      },
      "documentation":"<p>A list of principals. Each principal can be either a <code>USER</code> or a <code>GROUP</code> and can be designated document access permissions of either <code>ALLOW</code> or <code>DENY</code>.</p>"
    },
    "AccessControls":{
      "type":"list",
      "member":{"shape":"AccessControl"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> You don't have access to perform this action. Make sure you have the required permission policies and user accounts and try again.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionConfiguration":{
      "type":"structure",
      "required":["action"],
      "members":{
        "action":{
          "shape":"QIamAction",
          "documentation":"<p>The Amazon Q Business action that is allowed.</p>"
        },
        "filterConfiguration":{
          "shape":"ActionFilterConfiguration",
          "documentation":"<p>The filter configuration for the action, if any.</p>"
        }
      },
      "documentation":"<p>Specifies an allowed action and its associated filter configuration.</p>"
    },
    "ActionConfigurationList":{
      "type":"list",
      "member":{"shape":"ActionConfiguration"},
      "max":10,
      "min":1
    },
    "ActionExecution":{
      "type":"structure",
      "required":[
        "pluginId",
        "payload",
        "payloadFieldNameSeparator"
      ],
      "members":{
        "pluginId":{
          "shape":"PluginId",
          "documentation":"<p>The identifier of the plugin the action is attached to.</p>"
        },
        "payload":{
          "shape":"ActionExecutionPayload",
          "documentation":"<p>A mapping of field names to the field values in input that an end user provides to Amazon Q Business requests to perform their plugin action. </p>"
        },
        "payloadFieldNameSeparator":{
          "shape":"ActionPayloadFieldNameSeparator",
          "documentation":"<p>A string used to retain information about the hierarchical contexts within an action execution event payload.</p>"
        }
      },
      "documentation":"<p>Performs an Amazon Q Business plugin action during a non-streaming chat conversation.</p>"
    },
    "ActionExecutionEvent":{
      "type":"structure",
      "required":[
        "pluginId",
        "payload",
        "payloadFieldNameSeparator"
      ],
      "members":{
        "pluginId":{
          "shape":"PluginId",
          "documentation":"<p>The identifier of the plugin for which the action is being requested.</p>"
        },
        "payload":{
          "shape":"ActionExecutionPayload",
          "documentation":"<p>A mapping of field names to the field values in input that an end user provides to Amazon Q Business requests to perform their plugin action. </p>"
        },
        "payloadFieldNameSeparator":{
          "shape":"ActionPayloadFieldNameSeparator",
          "documentation":"<p>A string used to retain information about the hierarchical contexts within a action execution event payload.</p>"
        }
      },
      "documentation":"<p>A request from an end user signalling an intent to perform an Amazon Q Business plugin action during a streaming chat.</p>",
      "event":true
    },
    "ActionExecutionPayload":{
      "type":"map",
      "key":{"shape":"ActionPayloadFieldKey"},
      "value":{"shape":"ActionExecutionPayloadField"}
    },
    "ActionExecutionPayloadField":{
      "type":"structure",
      "required":["value"],
      "members":{
        "value":{
          "shape":"ActionPayloadFieldValue",
          "documentation":"<p>The content of a user input field in an plugin action execution payload.</p>"
        }
      },
      "documentation":"<p>A user input field in an plugin action execution payload.</p>"
    },
    "ActionFilterConfiguration":{
      "type":"structure",
      "required":["documentAttributeFilter"],
      "members":{
        "documentAttributeFilter":{"shape":"AttributeFilter"}
      },
      "documentation":"<p>Specifies filters to apply to an allowed action.</p>"
    },
    "ActionPayloadFieldKey":{
      "type":"string",
      "min":1
    },
    "ActionPayloadFieldNameSeparator":{
      "type":"string",
      "max":1,
      "min":1
    },
    "ActionPayloadFieldType":{
      "type":"string",
      "enum":[
        "STRING",
        "NUMBER",
        "ARRAY",
        "BOOLEAN"
      ]
    },
    "ActionPayloadFieldValue":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "ActionReview":{
      "type":"structure",
      "members":{
        "pluginId":{
          "shape":"PluginId",
          "documentation":"<p>The identifier of the plugin associated with the action review.</p>"
        },
        "pluginType":{
          "shape":"PluginType",
          "documentation":"<p>The type of plugin.</p>"
        },
        "payload":{
          "shape":"ActionReviewPayload",
          "documentation":"<p>Field values that an end user needs to provide to Amazon Q Business for Amazon Q Business to perform the requested plugin action.</p>"
        },
        "payloadFieldNameSeparator":{
          "shape":"ActionPayloadFieldNameSeparator",
          "documentation":"<p>A string used to retain information about the hierarchical contexts within an action review payload.</p>"
        }
      },
      "documentation":"<p>An output event that Amazon Q Business returns to an user who wants to perform a plugin action during a non-streaming chat conversation. It contains information about the selected action with a list of possible user input fields, some pre-populated by Amazon Q Business.</p>"
    },
    "ActionReviewEvent":{
      "type":"structure",
      "members":{
        "conversationId":{
          "shape":"ConversationId",
          "documentation":"<p>The identifier of the conversation with which the action review event is associated.</p>"
        },
        "userMessageId":{
          "shape":"MessageId",
          "documentation":"<p>The identifier of the conversation with which the plugin action is associated.</p>"
        },
        "systemMessageId":{
          "shape":"MessageId",
          "documentation":"<p>The identifier of an Amazon Q Business AI generated associated with the action review event.</p>"
        },
        "pluginId":{
          "shape":"PluginId",
          "documentation":"<p>The identifier of the plugin associated with the action review event.</p>"
        },
        "pluginType":{
          "shape":"PluginType",
          "documentation":"<p>The type of plugin.</p>"
        },
        "payload":{
          "shape":"ActionReviewPayload",
          "documentation":"<p>Field values that an end user needs to provide to Amazon Q Business for Amazon Q Business to perform the requested plugin action.</p>"
        },
        "payloadFieldNameSeparator":{
          "shape":"ActionPayloadFieldNameSeparator",
          "documentation":"<p>A string used to retain information about the hierarchical contexts within an action review event payload.</p>"
        }
      },
      "documentation":"<p>An output event that Amazon Q Business returns to an user who wants to perform a plugin action during a streaming chat conversation. It contains information about the selected action with a list of possible user input fields, some pre-populated by Amazon Q Business. </p>",
      "event":true
    },
    "ActionReviewPayload":{
      "type":"map",
      "key":{"shape":"ActionPayloadFieldKey"},
      "value":{"shape":"ActionReviewPayloadField"}
    },
    "ActionReviewPayloadField":{
      "type":"structure",
      "members":{
        "displayName":{
          "shape":"String",
          "documentation":"<p> The name of the field. </p>"
        },
        "displayOrder":{
          "shape":"Integer",
          "documentation":"<p>The display order of fields in a payload.</p>"
        },
        "displayDescription":{
          "shape":"String",
          "documentation":"<p>The field level description of each action review input field. This could be an explanation of the field. In the Amazon Q Business web experience, these descriptions could be used to display as tool tips to help users understand the field. </p>"
        },
        "type":{
          "shape":"ActionPayloadFieldType",
          "documentation":"<p>The type of field. </p>"
        },
        "value":{
          "shape":"ActionPayloadFieldValue",
          "documentation":"<p>The field value.</p>"
        },
        "allowedValues":{
          "shape":"ActionReviewPayloadFieldAllowedValues",
          "documentation":"<p>Information about the field values that an end user can use to provide to Amazon Q Business for Amazon Q Business to perform the requested plugin action.</p>"
        },
        "allowedFormat":{
          "shape":"String",
          "documentation":"<p>The expected data format for the action review input field value. For example, in PTO request, <code>from</code> and <code>to</code> would be of <code>datetime</code> allowed format. </p>"
        },
        "arrayItemJsonSchema":{
          "shape":"ActionReviewPayloadFieldArrayItemJsonSchema",
          "documentation":"<p>Use to create a custom form with array fields (fields with nested objects inside an array).</p>"
        },
        "required":{
          "shape":"Boolean",
          "documentation":"<p>Information about whether the field is required.</p>"
        }
      },
      "documentation":"<p>A user input field in an plugin action review payload.</p>"
    },
    "ActionReviewPayloadFieldAllowedValue":{
      "type":"structure",
      "members":{
        "value":{
          "shape":"ActionPayloadFieldValue",
          "documentation":"<p>The field value.</p>"
        },
        "displayValue":{
          "shape":"ActionPayloadFieldValue",
          "documentation":"<p>The name of the field.</p>"
        }
      },
      "documentation":"<p>Information about the field values that an end user can use to provide to Amazon Q Business for Amazon Q Business to perform the requested plugin action.</p>"
    },
    "ActionReviewPayloadFieldAllowedValues":{
      "type":"list",
      "member":{"shape":"ActionReviewPayloadFieldAllowedValue"}
    },
    "ActionReviewPayloadFieldArrayItemJsonSchema":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "ActionSummary":{
      "type":"structure",
      "members":{
        "actionIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of an Amazon Q Business plugin action.</p>"
        },
        "displayName":{
          "shape":"String",
          "documentation":"<p>The display name assigned by Amazon Q Business to a plugin action. You can't modify this value.</p>"
        },
        "instructionExample":{
          "shape":"String",
          "documentation":"<p>An Amazon Q Business suggested prompt and end user can use to invoke a plugin action. This value can be modified and sent as input to initiate an action. For example:</p> <ul> <li> <p>Create a Jira task</p> </li> <li> <p>Create a chat assistant task to find the root cause of a specific incident</p> </li> </ul>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>The description of an Amazon Q Business plugin action.</p>"
        }
      },
      "documentation":"<p>Summary information for an Amazon Q Business plugin action.</p>"
    },
    "Actions":{
      "type":"list",
      "member":{"shape":"ActionSummary"}
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "Application":{
      "type":"structure",
      "members":{
        "displayName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the Amazon Q Business application.</p>"
        },
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The identifier for the Amazon Q Business application.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp when the Amazon Q Business application was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp when the Amazon Q Business application was last updated. </p>"
        },
        "status":{
          "shape":"ApplicationStatus",
          "documentation":"<p>The status of the Amazon Q Business application. The application is ready to use when the status is <code>ACTIVE</code>.</p>"
        },
        "identityType":{
          "shape":"IdentityType",
          "documentation":"<p>The authentication type being used by a Amazon Q Business application.</p>"
        },
        "quickSightConfiguration":{
          "shape":"QuickSightConfiguration",
          "documentation":"<p>The Amazon QuickSight configuration for an Amazon Q Business application that uses QuickSight as the identity provider.</p>"
        }
      },
      "documentation":"<p>Summary information for an Amazon Q Business application.</p>"
    },
    "ApplicationArn":{
      "type":"string",
      "max":1284,
      "min":0,
      "pattern":"arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
    },
    "ApplicationId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9-]{35}"
    },
    "ApplicationName":{
      "type":"string",
      "max":1000,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*"
    },
    "ApplicationStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING"
      ]
    },
    "Applications":{
      "type":"list",
      "member":{"shape":"Application"}
    },
    "AppliedAttachmentsConfiguration":{
      "type":"structure",
      "members":{
        "attachmentsControlMode":{
          "shape":"AttachmentsControlMode",
          "documentation":"<p>Information about whether file upload during chat functionality is activated for your application.</p>"
        }
      },
      "documentation":"<p>Configuration information about the file upload during chat feature for your application.</p>"
    },
    "AppliedCreatorModeConfiguration":{
      "type":"structure",
      "required":["creatorModeControl"],
      "members":{
        "creatorModeControl":{
          "shape":"CreatorModeControl",
          "documentation":"<p> Information about whether creator mode is enabled or disabled for an Amazon Q Business application. </p>"
        }
      },
      "documentation":"<p>The creator mode specific admin controls configured for an Amazon Q Business application. Determines whether an end user can generate LLM-only responses when they use the web experience.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/guardrails.html\">Admin controls and guardrails</a> and <a href=\"https://docs.aws.amazon.com/amazonq/latest/business-use-dg/using-web-experience.html#chat-source-scope\">Conversation settings</a>.</p>"
    },
    "AppliedOrchestrationConfiguration":{
      "type":"structure",
      "required":["control"],
      "members":{
        "control":{
          "shape":"OrchestrationControl",
          "documentation":"<p> Information about whether chat orchestration is enabled or disabled for an Amazon Q Business application. </p>"
        }
      },
      "documentation":"<p>The chat orchestration specific admin controls configured for an Amazon Q Business application. Determines whether Amazon Q Business automatically routes chat requests across configured plugins and data sources in your Amazon Q Business application.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/guardrails-global-controls.html#guardrails-global-orchestration\">Chat orchestration settings</a>.</p>"
    },
    "AssociatePermissionRequest":{
      "type":"structure",
      "required":[
        "applicationId",
        "statementId",
        "actions",
        "principal"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The unique identifier of the Amazon Q Business application.</p>",
          "location":"uri",
          "locationName":"applicationId"
        },
        "statementId":{
          "shape":"StatementId",
          "documentation":"<p>A unique identifier for the policy statement.</p>"
        },
        "actions":{
          "shape":"QIamActions",
          "documentation":"<p>The list of Amazon Q Business actions that the ISV is allowed to perform.</p>"
        },
        "conditions":{
          "shape":"PermissionConditions",
          "documentation":"<p>The conditions that restrict when the permission is effective. These conditions can be used to limit the permission based on specific attributes of the request.</p>"
        },
        "principal":{
          "shape":"PrincipalRoleArn",
          "documentation":"<p>The Amazon Resource Name of the IAM role for the ISV that is being granted permission.</p>"
        }
      }
    },
    "AssociatePermissionResponse":{
      "type":"structure",
      "members":{
        "statement":{
          "shape":"String",
          "documentation":"<p>The JSON representation of the added permission statement.</p>"
        }
      }
    },
    "AssociatedGroup":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"GroupName",
          "documentation":"<p>The name of the group associated with the user. This is used to identify the group in access control decisions.</p>"
        },
        "type":{
          "shape":"MembershipType",
          "documentation":"<p>The type of the associated group. This indicates the scope of the group's applicability.</p>"
        }
      },
      "documentation":"<p>Represents a group associated with a given user in the access control system.</p>"
    },
    "AssociatedGroups":{
      "type":"list",
      "member":{"shape":"AssociatedGroup"}
    },
    "AssociatedUser":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the associated user. This is used to identify the user in access control decisions.</p>"
        },
        "type":{
          "shape":"MembershipType",
          "documentation":"<p>The type of the associated user. This indicates the scope of the user's association.</p>"
        }
      },
      "documentation":"<p>Represents an associated user in the access control system.</p>"
    },
    "AssociatedUsers":{
      "type":"list",
      "member":{"shape":"AssociatedUser"}
    },
    "Attachment":{
      "type":"structure",
      "members":{
        "attachmentId":{
          "shape":"AttachmentId",
          "documentation":"<p>The identifier of the Amazon Q Business attachment.</p>"
        },
        "conversationId":{
          "shape":"ConversationId",
          "documentation":"<p>The identifier of the Amazon Q Business conversation the attachment is associated with.</p>"
        },
        "name":{
          "shape":"AttachmentName",
          "documentation":"<p>Filename of the Amazon Q Business attachment.</p>"
        },
        "copyFrom":{
          "shape":"CopyFromSource",
          "documentation":"<p>A CopyFromSource containing a reference to the original source of the Amazon Q Business attachment.</p>"
        },
        "fileType":{
          "shape":"String",
          "documentation":"<p>Filetype of the Amazon Q Business attachment.</p>"
        },
        "fileSize":{
          "shape":"Integer",
          "documentation":"<p>Size in bytes of the Amazon Q Business attachment.</p>"
        },
        "md5chksum":{
          "shape":"String",
          "documentation":"<p>MD5 checksum of the Amazon Q Business attachment contents.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix timestamp when the Amazon Q Business attachment was created.</p>"
        },
        "status":{
          "shape":"AttachmentStatus",
          "documentation":"<p>AttachmentStatus of the Amazon Q Business attachment.</p>"
        },
        "error":{
          "shape":"ErrorDetail",
          "documentation":"<p>ErrorDetail providing information about a Amazon Q Business attachment error. </p>"
        }
      },
      "documentation":"<p>An attachment in an Amazon Q Business conversation.</p>"
    },
    "AttachmentId":{
      "type":"string",
      "pattern":"[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
    },
    "AttachmentInput":{
      "type":"structure",
      "members":{
        "data":{
          "shape":"Blob",
          "documentation":"<p>The contents of the attachment.</p>"
        },
        "name":{
          "shape":"AttachmentName",
          "documentation":"<p>The filename of the attachment.</p>"
        },
        "copyFrom":{
          "shape":"CopyFromSource",
          "documentation":"<p>A reference to an existing attachment.</p>"
        }
      },
      "documentation":"<p>This is either a file directly uploaded into a web experience chat or a reference to an existing attachment that is part of a web experience chat.</p>"
    },
    "AttachmentInputEvent":{
      "type":"structure",
      "members":{
        "attachment":{"shape":"AttachmentInput"}
      },
      "documentation":"<p>A file input event activated by a end user request to upload files into their web experience chat.</p>",
      "event":true
    },
    "AttachmentList":{
      "type":"list",
      "member":{"shape":"Attachment"}
    },
    "AttachmentName":{
      "type":"string",
      "max":1000,
      "min":1,
      "pattern":"\\P{C}*"
    },
    "AttachmentOutput":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AttachmentName",
          "documentation":"<p>The name of a file uploaded during chat.</p>"
        },
        "status":{
          "shape":"AttachmentStatus",
          "documentation":"<p>The status of a file uploaded during chat.</p>"
        },
        "error":{
          "shape":"ErrorDetail",
          "documentation":"<p>An error associated with a file uploaded during chat.</p>"
        },
        "attachmentId":{
          "shape":"AttachmentId",
          "documentation":"<p>The unique identifier of the Amazon Q Business attachment.</p>"
        },
        "conversationId":{
          "shape":"ConversationId",
          "documentation":"<p>The unique identifier of the Amazon Q Business conversation.</p>"
        }
      },
      "documentation":"<p>The details of a file uploaded during chat.</p>"
    },
    "AttachmentStatus":{
      "type":"string",
      "enum":[
        "FAILED",
        "SUCCESS"
      ]
    },
    "AttachmentsConfiguration":{
      "type":"structure",
      "required":["attachmentsControlMode"],
      "members":{
        "attachmentsControlMode":{
          "shape":"AttachmentsControlMode",
          "documentation":"<p>Status information about whether file upload functionality is activated or deactivated for your end user.</p>"
        }
      },
      "documentation":"<p>Configuration information for the file upload during chat feature.</p>"
    },
    "AttachmentsControlMode":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AttachmentsInput":{
      "type":"list",
      "member":{"shape":"AttachmentInput"},
      "min":1
    },
    "AttachmentsOutput":{
      "type":"list",
      "member":{"shape":"AttachmentOutput"}
    },
    "AttributeFilter":{
      "type":"structure",
      "members":{
        "andAllFilters":{
          "shape":"AttributeFilters",
          "documentation":"<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>"
        },
        "orAllFilters":{
          "shape":"AttributeFilters",
          "documentation":"<p> Performs a logical <code>OR</code> operation on all supplied filters. </p>"
        },
        "notFilter":{
          "shape":"AttributeFilter",
          "documentation":"<p>Performs a logical <code>NOT</code> operation on all supplied filters. </p>"
        },
        "equalsTo":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs an equals operation on two document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code>, <code>longValue</code>, <code>stringListValue</code> and <code>stringValue</code>.</p>"
        },
        "containsAll":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Returns <code>true</code> when a document contains all the specified document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>stringListValue</code>.</p>"
        },
        "containsAny":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Returns <code>true</code> when a document contains any of the specified document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>stringListValue</code>.</p>"
        },
        "greaterThan":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a greater than operation on two document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code> and <code>longValue</code>.</p>"
        },
        "greaterThanOrEquals":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a greater or equals than operation on two document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code> and <code>longValue</code>. </p>"
        },
        "lessThan":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a less than operation on two document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code> and <code>longValue</code>.</p>"
        },
        "lessThanOrEquals":{
          "shape":"DocumentAttribute",
          "documentation":"<p>Performs a less than or equals operation on two document attributes or metadata fields.Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value type</a>: <code>dateValue</code> and <code>longValue</code>. </p>"
        }
      },
      "documentation":"<p>Enables filtering of responses based on document attributes or metadata fields.</p>"
    },
    "AttributeFilters":{
      "type":"list",
      "member":{"shape":"AttributeFilter"}
    },
    "AttributeType":{
      "type":"string",
      "enum":[
        "STRING",
        "STRING_LIST",
        "NUMBER",
        "DATE"
      ]
    },
    "AttributeValueOperator":{
      "type":"string",
      "enum":["DELETE"]
    },
    "AudioExtractionConfiguration":{
      "type":"structure",
[...]
