blockquote.kg-blockquote-alt {
  background: none;
  font-size: 1.6em;
  line-height: 1.7em;
  text-align: center;
  padding: 0.5em 2.5em 0.75em;
}

blockquote.kg-blockquote-alt::before {
  display: none;
}

@media (max-width: 800px) {
  blockquote.kg-blockquote-alt {
    font-size: 1.4em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 600px) {
  blockquote.kg-blockquote-alt {
    font-size: 1.2em;
    padding-left: 1.75em;
    padding-right: 1.75em;
  } 
}
