.kg-button-card {
    display: flex;
    position: static;
    align-items: center;
    width: 100%;
    justify-content: center;
}

a.kg-btn {
    display: flex;
    position: static;
    align-items: center;
    padding: 0 2.0rem;
    height: 4.0rem;
    line-height: 4.0rem;
    font-size: 1.65rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: opacity 0.2s ease-in-out;
}

a.kg-btn:hover {
    opacity: 0.85;
}

a.kg-btn-accent {
    background-color: var(--ghost-accent-color);
    color: #fff;
}