.kg-header-card {
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: background-color var(--animation-speed-fast) ease-in-out;
}

.kg-header-card h2,
.kg-header-card h3 {
    color: #ffffff;
    margin: 0;
}

.kg-header-card h2 {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0 0 0.125em;
}

.kg-header-card h3 {
    line-height: 1.3em;
}

.kg-header-card.kg-size-small {
    padding-top: 4em;
    padding-bottom: 4em;
    height: 40vh;
    min-height: auto;
}

.kg-header-card.kg-size-medium {
    padding-top: 6em;
    padding-bottom: 6em;
    height: 60vh;
    min-height: auto;
}

.kg-header-card.kg-size-large {
    padding-top: 12em;
    padding-bottom: 12em;
    height: 80vh;
    min-height: auto;
}

.kg-header-card.kg-size-large h2 {
    font-size: 6em;
}

.kg-header-card.kg-size-small h2 {
    font-size: 4em;
}

.kg-header-card h2 strong {
    font-weight: 800;
}

.kg-header-card h3 {
    font-size: 1.5em;
    font-weight: 500;
}

.kg-header-card.kg-size-large h3 {
    font-size: 1.75em;
}

.kg-header-card.kg-size-small h3 {
    font-size: 1.25em;
}

.kg-header-card.kg-align-left {
    text-align: left;
    align-items: flex-start;
}

.kg-header-card.kg-align-center {
    text-align: center;
    align-items: center;
}

.kg-header-card.kg-style-invert {
    background: #15171a;
    color: #ffffff;
}

.kg-header-card.kg-style-clear {
    color: #15171a;
    border-top: 1px solid rgba(124, 139, 154, 0.25);
    border-bottom: 1px solid rgba(124, 139, 154, 0.25);
}

.kg-header-card.kg-style-clear h2,
.kg-header-card.kg-style-clear h3 {
    color: #15171a;
}

.kg-header-card.kg-style-accent {
    background-color: var(--ghost-accent-color);
}

.kg-header-card.kg-style-image {
    background-color: #e7e7eb;
    background-size: cover;
    background-position: center center;
}

.gh-content a.kg-header-card-button {
    display: flex;
    position: static;
    align-items: center;
    padding: 0 1.2em;
    height: 2.4em;
    line-height: 1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 0.95em;
    font-weight: 600;
    text-decoration: none !important;
    border-radius: 5px;
    transition: opacity 0.2s ease-in-out;
    background-color: var(--ghost-accent-color);
    color: #ffffff !important;
    margin: 1.75em 0 0;
}

.gh-content a.kg-header-card-button:hover {
    opacity: 0.85;
}

.gh-content .kg-size-large a.kg-header-card-button {
    margin-top: 2em;
}

.gh-content .kg-size-small a.kg-header-card-button {
    margin-top: 1.5em;
}

.gh-content .kg-style-image a.kg-header-card-button,
.gh-content .kg-style-invert a.kg-header-card-button {
    background: #ffffff;
    color: #15171a !important;
}

.gh-content .kg-style-accent a.kg-header-card-button {
    background: #ffffff;
    color: var(--ghost-accent-color) !important;
}

@media (max-width: 640px) {
    .kg-header-card {
        padding-left: 1em;
        padding-right: 1em;
    }

    .kg-header-card h2 {
        font-size: 3.5em;
    }

    .kg-header-card.kg-size-large h2 {
        font-size: 4em;
    }
    
    .kg-header-card.kg-size-small h2 {
        font-size: 3em;
    }

    .kg-header-card h3 {
        font-size: 1.25em;
    }

    .kg-header-card.kg-size-large h3 {
        font-size: 1.5em;
    }
    
    .kg-header-card.kg-size-small h3 {
        font-size: 1em;
    }
}
