.kg-toggle-card[data-kg-toggle-state="close"] .kg-toggle-content{
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.kg-toggle-card[data-kg-toggle-state="close"] svg {
    transform: unset;
}

.kg-toggle-card {
    border: 1px solid rgba(127, 127, 127, 0.15);
    border-radius: 4px;
    padding: 20px;
}

.kg-toggle-heading {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.kg-toggle-card-icon {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.kg-toggle-heading svg {
    width: 14px;
    color: rgba(127, 127, 127, 0.4);
    transition: transform 0.3s;
    transform: rotate(180deg);
}

.kg-toggle-content {
    display: flex;
    transition: opacity 0.3s;
    padding-top: 8px;
}
