.kg-toggle-card[data-kg-toggle-state="close"] .kg-toggle-content{
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.kg-toggle-card[data-kg-toggle-state="close"] svg {
    transform: rotate(-90deg);
}

.kg-toggle-card {
    border: 1px solid #EBEEF0;
    border-radius: 4px;
    padding: 20px;
}

.kg-toggle-heading {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.kg-toggle-heading svg {
    width: 14px;
    color: #CED4D9;
    transition: transform 0.3s;
}

.kg-toggle-heading .kg-toggle-heading-text {
    
}

.kg-toggle-content {
    display: flex;
    transition: opacity 0.3s;
    margin-top: 8px;
}
