.kg-toggle-card[data-kg-toggle-state="close"] .kg-toggle-content{
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    padding-top: 0px;
}

.kg-toggle-card[data-kg-toggle-state="close"] svg {
    transform: unset;
}

.kg-toggle-card {
    background: transparent;
    box-shadow: inset 0 0 0 1px rgba(124, 139, 154, 0.25);
    border-radius: 4px;
    padding: 20px;
}

.kg-toggle-heading {
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.kg-toggle-card-icon {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.kg-toggle-heading svg {
    width: 14px;
    color: rgba(124, 139, 154, 0.5);
    transition: transform 0.3s;
    transform: rotate(-180deg);
}

.kg-toggle-heading-text {
    margin-top: 0;
    margin-bottom: 0;
}

.kg-toggle-content {
    transition: all .3s;
    padding-top: 1.5rem;
    max-height: 100vh;
    overflow: hidden;
    opacity: 1;
}

.kg-toggle-content > *+* {

}
