{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-05-31",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"cloudfront",
    "globalEndpoint":"cloudfront.amazonaws.com",
    "protocol":"rest-xml",
    "protocols":["rest-xml"],
    "serviceAbbreviation":"CloudFront",
    "serviceFullName":"Amazon CloudFront",
    "serviceId":"CloudFront",
    "signatureVersion":"v4",
    "signingName":"cloudfront",
    "uid":"cloudfront-2020-05-31"
  },
  "operations":{
    "AssociateAlias":{
      "name":"AssociateAlias2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/distribution/{TargetDistributionId}/associate-alias",
        "responseCode":200
      },
      "input":{"shape":"AssociateAliasRequest"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"},
        {"shape":"IllegalUpdate"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyDistributionCNAMEs"}
      ],
      "documentation":"<p><note> <p>The <code>AssociateAlias</code> API operation only supports standard distributions. To move domains between distribution tenants and/or standard distributions, we recommend that you use the <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDomainAssociation.html\">UpdateDomainAssociation</a> API operation instead.</p> </note> <p>Associates an alias with a CloudFront standard distribution. An alias is commonly known as a custom domain or vanity domain. It can also be called a CNAME or alternate domain name.</p> <p>With this operation, you can move an alias that's already used for a standard distribution to a different standard distribution. This prevents the downtime that could occur if you first remove the alias from one standard distribution and then separately add the alias to another standard distribution.</p> <p>To use this operation, specify the alias and the ID of the target standard distribution.</p> <p>For more information, including how to set up the target standard distribution, prerequisites that you must complete, and other restrictions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-move\">Moving an alternate domain name to a different standard distribution or distribution tenant</a> in the <i>Amazon CloudFront Developer Guide</i>.</p></p>"
    },
    "AssociateDistributionTenantWebACL":{
      "name":"AssociateDistributionTenantWebACL2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/distribution-tenant/{Id}/associate-web-acl",
        "responseCode":200
      },
      "input":{
        "shape":"AssociateDistributionTenantWebACLRequest",
        "locationName":"AssociateDistributionTenantWebACLRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"AssociateDistributionTenantWebACLResult"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Associates the WAF web ACL with a distribution tenant.</p>"
    },
    "AssociateDistributionWebACL":{
      "name":"AssociateDistributionWebACL2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/distribution/{Id}/associate-web-acl",
        "responseCode":200
      },
      "input":{
        "shape":"AssociateDistributionWebACLRequest",
        "locationName":"AssociateDistributionWebACLRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"AssociateDistributionWebACLResult"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Associates the WAF web ACL with a distribution.</p>"
    },
    "CopyDistribution":{
      "name":"CopyDistribution2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution/{PrimaryDistributionId}/copy",
        "responseCode":201
      },
      "input":{
        "shape":"CopyDistributionRequest",
        "locationName":"CopyDistributionRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CopyDistributionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"TooManyDistributionsAssociatedToOriginAccessControl"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"InvalidErrorCode"},
        {"shape":"InvalidProtocolSettings"},
        {"shape":"TooManyFunctionAssociations"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"TooManyDistributionsWithFunctionAssociations"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyDistributions"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"InvalidRelativePath"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"NoSuchDistribution"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"RealtimeLogConfigOwnerMismatch"},
        {"shape":"PreconditionFailed"},
        {"shape":"MissingBody"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"TooManyCertificates"},
        {"shape":"TrustedKeyGroupDoesNotExist"},
        {"shape":"TooManyDistributionsAssociatedToResponseHeadersPolicy"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"TooManyOrigins"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidFunctionAssociation"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"DistributionAlreadyExists"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyCacheBehaviors"}
      ],
      "documentation":"<p>Creates a staging distribution using the configuration of the provided primary distribution. A staging distribution is a copy of an existing distribution (called the primary distribution) that you can use in a continuous deployment workflow.</p> <p>After you create a staging distribution, you can use <code>UpdateDistribution</code> to modify the staging distribution's configuration. Then you can use <code>CreateContinuousDeploymentPolicy</code> to incrementally move traffic to the staging distribution.</p> <p>This API operation requires the following IAM permissions:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_GetDistribution.html\">GetDistribution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_CreateDistribution.html\">CreateDistribution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_CopyDistribution.html\">CopyDistribution</a> </p> </li> </ul>"
    },
    "CreateAnycastIpList":{
      "name":"CreateAnycastIpList2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/anycast-ip-list",
        "responseCode":202
      },
      "input":{
        "shape":"CreateAnycastIpListRequest",
        "locationName":"CreateAnycastIpListRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateAnycastIpListResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"UnsupportedOperation"},
        {"shape":"EntityAlreadyExists"},
        {"shape":"InvalidTagging"},
        {"shape":"EntityLimitExceeded"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates an Anycast static IP list.</p>"
    },
    "CreateCachePolicy":{
      "name":"CreateCachePolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/cache-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateCachePolicyRequest"},
      "output":{"shape":"CreateCachePolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"TooManyHeadersInCachePolicy"},
        {"shape":"CachePolicyAlreadyExists"},
        {"shape":"TooManyCookiesInCachePolicy"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyCachePolicies"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyQueryStringsInCachePolicy"}
      ],
      "documentation":"<p>Creates a cache policy.</p> <p>After you create a cache policy, you can attach it to one or more cache behaviors. When it's attached to a cache behavior, the cache policy determines the following:</p> <ul> <li> <p>The values that CloudFront includes in the <i>cache key</i>. These values can include HTTP headers, cookies, and URL query strings. CloudFront uses the cache key to find an object in its cache that it can return to the viewer.</p> </li> <li> <p>The default, minimum, and maximum time to live (TTL) values that you want objects to stay in the CloudFront cache.</p> <important> <p>If your minimum TTL is greater than 0, CloudFront will cache content for at least the duration specified in the cache policy's minimum TTL, even if the <code>Cache-Control: no-cache</code>, <code>no-store</code>, or <code>private</code> directives are present in the origin headers.</p> </important> </li> </ul> <p>The headers, cookies, and query strings that are included in the cache key are also included in requests that CloudFront sends to the origin. CloudFront sends a request when it can't find an object in its cache that matches the request's cache key. If you want to send values to the origin but <i>not</i> include them in the cache key, use <code>OriginRequestPolicy</code>.</p> <p>For more information about cache policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html\">Controlling the cache key</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateCloudFrontOriginAccessIdentity":{
      "name":"CreateCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront",
        "responseCode":201
      },
      "input":{"shape":"CreateCloudFrontOriginAccessIdentityRequest"},
      "output":{"shape":"CreateCloudFrontOriginAccessIdentityResult"},
      "errors":[
        {"shape":"MissingBody"},
        {"shape":"TooManyCloudFrontOriginAccessIdentities"},
        {"shape":"InconsistentQuantities"},
        {"shape":"CloudFrontOriginAccessIdentityAlreadyExists"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates a new origin access identity. If you're using Amazon S3 for your origin, you can use an origin access identity to require users to access your content using a CloudFront URL instead of the Amazon S3 URL. For more information about how to use origin access identities, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateConnectionGroup":{
      "name":"CreateConnectionGroup2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/connection-group",
        "responseCode":201
      },
      "input":{
        "shape":"CreateConnectionGroupRequest",
        "locationName":"CreateConnectionGroupRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateConnectionGroupResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"EntityAlreadyExists"},
        {"shape":"InvalidTagging"},
        {"shape":"EntityLimitExceeded"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates a connection group.</p>"
    },
    "CreateContinuousDeploymentPolicy":{
      "name":"CreateContinuousDeploymentPolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/continuous-deployment-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateContinuousDeploymentPolicyRequest"},
      "output":{"shape":"CreateContinuousDeploymentPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"TooManyContinuousDeploymentPolicies"},
        {"shape":"StagingDistributionInUse"},
        {"shape":"InconsistentQuantities"},
        {"shape":"ContinuousDeploymentPolicyAlreadyExists"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates a continuous deployment policy that distributes traffic for a custom domain name to two different CloudFront distributions.</p> <p>To use a continuous deployment policy, first use <code>CopyDistribution</code> to create a staging distribution, then use <code>UpdateDistribution</code> to modify the staging distribution's configuration.</p> <p>After you create and update a staging distribution, you can use a continuous deployment policy to incrementally move traffic to the staging distribution. This workflow enables you to test changes to a distribution's configuration before moving all of your domain's production traffic to the new configuration.</p>"
    },
    "CreateDistribution":{
      "name":"CreateDistribution2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution",
        "responseCode":201
      },
      "input":{"shape":"CreateDistributionRequest"},
      "output":{"shape":"CreateDistributionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"TooManyDistributionsAssociatedToOriginAccessControl"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidDomainNameForOriginAccessControl"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"InvalidErrorCode"},
        {"shape":"IllegalOriginAccessConfiguration"},
        {"shape":"InvalidProtocolSettings"},
        {"shape":"TooManyFunctionAssociations"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"TooManyDistributionsWithFunctionAssociations"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyDistributions"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"InvalidRelativePath"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"NoSuchContinuousDeploymentPolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"RealtimeLogConfigOwnerMismatch"},
        {"shape":"ContinuousDeploymentPolicyInUse"},
        {"shape":"MissingBody"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"TooManyCertificates"},
        {"shape":"TrustedKeyGroupDoesNotExist"},
        {"shape":"TooManyDistributionsAssociatedToResponseHeadersPolicy"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"TooManyOrigins"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidFunctionAssociation"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"EntityLimitExceeded"},
        {"shape":"DistributionAlreadyExists"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyCacheBehaviors"}
      ],
      "documentation":"<p>Creates a CloudFront distribution.</p>"
    },
    "CreateDistributionTenant":{
      "name":"CreateDistributionTenant2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution-tenant",
        "responseCode":201
      },
      "input":{
        "shape":"CreateDistributionTenantRequest",
        "locationName":"CreateDistributionTenantRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateDistributionTenantResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"EntityAlreadyExists"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"InvalidTagging"},
        {"shape":"InvalidAssociation"},
        {"shape":"EntityLimitExceeded"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates a distribution tenant.</p>"
    },
    "CreateDistributionWithTags":{
      "name":"CreateDistributionWithTags2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution?WithTags",
        "responseCode":201
      },
      "input":{"shape":"CreateDistributionWithTagsRequest"},
      "output":{"shape":"CreateDistributionWithTagsResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"TooManyDistributionsAssociatedToOriginAccessControl"},
        {"shape":"InvalidDefaultRootObject"},
        {"shape":"InvalidDomainNameForOriginAccessControl"},
        {"shape":"InvalidQueryStringParameters"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"TooManyCookieNamesInWhiteList"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"InvalidErrorCode"},
        {"shape":"IllegalOriginAccessConfiguration"},
        {"shape":"InvalidProtocolSettings"},
        {"shape":"TooManyFunctionAssociations"},
        {"shape":"TooManyOriginCustomHeaders"},
        {"shape":"InvalidOrigin"},
        {"shape":"InvalidForwardCookies"},
        {"shape":"InvalidMinimumProtocolVersion"},
        {"shape":"NoSuchCachePolicy"},
        {"shape":"TooManyKeyGroupsAssociatedToDistribution"},
        {"shape":"TooManyDistributionsAssociatedToCachePolicy"},
        {"shape":"InvalidRequiredProtocol"},
        {"shape":"TooManyDistributionsWithFunctionAssociations"},
        {"shape":"TooManyOriginGroupsPerDistribution"},
        {"shape":"TooManyDistributions"},
        {"shape":"InvalidTTLOrder"},
        {"shape":"IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"},
        {"shape":"InvalidOriginKeepaliveTimeout"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidOriginReadTimeout"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidHeadersForS3Origin"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"InvalidWebACLId"},
        {"shape":"TooManyDistributionsWithSingleFunctionARN"},
        {"shape":"InvalidRelativePath"},
        {"shape":"TooManyLambdaFunctionAssociations"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidLocationCode"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"InvalidTagging"},
        {"shape":"TooManyDistributionCNAMEs"},
        {"shape":"NoSuchContinuousDeploymentPolicy"},
        {"shape":"TooManyDistributionsAssociatedToOriginRequestPolicy"},
        {"shape":"TooManyQueryStringParameters"},
        {"shape":"RealtimeLogConfigOwnerMismatch"},
        {"shape":"ContinuousDeploymentPolicyInUse"},
        {"shape":"MissingBody"},
        {"shape":"TooManyHeadersInForwardedValues"},
        {"shape":"InvalidLambdaFunctionAssociation"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"TooManyCertificates"},
        {"shape":"TrustedKeyGroupDoesNotExist"},
        {"shape":"TooManyDistributionsAssociatedToResponseHeadersPolicy"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"InvalidResponseCode"},
        {"shape":"InvalidGeoRestrictionParameter"},
        {"shape":"TooManyOrigins"},
        {"shape":"InvalidViewerCertificate"},
        {"shape":"InvalidFunctionAssociation"},
        {"shape":"TooManyDistributionsWithLambdaAssociations"},
        {"shape":"TooManyDistributionsAssociatedToKeyGroup"},
        {"shape":"DistributionAlreadyExists"},
        {"shape":"NoSuchOrigin"},
        {"shape":"TooManyCacheBehaviors"}
      ],
      "documentation":"<p>Create a new distribution with tags. This API operation requires the following IAM permissions:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_CreateDistribution.html\">CreateDistribution</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_TagResource.html\">TagResource</a> </p> </li> </ul>"
    },
    "CreateFieldLevelEncryptionConfig":{
      "name":"CreateFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/field-level-encryption",
        "responseCode":201
      },
      "input":{"shape":"CreateFieldLevelEncryptionConfigRequest"},
      "output":{"shape":"CreateFieldLevelEncryptionConfigResult"},
      "errors":[
        {"shape":"QueryArgProfileEmpty"},
        {"shape":"TooManyFieldLevelEncryptionContentTypeProfiles"},
        {"shape":"TooManyFieldLevelEncryptionQueryArgProfiles"},
        {"shape":"FieldLevelEncryptionConfigAlreadyExists"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyFieldLevelEncryptionConfigs"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Create a new field-level encryption configuration.</p>"
    },
    "CreateFieldLevelEncryptionProfile":{
      "name":"CreateFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/field-level-encryption-profile",
        "responseCode":201
      },
      "input":{"shape":"CreateFieldLevelEncryptionProfileRequest"},
      "output":{"shape":"CreateFieldLevelEncryptionProfileResult"},
      "errors":[
        {"shape":"TooManyFieldLevelEncryptionFieldPatterns"},
        {"shape":"FieldLevelEncryptionProfileAlreadyExists"},
        {"shape":"NoSuchPublicKey"},
        {"shape":"FieldLevelEncryptionProfileSizeExceeded"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooManyFieldLevelEncryptionProfiles"},
        {"shape":"TooManyFieldLevelEncryptionEncryptionEntities"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Create a field-level encryption profile.</p>"
    },
    "CreateFunction":{
      "name":"CreateFunction2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/function",
        "responseCode":201
      },
      "input":{
        "shape":"CreateFunctionRequest",
        "locationName":"CreateFunctionRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateFunctionResult"},
      "errors":[
        {"shape":"FunctionAlreadyExists"},
        {"shape":"UnsupportedOperation"},
        {"shape":"FunctionSizeLimitExceeded"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyFunctions"}
      ],
      "documentation":"<p>Creates a CloudFront function.</p> <p>To create a function, you provide the function code and some configuration information about the function. The response contains an Amazon Resource Name (ARN) that uniquely identifies the function.</p> <p>When you create a function, it's in the <code>DEVELOPMENT</code> stage. In this stage, you can test the function with <code>TestFunction</code>, and update it with <code>UpdateFunction</code>.</p> <p>When you're ready to use your function with a CloudFront distribution, use <code>PublishFunction</code> to copy the function from the <code>DEVELOPMENT</code> stage to <code>LIVE</code>. When it's live, you can attach the function to a distribution's cache behavior, using the function's ARN.</p>"
    },
    "CreateInvalidation":{
      "name":"CreateInvalidation2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution/{DistributionId}/invalidation",
        "responseCode":201
      },
      "input":{"shape":"CreateInvalidationRequest"},
      "output":{"shape":"CreateInvalidationResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"},
        {"shape":"TooManyInvalidationsInProgress"},
        {"shape":"MissingBody"},
        {"shape":"InconsistentQuantities"},
        {"shape":"BatchTooLarge"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Create a new invalidation. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Invalidation.html\">Invalidating files</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateInvalidationForDistributionTenant":{
      "name":"CreateInvalidationForDistributionTenant2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution-tenant/{Id}/invalidation",
        "responseCode":201
      },
      "input":{"shape":"CreateInvalidationForDistributionTenantRequest"},
      "output":{"shape":"CreateInvalidationForDistributionTenantResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"TooManyInvalidationsInProgress"},
        {"shape":"MissingBody"},
        {"shape":"InconsistentQuantities"},
        {"shape":"BatchTooLarge"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates an invalidation for a distribution tenant. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Invalidation.html\">Invalidating files</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateKeyGroup":{
      "name":"CreateKeyGroup2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/key-group",
        "responseCode":201
      },
      "input":{"shape":"CreateKeyGroupRequest"},
      "output":{"shape":"CreateKeyGroupResult"},
      "errors":[
        {"shape":"TooManyPublicKeysInKeyGroup"},
        {"shape":"TooManyKeyGroups"},
        {"shape":"InvalidArgument"},
        {"shape":"KeyGroupAlreadyExists"}
      ],
      "documentation":"<p>Creates a key group that you can use with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">CloudFront signed URLs and signed cookies</a>.</p> <p>To create a key group, you must specify at least one public key for the key group. After you create a key group, you can reference it from one or more cache behaviors. When you reference a key group in a cache behavior, CloudFront requires signed URLs or signed cookies for all requests that match the cache behavior. The URLs or cookies must be signed with a private key whose corresponding public key is in the key group. The signed URL or cookie contains information about which public key CloudFront should use to verify the signature. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving private content</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateKeyValueStore":{
      "name":"CreateKeyValueStore2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/key-value-store",
        "responseCode":201
      },
      "input":{
        "shape":"CreateKeyValueStoreRequest",
        "locationName":"CreateKeyValueStoreRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateKeyValueStoreResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"UnsupportedOperation"},
        {"shape":"EntityAlreadyExists"},
        {"shape":"EntityLimitExceeded"},
        {"shape":"InvalidArgument"},
        {"shape":"EntitySizeLimitExceeded"}
      ],
      "documentation":"<p>Specifies the key value store resource to add to your account. In your account, the key value store names must be unique. You can also import key value store data in JSON format from an S3 bucket by providing a valid <code>ImportSource</code> that you own.</p>"
    },
    "CreateMonitoringSubscription":{
      "name":"CreateMonitoringSubscription2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription",
        "responseCode":200
      },
      "input":{"shape":"CreateMonitoringSubscriptionRequest"},
      "output":{"shape":"CreateMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"},
        {"shape":"MonitoringSubscriptionAlreadyExists"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Enables or disables additional Amazon CloudWatch metrics for the specified CloudFront distribution. The additional metrics incur an additional cost.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/viewing-cloudfront-metrics.html#monitoring-console.distributions-additional\">Viewing additional CloudFront distribution metrics</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateOriginAccessControl":{
      "name":"CreateOriginAccessControl2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/origin-access-control",
        "responseCode":201
      },
      "input":{"shape":"CreateOriginAccessControlRequest"},
      "output":{"shape":"CreateOriginAccessControlResult"},
      "errors":[
        {"shape":"OriginAccessControlAlreadyExists"},
        {"shape":"TooManyOriginAccessControls"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates a new origin access control in CloudFront. After you create an origin access control, you can add it to an origin in a CloudFront distribution so that CloudFront sends authenticated (signed) requests to the origin.</p> <p>This makes it possible to block public access to the origin, allowing viewers (users) to access the origin's content only through CloudFront.</p> <p>For more information about using a CloudFront origin access control, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-restricting-access-to-origin.html\">Restricting access to an Amazon Web Services origin</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateOriginRequestPolicy":{
      "name":"CreateOriginRequestPolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/origin-request-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateOriginRequestPolicyRequest"},
      "output":{"shape":"CreateOriginRequestPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"TooManyHeadersInOriginRequestPolicy"},
        {"shape":"TooManyCookiesInOriginRequestPolicy"},
        {"shape":"InconsistentQuantities"},
        {"shape":"OriginRequestPolicyAlreadyExists"},
        {"shape":"TooManyQueryStringsInOriginRequestPolicy"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyOriginRequestPolicies"}
      ],
      "documentation":"<p>Creates an origin request policy.</p> <p>After you create an origin request policy, you can attach it to one or more cache behaviors. When it's attached to a cache behavior, the origin request policy determines the values that CloudFront includes in requests that it sends to the origin. Each request that CloudFront sends to the origin includes the following:</p> <ul> <li> <p>The request body and the URL path (without the domain name) from the viewer request.</p> </li> <li> <p>The headers that CloudFront automatically includes in every origin request, including <code>Host</code>, <code>User-Agent</code>, and <code>X-Amz-Cf-Id</code>.</p> </li> <li> <p>All HTTP headers, cookies, and URL query strings that are specified in the cache policy or the origin request policy. These can include items from the viewer request and, in the case of headers, additional ones that are added by CloudFront.</p> </li> </ul> <p>CloudFront sends a request when it can't find a valid object in its cache that matches the request. If you want to send values to the origin and also include them in the cache key, use <code>CachePolicy</code>.</p> <p>For more information about origin request policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html\">Controlling origin requests</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreatePublicKey":{
      "name":"CreatePublicKey2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/public-key",
        "responseCode":201
      },
      "input":{"shape":"CreatePublicKeyRequest"},
      "output":{"shape":"CreatePublicKeyResult"},
      "errors":[
        {"shape":"TooManyPublicKeys"},
        {"shape":"PublicKeyAlreadyExists"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Uploads a public key to CloudFront that you can use with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">signed URLs and signed cookies</a>, or with <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/field-level-encryption.html\">field-level encryption</a>.</p>"
    },
    "CreateRealtimeLogConfig":{
      "name":"CreateRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/realtime-log-config",
        "responseCode":201
      },
      "input":{
        "shape":"CreateRealtimeLogConfigRequest",
        "locationName":"CreateRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateRealtimeLogConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"RealtimeLogConfigAlreadyExists"},
        {"shape":"TooManyRealtimeLogConfigs"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Creates a real-time log configuration.</p> <p>After you create a real-time log configuration, you can attach it to one or more cache behaviors to send real-time log data to the specified Amazon Kinesis data stream.</p> <p>For more information about real-time log configurations, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/real-time-logs.html\">Real-time logs</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateResponseHeadersPolicy":{
      "name":"CreateResponseHeadersPolicy2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/response-headers-policy",
        "responseCode":201
      },
      "input":{"shape":"CreateResponseHeadersPolicyRequest"},
      "output":{"shape":"CreateResponseHeadersPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"TooManyCustomHeadersInResponseHeadersPolicy"},
        {"shape":"ResponseHeadersPolicyAlreadyExists"},
        {"shape":"InconsistentQuantities"},
        {"shape":"TooLongCSPInResponseHeadersPolicy"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyRemoveHeadersInResponseHeadersPolicy"},
        {"shape":"TooManyResponseHeadersPolicies"}
      ],
      "documentation":"<p>Creates a response headers policy.</p> <p>A response headers policy contains information about a set of HTTP headers. To create a response headers policy, you provide some metadata about the policy and a set of configurations that specify the headers.</p> <p>After you create a response headers policy, you can use its ID to attach it to one or more cache behaviors in a CloudFront distribution. When it's attached to a cache behavior, the response headers policy affects the HTTP headers that CloudFront includes in HTTP responses to requests that match the cache behavior. CloudFront adds or removes response headers according to the configuration of the response headers policy.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/modifying-response-headers.html\">Adding or removing HTTP headers in CloudFront responses</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "CreateStreamingDistribution":{
      "name":"CreateStreamingDistribution2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/streaming-distribution",
        "responseCode":201
      },
      "input":{"shape":"CreateStreamingDistributionRequest"},
      "output":{"shape":"CreateStreamingDistributionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"StreamingDistributionAlreadyExists"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"TooManyStreamingDistributions"},
        {"shape":"MissingBody"},
        {"shape":"TooManyStreamingDistributionCNAMEs"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"InvalidOrigin"}
      ],
      "documentation":"<p>This API is deprecated. Amazon CloudFront is deprecating real-time messaging protocol (RTMP) distributions on December 31, 2020. For more information, <a href=\"http://forums.aws.amazon.com/ann.jspa?annID=7356\">read the announcement</a> on the Amazon CloudFront discussion forum.</p>"
    },
    "CreateStreamingDistributionWithTags":{
      "name":"CreateStreamingDistributionWithTags2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/streaming-distribution?WithTags",
        "responseCode":201
      },
      "input":{"shape":"CreateStreamingDistributionWithTagsRequest"},
      "output":{"shape":"CreateStreamingDistributionWithTagsResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"StreamingDistributionAlreadyExists"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidOriginAccessIdentity"},
        {"shape":"InvalidTagging"},
        {"shape":"InvalidArgument"},
        {"shape":"TooManyTrustedSigners"},
        {"shape":"InvalidOriginAccessControl"},
        {"shape":"TooManyStreamingDistributions"},
        {"shape":"MissingBody"},
        {"shape":"TooManyStreamingDistributionCNAMEs"},
        {"shape":"TrustedSignerDoesNotExist"},
        {"shape":"CNAMEAlreadyExists"},
        {"shape":"InvalidOrigin"}
      ],
      "documentation":"<p>This API is deprecated. Amazon CloudFront is deprecating real-time messaging protocol (RTMP) distributions on December 31, 2020. For more information, <a href=\"http://forums.aws.amazon.com/ann.jspa?annID=7356\">read the announcement</a> on the Amazon CloudFront discussion forum.</p>"
    },
    "CreateVpcOrigin":{
      "name":"CreateVpcOrigin2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/vpc-origin",
        "responseCode":202
      },
      "input":{
        "shape":"CreateVpcOriginRequest",
        "locationName":"CreateVpcOriginRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"CreateVpcOriginResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"UnsupportedOperation"},
        {"shape":"EntityAlreadyExists"},
        {"shape":"InconsistentQuantities"},
        {"shape":"InvalidTagging"},
        {"shape":"EntityLimitExceeded"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Create an Amazon CloudFront VPC origin.</p>"
    },
    "DeleteAnycastIpList":{
      "name":"DeleteAnycastIpList2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/anycast-ip-list/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAnycastIpListRequest"},
      "errors":[
        {"shape":"CannotDeleteEntityWhileInUse"},
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"IllegalDelete"},
        {"shape":"UnsupportedOperation"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes an Anycast static IP list.</p>"
    },
    "DeleteCachePolicy":{
      "name":"DeleteCachePolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/cache-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCachePolicyRequest"},
      "errors":[
        {"shape":"NoSuchCachePolicy"},
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"IllegalDelete"},
        {"shape":"CachePolicyInUse"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes a cache policy.</p> <p>You cannot delete a cache policy if it's attached to a cache behavior. First update your distributions to remove the cache policy from all cache behaviors, then delete the cache policy.</p> <p>To delete a cache policy, you must provide the policy's identifier and version. To get these values, you can use <code>ListCachePolicies</code> or <code>GetCachePolicy</code>.</p>"
    },
    "DeleteCloudFrontOriginAccessIdentity":{
      "name":"DeleteCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCloudFrontOriginAccessIdentityRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"CloudFrontOriginAccessIdentityInUse"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"}
      ],
      "documentation":"<p>Delete an origin access identity.</p>"
    },
    "DeleteConnectionGroup":{
      "name":"DeleteConnectionGroup2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/connection-group/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConnectionGroupRequest"},
      "errors":[
        {"shape":"CannotDeleteEntityWhileInUse"},
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"ResourceNotDisabled"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes a connection group.</p>"
    },
    "DeleteContinuousDeploymentPolicy":{
      "name":"DeleteContinuousDeploymentPolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/continuous-deployment-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteContinuousDeploymentPolicyRequest"},
      "errors":[
        {"shape":"ContinuousDeploymentPolicyInUse"},
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchContinuousDeploymentPolicy"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes a continuous deployment policy.</p> <p>You cannot delete a continuous deployment policy that's attached to a primary distribution. First update your distribution to remove the continuous deployment policy, then you can delete the policy.</p>"
    },
    "DeleteDistribution":{
      "name":"DeleteDistribution2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/distribution/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDistributionRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"NoSuchDistribution"},
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"DistributionNotDisabled"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Delete a distribution.</p>"
    },
    "DeleteDistributionTenant":{
      "name":"DeleteDistributionTenant2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/distribution-tenant/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDistributionTenantRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"ResourceNotDisabled"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes a distribution tenant. If you use this API operation to delete a distribution tenant that is currently enabled, the request will fail.</p> <p>To delete a distribution tenant, you must first disable the distribution tenant by using the <code>UpdateDistributionTenant</code> API operation.</p>"
    },
    "DeleteFieldLevelEncryptionConfig":{
      "name":"DeleteFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFieldLevelEncryptionConfigRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"FieldLevelEncryptionConfigInUse"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Remove a field-level encryption configuration.</p>"
    },
    "DeleteFieldLevelEncryptionProfile":{
      "name":"DeleteFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFieldLevelEncryptionProfileRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"},
        {"shape":"FieldLevelEncryptionProfileInUse"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Remove a field-level encryption profile.</p>"
    },
    "DeleteFunction":{
      "name":"DeleteFunction2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/function/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"UnsupportedOperation"},
        {"shape":"FunctionInUse"},
        {"shape":"NoSuchFunctionExists"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes a CloudFront function.</p> <p>You cannot delete a function if it's associated with a cache behavior. First, update your distributions to remove the function association from all cache behaviors, then delete the function.</p> <p>To delete a function, you must provide the function's name and version (<code>ETag</code> value). To get these values, you can use <code>ListFunctions</code> and <code>DescribeFunction</code>.</p>"
    },
    "DeleteKeyGroup":{
      "name":"DeleteKeyGroup2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/key-group/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteKeyGroupRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"ResourceInUse"},
        {"shape":"NoSuchResource"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes a key group.</p> <p>You cannot delete a key group that is referenced in a cache behavior. First update your distributions to remove the key group from all cache behaviors, then delete the key group.</p> <p>To delete a key group, you must provide the key group's identifier and version. To get these values, use <code>ListKeyGroups</code> followed by <code>GetKeyGroup</code> or <code>GetKeyGroupConfig</code>.</p>"
    },
    "DeleteKeyValueStore":{
      "name":"DeleteKeyValueStore2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/key-value-store/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeleteKeyValueStoreRequest"},
      "errors":[
        {"shape":"CannotDeleteEntityWhileInUse"},
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"UnsupportedOperation"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Specifies the key value store to delete.</p>",
      "idempotent":true
    },
    "DeleteMonitoringSubscription":{
      "name":"DeleteMonitoringSubscription2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription",
        "responseCode":200
      },
      "input":{"shape":"DeleteMonitoringSubscriptionRequest"},
      "output":{"shape":"DeleteMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"},
        {"shape":"UnsupportedOperation"},
        {"shape":"NoSuchMonitoringSubscription"}
      ],
      "documentation":"<p>Disables additional CloudWatch metrics for the specified CloudFront distribution.</p>"
    },
    "DeleteOriginAccessControl":{
      "name":"DeleteOriginAccessControl2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/origin-access-control/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteOriginAccessControlRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"OriginAccessControlInUse"},
        {"shape":"NoSuchOriginAccessControl"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes a CloudFront origin access control.</p> <p>You cannot delete an origin access control if it's in use. First, update all distributions to remove the origin access control from all origins, then delete the origin access control.</p>"
    },
    "DeleteOriginRequestPolicy":{
      "name":"DeleteOriginRequestPolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteOriginRequestPolicyRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"IllegalDelete"},
        {"shape":"NoSuchOriginRequestPolicy"},
        {"shape":"InvalidIfMatchVersion"},
        {"shape":"OriginRequestPolicyInUse"}
      ],
      "documentation":"<p>Deletes an origin request policy.</p> <p>You cannot delete an origin request policy if it's attached to any cache behaviors. First update your distributions to remove the origin request policy from all cache behaviors, then delete the origin request policy.</p> <p>To delete an origin request policy, you must provide the policy's identifier and version. To get the identifier, you can use <code>ListOriginRequestPolicies</code> or <code>GetOriginRequestPolicy</code>.</p>"
    },
    "DeletePublicKey":{
      "name":"DeletePublicKey2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/public-key/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeletePublicKeyRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"NoSuchPublicKey"},
        {"shape":"PublicKeyInUse"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Remove a public key you previously added to CloudFront.</p>"
    },
    "DeleteRealtimeLogConfig":{
      "name":"DeleteRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/delete-realtime-log-config",
        "responseCode":204
      },
      "input":{
        "shape":"DeleteRealtimeLogConfigRequest",
        "locationName":"DeleteRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchRealtimeLogConfig"},
        {"shape":"RealtimeLogConfigInUse"}
      ],
      "documentation":"<p>Deletes a real-time log configuration.</p> <p>You cannot delete a real-time log configuration if it's attached to a cache behavior. First update your distributions to remove the real-time log configuration from all cache behaviors, then delete the real-time log configuration.</p> <p>To delete a real-time log configuration, you can provide the configuration's name or its Amazon Resource Name (ARN). You must provide at least one. If you provide both, CloudFront uses the name to identify the real-time log configuration to delete.</p>"
    },
    "DeleteResponseHeadersPolicy":{
      "name":"DeleteResponseHeadersPolicy2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/response-headers-policy/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteResponseHeadersPolicyRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"ResponseHeadersPolicyInUse"},
        {"shape":"AccessDenied"},
        {"shape":"IllegalDelete"},
        {"shape":"NoSuchResponseHeadersPolicy"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Deletes a response headers policy.</p> <p>You cannot delete a response headers policy if it's attached to a cache behavior. First update your distributions to remove the response headers policy from all cache behaviors, then delete the response headers policy.</p> <p>To delete a response headers policy, you must provide the policy's identifier and version. To get these values, you can use <code>ListResponseHeadersPolicies</code> or <code>GetResponseHeadersPolicy</code>.</p>"
    },
    "DeleteStreamingDistribution":{
      "name":"DeleteStreamingDistribution2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteStreamingDistributionRequest"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"NoSuchStreamingDistribution"},
        {"shape":"StreamingDistributionNotDisabled"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Delete a streaming distribution. To delete an RTMP distribution using the CloudFront API, perform the following steps.</p> <p> <b>To delete an RTMP distribution using the CloudFront API</b>:</p> <ol> <li> <p>Disable the RTMP distribution.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to get the current configuration and the <code>Etag</code> header for the distribution. </p> </li> <li> <p>Update the XML document that was returned in the response to your <code>GET Streaming Distribution Config</code> request to change the value of <code>Enabled</code> to <code>false</code>.</p> </li> <li> <p>Submit a <code>PUT Streaming Distribution Config</code> request to update the configuration for your distribution. In the request body, include the XML document that you updated in Step 3. Then set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to the <code>PUT Streaming Distribution Config</code> request to confirm that the distribution was successfully disabled.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to confirm that your changes have propagated. When propagation is complete, the value of <code>Status</code> is <code>Deployed</code>.</p> </li> <li> <p>Submit a <code>DELETE Streaming Distribution</code> request. Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to your <code>DELETE Streaming Distribution</code> request to confirm that the distribution was successfully deleted.</p> </li> </ol> <p>For information about deleting a distribution using the CloudFront console, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HowToDeleteDistribution.html\">Deleting a Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
    },
    "DeleteVpcOrigin":{
      "name":"DeleteVpcOrigin2020_05_31",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-05-31/vpc-origin/{Id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteVpcOriginRequest"},
      "output":{"shape":"DeleteVpcOriginResult"},
      "errors":[
        {"shape":"CannotDeleteEntityWhileInUse"},
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"IllegalDelete"},
        {"shape":"UnsupportedOperation"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Delete an Amazon CloudFront VPC origin.</p>"
    },
    "DescribeFunction":{
      "name":"DescribeFunction2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/function/{Name}/describe",
        "responseCode":200
      },
      "input":{"shape":"DescribeFunctionRequest"},
      "output":{"shape":"DescribeFunctionResult"},
      "errors":[
        {"shape":"UnsupportedOperation"},
        {"shape":"NoSuchFunctionExists"}
      ],
      "documentation":"<p>Gets configuration information and metadata about a CloudFront function, but not the function's code. To get a function's code, use <code>GetFunction</code>.</p> <p>To get configuration information and metadata about a function, you must provide the function's name and stage. To get these values, you can use <code>ListFunctions</code>.</p>"
    },
    "DescribeKeyValueStore":{
      "name":"DescribeKeyValueStore2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-value-store/{Name}",
        "responseCode":200
      },
      "input":{"shape":"DescribeKeyValueStoreRequest"},
      "output":{"shape":"DescribeKeyValueStoreResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"UnsupportedOperation"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Specifies the key value store and its configuration.</p>"
    },
    "DisassociateDistributionTenantWebACL":{
      "name":"DisassociateDistributionTenantWebACL2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/distribution-tenant/{Id}/disassociate-web-acl",
        "responseCode":200
      },
      "input":{"shape":"DisassociateDistributionTenantWebACLRequest"},
      "output":{"shape":"DisassociateDistributionTenantWebACLResult"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Disassociates a distribution tenant from the WAF web ACL.</p>"
    },
    "DisassociateDistributionWebACL":{
      "name":"DisassociateDistributionWebACL2020_05_31",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-05-31/distribution/{Id}/disassociate-web-acl",
        "responseCode":200
      },
      "input":{"shape":"DisassociateDistributionWebACLRequest"},
      "output":{"shape":"DisassociateDistributionWebACLResult"},
      "errors":[
        {"shape":"PreconditionFailed"},
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidIfMatchVersion"}
      ],
      "documentation":"<p>Disassociates a distribution from the WAF web ACL.</p>"
    },
    "GetAnycastIpList":{
      "name":"GetAnycastIpList2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/anycast-ip-list/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetAnycastIpListRequest"},
      "output":{"shape":"GetAnycastIpListResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"UnsupportedOperation"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets an Anycast static IP list.</p>"
    },
    "GetCachePolicy":{
      "name":"GetCachePolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetCachePolicyRequest"},
      "output":{"shape":"GetCachePolicyResult"},
      "errors":[
        {"shape":"NoSuchCachePolicy"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets a cache policy, including the following metadata:</p> <ul> <li> <p>The policy's identifier.</p> </li> <li> <p>The date and time when the policy was last modified.</p> </li> </ul> <p>To get a cache policy, you must provide the policy's identifier. If the cache policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the cache policy is not attached to a cache behavior, you can get the identifier using <code>ListCachePolicies</code>.</p>"
    },
    "GetCachePolicyConfig":{
      "name":"GetCachePolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetCachePolicyConfigRequest"},
      "output":{"shape":"GetCachePolicyConfigResult"},
      "errors":[
        {"shape":"NoSuchCachePolicy"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Gets a cache policy configuration.</p> <p>To get a cache policy configuration, you must provide the policy's identifier. If the cache policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the cache policy is not attached to a cache behavior, you can get the identifier using <code>ListCachePolicies</code>.</p>"
    },
    "GetCloudFrontOriginAccessIdentity":{
      "name":"GetCloudFrontOriginAccessIdentity2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetCloudFrontOriginAccessIdentityRequest"},
      "output":{"shape":"GetCloudFrontOriginAccessIdentityResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"}
      ],
      "documentation":"<p>Get the information about an origin access identity.</p>"
    },
    "GetCloudFrontOriginAccessIdentityConfig":{
      "name":"GetCloudFrontOriginAccessIdentityConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetCloudFrontOriginAccessIdentityConfigRequest"},
      "output":{"shape":"GetCloudFrontOriginAccessIdentityConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchCloudFrontOriginAccessIdentity"}
      ],
      "documentation":"<p>Get the configuration information about an origin access identity.</p>"
    },
    "GetConnectionGroup":{
      "name":"GetConnectionGroup2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/connection-group/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConnectionGroupRequest"},
      "output":{"shape":"GetConnectionGroupResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"}
      ],
      "documentation":"<p>Gets information about a connection group.</p>"
    },
    "GetConnectionGroupByRoutingEndpoint":{
      "name":"GetConnectionGroupByRoutingEndpoint2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/connection-group",
        "responseCode":200
      },
      "input":{"shape":"GetConnectionGroupByRoutingEndpointRequest"},
      "output":{"shape":"GetConnectionGroupByRoutingEndpointResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"}
      ],
      "documentation":"<p>Gets information about a connection group by using the endpoint that you specify.</p>"
    },
    "GetContinuousDeploymentPolicy":{
      "name":"GetContinuousDeploymentPolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/continuous-deployment-policy/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetContinuousDeploymentPolicyRequest"},
      "output":{"shape":"GetContinuousDeploymentPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchContinuousDeploymentPolicy"}
      ],
      "documentation":"<p>Gets a continuous deployment policy, including metadata (the policy's identifier and the date and time when the policy was last modified).</p>"
    },
    "GetContinuousDeploymentPolicyConfig":{
      "name":"GetContinuousDeploymentPolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/continuous-deployment-policy/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetContinuousDeploymentPolicyConfigRequest"},
      "output":{"shape":"GetContinuousDeploymentPolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchContinuousDeploymentPolicy"}
      ],
      "documentation":"<p>Gets configuration information about a continuous deployment policy.</p>"
    },
    "GetDistribution":{
      "name":"GetDistribution2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetDistributionRequest"},
      "output":{"shape":"GetDistributionResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Get the information about a distribution.</p>"
    },
    "GetDistributionConfig":{
      "name":"GetDistributionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetDistributionConfigRequest"},
      "output":{"shape":"GetDistributionConfigResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"}
      ],
      "documentation":"<p>Get the configuration information about a distribution.</p>"
    },
    "GetDistributionTenant":{
      "name":"GetDistributionTenant2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution-tenant/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDistributionTenantRequest"},
      "output":{"shape":"GetDistributionTenantResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"}
      ],
      "documentation":"<p>Gets information about a distribution tenant.</p>"
    },
    "GetDistributionTenantByDomain":{
      "name":"GetDistributionTenantByDomain2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution-tenant",
        "responseCode":200
      },
      "input":{"shape":"GetDistributionTenantByDomainRequest"},
      "output":{"shape":"GetDistributionTenantByDomainResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"}
      ],
      "documentation":"<p>Gets information about a distribution tenant by the associated domain.</p>"
    },
    "GetFieldLevelEncryption":{
      "name":"GetFieldLevelEncryption2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetFieldLevelEncryptionRequest"},
      "output":{"shape":"GetFieldLevelEncryptionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"}
      ],
      "documentation":"<p>Get the field-level encryption configuration information.</p>"
    },
    "GetFieldLevelEncryptionConfig":{
      "name":"GetFieldLevelEncryptionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetFieldLevelEncryptionConfigRequest"},
      "output":{"shape":"GetFieldLevelEncryptionConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionConfig"}
      ],
      "documentation":"<p>Get the field-level encryption configuration information.</p>"
    },
    "GetFieldLevelEncryptionProfile":{
      "name":"GetFieldLevelEncryptionProfile2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetFieldLevelEncryptionProfileRequest"},
      "output":{"shape":"GetFieldLevelEncryptionProfileResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"}
      ],
      "documentation":"<p>Get the field-level encryption profile information.</p>"
    },
    "GetFieldLevelEncryptionProfileConfig":{
      "name":"GetFieldLevelEncryptionProfileConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/field-level-encryption-profile/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetFieldLevelEncryptionProfileConfigRequest"},
      "output":{"shape":"GetFieldLevelEncryptionProfileConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchFieldLevelEncryptionProfile"}
      ],
      "documentation":"<p>Get the field-level encryption profile configuration information.</p>"
    },
    "GetFunction":{
      "name":"GetFunction2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/function/{Name}",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionRequest"},
      "output":{"shape":"GetFunctionResult"},
      "errors":[
        {"shape":"UnsupportedOperation"},
        {"shape":"NoSuchFunctionExists"}
      ],
      "documentation":"<p>Gets the code of a CloudFront function. To get configuration information and metadata about a function, use <code>DescribeFunction</code>.</p> <p>To get a function's code, you must provide the function's name and stage. To get these values, you can use <code>ListFunctions</code>.</p>"
    },
    "GetInvalidation":{
      "name":"GetInvalidation2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution/{DistributionId}/invalidation/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetInvalidationRequest"},
      "output":{"shape":"GetInvalidationResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"},
        {"shape":"NoSuchInvalidation"}
      ],
      "documentation":"<p>Get the information about an invalidation.</p>"
    },
    "GetInvalidationForDistributionTenant":{
      "name":"GetInvalidationForDistributionTenant2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution-tenant/{DistributionTenantId}/invalidation/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetInvalidationForDistributionTenantRequest"},
      "output":{"shape":"GetInvalidationForDistributionTenantResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"NoSuchInvalidation"}
      ],
      "documentation":"<p>Gets information about a specific invalidation for a distribution tenant.</p>"
    },
    "GetKeyGroup":{
      "name":"GetKeyGroup2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-group/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetKeyGroupRequest"},
      "output":{"shape":"GetKeyGroupResult"},
      "errors":[
        {"shape":"NoSuchResource"}
      ],
      "documentation":"<p>Gets a key group, including the date and time when the key group was last modified.</p> <p>To get a key group, you must provide the key group's identifier. If the key group is referenced in a distribution's cache behavior, you can get the key group's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the key group is not referenced in a cache behavior, you can get the identifier using <code>ListKeyGroups</code>.</p>"
    },
    "GetKeyGroupConfig":{
      "name":"GetKeyGroupConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/key-group/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetKeyGroupConfigRequest"},
      "output":{"shape":"GetKeyGroupConfigResult"},
      "errors":[
        {"shape":"NoSuchResource"}
      ],
      "documentation":"<p>Gets a key group configuration.</p> <p>To get a key group configuration, you must provide the key group's identifier. If the key group is referenced in a distribution's cache behavior, you can get the key group's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the key group is not referenced in a cache behavior, you can get the identifier using <code>ListKeyGroups</code>.</p>"
    },
    "GetManagedCertificateDetails":{
      "name":"GetManagedCertificateDetails2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/managed-certificate/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetManagedCertificateDetailsRequest"},
      "output":{"shape":"GetManagedCertificateDetailsResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"}
      ],
      "documentation":"<p>Gets details about the CloudFront managed ACM certificate.</p>"
    },
    "GetMonitoringSubscription":{
      "name":"GetMonitoringSubscription2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributions/{DistributionId}/monitoring-subscription",
        "responseCode":200
      },
      "input":{"shape":"GetMonitoringSubscriptionRequest"},
      "output":{"shape":"GetMonitoringSubscriptionResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"AccessDenied"},
        {"shape":"UnsupportedOperation"},
        {"shape":"NoSuchMonitoringSubscription"}
      ],
      "documentation":"<p>Gets information about whether additional CloudWatch metrics are enabled for the specified CloudFront distribution.</p>"
    },
    "GetOriginAccessControl":{
      "name":"GetOriginAccessControl2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-control/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetOriginAccessControlRequest"},
      "output":{"shape":"GetOriginAccessControlResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginAccessControl"}
      ],
      "documentation":"<p>Gets a CloudFront origin access control, including its unique identifier.</p>"
    },
    "GetOriginAccessControlConfig":{
      "name":"GetOriginAccessControlConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-control/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetOriginAccessControlConfigRequest"},
      "output":{"shape":"GetOriginAccessControlConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginAccessControl"}
      ],
      "documentation":"<p>Gets a CloudFront origin access control configuration.</p>"
    },
    "GetOriginRequestPolicy":{
      "name":"GetOriginRequestPolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetOriginRequestPolicyRequest"},
      "output":{"shape":"GetOriginRequestPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginRequestPolicy"}
      ],
      "documentation":"<p>Gets an origin request policy, including the following metadata:</p> <ul> <li> <p>The policy's identifier.</p> </li> <li> <p>The date and time when the policy was last modified.</p> </li> </ul> <p>To get an origin request policy, you must provide the policy's identifier. If the origin request policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the origin request policy is not attached to a cache behavior, you can get the identifier using <code>ListOriginRequestPolicies</code>.</p>"
    },
    "GetOriginRequestPolicyConfig":{
      "name":"GetOriginRequestPolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-request-policy/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetOriginRequestPolicyConfigRequest"},
      "output":{"shape":"GetOriginRequestPolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchOriginRequestPolicy"}
      ],
      "documentation":"<p>Gets an origin request policy configuration.</p> <p>To get an origin request policy configuration, you must provide the policy's identifier. If the origin request policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the origin request policy is not attached to a cache behavior, you can get the identifier using <code>ListOriginRequestPolicies</code>.</p>"
    },
    "GetPublicKey":{
      "name":"GetPublicKey2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/public-key/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetPublicKeyRequest"},
      "output":{"shape":"GetPublicKeyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchPublicKey"}
      ],
      "documentation":"<p>Gets a public key.</p>"
    },
    "GetPublicKeyConfig":{
      "name":"GetPublicKeyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/public-key/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetPublicKeyConfigRequest"},
      "output":{"shape":"GetPublicKeyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchPublicKey"}
      ],
      "documentation":"<p>Gets a public key configuration.</p>"
    },
    "GetRealtimeLogConfig":{
      "name":"GetRealtimeLogConfig2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/get-realtime-log-config",
        "responseCode":200
      },
      "input":{
        "shape":"GetRealtimeLogConfigRequest",
        "locationName":"GetRealtimeLogConfigRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"GetRealtimeLogConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchRealtimeLogConfig"}
      ],
      "documentation":"<p>Gets a real-time log configuration.</p> <p>To get a real-time log configuration, you can provide the configuration's name or its Amazon Resource Name (ARN). You must provide at least one. If you provide both, CloudFront uses the name to identify the real-time log configuration to get.</p>"
    },
    "GetResponseHeadersPolicy":{
      "name":"GetResponseHeadersPolicy2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/response-headers-policy/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetResponseHeadersPolicyRequest"},
      "output":{"shape":"GetResponseHeadersPolicyResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchResponseHeadersPolicy"}
      ],
      "documentation":"<p>Gets a response headers policy, including metadata (the policy's identifier and the date and time when the policy was last modified).</p> <p>To get a response headers policy, you must provide the policy's identifier. If the response headers policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the response headers policy is not attached to a cache behavior, you can get the identifier using <code>ListResponseHeadersPolicies</code>.</p>"
    },
    "GetResponseHeadersPolicyConfig":{
      "name":"GetResponseHeadersPolicyConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/response-headers-policy/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetResponseHeadersPolicyConfigRequest"},
      "output":{"shape":"GetResponseHeadersPolicyConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchResponseHeadersPolicy"}
      ],
      "documentation":"<p>Gets a response headers policy configuration.</p> <p>To get a response headers policy configuration, you must provide the policy's identifier. If the response headers policy is attached to a distribution's cache behavior, you can get the policy's identifier using <code>ListDistributions</code> or <code>GetDistribution</code>. If the response headers policy is not attached to a cache behavior, you can get the identifier using <code>ListResponseHeadersPolicies</code>.</p>"
    },
    "GetStreamingDistribution":{
      "name":"GetStreamingDistribution2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetStreamingDistributionRequest"},
      "output":{"shape":"GetStreamingDistributionResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchStreamingDistribution"}
      ],
      "documentation":"<p>Gets information about a specified RTMP distribution, including the distribution configuration.</p>"
    },
    "GetStreamingDistributionConfig":{
      "name":"GetStreamingDistributionConfig2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/streaming-distribution/{Id}/config",
        "responseCode":200
      },
      "input":{"shape":"GetStreamingDistributionConfigRequest"},
      "output":{"shape":"GetStreamingDistributionConfigResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"NoSuchStreamingDistribution"}
      ],
      "documentation":"<p>Get the configuration information about a streaming distribution.</p>"
    },
    "GetVpcOrigin":{
      "name":"GetVpcOrigin2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/vpc-origin/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetVpcOriginRequest"},
      "output":{"shape":"GetVpcOriginResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"UnsupportedOperation"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Get the details of an Amazon CloudFront VPC origin.</p>"
    },
    "ListAnycastIpLists":{
      "name":"ListAnycastIpLists2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/anycast-ip-list",
        "responseCode":200
      },
      "input":{"shape":"ListAnycastIpListsRequest"},
      "output":{"shape":"ListAnycastIpListsResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"UnsupportedOperation"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Lists your Anycast static IP lists.</p>"
    },
    "ListCachePolicies":{
      "name":"ListCachePolicies2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/cache-policy",
        "responseCode":200
      },
      "input":{"shape":"ListCachePoliciesRequest"},
      "output":{"shape":"ListCachePoliciesResult"},
      "errors":[
        {"shape":"NoSuchCachePolicy"},
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets a list of cache policies.</p> <p>You can optionally apply a filter to return only the managed policies created by Amazon Web Services, or only the custom policies created in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListCloudFrontOriginAccessIdentities":{
      "name":"ListCloudFrontOriginAccessIdentities2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/origin-access-identity/cloudfront",
        "responseCode":200
      },
      "input":{"shape":"ListCloudFrontOriginAccessIdentitiesRequest"},
      "output":{"shape":"ListCloudFrontOriginAccessIdentitiesResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Lists origin access identities.</p>"
    },
    "ListConflictingAliases":{
      "name":"ListConflictingAliases2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/conflicting-alias",
        "responseCode":200
      },
      "input":{"shape":"ListConflictingAliasesRequest"},
      "output":{"shape":"ListConflictingAliasesResult"},
      "errors":[
        {"shape":"NoSuchDistribution"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p><note> <p>The <code>ListConflictingAliases</code> API operation only supports standard distributions. To list domain conflicts for both standard distributions and distribution tenants, we recommend that you use the <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_ListDomainConflicts.html\">ListDomainConflicts</a> API operation instead.</p> </note> <p>Gets a list of aliases that conflict or overlap with the provided alias, and the associated CloudFront standard distribution and Amazon Web Services accounts for each conflicting alias. An alias is commonly known as a custom domain or vanity domain. It can also be called a CNAME or alternate domain name.</p> <p>In the returned list, the standard distribution and account IDs are partially hidden, which allows you to identify the standard distribution and accounts that you own, and helps to protect the information of ones that you don't own.</p> <p>Use this operation to find aliases that are in use in CloudFront that conflict or overlap with the provided alias. For example, if you provide <code>www.example.com</code> as input, the returned list can include <code>www.example.com</code> and the overlapping wildcard alternate domain name (<code><em>.example.com</code>), if they exist. If you provide <code></em>.example.com</code> as input, the returned list can include <code>*.example.com</code> and any alternate domain names covered by that wildcard (for example, <code>www.example.com</code>, <code>test.example.com</code>, <code>dev.example.com</code>, and so on), if they exist.</p> <p>To list conflicting aliases, specify the alias to search and the ID of a standard distribution in your account that has an attached TLS certificate that includes the provided alias. For more information, including how to set up the standard distribution and certificate, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-move\">Moving an alternate domain name to a different standard distribution or distribution tenant</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p></p>"
    },
    "ListConnectionGroups":{
      "name":"ListConnectionGroups2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/connection-groups",
        "responseCode":200
      },
      "input":{
        "shape":"ListConnectionGroupsRequest",
        "locationName":"ListConnectionGroupsRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"ListConnectionGroupsResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Lists the connection groups in your Amazon Web Services account.</p>"
    },
    "ListContinuousDeploymentPolicies":{
      "name":"ListContinuousDeploymentPolicies2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/continuous-deployment-policy",
        "responseCode":200
      },
      "input":{"shape":"ListContinuousDeploymentPoliciesRequest"},
      "output":{"shape":"ListContinuousDeploymentPoliciesResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchContinuousDeploymentPolicy"}
      ],
      "documentation":"<p>Gets a list of the continuous deployment policies in your Amazon Web Services account.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListDistributionTenants":{
      "name":"ListDistributionTenants2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution-tenants",
        "responseCode":200
      },
      "input":{
        "shape":"ListDistributionTenantsRequest",
        "locationName":"ListDistributionTenantsRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"ListDistributionTenantsResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Lists the distribution tenants in your Amazon Web Services account.</p>"
    },
    "ListDistributionTenantsByCustomization":{
      "name":"ListDistributionTenantsByCustomization2020_05_31",
      "http":{
        "method":"POST",
        "requestUri":"/2020-05-31/distribution-tenants-by-customization",
        "responseCode":200
      },
      "input":{
        "shape":"ListDistributionTenantsByCustomizationRequest",
        "locationName":"ListDistributionTenantsByCustomizationRequest",
        "xmlNamespace":{"uri":"http://cloudfront.amazonaws.com/doc/2020-05-31/"}
      },
      "output":{"shape":"ListDistributionTenantsByCustomizationResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Lists distribution tenants by the customization that you specify.</p> <p>You must specify either the <code>CertificateArn</code> parameter or <code>WebACLArn</code> parameter, but not both in the same request.</p>"
    },
    "ListDistributions":{
      "name":"ListDistributions2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distribution",
        "responseCode":200
      },
      "input":{"shape":"ListDistributionsRequest"},
      "output":{"shape":"ListDistributionsResult"},
      "errors":[
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>List CloudFront distributions.</p>"
    },
    "ListDistributionsByAnycastIpListId":{
      "name":"ListDistributionsByAnycastIpListId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByAnycastIpListId/{AnycastIpListId}",
        "responseCode":200
      },
      "input":{"shape":"ListDistributionsByAnycastIpListIdRequest"},
      "output":{"shape":"ListDistributionsByAnycastIpListIdResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"EntityNotFound"},
        {"shape":"UnsupportedOperation"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Lists the distributions in your account that are associated with the specified <code>AnycastIpListId</code>.</p>"
    },
    "ListDistributionsByCachePolicyId":{
      "name":"ListDistributionsByCachePolicyId2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByCachePolicyId/{CachePolicyId}",
        "responseCode":200
      },
      "input":{"shape":"ListDistributionsByCachePolicyIdRequest"},
      "output":{"shape":"ListDistributionsByCachePolicyIdResult"},
      "errors":[
        {"shape":"NoSuchCachePolicy"},
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Gets a list of distribution IDs for distributions that have a cache behavior that's associated with the specified cache policy.</p> <p>You can optionally specify the maximum number of items to receive in the response. If the total number of items in the list exceeds the maximum that you specify, or the default maximum, the response is paginated. To get the next page of items, send a subsequent request that specifies the <code>NextMarker</code> value from the current response as the <code>Marker</code> value in the subsequent request.</p>"
    },
    "ListDistributionsByConnectionMode":{
      "name":"ListDistributionsByConnectionMode2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByConnectionMode/{ConnectionMode}",
        "responseCode":200
      },
      "input":{"shape":"ListDistributionsByConnectionModeRequest"},
      "output":{"shape":"ListDistributionsByConnectionModeResult"},
      "errors":[
        {"shape":"AccessDenied"},
        {"shape":"InvalidArgument"}
      ],
      "documentation":"<p>Lists the distributions by the connection mode that you specify.</p>"
    },
    "ListDistributionsByKeyGroup":{
      "name":"ListDistributionsByKeyGroup2020_05_31",
      "http":{
        "method":"GET",
        "requestUri":"/2020-05-31/distributionsByKeyGroupId/{KeyGroupId}",
        "responseCode":200
      },
      "input":{"shape":"ListDistributionsByKeyGroupRequest"},
      "output":{"shape":"ListDistributionsByKeyGroupResult"},
      "errors":[
        {"shape":"InvalidArgument"},
        {"shape":"NoSuchResource"}
      ],
[...]
