/*
 * Generic layout classes, applying both structure and visual design
 *
 * Table of Contents
 *
 * Globals
 * Helpers
 * Floats
 * Box
 * Main
 */


/* ==========================================================================
   Globals
   ========================================================================== */

body {
    width: 100%;
    background: $lightbrown;
}


/* ==========================================================================
   Helpers
   ========================================================================== */

.clearfix {
    @include clearfix;
}

.wrapper {
    position: relative;
}


/* ==========================================================================
   Floats
   ========================================================================== */

.right {
    float: right;
}
.left {
    float: left;
}


/* ==========================================================================
   Box
   ========================================================================== */

.box {
    padding: 15px;
    margin-bottom: 15px;
    background: #fff;
    position: relative;
    box-shadow: $shadow;

    header {
        height:14px;
        border-bottom: 1px solid $lightbrown;
        padding-bottom: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size:0.85em;
        color: $brown;
    }

    footer {
        height:14px;
        border-top: 1px solid $lightbrown;
        padding-top: 10px;
        margin-top:15px;
        text-transform: uppercase;
        font-size:0.85em;
        color: $brown;
    }

    header a,
    footer a {
        color:$brown;
        &:hover {
            color:$darkgrey;
            text-decoration: none;
        }
    }
}


/* ==========================================================================
   Main
   ---
   Make t/r/b/l values variables where needed
   ========================================================================== */

main {
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 0;
    left: 15px;
    padding: 0;

    @media (max-width: 400px) {
        top: 40px;
        left: 0;
        right: 0;
    }

}