/*
 * Role Lable styles
 *
 * Table of Contents
 *
 * Role Labels
 */


 /* ==========================================================================
   Role Labels
   ========================================================================== */

.role-label {

    background: #eee;

    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;

    color: rgba(0,0,0,0.5);
    font-size: 9px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;

    &.owner, &.admin, &.editor {
        color: rgba(255,255,255,0.7);
    }

    &.owner {
        background: $darkgrey;
    }

    &.admin {
        background: $red;
    }

    &.editor {
        background: $blue;
    }

}