/*
 * Type styles, including headers, elements, links, and everything else.
 *
 * Table of Contents
 *
 * Global font sizing & colour
 * Headings
 * Heading Groups
 * Generic Text Elements
 * Code
 * Keyboard
 * Links
 * Horizontal Rules
 * Blockquotes
 * Definition Lists
 */


/* ==========================================================================
   Global font sizing & colour
   ========================================================================== */

html {
    font: normal 81.2%/1.65 "Open Sans", sans-serif;
}

body {
    color: $darkgrey;
    font-weight: 300;
}


/* ==========================================================================
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    color: $darkgrey;
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
}

h2 {
    padding-top: 0.8em;
    margin-top: 0.8em;
    border-top: $lightbrown 1px solid;
}

h1 a:hover {
    text-decoration: none;
    box-shadow: $blue 0 -5px 0 inset;
}

h2 a:hover {
    text-decoration: none;
    box-shadow: $blue 0 -4px 0 inset;
}

h3 a:hover {
    text-decoration: none;
    box-shadow: $blue 0 -3px 0 inset;
}

h4, h5, h6 {
    a:hover {
        text-decoration: none;
        box-shadow: $blue 0 -1px 0 inset;
    }
}


/* ==========================================================================
   Heading Groups
   ========================================================================== */

hgroup {
    @include baseline;

    h1, h2, h3, h4, h5, h6 {
        padding:0;
        margin:0;
        border:none;
        margin-bottom: 5px;

        a {
            color: $darkgrey;

            &:hover {
                box-shadow: $darkgrey 0 -1px 0 inset;
            }

        }

        // Make everything except the first heading appear smaller/thinner.
        &:nth-child(n+2) {
            font-size: 1.8em;
            font-weight: 300;
            color: $brown;
        }

    }

}


/* ==========================================================================
   Generic Text Elements
   ========================================================================== */

p, ul, ol {
    @include baseline;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.4em 0;
}

mark {
    background-color: #ffc336;
}


/* ==========================================================================
   Code
   ========================================================================== */

.markdown,
pre,
code,
tt {
    font-family: $font-family-mono;
}

code, tt {
    font-size: 0.85em;
    white-space: pre-wrap;
    background: lighten($lightbrown, 2%);
    border: 1px solid darken($lightbrown, 8%);
    border-radius: 2px;
    padding: 1px 3px;
}

pre {
    @include baseline;
    background: lighten($lightbrown, 2%);
    border: 1px solid darken($lightbrown, 8%);
    width: 100%;
    padding: 10px;
    font-family: $font-family-mono;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    border-radius: 3px;

    code, tt {
        font-size: inherit;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
        background: transparent;
        border: none;
        padding: 0;
    }
}


/* ==========================================================================
   Keyboard
   ========================================================================== */

kbd {
    display: inline-block;
    margin-bottom: 0.4em;
    padding: 1px 8px;
    border: #ccc 1px solid;
    color: $darkgrey;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    font-weight: bold;
    background: #f4f4f4;
    border-radius: 4px;
    box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 0 0 #fff inset;
}


/* ==========================================================================
   Links
   ========================================================================== */

a {
    color: $blue;
    text-decoration: none;
    @include transition(all 0.15s ease-in-out);

    &:hover {
        text-decoration: underline;
    }

    &.highlight {
        color: $orange;
        font-weight: bold;
    }
}


/* ==========================================================================
   Horizontal Rules
   ========================================================================== */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $lightbrown;
    margin: 3.2em 0;
    padding: 0;
}


/* ==========================================================================
   Blockquotes
   ========================================================================== */

blockquote {
    @include baseline;
    padding: 0 1.6em 0 1.6em;
    border-left: $lightbrown 0.6em solid;

    p {
        margin:0.8em 0;
        font-size:1.2em;
        font-weight: 300;
    }

    small {
        display: inline-block;
        margin: 0.8em 0 0.8em 1.5em;
        font-size:0.9em;
        color: $brown;
        &:before {
            content: '\2014 \00A0';
        }
    }

    cite {
        font-weight:bold;
        a { font-weight: normal; }
    }
}


/* ==========================================================================
   Definition Lists
   ========================================================================== */

dl {
    @include baseline;

    dt {
        float: left;
        width: 180px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        margin-bottom: 1em
    }

    dd {
        margin-left: 200px;
        margin-bottom: 1em
    }
}