/*
 * Utility classes that impose no visual design, only structural and semantic help
 *
 * Table of Contents
 *
 * Global font sizing & colour
 * Headings
 * Heading Groups
 * Generic Text Elements
 * Links
 * Horizontal Rules
 * Blockquotes
 * Definition Lists
 */

 /* ==========================================================================
   Utility Classes
   ========================================================================== */

.invisible {
    visibility: hidden;
}

.hidden,
.visuallyhidden,
.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}