{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-05-08",
    "endpointPrefix":"iam",
    "globalEndpoint":"iam.amazonaws.com",
    "protocol":"query",
    "protocols":["query"],
    "serviceAbbreviation":"IAM",
    "serviceFullName":"AWS Identity and Access Management",
    "serviceId":"IAM",
    "signatureVersion":"v4",
    "uid":"iam-2010-05-08",
    "xmlNamespace":"https://iam.amazonaws.com/doc/2010-05-08/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddClientIDToOpenIDConnectProvider":{
      "name":"AddClientIDToOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddClientIDToOpenIDConnectProviderRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Adds a new client ID (also known as audience) to the list of client IDs already registered for the specified IAM OpenID Connect (OIDC) provider resource.</p> <p>This operation is idempotent; it does not fail or return an error if you add an existing client ID to the provider.</p>"
    },
    "AddRoleToInstanceProfile":{
      "name":"AddRoleToInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRoleToInstanceProfileRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnmodifiableEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Adds the specified IAM role to the specified instance profile. An instance profile can contain only one role, and this quota cannot be increased. You can remove the existing role and then add a different role to an instance profile. You must then wait for the change to appear across all of Amazon Web Services because of <a href=\"https://en.wikipedia.org/wiki/Eventual_consistency\">eventual consistency</a>. To force the change, you must <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DisassociateIamInstanceProfile.html\">disassociate the instance profile</a> and then <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html\">associate the instance profile</a>, or you can stop your instance and then restart it.</p> <note> <p>The caller of this operation must be granted the <code>PassRole</code> permission on the IAM role by a permissions policy.</p> </note> <important> <p>When using the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_iam-condition-keys.html#available-keys-for-iam\">iam:AssociatedResourceArn</a> condition in a policy to restrict the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">PassRole</a> IAM action, special considerations apply if the policy is intended to define access for the <code>AddRoleToInstanceProfile</code> action. In this case, you cannot specify a Region or instance ID in the EC2 instance ARN. The ARN value must be <code>arn:aws:ec2:*:CallerAccountId:instance/*</code>. Using any other ARN value may lead to unexpected evaluation results.</p> </important> <p> For more information about roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html\">IAM roles</a> in the <i>IAM User Guide</i>. For more information about instance profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2_instance-profiles.html\">Using instance profiles</a> in the <i>IAM User Guide</i>.</p>"
    },
    "AddUserToGroup":{
      "name":"AddUserToGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddUserToGroupRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Adds the specified user to the specified group.</p>"
    },
    "AttachGroupPolicy":{
      "name":"AttachGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachGroupPolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyNotAttachableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Attaches the specified managed policy to the specified IAM group.</p> <p>You use this operation to attach a managed policy to a group. To embed an inline policy in a group, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutGroupPolicy.html\"> <code>PutGroupPolicy</code> </a>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "AttachRolePolicy":{
      "name":"AttachRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachRolePolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"UnmodifiableEntityException"},
        {"shape":"PolicyNotAttachableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Attaches the specified managed policy to the specified IAM role. When you attach a managed policy to a role, the managed policy becomes part of the role's permission (access) policy.</p> <note> <p>You cannot use a managed policy as the role's trust policy. The role's trust policy is created at the same time as the role, using <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\"> <code>CreateRole</code> </a>. You can update a role's trust policy using <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_UpdateAssumeRolePolicy.html\"> <code>UpdateAssumerolePolicy</code> </a>.</p> </note> <p>Use this operation to attach a <i>managed</i> policy to a role. To embed an inline policy in a role, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutRolePolicy.html\"> <code>PutRolePolicy</code> </a>. For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "AttachUserPolicy":{
      "name":"AttachUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachUserPolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyNotAttachableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Attaches the specified managed policy to the specified user.</p> <p>You use this operation to attach a <i>managed</i> policy to a user. To embed an inline policy in a user, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_PutUserPolicy.html\"> <code>PutUserPolicy</code> </a>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "ChangePassword":{
      "name":"ChangePassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ChangePasswordRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"InvalidUserTypeException"},
        {"shape":"LimitExceededException"},
        {"shape":"EntityTemporarilyUnmodifiableException"},
        {"shape":"PasswordPolicyViolationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Changes the password of the IAM user who is calling this operation. This operation can be performed using the CLI, the Amazon Web Services API, or the <b>My Security Credentials</b> page in the Amazon Web Services Management Console. The Amazon Web Services account root user password is not affected by this operation.</p> <p>Use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_UpdateLoginProfile.html\">UpdateLoginProfile</a> to use the CLI, the Amazon Web Services API, or the <b>Users</b> page in the IAM console to change the password for any IAM user. For more information about modifying passwords, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing passwords</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateAccessKey":{
      "name":"CreateAccessKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccessKeyRequest"},
      "output":{
        "shape":"CreateAccessKeyResponse",
        "resultWrapper":"CreateAccessKeyResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p> Creates a new Amazon Web Services secret access key and corresponding Amazon Web Services access key ID for the specified user. The default status for new keys is <code>Active</code>.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the Amazon Web Services access key ID signing the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials. This is true even if the Amazon Web Services account has no associated users.</p> <p> For information about quotas on the number of keys you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <important> <p>To ensure the security of your Amazon Web Services account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys.</p> </important>"
    },
    "CreateAccountAlias":{
      "name":"CreateAccountAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccountAliasRequest"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates an alias for your Amazon Web Services account. For information about using an Amazon Web Services account alias, see <a href=\"https://docs.aws.amazon.com/signin/latest/userguide/CreateAccountAlias.html\">Creating, deleting, and listing an Amazon Web Services account alias</a> in the <i>Amazon Web Services Sign-In User Guide</i>.</p>"
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{
        "shape":"CreateGroupResponse",
        "resultWrapper":"CreateGroupResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a new group.</p> <p> For information about the number of groups you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateInstanceProfile":{
      "name":"CreateInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceProfileRequest"},
      "output":{
        "shape":"CreateInstanceProfileResponse",
        "resultWrapper":"CreateInstanceProfileResult"
      },
      "errors":[
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p> Creates a new instance profile. For information about instance profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2.html\">Using roles for applications on Amazon EC2</a> in the <i>IAM User Guide</i>, and <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html#ec2-instance-profile\">Instance profiles</a> in the <i>Amazon EC2 User Guide</i>.</p> <p> For information about the number of instance profiles you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM object quotas</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateLoginProfile":{
      "name":"CreateLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLoginProfileRequest"},
      "output":{
        "shape":"CreateLoginProfileResponse",
        "resultWrapper":"CreateLoginProfileResult"
      },
      "errors":[
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"PasswordPolicyViolationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a password for the specified IAM user. A password allows an IAM user to access Amazon Web Services services through the Amazon Web Services Management Console.</p> <p>You can use the CLI, the Amazon Web Services API, or the <b>Users</b> page in the IAM console to create a password for any IAM user. Use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ChangePassword.html\">ChangePassword</a> to update your own existing password in the <b>My Security Credentials</b> page in the Amazon Web Services Management Console.</p> <p>For more information about managing passwords, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing passwords</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateOpenIDConnectProvider":{
      "name":"CreateOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOpenIDConnectProviderRequest"},
      "output":{
        "shape":"CreateOpenIDConnectProviderResponse",
        "resultWrapper":"CreateOpenIDConnectProviderResult"
      },
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"},
        {"shape":"OpenIdIdpCommunicationErrorException"}
      ],
      "documentation":"<p>Creates an IAM entity to describe an identity provider (IdP) that supports <a href=\"http://openid.net/connect/\">OpenID Connect (OIDC)</a>.</p> <p>The OIDC provider that you create with this operation can be used as a principal in a role's trust policy. Such a policy establishes a trust relationship between Amazon Web Services and the OIDC provider.</p> <p>If you are using an OIDC identity provider from Google, Facebook, or Amazon Cognito, you don't need to create a separate IAM identity provider. These OIDC identity providers are already built-in to Amazon Web Services and are available for your use. Instead, you can move directly to creating new roles using your identity provider. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-idp_oidc.html\">Creating a role for web identity or OpenID connect federation</a> in the <i>IAM User Guide</i>.</p> <p>When you create the IAM OIDC provider, you specify the following:</p> <ul> <li> <p>The URL of the OIDC identity provider (IdP) to trust</p> </li> <li> <p>A list of client IDs (also known as audiences) that identify the application or applications allowed to authenticate using the OIDC provider</p> </li> <li> <p>A list of tags that are attached to the specified IAM OIDC provider</p> </li> <li> <p>A list of thumbprints of one or more server certificates that the IdP uses</p> </li> </ul> <p>You get all of this information from the OIDC IdP you want to use to access Amazon Web Services.</p> <note> <p>Amazon Web Services secures communication with OIDC identity providers (IdPs) using our library of trusted root certificate authorities (CAs) to verify the JSON Web Key Set (JWKS) endpoint's TLS certificate. If your OIDC IdP relies on a certificate that is not signed by one of these trusted CAs, only then we secure communication using the thumbprints set in the IdP's configuration.</p> </note> <note> <p>The trust for the OIDC provider is derived from the IAM provider that this operation creates. Therefore, it is best to limit access to the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateOpenIDConnectProvider.html\">CreateOpenIDConnectProvider</a> operation to highly privileged users.</p> </note>"
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyRequest"},
      "output":{
        "shape":"CreatePolicyResponse",
        "resultWrapper":"CreatePolicyResult"
      },
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"MalformedPolicyDocumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a new managed policy for your Amazon Web Services account.</p> <p>This operation creates a policy version with a version identifier of <code>v1</code> and sets v1 as the policy's default version. For more information about policy versions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for managed policies</a> in the <i>IAM User Guide</i>.</p> <p>As a best practice, you can validate your IAM policies. To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\">Validating IAM policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about managed policies in general, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreatePolicyVersion":{
      "name":"CreatePolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyVersionRequest"},
      "output":{
        "shape":"CreatePolicyVersionResponse",
        "resultWrapper":"CreatePolicyVersionResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"MalformedPolicyDocumentException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a new version of the specified managed policy. To update a managed policy, you create a new policy version. A managed policy can have up to five versions. If the policy has five versions, you must delete an existing version using <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeletePolicyVersion.html\">DeletePolicyVersion</a> before you create a new version.</p> <p>Optionally, you can set the new version as the policy's default version. The default version is the version that is in effect for the IAM users, groups, and roles to which the policy is attached.</p> <p>For more information about managed policy versions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for managed policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateRole":{
      "name":"CreateRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRoleRequest"},
      "output":{
        "shape":"CreateRoleResponse",
        "resultWrapper":"CreateRoleResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"MalformedPolicyDocumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a new role for your Amazon Web Services account.</p> <p> For more information about roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html\">IAM roles</a> in the <i>IAM User Guide</i>. For information about quotas for role names and the number of roles you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateSAMLProvider":{
      "name":"CreateSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSAMLProviderRequest"},
      "output":{
        "shape":"CreateSAMLProviderResponse",
        "resultWrapper":"CreateSAMLProviderResult"
      },
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates an IAM resource that describes an identity provider (IdP) that supports SAML 2.0.</p> <p>The SAML provider resource that you create with this operation can be used as a principal in an IAM role's trust policy. Such a policy can enable federated users who sign in using the SAML IdP to assume the role. You can create an IAM role that supports Web-based single sign-on (SSO) to the Amazon Web Services Management Console or one that supports API access to Amazon Web Services.</p> <p>When you create the SAML provider resource, you upload a SAML metadata document that you get from your IdP. That document includes the issuer's name, expiration information, and keys that can be used to validate the SAML authentication response (assertions) that the IdP sends. You must generate the metadata document using the identity management software that is used as your organization's IdP.</p> <note> <p> This operation requires <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> </note> <p> For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-saml.html\">Enabling SAML 2.0 federated users to access the Amazon Web Services Management Console</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_saml.html\">About SAML 2.0-based federation</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateServiceLinkedRole":{
      "name":"CreateServiceLinkedRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceLinkedRoleRequest"},
      "output":{
        "shape":"CreateServiceLinkedRoleResponse",
        "resultWrapper":"CreateServiceLinkedRoleResult"
      },
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates an IAM role that is linked to a specific Amazon Web Services service. The service controls the attached policies and when the role can be deleted. This helps ensure that the service is not broken by an unexpectedly changed or deleted role, which could put your Amazon Web Services resources into an unknown state. Allowing the service to control the role helps improve service stability and proper cleanup when a service and its role are no longer needed. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html\">Using service-linked roles</a> in the <i>IAM User Guide</i>. </p> <p>To attach a policy to this service-linked role, you must make the request using the Amazon Web Services service that depends on this role.</p>"
    },
    "CreateServiceSpecificCredential":{
      "name":"CreateServiceSpecificCredential",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceSpecificCredentialRequest"},
      "output":{
        "shape":"CreateServiceSpecificCredentialResponse",
        "resultWrapper":"CreateServiceSpecificCredentialResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceNotSupportedException"}
      ],
      "documentation":"<p>Generates a set of credentials consisting of a user name and password that can be used to access the service specified in the request. These credentials are generated by IAM, and can be used only for the specified service. </p> <p>You can have a maximum of two sets of service-specific credentials for each supported service per user.</p> <p>You can create service-specific credentials for Amazon Bedrock, CodeCommit and Amazon Keyspaces (for Apache Cassandra).</p> <p>You can reset the password to a new service-generated value by calling <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ResetServiceSpecificCredential.html\">ResetServiceSpecificCredential</a>.</p> <p>For more information about service-specific credentials, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_bedrock.html\">Service-specific credentials for IAM users</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{
        "shape":"CreateUserResponse",
        "resultWrapper":"CreateUserResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"InvalidInputException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a new IAM user for your Amazon Web Services account.</p> <p> For information about quotas for the number of IAM users you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p>"
    },
    "CreateVirtualMFADevice":{
      "name":"CreateVirtualMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVirtualMFADeviceRequest"},
      "output":{
        "shape":"CreateVirtualMFADeviceResponse",
        "resultWrapper":"CreateVirtualMFADeviceResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a new virtual MFA device for the Amazon Web Services account. After creating the virtual MFA, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_EnableMFADevice.html\">EnableMFADevice</a> to attach the MFA device to an IAM user. For more information about creating and working with virtual MFA devices, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html\">Using a virtual MFA device</a> in the <i>IAM User Guide</i>.</p> <p>For information about the maximum number of MFA devices you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <important> <p>The seed information contained in the QR code and the Base32 string should be treated like any other secret access information. In other words, protect the seed information as you would your Amazon Web Services access keys or your passwords. After you provision your virtual device, you should ensure that the information is destroyed following secure procedures.</p> </important>"
    },
    "DeactivateMFADevice":{
      "name":"DeactivateMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeactivateMFADeviceRequest"},
      "errors":[
        {"shape":"EntityTemporarilyUnmodifiableException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deactivates the specified MFA device and removes it from association with the user name for which it was originally enabled.</p> <p>For more information about creating and working with virtual MFA devices, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html\">Enabling a virtual multi-factor authentication (MFA) device</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DeleteAccessKey":{
      "name":"DeleteAccessKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccessKeyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the access key pair associated with the specified IAM user.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the Amazon Web Services access key ID signing the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials even if the Amazon Web Services account has no associated users.</p>"
    },
    "DeleteAccountAlias":{
      "name":"DeleteAccountAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccountAliasRequest"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p> Deletes the specified Amazon Web Services account alias. For information about using an Amazon Web Services account alias, see <a href=\"https://docs.aws.amazon.com/signin/latest/userguide/CreateAccountAlias.html\">Creating, deleting, and listing an Amazon Web Services account alias</a> in the <i>Amazon Web Services Sign-In User Guide</i>.</p>"
    },
    "DeleteAccountPasswordPolicy":{
      "name":"DeleteAccountPasswordPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the password policy for the Amazon Web Services account. There are no parameters.</p>"
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"DeleteConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified IAM group. The group must not contain any users or have any attached policies.</p>"
    },
    "DeleteGroupPolicy":{
      "name":"DeleteGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupPolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified inline policy that is embedded in the specified IAM group.</p> <p>A group can also have managed policies attached to it. To detach a managed policy from a group, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DetachGroupPolicy.html\">DetachGroupPolicy</a>. For more information about policies, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DeleteInstanceProfile":{
      "name":"DeleteInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceProfileRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"DeleteConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified instance profile. The instance profile must not have an associated role.</p> <important> <p>Make sure that you do not have any Amazon EC2 instances running with the instance profile you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance.</p> </important> <p>For more information about instance profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2_instance-profiles.html\">Using instance profiles</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DeleteLoginProfile":{
      "name":"DeleteLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLoginProfileRequest"},
      "errors":[
        {"shape":"EntityTemporarilyUnmodifiableException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the password for the specified IAM user or root user, For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_passwords_admin-change-user.html\">Managing passwords for IAM users</a>.</p> <p>You can use the CLI, the Amazon Web Services API, or the <b>Users</b> page in the IAM console to delete a password for any IAM user. You can use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ChangePassword.html\">ChangePassword</a> to update, but not delete, your own password in the <b>My Security Credentials</b> page in the Amazon Web Services Management Console.</p> <important> <p>Deleting a user's password does not prevent a user from accessing Amazon Web Services through the command line interface or the API. To prevent all user access, you must also either make any access keys inactive or delete them. For more information about making keys inactive or deleting them, see <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_UpdateAccessKey.html\">UpdateAccessKey</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteAccessKey.html\">DeleteAccessKey</a>.</p> </important>"
    },
    "DeleteOpenIDConnectProvider":{
      "name":"DeleteOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOpenIDConnectProviderRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes an OpenID Connect identity provider (IdP) resource object in IAM.</p> <p>Deleting an IAM OIDC provider resource does not update any roles that reference the provider as a principal in their trust policies. Any attempt to assume a role that references a deleted provider fails.</p> <p>This operation is idempotent; it does not fail or return an error if you call the operation for a provider that does not exist.</p>"
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"DeleteConflictException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified managed policy.</p> <p>Before you can delete a managed policy, you must first detach the policy from all users, groups, and roles that it is attached to. In addition, you must delete all the policy's versions. The following steps describe the process for deleting a managed policy:</p> <ul> <li> <p>Detach the policy from all users, groups, and roles that the policy is attached to, using <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DetachUserPolicy.html\">DetachUserPolicy</a>, <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DetachGroupPolicy.html\">DetachGroupPolicy</a>, or <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DetachRolePolicy.html\">DetachRolePolicy</a>. To list all the users, groups, and roles that a policy is attached to, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ListEntitiesForPolicy.html\">ListEntitiesForPolicy</a>.</p> </li> <li> <p>Delete all versions of the policy using <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeletePolicyVersion.html\">DeletePolicyVersion</a>. To list the policy's versions, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ListPolicyVersions.html\">ListPolicyVersions</a>. You cannot use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeletePolicyVersion.html\">DeletePolicyVersion</a> to delete the version that is marked as the default version. You delete the policy's default version in the next step of the process.</p> </li> <li> <p>Delete the policy (this automatically deletes the policy's default version) using this operation.</p> </li> </ul> <p>For information about managed policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DeletePolicyVersion":{
      "name":"DeletePolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyVersionRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"DeleteConflictException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified version from the specified managed policy.</p> <p>You cannot delete the default version from a policy using this operation. To delete the default version from a policy, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeletePolicy.html\">DeletePolicy</a>. To find out which version of a policy is marked as the default version, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ListPolicyVersions.html\">ListPolicyVersions</a>.</p> <p>For information about versions for managed policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for managed policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DeleteRole":{
      "name":"DeleteRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRoleRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"DeleteConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnmodifiableEntityException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified role. Unlike the Amazon Web Services Management Console, when you delete a role programmatically, you must delete the items attached to the role manually, or the deletion fails. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_manage_delete.html#roles-managingrole-deleting-cli\">Deleting an IAM role</a>. Before attempting to delete a role, remove the following attached items: </p> <ul> <li> <p>Inline policies (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteRolePolicy.html\">DeleteRolePolicy</a>)</p> </li> <li> <p>Attached managed policies (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DetachRolePolicy.html\">DetachRolePolicy</a>)</p> </li> <li> <p>Instance profile (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_RemoveRoleFromInstanceProfile.html\">RemoveRoleFromInstanceProfile</a>)</p> </li> <li> <p>Optional – Delete instance profile after detaching from role for resource clean up (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteInstanceProfile.html\">DeleteInstanceProfile</a>)</p> </li> </ul> <important> <p>Make sure that you do not have any Amazon EC2 instances running with the role you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance.</p> </important>"
    },
    "DeleteRolePermissionsBoundary":{
      "name":"DeleteRolePermissionsBoundary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRolePermissionsBoundaryRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"UnmodifiableEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the permissions boundary for the specified IAM role. </p> <p>You cannot set the boundary for a service-linked role.</p> <important> <p>Deleting the permissions boundary for a role might increase its permissions. For example, it might allow anyone who assumes the role to perform all the actions granted in its permissions policies.</p> </important>"
    },
    "DeleteRolePolicy":{
      "name":"DeleteRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRolePolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnmodifiableEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified inline policy that is embedded in the specified IAM role.</p> <p>A role can also have managed policies attached to it. To detach a managed policy from a role, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DetachRolePolicy.html\">DetachRolePolicy</a>. For more information about policies, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DeleteSAMLProvider":{
      "name":"DeleteSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSAMLProviderRequest"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes a SAML provider resource in IAM.</p> <p>Deleting the provider resource from IAM does not update any roles that reference the SAML provider resource's ARN as a principal in their trust policies. Any attempt to assume a role that references a non-existent provider resource ARN fails.</p> <note> <p> This operation requires <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> </note>"
    },
    "DeleteSSHPublicKey":{
      "name":"DeleteSSHPublicKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSSHPublicKeyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"}
      ],
      "documentation":"<p>Deletes the specified SSH public key.</p> <p>The SSH public key deleted by this operation is used only for authenticating the associated IAM user to an CodeCommit repository. For more information about using SSH keys to authenticate to an CodeCommit repository, see <a href=\"https://docs.aws.amazon.com/codecommit/latest/userguide/setting-up-credentials-ssh.html\">Set up CodeCommit for SSH connections</a> in the <i>CodeCommit User Guide</i>.</p>"
    },
    "DeleteServerCertificate":{
      "name":"DeleteServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServerCertificateRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"DeleteConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified server certificate.</p> <p>For more information about working with server certificates, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Working with server certificates</a> in the <i>IAM User Guide</i>. This topic also includes a list of Amazon Web Services services that can use the server certificates that you manage with IAM.</p> <important> <p> If you are using a server certificate with Elastic Load Balancing, deleting the certificate could have implications for your application. If Elastic Load Balancing doesn't detect the deletion of bound certificates, it may continue to use the certificates. This could cause Elastic Load Balancing to stop accepting traffic. We recommend that you remove the reference to the certificate from Elastic Load Balancing before using this command to delete the certificate. For more information, see <a href=\"https://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_DeleteLoadBalancerListeners.html\">DeleteLoadBalancerListeners</a> in the <i>Elastic Load Balancing API Reference</i>.</p> </important>"
    },
    "DeleteServiceLinkedRole":{
      "name":"DeleteServiceLinkedRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceLinkedRoleRequest"},
      "output":{
        "shape":"DeleteServiceLinkedRoleResponse",
        "resultWrapper":"DeleteServiceLinkedRoleResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Submits a service-linked role deletion request and returns a <code>DeletionTaskId</code>, which you can use to check the status of the deletion. Before you call this operation, confirm that the role has no active sessions and that any resources used by the role in the linked service are deleted. If you call this operation more than once for the same service-linked role and an earlier deletion task is not complete, then the <code>DeletionTaskId</code> of the earlier request is returned.</p> <p>If you submit a deletion request for a service-linked role whose linked service is still accessing a resource, then the deletion task fails. If it fails, the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetServiceLinkedRoleDeletionStatus.html\">GetServiceLinkedRoleDeletionStatus</a> operation returns the reason for the failure, usually including the resources that must be deleted. To delete the service-linked role, you must first remove those resources from the linked service and then submit the deletion request again. Resources are specific to the service that is linked to the role. For more information about removing resources from a service, see the <a href=\"http://docs.aws.amazon.com/\">Amazon Web Services documentation</a> for your service.</p> <p>For more information about service-linked roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html#iam-term-service-linked-role\">Roles terms and concepts: Amazon Web Services service-linked role</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DeleteServiceSpecificCredential":{
      "name":"DeleteServiceSpecificCredential",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceSpecificCredentialRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"}
      ],
      "documentation":"<p>Deletes the specified service-specific credential.</p>"
    },
    "DeleteSigningCertificate":{
      "name":"DeleteSigningCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSigningCertificateRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes a signing certificate associated with the specified IAM user.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the Amazon Web Services access key ID signing the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials even if the Amazon Web Services account has no associated IAM users.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"DeleteConflictException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified IAM user. Unlike the Amazon Web Services Management Console, when you delete a user programmatically, you must delete the items attached to the user manually, or the deletion fails. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_manage.html#id_users_deleting_cli\">Deleting an IAM user</a>. Before attempting to delete a user, remove the following items:</p> <ul> <li> <p>Password (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteLoginProfile.html\">DeleteLoginProfile</a>)</p> </li> <li> <p>Access keys (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteAccessKey.html\">DeleteAccessKey</a>)</p> </li> <li> <p>Signing certificate (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteSigningCertificate.html\">DeleteSigningCertificate</a>)</p> </li> <li> <p>SSH public key (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteSSHPublicKey.html\">DeleteSSHPublicKey</a>)</p> </li> <li> <p>Git credentials (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteServiceSpecificCredential.html\">DeleteServiceSpecificCredential</a>)</p> </li> <li> <p>Multi-factor authentication (MFA) device (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeactivateMFADevice.html\">DeactivateMFADevice</a>, <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteVirtualMFADevice.html\">DeleteVirtualMFADevice</a>)</p> </li> <li> <p>Inline policies (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteUserPolicy.html\">DeleteUserPolicy</a>)</p> </li> <li> <p>Attached managed policies (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DetachUserPolicy.html\">DetachUserPolicy</a>)</p> </li> <li> <p>Group memberships (<a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_RemoveUserFromGroup.html\">RemoveUserFromGroup</a>)</p> </li> </ul>"
    },
    "DeleteUserPermissionsBoundary":{
      "name":"DeleteUserPermissionsBoundary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserPermissionsBoundaryRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the permissions boundary for the specified IAM user.</p> <important> <p>Deleting the permissions boundary for a user might increase its permissions by allowing the user to perform all the actions granted in its permissions policies. </p> </important>"
    },
    "DeleteUserPolicy":{
      "name":"DeleteUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserPolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified inline policy that is embedded in the specified IAM user.</p> <p>A user can also have managed policies attached to it. To detach a managed policy from a user, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DetachUserPolicy.html\">DetachUserPolicy</a>. For more information about policies, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DeleteVirtualMFADevice":{
      "name":"DeleteVirtualMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVirtualMFADeviceRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"DeleteConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes a virtual MFA device.</p> <note> <p> You must deactivate a user's virtual MFA device before you can delete it. For information about deactivating MFA devices, see <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeactivateMFADevice.html\">DeactivateMFADevice</a>. </p> </note>"
    },
    "DetachGroupPolicy":{
      "name":"DetachGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachGroupPolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Removes the specified managed policy from the specified IAM group.</p> <p>A group can also have inline policies embedded with it. To delete an inline policy, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteGroupPolicy.html\">DeleteGroupPolicy</a>. For information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DetachRolePolicy":{
      "name":"DetachRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachRolePolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"UnmodifiableEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Removes the specified managed policy from the specified role.</p> <p>A role can also have inline policies embedded with it. To delete an inline policy, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteRolePolicy.html\">DeleteRolePolicy</a>. For information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DetachUserPolicy":{
      "name":"DetachUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachUserPolicyRequest"},
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Removes the specified managed policy from the specified user.</p> <p>A user can also have inline policies embedded with it. To delete an inline policy, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteUserPolicy.html\">DeleteUserPolicy</a>. For information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "DisableOrganizationsRootCredentialsManagement":{
      "name":"DisableOrganizationsRootCredentialsManagement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableOrganizationsRootCredentialsManagementRequest"},
      "output":{
        "shape":"DisableOrganizationsRootCredentialsManagementResponse",
        "resultWrapper":"DisableOrganizationsRootCredentialsManagementResult"
      },
      "errors":[
        {"shape":"ServiceAccessNotEnabledException"},
        {"shape":"AccountNotManagementOrDelegatedAdministratorException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"}
      ],
      "documentation":"<p>Disables the management of privileged root user credentials across member accounts in your organization. When you disable this feature, the management account and the delegated administrator for IAM can no longer manage root user credentials for member accounts in your organization.</p>"
    },
    "DisableOrganizationsRootSessions":{
      "name":"DisableOrganizationsRootSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableOrganizationsRootSessionsRequest"},
      "output":{
        "shape":"DisableOrganizationsRootSessionsResponse",
        "resultWrapper":"DisableOrganizationsRootSessionsResult"
      },
      "errors":[
        {"shape":"ServiceAccessNotEnabledException"},
        {"shape":"AccountNotManagementOrDelegatedAdministratorException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"}
      ],
      "documentation":"<p>Disables root user sessions for privileged tasks across member accounts in your organization. When you disable this feature, the management account and the delegated administrator for IAM can no longer perform privileged tasks on member accounts in your organization.</p>"
    },
    "EnableMFADevice":{
      "name":"EnableMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableMFADeviceRequest"},
      "errors":[
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"EntityTemporarilyUnmodifiableException"},
        {"shape":"InvalidAuthenticationCodeException"},
        {"shape":"LimitExceededException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Enables the specified MFA device and associates it with the specified IAM user. When enabled, the MFA device is required for every subsequent login by the IAM user associated with the device.</p>"
    },
    "EnableOrganizationsRootCredentialsManagement":{
      "name":"EnableOrganizationsRootCredentialsManagement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableOrganizationsRootCredentialsManagementRequest"},
      "output":{
        "shape":"EnableOrganizationsRootCredentialsManagementResponse",
        "resultWrapper":"EnableOrganizationsRootCredentialsManagementResult"
      },
      "errors":[
        {"shape":"ServiceAccessNotEnabledException"},
        {"shape":"AccountNotManagementOrDelegatedAdministratorException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"CallerIsNotManagementAccountException"}
      ],
      "documentation":"<p>Enables the management of privileged root user credentials across member accounts in your organization. When you enable root credentials management for <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_root-user.html#id_root-user-access-management\">centralized root access</a>, the management account and the delegated administrator for IAM can manage root user credentials for member accounts in your organization.</p> <p>Before you enable centralized root access, you must have an account configured with the following settings:</p> <ul> <li> <p>You must manage your Amazon Web Services accounts in <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_introduction.html\">Organizations</a>.</p> </li> <li> <p>Enable trusted access for Identity and Access Management in Organizations. For details, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/services-that-can-integrate-iam.html\">IAM and Organizations</a> in the <i>Organizations User Guide</i>.</p> </li> </ul>"
    },
    "EnableOrganizationsRootSessions":{
      "name":"EnableOrganizationsRootSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableOrganizationsRootSessionsRequest"},
      "output":{
        "shape":"EnableOrganizationsRootSessionsResponse",
        "resultWrapper":"EnableOrganizationsRootSessionsResult"
      },
      "errors":[
        {"shape":"ServiceAccessNotEnabledException"},
        {"shape":"AccountNotManagementOrDelegatedAdministratorException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"CallerIsNotManagementAccountException"}
      ],
      "documentation":"<p>Allows the management account or delegated administrator to perform privileged tasks on member accounts in your organization. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_root-user.html#id_root-user-access-management\">Centrally manage root access for member accounts</a> in the <i>Identity and Access Management User Guide</i>.</p> <p>Before you enable this feature, you must have an account configured with the following settings:</p> <ul> <li> <p>You must manage your Amazon Web Services accounts in <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_introduction.html\">Organizations</a>.</p> </li> <li> <p>Enable trusted access for Identity and Access Management in Organizations. For details, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/services-that-can-integrate-ra.html\">IAM and Organizations</a> in the <i>Organizations User Guide</i>.</p> </li> </ul>"
    },
    "GenerateCredentialReport":{
      "name":"GenerateCredentialReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GenerateCredentialReportResponse",
        "resultWrapper":"GenerateCredentialReportResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p> Generates a credential report for the Amazon Web Services account. For more information about the credential report, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/credential-reports.html\">Getting credential reports</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GenerateOrganizationsAccessReport":{
      "name":"GenerateOrganizationsAccessReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GenerateOrganizationsAccessReportRequest"},
      "output":{
        "shape":"GenerateOrganizationsAccessReportResponse",
        "resultWrapper":"GenerateOrganizationsAccessReportResult"
      },
      "errors":[
        {"shape":"ReportGenerationLimitExceededException"}
      ],
      "documentation":"<p>Generates a report for service last accessed data for Organizations. You can generate a report for any entities (organization root, organizational unit, or account) or policies in your organization.</p> <p>To call this operation, you must be signed in using your Organizations management account credentials. You can use your long-term IAM user or root user credentials, or temporary credentials from assuming an IAM role. SCPs must be enabled for your organization root. You must have the required IAM and Organizations permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Refining permissions using service last accessed data</a> in the <i>IAM User Guide</i>.</p> <p>You can generate a service last accessed data report for entities by specifying only the entity's path. This data includes a list of services that are allowed by any service control policies (SCPs) that apply to the entity.</p> <p>You can generate a service last accessed data report for a policy by specifying an entity's path and an optional Organizations policy ID. This data includes a list of services that are allowed by the specified SCP.</p> <p>For each service in both report types, the data includes the most recent account activity that the policy allows to account principals in the entity or the entity's children. For important information about the data, reporting period, permissions required, troubleshooting, and supported Regions see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Reducing permissions using service last accessed data</a> in the <i>IAM User Guide</i>.</p> <important> <p>The data includes all attempts to access Amazon Web Services, not just the successful ones. This includes all attempts that were made using the Amazon Web Services Management Console, the Amazon Web Services API through any of the SDKs, or any of the command line tools. An unexpected entry in the service last accessed data does not mean that an account has been compromised, because the request might have been denied. Refer to your CloudTrail logs as the authoritative source for information about all API calls and whether they were successful or denied access. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/cloudtrail-integration.html\">Logging IAM events with CloudTrail</a> in the <i>IAM User Guide</i>.</p> </important> <p>This operation returns a <code>JobId</code>. Use this parameter in the <code> <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetOrganizationsAccessReport.html\">GetOrganizationsAccessReport</a> </code> operation to check the status of the report generation. To check the status of this request, use the <code>JobId</code> parameter in the <code> <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetOrganizationsAccessReport.html\">GetOrganizationsAccessReport</a> </code> operation and test the <code>JobStatus</code> response parameter. When the job is complete, you can retrieve the report.</p> <p>To generate a service last accessed data report for entities, specify an entity path without specifying the optional Organizations policy ID. The type of entity that you specify determines the data returned in the report.</p> <ul> <li> <p> <b>Root</b> – When you specify the organizations root as the entity, the resulting report lists all of the services allowed by SCPs that are attached to your root. For each service, the report includes data for all accounts in your organization except the management account, because the management account is not limited by SCPs.</p> </li> <li> <p> <b>OU</b> – When you specify an organizational unit (OU) as the entity, the resulting report lists all of the services allowed by SCPs that are attached to the OU and its parents. For each service, the report includes data for all accounts in the OU or its children. This data excludes the management account, because the management account is not limited by SCPs.</p> </li> <li> <p> <b>management account</b> – When you specify the management account, the resulting report lists all Amazon Web Services services, because the management account is not limited by SCPs. For each service, the report includes data for only the management account.</p> </li> <li> <p> <b>Account</b> – When you specify another account as the entity, the resulting report lists all of the services allowed by SCPs that are attached to the account and its parents. For each service, the report includes data for only the specified account.</p> </li> </ul> <p>To generate a service last accessed data report for policies, specify an entity path and the optional Organizations policy ID. The type of entity that you specify determines the data returned for each service.</p> <ul> <li> <p> <b>Root</b> – When you specify the root entity and a policy ID, the resulting report lists all of the services that are allowed by the specified SCP. For each service, the report includes data for all accounts in your organization to which the SCP applies. This data excludes the management account, because the management account is not limited by SCPs. If the SCP is not attached to any entities in the organization, then the report will return a list of services with no data.</p> </li> <li> <p> <b>OU</b> – When you specify an OU entity and a policy ID, the resulting report lists all of the services that are allowed by the specified SCP. For each service, the report includes data for all accounts in the OU or its children to which the SCP applies. This means that other accounts outside the OU that are affected by the SCP might not be included in the data. This data excludes the management account, because the management account is not limited by SCPs. If the SCP is not attached to the OU or one of its children, the report will return a list of services with no data.</p> </li> <li> <p> <b>management account</b> – When you specify the management account, the resulting report lists all Amazon Web Services services, because the management account is not limited by SCPs. If you specify a policy ID in the CLI or API, the policy is ignored. For each service, the report includes data for only the management account.</p> </li> <li> <p> <b>Account</b> – When you specify another account entity and a policy ID, the resulting report lists all of the services that are allowed by the specified SCP. For each service, the report includes data for only the specified account. This means that other accounts in the organization that are affected by the SCP might not be included in the data. If the SCP is not attached to the account, the report will return a list of services with no data.</p> </li> </ul> <note> <p>Service last accessed data does not use other policy types when determining whether a principal could access a service. These other policy types include identity-based policies, resource-based policies, access control lists, IAM permissions boundaries, and STS assume role policies. It only applies SCP logic. For more about the evaluation of policy types, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html#policy-eval-basics\">Evaluating policies</a> in the <i>IAM User Guide</i>.</p> </note> <p>For more information about service last accessed data, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Reducing policy scope by viewing user activity</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GenerateServiceLastAccessedDetails":{
      "name":"GenerateServiceLastAccessedDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GenerateServiceLastAccessedDetailsRequest"},
      "output":{
        "shape":"GenerateServiceLastAccessedDetailsResponse",
        "resultWrapper":"GenerateServiceLastAccessedDetailsResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Generates a report that includes details about when an IAM resource (user, group, role, or policy) was last used in an attempt to access Amazon Web Services services. Recent activity usually appears within four hours. IAM reports activity for at least the last 400 days, or less if your Region began supporting this feature within the last year. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html#access-advisor_tracking-period\">Regions where data is tracked</a>. For more information about services and actions for which action last accessed information is displayed, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor-action-last-accessed.html\">IAM action last accessed information services and actions</a>.</p> <important> <p>The service last accessed data includes all attempts to access an Amazon Web Services API, not just the successful ones. This includes all attempts that were made using the Amazon Web Services Management Console, the Amazon Web Services API through any of the SDKs, or any of the command line tools. An unexpected entry in the service last accessed data does not mean that your account has been compromised, because the request might have been denied. Refer to your CloudTrail logs as the authoritative source for information about all API calls and whether they were successful or denied access. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/cloudtrail-integration.html\">Logging IAM events with CloudTrail</a> in the <i>IAM User Guide</i>.</p> </important> <p>The <code>GenerateServiceLastAccessedDetails</code> operation returns a <code>JobId</code>. Use this parameter in the following operations to retrieve the following details from your report: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetServiceLastAccessedDetails.html\">GetServiceLastAccessedDetails</a> – Use this operation for users, groups, roles, or policies to list every Amazon Web Services service that the resource could access using permissions policies. For each service, the response includes information about the most recent access attempt.</p> <p>The <code>JobId</code> returned by <code>GenerateServiceLastAccessedDetail</code> must be used by the same role within a session, or by the same user when used to call <code>GetServiceLastAccessedDetail</code>.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetServiceLastAccessedDetailsWithEntities.html\">GetServiceLastAccessedDetailsWithEntities</a> – Use this operation for groups and policies to list information about the associated entities (users or roles) that attempted to access a specific Amazon Web Services service. </p> </li> </ul> <p>To check the status of the <code>GenerateServiceLastAccessedDetails</code> request, use the <code>JobId</code> parameter in the same operations and test the <code>JobStatus</code> response parameter.</p> <p>For additional information about the permissions policies that allow an identity (user, group, or role) to access specific services, use the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ListPoliciesGrantingServiceAccess.html\">ListPoliciesGrantingServiceAccess</a> operation.</p> <note> <p>Service last accessed data does not use other policy types when determining whether a resource could access a service. These other policy types include resource-based policies, access control lists, Organizations policies, IAM permissions boundaries, and STS assume role policies. It only applies permissions policy logic. For more about the evaluation of policy types, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html#policy-eval-basics\">Evaluating policies</a> in the <i>IAM User Guide</i>.</p> </note> <p>For more information about service and action last accessed data, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Reducing permissions using service last accessed data</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GetAccessKeyLastUsed":{
      "name":"GetAccessKeyLastUsed",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccessKeyLastUsedRequest"},
      "output":{
        "shape":"GetAccessKeyLastUsedResponse",
        "resultWrapper":"GetAccessKeyLastUsedResult"
      },
      "documentation":"<p>Retrieves information about when the specified access key was last used. The information includes the date and time of last use, along with the Amazon Web Services service and Region that were specified in the last request made with that key.</p>"
    },
    "GetAccountAuthorizationDetails":{
      "name":"GetAccountAuthorizationDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccountAuthorizationDetailsRequest"},
      "output":{
        "shape":"GetAccountAuthorizationDetailsResponse",
        "resultWrapper":"GetAccountAuthorizationDetailsResult"
      },
      "errors":[
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves information about all IAM users, groups, roles, and policies in your Amazon Web Services account, including their relationships to one another. Use this operation to obtain a snapshot of the configuration of IAM permissions (users, groups, roles, and policies) in your account.</p> <note> <p>Policies returned by this operation are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality, and some SDKs do this decoding automatically.</p> </note> <p>You can optionally filter the results using the <code>Filter</code> parameter. You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters.</p>"
    },
    "GetAccountPasswordPolicy":{
      "name":"GetAccountPasswordPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetAccountPasswordPolicyResponse",
        "resultWrapper":"GetAccountPasswordPolicyResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the password policy for the Amazon Web Services account. This tells you the complexity requirements and mandatory rotation periods for the IAM user passwords in your account. For more information about using a password policy, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingPasswordPolicies.html\">Managing an IAM password policy</a>.</p>"
    },
    "GetAccountSummary":{
      "name":"GetAccountSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetAccountSummaryResponse",
        "resultWrapper":"GetAccountSummaryResult"
      },
      "errors":[
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves information about IAM entity usage and IAM quotas in the Amazon Web Services account.</p> <p> For information about IAM quotas, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GetContextKeysForCustomPolicy":{
      "name":"GetContextKeysForCustomPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetContextKeysForCustomPolicyRequest"},
      "output":{
        "shape":"GetContextKeysForPolicyResponse",
        "resultWrapper":"GetContextKeysForCustomPolicyResult"
      },
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets a list of all of the context keys referenced in the input policies. The policies are supplied as a list of one or more strings. To get the context keys from policies associated with an IAM user, group, or role, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetContextKeysForPrincipalPolicy.html\">GetContextKeysForPrincipalPolicy</a>.</p> <p>Context keys are variables maintained by Amazon Web Services and its services that provide details about the context of an API query request. Context keys can be evaluated by testing against a value specified in an IAM policy. Use <code>GetContextKeysForCustomPolicy</code> to understand what key names and values you must supply when you call <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_SimulateCustomPolicy.html\">SimulateCustomPolicy</a>. Note that all parameters are shown in unencoded form here for clarity but must be URL encoded to be included as a part of a real HTML request.</p>"
    },
    "GetContextKeysForPrincipalPolicy":{
      "name":"GetContextKeysForPrincipalPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetContextKeysForPrincipalPolicyRequest"},
      "output":{
        "shape":"GetContextKeysForPolicyResponse",
        "resultWrapper":"GetContextKeysForPrincipalPolicyResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets a list of all of the context keys referenced in all the IAM policies that are attached to the specified IAM entity. The entity can be an IAM user, group, or role. If you specify a user, then the request also includes all of the policies attached to groups that the user is a member of.</p> <p>You can optionally include a list of one or more additional policies, specified as strings. If you want to include <i>only</i> a list of policies by string, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetContextKeysForCustomPolicy.html\">GetContextKeysForCustomPolicy</a> instead.</p> <p> <b>Note:</b> This operation discloses information about the permissions granted to other users. If you do not want users to see other user's permissions, then consider allowing them to use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetContextKeysForCustomPolicy.html\">GetContextKeysForCustomPolicy</a> instead.</p> <p>Context keys are variables maintained by Amazon Web Services and its services that provide details about the context of an API query request. Context keys can be evaluated by testing against a value in an IAM policy. Use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetContextKeysForPrincipalPolicy.html\">GetContextKeysForPrincipalPolicy</a> to understand what key names and values you must supply when you call <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_SimulatePrincipalPolicy.html\">SimulatePrincipalPolicy</a>.</p>"
    },
    "GetCredentialReport":{
      "name":"GetCredentialReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetCredentialReportResponse",
        "resultWrapper":"GetCredentialReportResult"
      },
      "errors":[
        {"shape":"CredentialReportNotPresentException"},
        {"shape":"CredentialReportExpiredException"},
        {"shape":"CredentialReportNotReadyException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p> Retrieves a credential report for the Amazon Web Services account. For more information about the credential report, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/credential-reports.html\">Getting credential reports</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GetGroup":{
      "name":"GetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupRequest"},
      "output":{
        "shape":"GetGroupResponse",
        "resultWrapper":"GetGroupResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p> Returns a list of IAM users that are in the specified IAM group. You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters.</p>"
    },
    "GetGroupPolicy":{
      "name":"GetGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupPolicyRequest"},
      "output":{
        "shape":"GetGroupPolicyResponse",
        "resultWrapper":"GetGroupPolicyResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the specified inline policy document that is embedded in the specified IAM group.</p> <note> <p>Policies returned by this operation are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality, and some SDKs do this decoding automatically.</p> </note> <p>An IAM group can also have managed policies attached to it. To retrieve a managed policy document that is attached to a group, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetPolicy.html\">GetPolicy</a> to determine the policy's default version, then use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetPolicyVersion.html\">GetPolicyVersion</a> to retrieve the policy document.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GetInstanceProfile":{
      "name":"GetInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceProfileRequest"},
      "output":{
        "shape":"GetInstanceProfileResponse",
        "resultWrapper":"GetInstanceProfileResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p> Retrieves information about the specified instance profile, including the instance profile's path, GUID, ARN, and role. For more information about instance profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2_instance-profiles.html\">Using instance profiles</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GetLoginProfile":{
      "name":"GetLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoginProfileRequest"},
      "output":{
        "shape":"GetLoginProfileResponse",
        "resultWrapper":"GetLoginProfileResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the user name for the specified IAM user. A login profile is created when you create a password for the user to access the Amazon Web Services Management Console. If the user does not exist or does not have a password, the operation returns a 404 (<code>NoSuchEntity</code>) error.</p> <p>If you create an IAM user with access to the console, the <code>CreateDate</code> reflects the date you created the initial password for the user.</p> <p>If you create an IAM user with programmatic access, and then later add a password for the user to access the Amazon Web Services Management Console, the <code>CreateDate</code> reflects the initial password creation date. A user with programmatic access does not have a login profile unless you create a password for the user to access the Amazon Web Services Management Console.</p>"
    },
    "GetMFADevice":{
      "name":"GetMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMFADeviceRequest"},
      "output":{
        "shape":"GetMFADeviceResponse",
        "resultWrapper":"GetMFADeviceResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves information about an MFA device for a specified user.</p>"
    },
    "GetOpenIDConnectProvider":{
      "name":"GetOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOpenIDConnectProviderRequest"},
      "output":{
        "shape":"GetOpenIDConnectProviderResponse",
        "resultWrapper":"GetOpenIDConnectProviderResult"
      },
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Returns information about the specified OpenID Connect (OIDC) provider resource object in IAM.</p>"
    },
    "GetOrganizationsAccessReport":{
      "name":"GetOrganizationsAccessReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOrganizationsAccessReportRequest"},
      "output":{
        "shape":"GetOrganizationsAccessReportResponse",
        "resultWrapper":"GetOrganizationsAccessReportResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"}
      ],
      "documentation":"<p>Retrieves the service last accessed data report for Organizations that was previously generated using the <code> <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GenerateOrganizationsAccessReport.html\">GenerateOrganizationsAccessReport</a> </code> operation. This operation retrieves the status of your report job and the report contents.</p> <p>Depending on the parameters that you passed when you generated the report, the data returned could include different information. For details, see <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GenerateOrganizationsAccessReport.html\">GenerateOrganizationsAccessReport</a>.</p> <p>To call this operation, you must be signed in to the management account in your organization. SCPs must be enabled for your organization root. You must have permissions to perform this operation. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Refining permissions using service last accessed data</a> in the <i>IAM User Guide</i>.</p> <p>For each service that principals in an account (root user, IAM users, or IAM roles) could access using SCPs, the operation returns details about the most recent access attempt. If there was no attempt, the service is listed without details about the most recent attempt to access the service. If the operation fails, it returns the reason that it failed.</p> <p>By default, the list is sorted by service namespace.</p>"
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{
        "shape":"GetPolicyResponse",
        "resultWrapper":"GetPolicyResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves information about the specified managed policy, including the policy's default version and the total number of IAM users, groups, and roles to which the policy is attached. To retrieve the list of the specific users, groups, and roles that the policy is attached to, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ListEntitiesForPolicy.html\">ListEntitiesForPolicy</a>. This operation returns metadata about the policy. To retrieve the actual policy document for a specific version of the policy, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetPolicyVersion.html\">GetPolicyVersion</a>.</p> <p>This operation retrieves information about managed policies. To retrieve information about an inline policy that is embedded with an IAM user, group, or role, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetUserPolicy.html\">GetUserPolicy</a>, <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetGroupPolicy.html\">GetGroupPolicy</a>, or <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetRolePolicy.html\">GetRolePolicy</a>.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GetPolicyVersion":{
      "name":"GetPolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyVersionRequest"},
      "output":{
        "shape":"GetPolicyVersionResponse",
        "resultWrapper":"GetPolicyVersionResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves information about the specified version of the specified managed policy, including the policy document.</p> <note> <p>Policies returned by this operation are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality, and some SDKs do this decoding automatically.</p> </note> <p>To list the available versions for a policy, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_ListPolicyVersions.html\">ListPolicyVersions</a>.</p> <p>This operation retrieves information about managed policies. To retrieve information about an inline policy that is embedded in a user, group, or role, use <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetUserPolicy.html\">GetUserPolicy</a>, <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetGroupPolicy.html\">GetGroupPolicy</a>, or <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_GetRolePolicy.html\">GetRolePolicy</a>.</p> <p>For more information about the types of policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about managed policy versions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for managed policies</a> in the <i>IAM User Guide</i>.</p>"
    },
    "GetRole":{
      "name":"GetRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRoleRequest"},
      "output":{
        "shape":"GetRoleResponse",
        "resultWrapper":"GetRoleResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves information about the specified role, including the role's path, GUID, ARN, and the role's trust policy that grants permission to assume the role. For more information about roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html\">IAM roles</a> in the <i>IAM User Guide</i>.</p> <note> <p>Policies returned by this operation are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality, and some SDKs do this decoding automatically.</p> </note>"
    },
    "GetRolePolicy":{
      "name":"GetRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRolePolicyRequest"},
      "output":{
        "shape":"GetRolePolicyResponse",
        "resultWrapper":"GetRolePolicyResult"
      },
      "errors":[
        {"shape":"NoSuchEntityException"},
        {"shape":"ServiceFailureException"}
      ],
[...]
