{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-07-09",
    "endpointPrefix":"codepipeline",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"CodePipeline",
    "serviceFullName":"AWS CodePipeline",
    "serviceId":"CodePipeline",
    "signatureVersion":"v4",
    "targetPrefix":"CodePipeline_20150709",
    "uid":"codepipeline-2015-07-09",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcknowledgeJob":{
      "name":"AcknowledgeJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcknowledgeJobInput"},
      "output":{"shape":"AcknowledgeJobOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNonceException"},
        {"shape":"JobNotFoundException"}
      ],
      "documentation":"<p>Returns information about a specified job and whether that job has been received by the job worker. Used for custom actions only.</p>"
    },
    "AcknowledgeThirdPartyJob":{
      "name":"AcknowledgeThirdPartyJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcknowledgeThirdPartyJobInput"},
      "output":{"shape":"AcknowledgeThirdPartyJobOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNonceException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidClientTokenException"}
      ],
      "documentation":"<p>Confirms a job worker has received the specified job. Used for partner actions only.</p>"
    },
    "CreateCustomActionType":{
      "name":"CreateCustomActionType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomActionTypeInput"},
      "output":{"shape":"CreateCustomActionTypeOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"LimitExceededException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidTagsException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Creates a new custom action that can be used in all pipelines associated with the Amazon Web Services account. Only used for custom actions.</p>"
    },
    "CreatePipeline":{
      "name":"CreatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePipelineInput"},
      "output":{"shape":"CreatePipelineOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNameInUseException"},
        {"shape":"InvalidStageDeclarationException"},
        {"shape":"InvalidActionDeclarationException"},
        {"shape":"InvalidBlockerDeclarationException"},
        {"shape":"InvalidStructureException"},
        {"shape":"LimitExceededException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidTagsException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Creates a pipeline.</p> <note> <p>In the pipeline structure, you must include either <code>artifactStore</code> or <code>artifactStores</code> in your pipeline, but you cannot use both. If you create a cross-region action in your pipeline, you must use <code>artifactStores</code>.</p> </note>"
    },
    "DeleteCustomActionType":{
      "name":"DeleteCustomActionType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomActionTypeInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Marks a custom action as deleted. <code>PollForJobs</code> for the custom action fails after the action is marked for deletion. Used for custom actions only.</p> <important> <p>To re-create a custom action after it has been deleted you must use a string in the version field that has never been used before. This string can be an incremented version number, for example. To restore a deleted custom action, use a JSON file that is identical to the deleted action, including the original string in the version field.</p> </important>"
    },
    "DeletePipeline":{
      "name":"DeletePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePipelineInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes the specified pipeline.</p>"
    },
    "DeleteWebhook":{
      "name":"DeleteWebhook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWebhookInput"},
      "output":{"shape":"DeleteWebhookOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes a previously created webhook by name. Deleting the webhook stops CodePipeline from starting a pipeline every time an external event occurs. The API returns successfully when trying to delete a webhook that is already deleted. If a deleted webhook is re-created by calling PutWebhook with the same name, it will have a different URL.</p>"
    },
    "DeregisterWebhookWithThirdParty":{
      "name":"DeregisterWebhookWithThirdParty",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterWebhookWithThirdPartyInput"},
      "output":{"shape":"DeregisterWebhookWithThirdPartyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"WebhookNotFoundException"}
      ],
      "documentation":"<p>Removes the connection between the webhook that was created by CodePipeline and the external tool with events to be detected. Currently supported only for webhooks that target an action type of GitHub.</p>"
    },
    "DisableStageTransition":{
      "name":"DisableStageTransition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableStageTransitionInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"}
      ],
      "documentation":"<p>Prevents artifacts in a pipeline from transitioning to the next stage in the pipeline.</p>"
    },
    "EnableStageTransition":{
      "name":"EnableStageTransition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableStageTransitionInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"}
      ],
      "documentation":"<p>Enables artifacts in a pipeline to transition to a stage in a pipeline.</p>"
    },
    "GetActionType":{
      "name":"GetActionType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetActionTypeInput"},
      "output":{"shape":"GetActionTypeOutput"},
      "errors":[
        {"shape":"ActionTypeNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns information about an action type created for an external provider, where the action is to be used by customers of the external provider. The action can be created with any supported integration model.</p>"
    },
    "GetJobDetails":{
      "name":"GetJobDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobDetailsInput"},
      "output":{"shape":"GetJobDetailsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"}
      ],
      "documentation":"<p>Returns information about a job. Used for custom actions only.</p> <important> <p>When this API is called, CodePipeline returns temporary credentials for the S3 bucket used to store artifacts for the pipeline, if the action requires access to that S3 bucket for input or output artifacts. This API also returns any secret values defined for the action.</p> </important>"
    },
    "GetPipeline":{
      "name":"GetPipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPipelineInput"},
      "output":{"shape":"GetPipelineOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"PipelineVersionNotFoundException"}
      ],
      "documentation":"<p>Returns the metadata, structure, stages, and actions of a pipeline. Can be used to return the entire structure of a pipeline in JSON format, which can then be modified and used to update the pipeline structure with <a>UpdatePipeline</a>.</p>"
    },
    "GetPipelineExecution":{
      "name":"GetPipelineExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPipelineExecutionInput"},
      "output":{"shape":"GetPipelineExecutionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"PipelineExecutionNotFoundException"}
      ],
      "documentation":"<p>Returns information about an execution of a pipeline, including details about artifacts, the pipeline execution ID, and the name, version, and status of the pipeline.</p>"
    },
    "GetPipelineState":{
      "name":"GetPipelineState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPipelineStateInput"},
      "output":{"shape":"GetPipelineStateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"}
      ],
      "documentation":"<p>Returns information about the state of a pipeline, including the stages and actions.</p> <note> <p>Values returned in the <code>revisionId</code> and <code>revisionUrl</code> fields indicate the source revision information, such as the commit ID, for the current state.</p> </note>"
    },
    "GetThirdPartyJobDetails":{
      "name":"GetThirdPartyJobDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetThirdPartyJobDetailsInput"},
      "output":{"shape":"GetThirdPartyJobDetailsOutput"},
      "errors":[
        {"shape":"JobNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"InvalidJobException"}
      ],
      "documentation":"<p>Requests the details of a job for a third party action. Used for partner actions only.</p> <important> <p>When this API is called, CodePipeline returns temporary credentials for the S3 bucket used to store artifacts for the pipeline, if the action requires access to that S3 bucket for input or output artifacts. This API also returns any secret values defined for the action.</p> </important>"
    },
    "ListActionExecutions":{
      "name":"ListActionExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListActionExecutionsInput"},
      "output":{"shape":"ListActionExecutionsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PipelineExecutionNotFoundException"}
      ],
      "documentation":"<p>Lists the action executions that have occurred in a pipeline.</p>"
    },
    "ListActionTypes":{
      "name":"ListActionTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListActionTypesInput"},
      "output":{"shape":"ListActionTypesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets a summary of all CodePipeline action types associated with your account.</p>"
    },
    "ListDeployActionExecutionTargets":{
      "name":"ListDeployActionExecutionTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeployActionExecutionTargetsInput"},
      "output":{"shape":"ListDeployActionExecutionTargetsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ActionExecutionNotFoundException"}
      ],
      "documentation":"<p>Lists the targets for the deploy action.</p>"
    },
    "ListPipelineExecutions":{
      "name":"ListPipelineExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPipelineExecutionsInput"},
      "output":{"shape":"ListPipelineExecutionsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets a summary of the most recent executions for a pipeline.</p> <note> <p>When applying the filter for pipeline executions that have succeeded in the stage, the operation returns all executions in the current pipeline version beginning on February 1, 2024.</p> </note>"
    },
    "ListPipelines":{
      "name":"ListPipelines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPipelinesInput"},
      "output":{"shape":"ListPipelinesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets a summary of all of the pipelines associated with your account.</p>"
    },
    "ListRuleExecutions":{
      "name":"ListRuleExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRuleExecutionsInput"},
      "output":{"shape":"ListRuleExecutionsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PipelineExecutionNotFoundException"}
      ],
      "documentation":"<p>Lists the rule executions that have occurred in a pipeline configured for conditions with rules.</p>"
    },
    "ListRuleTypes":{
      "name":"ListRuleTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRuleTypesInput"},
      "output":{"shape":"ListRuleTypesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the rules for the condition. For more information about conditions, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/stage-conditions.html\">Stage conditions</a> and <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/concepts-how-it-works-conditions.html\">How do stage conditions work?</a>.For more information about rules, see the <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/rule-reference.html\">CodePipeline rule reference</a>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidArnException"}
      ],
      "documentation":"<p>Gets the set of key-value pairs (metadata) that are used to manage the resource.</p>"
    },
    "ListWebhooks":{
      "name":"ListWebhooks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWebhooksInput"},
      "output":{"shape":"ListWebhooksOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets a listing of all the webhooks in this Amazon Web Services Region for this account. The output lists all webhooks and includes the webhook URL and ARN and the configuration for each webhook.</p> <note> <p>If a secret token was provided, it will be redacted in the response.</p> </note>"
    },
    "OverrideStageCondition":{
      "name":"OverrideStageCondition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"OverrideStageConditionInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"},
        {"shape":"ConditionNotOverridableException"},
        {"shape":"NotLatestPipelineExecutionException"},
        {"shape":"ConcurrentPipelineExecutionsLimitExceededException"}
      ],
      "documentation":"<p>Used to override a stage condition. For more information about conditions, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/stage-conditions.html\">Stage conditions</a> and <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/concepts-how-it-works-conditions.html\">How do stage conditions work?</a>.</p>"
    },
    "PollForJobs":{
      "name":"PollForJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PollForJobsInput"},
      "output":{"shape":"PollForJobsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ActionTypeNotFoundException"}
      ],
      "documentation":"<p>Returns information about any jobs for CodePipeline to act on. <code>PollForJobs</code> is valid only for action types with \"Custom\" in the owner field. If the action type contains <code>AWS</code> or <code>ThirdParty</code> in the owner field, the <code>PollForJobs</code> action returns an error.</p> <important> <p>When this API is called, CodePipeline returns temporary credentials for the S3 bucket used to store artifacts for the pipeline, if the action requires access to that S3 bucket for input or output artifacts. This API also returns any secret values defined for the action.</p> </important>"
    },
    "PollForThirdPartyJobs":{
      "name":"PollForThirdPartyJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PollForThirdPartyJobsInput"},
      "output":{"shape":"PollForThirdPartyJobsOutput"},
      "errors":[
        {"shape":"ActionTypeNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Determines whether there are any third party jobs for a job worker to act on. Used for partner actions only.</p> <important> <p>When this API is called, CodePipeline returns temporary credentials for the S3 bucket used to store artifacts for the pipeline, if the action requires access to that S3 bucket for input or output artifacts.</p> </important>"
    },
    "PutActionRevision":{
      "name":"PutActionRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutActionRevisionInput"},
      "output":{"shape":"PutActionRevisionOutput"},
      "errors":[
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"},
        {"shape":"ActionNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConcurrentPipelineExecutionsLimitExceededException"}
      ],
      "documentation":"<p>Provides information to CodePipeline about new revisions to a source.</p>"
    },
    "PutApprovalResult":{
      "name":"PutApprovalResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutApprovalResultInput"},
      "output":{"shape":"PutApprovalResultOutput"},
      "errors":[
        {"shape":"InvalidApprovalTokenException"},
        {"shape":"ApprovalAlreadyCompletedException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"},
        {"shape":"ActionNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Provides the response to a manual approval request to CodePipeline. Valid responses include Approved and Rejected.</p>"
    },
    "PutJobFailureResult":{
      "name":"PutJobFailureResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutJobFailureResultInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidJobStateException"}
      ],
      "documentation":"<p>Represents the failure of a job as returned to the pipeline by a job worker. Used for custom actions only.</p>"
    },
    "PutJobSuccessResult":{
      "name":"PutJobSuccessResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutJobSuccessResultInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidJobStateException"},
        {"shape":"OutputVariablesSizeExceededException"}
      ],
      "documentation":"<p>Represents the success of a job as returned to the pipeline by a job worker. Used for custom actions only.</p>"
    },
    "PutThirdPartyJobFailureResult":{
      "name":"PutThirdPartyJobFailureResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutThirdPartyJobFailureResultInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidJobStateException"},
        {"shape":"InvalidClientTokenException"}
      ],
      "documentation":"<p>Represents the failure of a third party job as returned to the pipeline by a job worker. Used for partner actions only.</p>"
    },
    "PutThirdPartyJobSuccessResult":{
      "name":"PutThirdPartyJobSuccessResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutThirdPartyJobSuccessResultInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InvalidJobStateException"},
        {"shape":"InvalidClientTokenException"}
      ],
      "documentation":"<p>Represents the success of a third party job as returned to the pipeline by a job worker. Used for partner actions only.</p>"
    },
    "PutWebhook":{
      "name":"PutWebhook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutWebhookInput"},
      "output":{"shape":"PutWebhookOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidWebhookFilterPatternException"},
        {"shape":"InvalidWebhookAuthenticationParametersException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidTagsException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Defines a webhook and returns a unique webhook URL generated by CodePipeline. This URL can be supplied to third party source hosting providers to call every time there's a code change. When CodePipeline receives a POST request on this URL, the pipeline defined in the webhook is started as long as the POST request satisfied the authentication and filtering requirements supplied when defining the webhook. RegisterWebhookWithThirdParty and DeregisterWebhookWithThirdParty APIs can be used to automatically configure supported third parties to call the generated webhook URL.</p> <important> <p>When creating CodePipeline webhooks, do not use your own credentials or reuse the same secret token across multiple webhooks. For optimal security, generate a unique secret token for each webhook you create. The secret token is an arbitrary string that you provide, which GitHub uses to compute and sign the webhook payloads sent to CodePipeline, for protecting the integrity and authenticity of the webhook payloads. Using your own credentials or reusing the same token across multiple webhooks can lead to security vulnerabilities.</p> </important> <note> <p>If a secret token was provided, it will be redacted in the response.</p> </note>"
    },
    "RegisterWebhookWithThirdParty":{
      "name":"RegisterWebhookWithThirdParty",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterWebhookWithThirdPartyInput"},
      "output":{"shape":"RegisterWebhookWithThirdPartyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"WebhookNotFoundException"}
      ],
      "documentation":"<p>Configures a connection between the webhook that was created and the external tool with events to be detected.</p>"
    },
    "RetryStageExecution":{
      "name":"RetryStageExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetryStageExecutionInput"},
      "output":{"shape":"RetryStageExecutionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"StageNotFoundException"},
        {"shape":"StageNotRetryableException"},
        {"shape":"NotLatestPipelineExecutionException"},
        {"shape":"ConcurrentPipelineExecutionsLimitExceededException"}
      ],
      "documentation":"<p>You can retry a stage that has failed without having to run a pipeline again from the beginning. You do this by either retrying the failed actions in a stage or by retrying all actions in the stage starting from the first action in the stage. When you retry the failed actions in a stage, all actions that are still in progress continue working, and failed actions are triggered again. When you retry a failed stage from the first action in the stage, the stage cannot have any actions in progress. Before a stage can be retried, it must either have all actions failed or some actions failed and some succeeded.</p>"
    },
    "RollbackStage":{
      "name":"RollbackStage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RollbackStageInput"},
      "output":{"shape":"RollbackStageOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"PipelineExecutionNotFoundException"},
        {"shape":"PipelineExecutionOutdatedException"},
        {"shape":"StageNotFoundException"},
        {"shape":"UnableToRollbackStageException"}
      ],
      "documentation":"<p>Rolls back a stage execution.</p>"
    },
    "StartPipelineExecution":{
      "name":"StartPipelineExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartPipelineExecutionInput"},
      "output":{"shape":"StartPipelineExecutionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"ConcurrentPipelineExecutionsLimitExceededException"}
      ],
      "documentation":"<p>Starts the specified pipeline. Specifically, it begins processing the latest commit to the source location specified as part of the pipeline.</p>"
    },
    "StopPipelineExecution":{
      "name":"StopPipelineExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopPipelineExecutionInput"},
      "output":{"shape":"StopPipelineExecutionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PipelineNotFoundException"},
        {"shape":"PipelineExecutionNotStoppableException"},
        {"shape":"DuplicatedStopRequestException"}
      ],
      "documentation":"<p>Stops the specified pipeline execution. You choose to either stop the pipeline execution by completing in-progress actions without starting subsequent actions, or by abandoning in-progress actions. While completing or abandoning in-progress actions, the pipeline execution is in a <code>Stopping</code> state. After all in-progress actions are completed or abandoned, the pipeline execution is in a <code>Stopped</code> state.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArnException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidTagsException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Adds to or modifies the tags of the given resource. Tags are metadata that can be used to manage a resource. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArnException"},
        {"shape":"InvalidTagsException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Removes tags from an Amazon Web Services resource.</p>"
    },
    "UpdateActionType":{
      "name":"UpdateActionType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateActionTypeInput"},
      "errors":[
        {"shape":"RequestFailedException"},
        {"shape":"ValidationException"},
        {"shape":"ActionTypeNotFoundException"}
      ],
      "documentation":"<p>Updates an action type that was created with any supported integration model, where the action type is to be used by customers of the action type provider. Use a JSON file with the action definition and <code>UpdateActionType</code> to provide the full structure.</p>"
    },
    "UpdatePipeline":{
      "name":"UpdatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePipelineInput"},
      "output":{"shape":"UpdatePipelineOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidStageDeclarationException"},
        {"shape":"InvalidActionDeclarationException"},
        {"shape":"InvalidBlockerDeclarationException"},
        {"shape":"InvalidStructureException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates a specified pipeline with edits or changes to its structure. Use a JSON file with the pipeline structure and <code>UpdatePipeline</code> to provide the full structure of the pipeline. Updating the pipeline increases the version number of the pipeline by 1.</p>"
    }
  },
  "shapes":{
    "AWSRegionName":{
      "type":"string",
      "max":30,
      "min":4
    },
    "AWSSessionCredentials":{
      "type":"structure",
      "required":[
        "accessKeyId",
        "secretAccessKey",
        "sessionToken"
      ],
      "members":{
        "accessKeyId":{
          "shape":"AccessKeyId",
          "documentation":"<p>The access key for the session.</p>"
        },
        "secretAccessKey":{
          "shape":"SecretAccessKey",
          "documentation":"<p>The secret access key for the session.</p>"
        },
        "sessionToken":{
          "shape":"SessionToken",
          "documentation":"<p>The token for the session.</p>"
        }
      },
      "documentation":"<p>Represents an Amazon Web Services session credentials object. These credentials are temporary credentials that are issued by Amazon Web Services Secure Token Service (STS). They can be used to access input and output artifacts in the S3 bucket used to store artifact for the pipeline in CodePipeline.</p>",
      "sensitive":true
    },
    "AccessKeyId":{
      "type":"string",
      "sensitive":true
    },
    "AccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "AcknowledgeJobInput":{
      "type":"structure",
      "required":[
        "jobId",
        "nonce"
      ],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>"
        },
        "nonce":{
          "shape":"Nonce",
          "documentation":"<p>A system-generated random number that CodePipeline uses to ensure that the job is being worked on by only one job worker. Get this number from the response of the <a>PollForJobs</a> request that returned this job.</p>"
        }
      },
      "documentation":"<p>Represents the input of an AcknowledgeJob action.</p>"
    },
    "AcknowledgeJobOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>Whether the job worker has received the specified job.</p>"
        }
      },
      "documentation":"<p>Represents the output of an AcknowledgeJob action.</p>"
    },
    "AcknowledgeThirdPartyJobInput":{
      "type":"structure",
      "required":[
        "jobId",
        "nonce",
        "clientToken"
      ],
      "members":{
        "jobId":{
          "shape":"ThirdPartyJobId",
          "documentation":"<p>The unique system-generated ID of the job.</p>"
        },
        "nonce":{
          "shape":"Nonce",
          "documentation":"<p>A system-generated random number that CodePipeline uses to ensure that the job is being worked on by only one job worker. Get this number from the response to a <a>GetThirdPartyJobDetails</a> request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.</p>"
        }
      },
      "documentation":"<p>Represents the input of an AcknowledgeThirdPartyJob action.</p>"
    },
    "AcknowledgeThirdPartyJobOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The status information for the third party job, if any.</p>"
        }
      },
      "documentation":"<p>Represents the output of an AcknowledgeThirdPartyJob action.</p>"
    },
    "ActionCategory":{
      "type":"string",
      "enum":[
        "Source",
        "Build",
        "Deploy",
        "Test",
        "Invoke",
        "Approval",
        "Compute"
      ]
    },
    "ActionConfiguration":{
      "type":"structure",
      "members":{
        "configuration":{
          "shape":"ActionConfigurationMap",
          "documentation":"<p>The configuration data for the action.</p>"
        }
      },
      "documentation":"<p>Represents information about an action configuration.</p>"
    },
    "ActionConfigurationKey":{
      "type":"string",
      "max":50,
      "min":1
    },
    "ActionConfigurationMap":{
      "type":"map",
      "key":{"shape":"ActionConfigurationKey"},
      "value":{"shape":"ActionConfigurationValue"}
    },
    "ActionConfigurationProperty":{
      "type":"structure",
      "required":[
        "name",
        "required",
        "key",
        "secret"
      ],
      "members":{
        "name":{
          "shape":"ActionConfigurationKey",
          "documentation":"<p>The name of the action configuration property.</p>"
        },
        "required":{
          "shape":"Boolean",
          "documentation":"<p>Whether the configuration property is a required value.</p>"
        },
        "key":{
          "shape":"Boolean",
          "documentation":"<p>Whether the configuration property is a key.</p>"
        },
        "secret":{
          "shape":"Boolean",
          "documentation":"<p>Whether the configuration property is secret. Secrets are hidden from all calls except for <code>GetJobDetails</code>, <code>GetThirdPartyJobDetails</code>, <code>PollForJobs</code>, and <code>PollForThirdPartyJobs</code>.</p> <p>When updating a pipeline, passing * * * * * without changing any other values of the action preserves the previous value of the secret.</p>"
        },
        "queryable":{
          "shape":"Boolean",
          "documentation":"<p>Indicates that the property is used with <code>PollForJobs</code>. When creating a custom action, an action can have up to one queryable property. If it has one, that property must be both required and not secret.</p> <p>If you create a pipeline with a custom action type, and that custom action contains a queryable property, the value for that configuration property is subject to other restrictions. The value must be less than or equal to twenty (20) characters. The value can contain only alphanumeric characters, underscores, and hyphens.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the action configuration property that is displayed to users.</p>"
        },
        "type":{
          "shape":"ActionConfigurationPropertyType",
          "documentation":"<p>The type of the configuration property.</p>"
        }
      },
      "documentation":"<p>Represents information about an action configuration property.</p>"
    },
    "ActionConfigurationPropertyList":{
      "type":"list",
      "member":{"shape":"ActionConfigurationProperty"},
      "max":10
    },
    "ActionConfigurationPropertyType":{
      "type":"string",
      "enum":[
        "String",
        "Number",
        "Boolean"
      ]
    },
    "ActionConfigurationQueryableValue":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "ActionConfigurationValue":{
      "type":"string",
      "max":1000,
      "min":1
    },
    "ActionContext":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ActionName",
          "documentation":"<p>The name of the action in the context of a job.</p>"
        },
        "actionExecutionId":{
          "shape":"ActionExecutionId",
          "documentation":"<p>The system-generated unique ID that corresponds to an action's execution.</p>"
        }
      },
      "documentation":"<p>Represents the context of an action in the stage of a pipeline to a job worker.</p>"
    },
    "ActionDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "actionTypeId"
      ],
      "members":{
        "name":{
          "shape":"ActionName",
          "documentation":"<p>The action declaration's name.</p>"
        },
        "actionTypeId":{
          "shape":"ActionTypeId",
          "documentation":"<p>Specifies the action type and the provider of the action.</p>"
        },
        "runOrder":{
          "shape":"ActionRunOrder",
          "documentation":"<p>The order in which actions are run.</p>"
        },
        "configuration":{
          "shape":"ActionConfigurationMap",
          "documentation":"<p>The action's configuration. These are key-value pairs that specify input values for an action. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#action-requirements\">Action Structure Requirements in CodePipeline</a>. For the list of configuration properties for the CloudFormation action type in CodePipeline, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-action-reference.html\">Configuration Properties Reference</a> in the <i>CloudFormation User Guide</i>. For template snippets with examples, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-parameter-override-functions.html\">Using Parameter Override Functions with CodePipeline Pipelines</a> in the <i>CloudFormation User Guide</i>.</p> <p>The values can be represented in either JSON or YAML format. For example, the JSON configuration item format is as follows: </p> <p> <i>JSON:</i> </p> <p> <code>\"Configuration\" : { Key : Value },</code> </p>"
        },
        "commands":{
          "shape":"CommandList",
          "documentation":"<p>The shell commands to run with your compute action in CodePipeline. All commands are supported except multi-line formats. While CodeBuild logs and permissions are used, you do not need to create any resources in CodeBuild.</p> <note> <p>Using compute time for this action will incur separate charges in CodeBuild.</p> </note>"
        },
        "outputArtifacts":{
          "shape":"OutputArtifactList",
          "documentation":"<p>The name or ID of the result of the action declaration, such as a test or build artifact.</p>"
        },
        "inputArtifacts":{
          "shape":"InputArtifactList",
          "documentation":"<p>The name or ID of the artifact consumed by the action, such as a test or build artifact.</p>"
        },
        "outputVariables":{
          "shape":"OutputVariableList",
          "documentation":"<p>The list of variables that are to be exported from the compute action. This is specifically CodeBuild environment variables as used for that action.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM service role that performs the declared action. This is assumed through the roleArn for the pipeline.</p>"
        },
        "region":{
          "shape":"AWSRegionName",
          "documentation":"<p>The action declaration's Amazon Web Services Region, such as us-east-1.</p>"
        },
        "namespace":{
          "shape":"ActionNamespace",
          "documentation":"<p>The variable namespace associated with the action. All variables produced as output by this action fall under this namespace.</p>"
        },
        "timeoutInMinutes":{
          "shape":"ActionTimeout",
          "documentation":"<p>A timeout duration in minutes that can be applied against the ActionType’s default timeout value specified in <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/limits.html\">Quotas for CodePipeline </a>. This attribute is available only to the manual approval ActionType.</p>"
        },
        "environmentVariables":{
          "shape":"EnvironmentVariableList",
          "documentation":"<p>The environment variables for the action.</p>"
        }
      },
      "documentation":"<p>Represents information about an action declaration.</p>"
    },
    "ActionExecution":{
      "type":"structure",
      "members":{
        "actionExecutionId":{
          "shape":"ActionExecutionId",
          "documentation":"<p>ID of the workflow action execution in the current stage. Use the <a>GetPipelineState</a> action to retrieve the current action execution details of the current stage.</p> <note> <p>For older executions, this field might be empty. The action execution ID is available for executions run on or after March 2020.</p> </note>"
        },
        "status":{
          "shape":"ActionExecutionStatus",
          "documentation":"<p>The status of the action, or for a completed action, the last status of the action.</p>"
        },
        "summary":{
          "shape":"ExecutionSummary",
          "documentation":"<p>A summary of the run of the action.</p>"
        },
        "lastStatusChange":{
          "shape":"Timestamp",
          "documentation":"<p>The last status change of the action.</p>"
        },
        "token":{
          "shape":"ActionExecutionToken",
          "documentation":"<p>The system-generated token used to identify a unique approval request. The token for each open approval request can be obtained using the <code>GetPipelineState</code> command. It is used to validate that the approval request corresponding to this token is still valid.</p>"
        },
        "lastUpdatedBy":{
          "shape":"LastUpdatedBy",
          "documentation":"<p>The ARN of the user who last changed the pipeline.</p>"
        },
        "externalExecutionId":{
          "shape":"ExecutionId",
          "documentation":"<p>The external ID of the run of the action.</p>"
        },
        "externalExecutionUrl":{
          "shape":"Url",
          "documentation":"<p>The URL of a resource external to Amazon Web Services that is used when running the action (for example, an external repository URL).</p>"
        },
        "percentComplete":{
          "shape":"Percentage",
          "documentation":"<p>A percentage of completeness of the action as it runs.</p>"
        },
        "errorDetails":{
          "shape":"ErrorDetails",
          "documentation":"<p>The details of an error returned by a URL external to Amazon Web Services.</p>"
        },
        "logStreamARN":{
          "shape":"LogStreamARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the log stream for the action compute.</p>"
        }
      },
      "documentation":"<p>Represents information about the run of an action.</p>"
    },
    "ActionExecutionDetail":{
      "type":"structure",
      "members":{
        "pipelineExecutionId":{
          "shape":"PipelineExecutionId",
          "documentation":"<p>The pipeline execution ID for the action execution.</p>"
        },
        "actionExecutionId":{
          "shape":"ActionExecutionId",
          "documentation":"<p>The action execution ID.</p>"
        },
        "pipelineVersion":{
          "shape":"PipelineVersion",
          "documentation":"<p>The version of the pipeline where the action was run.</p>"
        },
        "stageName":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage that contains the action.</p>"
        },
        "actionName":{
          "shape":"ActionName",
          "documentation":"<p>The name of the action.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time of the action execution.</p>"
        },
        "lastUpdateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The last update time of the action execution.</p>"
        },
        "updatedBy":{
          "shape":"LastUpdatedBy",
          "documentation":"<p>The ARN of the user who changed the pipeline execution details.</p>"
        },
        "status":{
          "shape":"ActionExecutionStatus",
          "documentation":"<p> The status of the action execution. Status categories are <code>InProgress</code>, <code>Succeeded</code>, and <code>Failed</code>.</p>"
        },
        "input":{
          "shape":"ActionExecutionInput",
          "documentation":"<p>Input details for the action execution, such as role ARN, Region, and input artifacts.</p>"
        },
        "output":{
          "shape":"ActionExecutionOutput",
          "documentation":"<p>Output details for the action execution, such as the action execution result.</p>"
        }
      },
      "documentation":"<p>Returns information about an execution of an action, including the action execution ID, and the name, version, and timing of the action. </p>"
    },
    "ActionExecutionDetailList":{
      "type":"list",
      "member":{"shape":"ActionExecutionDetail"}
    },
    "ActionExecutionFilter":{
      "type":"structure",
      "members":{
        "pipelineExecutionId":{
          "shape":"PipelineExecutionId",
          "documentation":"<p>The pipeline execution ID used to filter action execution history.</p>"
        },
        "latestInPipelineExecution":{
          "shape":"LatestInPipelineExecutionFilter",
          "documentation":"<p>The latest execution in the pipeline.</p> <note> <p>Filtering on the latest execution is available for executions run on or after February 08, 2024.</p> </note>"
        }
      },
      "documentation":"<p>Filter values for the action execution.</p>"
    },
    "ActionExecutionId":{"type":"string"},
    "ActionExecutionInput":{
      "type":"structure",
      "members":{
        "actionTypeId":{"shape":"ActionTypeId"},
        "configuration":{
          "shape":"ActionConfigurationMap",
          "documentation":"<p>Configuration data for an action execution.</p>"
        },
        "resolvedConfiguration":{
          "shape":"ResolvedActionConfigurationMap",
          "documentation":"<p>Configuration data for an action execution with all variable references replaced with their real values for the execution.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM service role that performs the declared action. This is assumed through the roleArn for the pipeline. </p>"
        },
        "region":{
          "shape":"AWSRegionName",
          "documentation":"<p>The Amazon Web Services Region for the action, such as us-east-1.</p>"
        },
        "inputArtifacts":{
          "shape":"ArtifactDetailList",
          "documentation":"<p>Details of input artifacts of the action that correspond to the action execution.</p>"
        },
        "namespace":{
          "shape":"ActionNamespace",
          "documentation":"<p>The variable namespace associated with the action. All variables produced as output by this action fall under this namespace.</p>"
        }
      },
      "documentation":"<p>Input information used for an action execution.</p>"
    },
    "ActionExecutionNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      },
      "documentation":"<p>The action execution was not found.</p>",
      "exception":true
    },
    "ActionExecutionOutput":{
      "type":"structure",
      "members":{
        "outputArtifacts":{
          "shape":"ArtifactDetailList",
          "documentation":"<p>Details of output artifacts of the action that correspond to the action execution.</p>"
        },
        "executionResult":{
          "shape":"ActionExecutionResult",
          "documentation":"<p>Execution result information listed in the output details for an action execution.</p>"
        },
        "outputVariables":{
          "shape":"OutputVariablesMap",
          "documentation":"<p>The outputVariables field shows the key-value pairs that were output as part of that execution.</p>"
        }
      },
      "documentation":"<p>Output details listed for an action execution, such as the action execution result.</p>"
    },
    "ActionExecutionResult":{
      "type":"structure",
      "members":{
        "externalExecutionId":{
          "shape":"ExternalExecutionId",
          "documentation":"<p>The action provider's external ID for the action execution.</p>"
        },
        "externalExecutionSummary":{
          "shape":"ExternalExecutionSummary",
          "documentation":"<p>The action provider's summary for the action execution.</p>"
        },
        "externalExecutionUrl":{
          "shape":"Url",
          "documentation":"<p>The deepest external link to the external resource (for example, a repository URL or deployment endpoint) that is used when running the action.</p>"
        },
        "errorDetails":{"shape":"ErrorDetails"},
        "logStreamARN":{
          "shape":"LogStreamARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the log stream for the action compute.</p>"
        }
      },
      "documentation":"<p>Execution result information, such as the external execution ID.</p>"
    },
    "ActionExecutionStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Abandoned",
        "Succeeded",
        "Failed"
      ]
    },
    "ActionExecutionToken":{"type":"string"},
    "ActionName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[A-Za-z0-9.@\\-_]+"
    },
    "ActionNamespace":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[A-Za-z0-9@\\-_]+"
    },
    "ActionNotFoundException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified action cannot be found.</p>",
      "exception":true
    },
    "ActionOwner":{
      "type":"string",
      "enum":[
        "AWS",
        "ThirdParty",
        "Custom"
      ]
    },
    "ActionProvider":{
      "type":"string",
      "max":35,
      "min":1,
      "pattern":"[0-9A-Za-z_-]+"
    },
    "ActionRevision":{
      "type":"structure",
      "required":[
        "revisionId",
        "revisionChangeId",
        "created"
      ],
      "members":{
        "revisionId":{
          "shape":"Revision",
          "documentation":"<p>The system-generated unique ID that identifies the revision number of the action.</p>"
        },
        "revisionChangeId":{
          "shape":"RevisionChangeIdentifier",
          "documentation":"<p>The unique identifier of the change that set the state to this revision (for example, a deployment ID or timestamp).</p>"
        },
        "created":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time when the most recent version of the action was created, in timestamp format.</p>"
        }
      },
      "documentation":"<p>Represents information about the version (or revision) of an action.</p>"
    },
    "ActionRunOrder":{
      "type":"integer",
      "max":999,
      "min":1
    },
    "ActionState":{
      "type":"structure",
      "members":{
        "actionName":{
          "shape":"ActionName",
          "documentation":"<p>The name of the action.</p>"
        },
        "currentRevision":{
          "shape":"ActionRevision",
          "documentation":"<p>Represents information about the version (or revision) of an action.</p>"
        },
        "latestExecution":{
          "shape":"ActionExecution",
          "documentation":"<p>Represents information about the run of an action.</p>"
        },
        "entityUrl":{
          "shape":"Url",
          "documentation":"<p>A URL link for more information about the state of the action, such as a deployment group details page.</p>"
        },
        "revisionUrl":{
          "shape":"Url",
          "documentation":"<p>A URL link for more information about the revision, such as a commit details page.</p>"
        }
      },
      "documentation":"<p>Represents information about the state of an action.</p>"
    },
    "ActionStateList":{
      "type":"list",
      "member":{"shape":"ActionState"}
    },
    "ActionTimeout":{
      "type":"integer",
      "box":true,
      "max":86400,
      "min":5
    },
    "ActionType":{
      "type":"structure",
      "required":[
        "id",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "members":{
        "id":{
          "shape":"ActionTypeId",
          "documentation":"<p>Represents information about an action type.</p>"
        },
        "settings":{
          "shape":"ActionTypeSettings",
          "documentation":"<p>The settings for the action type.</p>"
        },
        "actionConfigurationProperties":{
          "shape":"ActionConfigurationPropertyList",
          "documentation":"<p>The configuration properties for the action type.</p>"
        },
        "inputArtifactDetails":{
          "shape":"ArtifactDetails",
          "documentation":"<p>The details of the input artifact for the action, such as its commit ID.</p>"
        },
        "outputArtifactDetails":{
          "shape":"ArtifactDetails",
          "documentation":"<p>The details of the output artifact of the action, such as its commit ID.</p>"
        }
      },
      "documentation":"<p>Returns information about the details of an action type.</p>"
    },
    "ActionTypeAlreadyExistsException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified action type already exists with a different definition.</p>",
      "exception":true
    },
    "ActionTypeArtifactDetails":{
      "type":"structure",
      "required":[
        "minimumCount",
        "maximumCount"
      ],
      "members":{
        "minimumCount":{
          "shape":"MinimumActionTypeArtifactCount",
          "documentation":"<p>The minimum number of artifacts that can be used with the action type. For example, you should specify a minimum and maximum of zero input artifacts for an action type with a category of <code>source</code>.</p>"
        },
        "maximumCount":{
          "shape":"MaximumActionTypeArtifactCount",
          "documentation":"<p>The maximum number of artifacts that can be used with the actiontype. For example, you should specify a minimum and maximum of zero input artifacts for an action type with a category of <code>source</code>.</p>"
        }
      },
      "documentation":"<p>Information about parameters for artifacts associated with the action type, such as the minimum and maximum artifacts allowed.</p>"
    },
    "ActionTypeDeclaration":{
      "type":"structure",
      "required":[
        "executor",
        "id",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "members":{
        "description":{
          "shape":"ActionTypeDescription",
          "documentation":"<p>The description for the action type to be updated.</p>"
        },
        "executor":{
          "shape":"ActionTypeExecutor",
          "documentation":"<p>Information about the executor for an action type that was created with any supported integration model.</p>"
        },
        "id":{
          "shape":"ActionTypeIdentifier",
          "documentation":"<p>The action category, owner, provider, and version of the action type to be updated.</p>"
        },
        "inputArtifactDetails":{
          "shape":"ActionTypeArtifactDetails",
          "documentation":"<p>Details for the artifacts, such as application files, to be worked on by the action. For example, the minimum and maximum number of input artifacts allowed.</p>"
        },
        "outputArtifactDetails":{
          "shape":"ActionTypeArtifactDetails",
          "documentation":"<p>Details for the output artifacts, such as a built application, that are the result of the action. For example, the minimum and maximum number of output artifacts allowed.</p>"
        },
        "permissions":{
          "shape":"ActionTypePermissions",
          "documentation":"<p>Details identifying the accounts with permissions to use the action type.</p>"
        },
        "properties":{
          "shape":"ActionTypeProperties",
          "documentation":"<p>The properties of the action type to be updated.</p>"
        },
        "urls":{
          "shape":"ActionTypeUrls",
          "documentation":"<p>The links associated with the action type to be updated.</p>"
        }
      },
      "documentation":"<p>The parameters for the action type definition that are provided when the action type is created or updated.</p>"
    },
    "ActionTypeDescription":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ActionTypeExecutor":{
      "type":"structure",
      "required":[
        "configuration",
        "type"
      ],
      "members":{
        "configuration":{
          "shape":"ExecutorConfiguration",
          "documentation":"<p>The action configuration properties for the action type. These properties are specified in the action definition when the action type is created.</p>"
        },
        "type":{
          "shape":"ExecutorType",
          "documentation":"<p>The integration model used to create and update the action type, <code>Lambda</code> or <code>JobWorker</code>. </p>"
        },
        "policyStatementsTemplate":{
          "shape":"PolicyStatementsTemplate",
          "documentation":"<p>The policy statement that specifies the permissions in the CodePipeline customer account that are needed to successfully run an action.</p> <p>To grant permission to another account, specify the account ID as the Principal, a domain-style identifier defined by the service, for example <code>codepipeline.amazonaws.com</code>.</p> <note> <p>The size of the passed JSON policy document cannot exceed 2048 characters.</p> </note>"
        },
        "jobTimeout":{
          "shape":"JobTimeout",
          "documentation":"<p>The timeout in seconds for the job. An action execution can have multiple jobs. This is the timeout for a single job, not the entire action execution.</p>"
        }
      },
      "documentation":"<p>The action engine, or executor, for an action type created for a provider, where the action is to be used by customers of the provider. The action engine is associated with the model used to create and update the action, such as the Lambda integration model.</p>"
    },
    "ActionTypeId":{
      "type":"structure",
      "required":[
        "category",
        "owner",
        "provider",
        "version"
      ],
      "members":{
        "category":{
          "shape":"ActionCategory",
          "documentation":"<p>A category defines what kind of action can be taken in the stage, and constrains the provider type for the action. Valid categories are limited to one of the following values. </p> <ul> <li> <p>Source</p> </li> <li> <p>Build</p> </li> <li> <p>Test</p> </li> <li> <p>Deploy</p> </li> <li> <p>Invoke</p> </li> <li> <p>Approval</p> </li> <li> <p>Compute</p> </li> </ul>"
        },
        "owner":{
          "shape":"ActionOwner",
          "documentation":"<p>The creator of the action being called. There are three valid values for the <code>Owner</code> field in the action category section within your pipeline structure: <code>AWS</code>, <code>ThirdParty</code>, and <code>Custom</code>. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#actions-valid-providers\">Valid Action Types and Providers in CodePipeline</a>.</p>"
        },
        "provider":{
          "shape":"ActionProvider",
          "documentation":"<p>The provider of the service being called by the action. Valid providers are determined by the action category. For example, an action in the Deploy category type might have a provider of CodeDeploy, which would be specified as <code>CodeDeploy</code>. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#actions-valid-providers\">Valid Action Types and Providers in CodePipeline</a>.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>A string that describes the action version.</p>"
        }
      },
      "documentation":"<p>Represents information about an action type.</p>"
    },
    "ActionTypeIdentifier":{
      "type":"structure",
      "required":[
        "category",
        "owner",
        "provider",
        "version"
      ],
      "members":{
        "category":{
          "shape":"ActionCategory",
          "documentation":"<p>Defines what kind of action can be taken in the stage, one of the following:</p> <ul> <li> <p> <code>Source</code> </p> </li> <li> <p> <code>Build</code> </p> </li> <li> <p> <code>Test</code> </p> </li> <li> <p> <code>Deploy</code> </p> </li> <li> <p> <code>Approval</code> </p> </li> <li> <p> <code>Invoke</code> </p> </li> </ul>"
        },
        "owner":{
          "shape":"ActionTypeOwner",
          "documentation":"<p>The creator of the action type being called: <code>AWS</code> or <code>ThirdParty</code>.</p>"
        },
        "provider":{
          "shape":"ActionProvider",
          "documentation":"<p>The provider of the action type being called. The provider name is supplied when the action type is created.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>A string that describes the action type version.</p>"
        }
      },
      "documentation":"<p>Specifies the category, owner, provider, and version of the action type.</p>"
    },
    "ActionTypeList":{
      "type":"list",
      "member":{"shape":"ActionType"}
    },
    "ActionTypeNotFoundException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified action type cannot be found.</p>",
      "exception":true
    },
    "ActionTypeOwner":{
      "type":"string",
      "pattern":"AWS|ThirdParty"
    },
    "ActionTypePermissions":{
      "type":"structure",
      "required":["allowedAccounts"],
      "members":{
        "allowedAccounts":{
          "shape":"AllowedAccounts",
          "documentation":"<p>A list of Amazon Web Services account IDs with access to use the action type in their pipelines.</p>"
        }
      },
      "documentation":"<p>Details identifying the users with permissions to use the action type.</p>"
    },
    "ActionTypeProperties":{
      "type":"list",
      "member":{"shape":"ActionTypeProperty"},
      "max":10
    },
    "ActionTypeProperty":{
      "type":"structure",
      "required":[
        "name",
        "optional",
        "key",
        "noEcho"
      ],
      "members":{
        "name":{
          "shape":"ActionConfigurationKey",
          "documentation":"<p>The property name that is displayed to users.</p>"
        },
        "optional":{
          "shape":"Boolean",
          "documentation":"<p>Whether the configuration property is an optional value.</p>"
        },
        "key":{
          "shape":"Boolean",
          "documentation":"<p>Whether the configuration property is a key.</p>"
        },
        "noEcho":{
          "shape":"Boolean",
          "documentation":"<p>Whether to omit the field value entered by the customer in the log. If <code>true</code>, the value is not saved in CloudTrail logs for the action execution.</p>"
        },
        "queryable":{
          "shape":"Boolean",
          "documentation":"<p>Indicates that the property is used with polling. An action type can have up to one queryable property. If it has one, that property must be both required and not secret.</p>"
        },
        "description":{
          "shape":"PropertyDescription",
          "documentation":"<p>The description of the property that is displayed to users.</p>"
        }
      },
      "documentation":"<p>Represents information about each property specified in the action configuration, such as the description and key name that display for the customer using the action type.</p>"
    },
    "ActionTypeSettings":{
      "type":"structure",
      "members":{
        "thirdPartyConfigurationUrl":{
          "shape":"Url",
          "documentation":"<p>The URL of a sign-up page where users can sign up for an external service and perform initial configuration of the action provided by that service.</p>"
        },
        "entityUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The URL returned to the CodePipeline console that provides a deep link to the resources of the external system, such as the configuration page for a CodeDeploy deployment group. This link is provided as part of the action display in the pipeline.</p>"
        },
        "executionUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The URL returned to the CodePipeline console that contains a link to the top-level landing page for the external system, such as the console page for CodeDeploy. This link is shown on the pipeline view page in the CodePipeline console and provides a link to the execution entity of the external action.</p>"
        },
        "revisionUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The URL returned to the CodePipeline console that contains a link to the page where customers can update or change the configuration of the external action.</p>"
        }
      },
      "documentation":"<p>Returns information about the settings for an action type.</p>"
    },
    "ActionTypeUrls":{
      "type":"structure",
      "members":{
        "configurationUrl":{
          "shape":"Url",
          "documentation":"<p>The URL returned to the CodePipeline console that contains a link to the page where customers can configure the external action.</p>"
        },
        "entityUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The URL returned to the CodePipeline console that provides a deep link to the resources of the external system, such as a status page. This link is provided as part of the action display in the pipeline.</p>"
        },
        "executionUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The link to an execution page for the action type in progress. For example, for a CodeDeploy action, this link is shown on the pipeline view page in the CodePipeline console, and it links to a CodeDeploy status page.</p>"
        },
        "revisionUrlTemplate":{
          "shape":"UrlTemplate",
          "documentation":"<p>The URL returned to the CodePipeline console that contains a link to the page where customers can update or change the configuration of the external action.</p>"
        }
      },
      "documentation":"<p>Returns information about URLs for web pages that display to customers as links on the pipeline view, such as an external configuration page for the action type.</p>"
    },
    "AllowedAccount":{
      "type":"string",
      "pattern":"[0-9]{12}|\\*"
    },
    "AllowedAccounts":{
      "type":"list",
      "member":{"shape":"AllowedAccount"},
      "max":1000,
      "min":1
    },
    "ApprovalAlreadyCompletedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The approval action has already been approved or rejected.</p>",
      "exception":true
    },
    "ApprovalResult":{
      "type":"structure",
      "required":[
        "summary",
        "status"
      ],
      "members":{
        "summary":{
          "shape":"ApprovalSummary",
          "documentation":"<p>The summary of the current status of the approval request.</p>"
        },
        "status":{
          "shape":"ApprovalStatus",
          "documentation":"<p>The response submitted by a reviewer assigned to an approval action request.</p>"
        }
      },
      "documentation":"<p>Represents information about the result of an approval request.</p>"
    },
    "ApprovalStatus":{
      "type":"string",
      "enum":[
        "Approved",
        "Rejected"
      ]
    },
    "ApprovalSummary":{
      "type":"string",
      "max":512,
      "min":0
    },
    "ApprovalToken":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "Artifact":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ArtifactName",
          "documentation":"<p>The artifact's name.</p>"
        },
        "revision":{
          "shape":"Revision",
          "documentation":"<p>The artifact's revision ID. Depending on the type of object, this could be a commit ID (GitHub) or a revision ID (Amazon S3).</p>"
        },
        "location":{
          "shape":"ArtifactLocation",
          "documentation":"<p>The location of an artifact.</p>"
        }
      },
      "documentation":"<p>Artifacts are the files that are worked on by actions in the pipeline. See the action configuration for each action for details about artifact parameters. For example, the S3 source action artifact is a file name (or file path), and the files are generally provided as a ZIP file. Example artifact name: SampleApp_Windows.zip</p>"
    },
    "ArtifactDetail":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ArtifactName",
          "documentation":"<p>The artifact object name for the action execution.</p>"
        },
        "s3location":{
          "shape":"S3Location",
          "documentation":"<p>The Amazon S3 artifact location for the action execution.</p>"
        }
      },
      "documentation":"<p>Artifact details for the action execution, such as the artifact location.</p>"
    },
    "ArtifactDetailList":{
      "type":"list",
      "member":{"shape":"ArtifactDetail"}
    },
    "ArtifactDetails":{
      "type":"structure",
      "required":[
        "minimumCount",
        "maximumCount"
      ],
      "members":{
        "minimumCount":{
          "shape":"MinimumArtifactCount",
          "documentation":"<p>The minimum number of artifacts allowed for the action type.</p>"
        },
        "maximumCount":{
          "shape":"MaximumArtifactCount",
          "documentation":"<p>The maximum number of artifacts allowed for the action type.</p>"
        }
      },
      "documentation":"<p>Returns information about the details of an artifact.</p>"
    },
    "ArtifactList":{
      "type":"list",
      "member":{"shape":"Artifact"}
    },
    "ArtifactLocation":{
      "type":"structure",
      "members":{
        "type":{
          "shape":"ArtifactLocationType",
          "documentation":"<p>The type of artifact in the location.</p>"
        },
        "s3Location":{
          "shape":"S3ArtifactLocation",
          "documentation":"<p>The S3 bucket that contains the artifact.</p>"
        }
      },
      "documentation":"<p>Represents information about the location of an artifact.</p>"
    },
    "ArtifactLocationType":{
      "type":"string",
      "enum":["S3"]
    },
    "ArtifactName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\-]+"
    },
    "ArtifactRevision":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ArtifactName",
          "documentation":"<p>The name of an artifact. This name might be system-generated, such as \"MyApp\", or defined by the user when an action is created.</p>"
        },
        "revisionId":{
          "shape":"Revision",
          "documentation":"<p>The revision ID of the artifact.</p>"
        },
        "revisionChangeIdentifier":{
          "shape":"RevisionChangeIdentifier",
          "documentation":"<p>An additional identifier for a revision, such as a commit date or, for artifacts stored in Amazon S3 buckets, the ETag value.</p>"
        },
        "revisionSummary":{
          "shape":"RevisionSummary",
          "documentation":"<p>Summary information about the most recent revision of the artifact. For GitHub and CodeCommit repositories, the commit message. For Amazon S3 buckets or actions, the user-provided content of a <code>codepipeline-artifact-revision-summary</code> key specified in the object metadata.</p>"
        },
        "created":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time when the most recent revision of the artifact was created, in timestamp format.</p>"
        },
        "revisionUrl":{
          "shape":"Url",
          "documentation":"<p>The commit ID for the artifact revision. For artifacts stored in GitHub or CodeCommit repositories, the commit ID is linked to a commit details page.</p>"
        }
      },
      "documentation":"<p>Represents revision details of an artifact. </p>"
    },
    "ArtifactRevisionList":{
      "type":"list",
      "member":{"shape":"ArtifactRevision"}
    },
    "ArtifactStore":{
      "type":"structure",
      "required":[
        "type",
        "location"
      ],
      "members":{
        "type":{
          "shape":"ArtifactStoreType",
          "documentation":"<p>The type of the artifact store, such as S3.</p>"
        },
        "location":{
          "shape":"ArtifactStoreLocation",
          "documentation":"<p>The S3 bucket used for storing the artifacts for a pipeline. You can specify the name of an S3 bucket but not a folder in the bucket. A folder to contain the pipeline artifacts is created for you based on the name of the pipeline. You can use any S3 bucket in the same Amazon Web Services Region as the pipeline to store your pipeline artifacts.</p>"
        },
        "encryptionKey":{
          "shape":"EncryptionKey",
          "documentation":"<p>The encryption key used to encrypt the data in the artifact store, such as an Amazon Web Services Key Management Service key. If this is undefined, the default key for Amazon S3 is used.</p>"
        }
      },
      "documentation":"<p>The S3 bucket where artifacts for the pipeline are stored.</p> <note> <p>You must include either <code>artifactStore</code> or <code>artifactStores</code> in your pipeline, but you cannot use both. If you create a cross-region action in your pipeline, you must use <code>artifactStores</code>.</p> </note>"
    },
    "ArtifactStoreLocation":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"[a-zA-Z0-9\\-\\.]+"
    },
    "ArtifactStoreMap":{
      "type":"map",
      "key":{"shape":"AWSRegionName"},
      "value":{"shape":"ArtifactStore"}
    },
    "ArtifactStoreType":{
      "type":"string",
      "enum":["S3"]
    },
    "BeforeEntryConditions":{
      "type":"structure",
      "required":["conditions"],
      "members":{
        "conditions":{
          "shape":"ConditionList",
          "documentation":"<p>The conditions that are configured as entry conditions.</p>"
        }
      },
      "documentation":"<p>The conditions for making checks for entry to a stage. For more information about conditions, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/stage-conditions.html\">Stage conditions</a> and <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/concepts-how-it-works-conditions.html\">How do stage conditions work?</a>. </p>"
    },
    "BlockerDeclaration":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "name":{
          "shape":"BlockerName",
          "documentation":"<p>Reserved for future use.</p>"
        },
        "type":{
          "shape":"BlockerType",
          "documentation":"<p>Reserved for future use.</p>"
        }
      },
      "documentation":"<p>Reserved for future use.</p>"
    },
    "BlockerName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "BlockerType":{
      "type":"string",
      "enum":["Schedule"]
    },
    "Boolean":{"type":"boolean"},
    "ClientId":{
      "type":"string",
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "ClientRequestToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[a-zA-Z0-9-]+$"
    },
    "ClientToken":{
      "type":"string",
      "max":256,
      "min":1
    },
    "Code":{"type":"string"},
    "Command":{
      "type":"string",
      "max":1000,
      "min":1
    },
    "CommandList":{
      "type":"list",
      "member":{"shape":"Command"},
      "max":50,
      "min":1
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      },
      "documentation":"<p>Unable to modify the tag due to a simultaneous update request.</p>",
      "exception":true
    },
    "ConcurrentPipelineExecutionsLimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      },
      "documentation":"<p>The pipeline has reached the limit for concurrent pipeline executions.</p>",
      "exception":true
    },
    "Condition":{
      "type":"structure",
      "members":{
        "result":{
          "shape":"Result",
          "documentation":"<p>The action to be done when the condition is met. For example, rolling back an execution for a failure condition.</p>"
        },
        "rules":{
          "shape":"RuleDeclarationList",
          "documentation":"<p>The rules that make up the condition.</p>"
        }
      },
      "documentation":"<p>The condition for the stage. A condition is made up of the rules and the result for the condition. For more information about conditions, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/stage-conditions.html\">Stage conditions</a> and <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/concepts-how-it-works-conditions.html\">How do stage conditions work?</a>.. For more information about rules, see the <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/rule-reference.html\">CodePipeline rule reference</a>.</p>"
    },
    "ConditionExecution":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"ConditionExecutionStatus",
          "documentation":"<p>The status of the run for a condition.</p>"
        },
        "summary":{
          "shape":"ExecutionSummary",
          "documentation":"<p>The summary of information about a run for a condition.</p>"
        },
        "lastStatusChange":{
          "shape":"Timestamp",
          "documentation":"<p>The last status change of the condition.</p>"
        }
      },
      "documentation":"<p>The run of a condition.</p>"
    },
    "ConditionExecutionStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Failed",
        "Errored",
        "Succeeded",
        "Cancelled",
        "Abandoned",
        "Overridden"
      ]
    },
    "ConditionList":{
      "type":"list",
      "member":{"shape":"Condition"},
      "max":1,
      "min":1
    },
    "ConditionNotOverridableException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Unable to override because the condition does not allow overrides.</p>",
      "exception":true
    },
    "ConditionState":{
      "type":"structure",
      "members":{
        "latestExecution":{
          "shape":"ConditionExecution",
          "documentation":"<p>The state of the latest run of the rule.</p>"
        },
        "ruleStates":{
          "shape":"RuleStateList",
          "documentation":"<p>The state of the rules for the condition.</p>"
        }
      },
      "documentation":"<p>Information about the state of the condition.</p>"
    },
    "ConditionStateList":{
      "type":"list",
      "member":{"shape":"ConditionState"}
    },
    "ConditionType":{
      "type":"string",
      "enum":[
        "BEFORE_ENTRY",
        "ON_SUCCESS"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      },
      "documentation":"<p>Your request cannot be handled because the pipeline is busy handling ongoing activities. Try again later.</p>",
      "exception":true
    },
    "ContinuationToken":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "CreateCustomActionTypeInput":{
      "type":"structure",
      "required":[
        "category",
        "provider",
        "version",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "members":{
        "category":{
          "shape":"ActionCategory",
          "documentation":"<p>The category of the custom action, such as a build action or a test action.</p>"
        },
        "provider":{
          "shape":"ActionProvider",
          "documentation":"<p>The provider of the service used in the custom action, such as CodeDeploy.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version identifier of the custom action.</p>"
        },
        "settings":{
          "shape":"ActionTypeSettings",
          "documentation":"<p>URLs that provide users information about this custom action.</p>"
        },
        "configurationProperties":{
          "shape":"ActionConfigurationPropertyList",
          "documentation":"<p>The configuration properties for the custom action.</p> <note> <p>You can refer to a name in the configuration properties of the custom action within the URL templates by following the format of {Config:name}, as long as the configuration property is both required and not secret. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-create-custom-action.html\">Create a Custom Action for a Pipeline</a>.</p> </note>"
        },
        "inputArtifactDetails":{
          "shape":"ArtifactDetails",
          "documentation":"<p>The details of the input artifact for the action, such as its commit ID.</p>"
        },
        "outputArtifactDetails":{
          "shape":"ArtifactDetails",
          "documentation":"<p>The details of the output artifact of the action, such as its commit ID.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tags for the custom action.</p>"
        }
      },
      "documentation":"<p>Represents the input of a CreateCustomActionType operation.</p>"
    },
    "CreateCustomActionTypeOutput":{
      "type":"structure",
      "required":["actionType"],
      "members":{
        "actionType":{
          "shape":"ActionType",
          "documentation":"<p>Returns information about the details of an action type.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Specifies the tags applied to the custom action.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>CreateCustomActionType</code> operation.</p>"
    },
    "CreatePipelineInput":{
      "type":"structure",
      "required":["pipeline"],
      "members":{
        "pipeline":{
          "shape":"PipelineDeclaration",
          "documentation":"<p>Represents the structure of actions and stages to be performed in the pipeline. </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tags for the pipeline.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>CreatePipeline</code> action.</p>"
    },
    "CreatePipelineOutput":{
      "type":"structure",
      "members":{
        "pipeline":{
          "shape":"PipelineDeclaration",
          "documentation":"<p>Represents the structure of actions and stages to be performed in the pipeline. </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Specifies the tags applied to the pipeline.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>CreatePipeline</code> action.</p>"
    },
    "CurrentRevision":{
      "type":"structure",
      "required":[
        "revision",
        "changeIdentifier"
      ],
      "members":{
        "revision":{
          "shape":"Revision",
          "documentation":"<p>The revision ID of the current version of an artifact.</p>"
        },
        "changeIdentifier":{
          "shape":"RevisionChangeIdentifier",
          "documentation":"<p>The change identifier for the current revision.</p>"
        },
        "created":{
          "shape":"Time",
          "documentation":"<p>The date and time when the most recent revision of the artifact was created, in timestamp format.</p>"
        },
        "revisionSummary":{
          "shape":"RevisionSummary",
          "documentation":"<p>The summary of the most recent revision of the artifact.</p>"
        }
      },
      "documentation":"<p>Represents information about a current revision.</p>"
    },
    "DeleteCustomActionTypeInput":{
      "type":"structure",
      "required":[
        "category",
        "provider",
        "version"
      ],
      "members":{
        "category":{
          "shape":"ActionCategory",
          "documentation":"<p>The category of the custom action that you want to delete, such as source or deploy.</p>"
        },
        "provider":{
          "shape":"ActionProvider",
          "documentation":"<p>The provider of the service used in the custom action, such as CodeDeploy.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version of the custom action to delete.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>DeleteCustomActionType</code> operation. The custom action will be marked as deleted.</p>"
    },
    "DeletePipelineInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline to be deleted.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>DeletePipeline</code> action.</p>"
    },
    "DeleteWebhookInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"WebhookName",
          "documentation":"<p>The name of the webhook you want to delete.</p>"
        }
      }
    },
    "DeleteWebhookOutput":{
      "type":"structure",
      "members":{}
    },
    "DeployActionExecutionTarget":{
      "type":"structure",
      "members":{
        "targetId":{
          "shape":"String",
          "documentation":"<p>The ID of the target for the deploy action.</p>"
        },
        "targetType":{
          "shape":"String",
          "documentation":"<p>The type of target for the deploy action.</p>"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the deploy action.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time for the deploy action.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time for the deploy action.</p>"
        },
        "events":{
          "shape":"DeployTargetEventList",
          "documentation":"<p>The lifecycle events for the deploy action.</p>"
        }
      },
      "documentation":"<p>The target for the deploy action.</p>"
    },
    "DeployActionExecutionTargetList":{
      "type":"list",
      "member":{"shape":"DeployActionExecutionTarget"}
    },
    "DeployTargetEvent":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the event for the deploy action.</p>"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the event for the deploy action.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time for the event for the deploy action.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time for the event for the deploy action.</p>"
        },
        "context":{
          "shape":"DeployTargetEventContext",
          "documentation":"<p>The context for the event for the deploy action.</p>"
        }
      },
      "documentation":"<p>A lifecycle event for the deploy action.</p>"
    },
    "DeployTargetEventContext":{
      "type":"structure",
      "members":{
        "ssmCommandId":{
          "shape":"String",
          "documentation":"<p>The command ID for the event for the deploy action.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>The context message for the event for the deploy action.</p>"
        }
      },
      "documentation":"<p>The context for the event for the deploy action.</p>"
    },
    "DeployTargetEventList":{
      "type":"list",
      "member":{"shape":"DeployTargetEvent"}
    },
    "DeregisterWebhookWithThirdPartyInput":{
      "type":"structure",
      "members":{
        "webhookName":{
          "shape":"WebhookName",
          "documentation":"<p>The name of the webhook you want to deregister.</p>"
        }
      }
    },
    "DeregisterWebhookWithThirdPartyOutput":{
      "type":"structure",
      "members":{}
    },
    "Description":{
      "type":"string",
      "max":160,
      "min":1
    },
    "DisableStageTransitionInput":{
      "type":"structure",
      "required":[
        "pipelineName",
        "stageName",
        "transitionType",
        "reason"
      ],
      "members":{
        "pipelineName":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline in which you want to disable the flow of artifacts from one stage to another.</p>"
        },
        "stageName":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage where you want to disable the inbound or outbound transition of artifacts.</p>"
        },
        "transitionType":{
          "shape":"StageTransitionType",
          "documentation":"<p>Specifies whether artifacts are prevented from transitioning into the stage and being processed by the actions in that stage (inbound), or prevented from transitioning from the stage after they have been processed by the actions in that stage (outbound).</p>"
        },
        "reason":{
          "shape":"DisabledReason",
          "documentation":"<p>The reason given to the user that a stage is disabled, such as waiting for manual approval or manual tests. This message is displayed in the pipeline console UI.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>DisableStageTransition</code> action.</p>"
    },
    "DisabledReason":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"[a-zA-Z0-9!@ \\(\\)\\.\\*\\?\\-]+"
    },
    "DuplicatedStopRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      },
      "documentation":"<p>The pipeline execution is already in a <code>Stopping</code> state. If you already chose to stop and wait, you cannot make that request again. You can choose to stop and abandon now, but be aware that this option can lead to failed tasks or out of sequence tasks. If you already chose to stop and abandon, you cannot make that request again.</p>",
      "exception":true
    },
    "EnableStageTransitionInput":{
      "type":"structure",
      "required":[
        "pipelineName",
        "stageName",
        "transitionType"
      ],
      "members":{
        "pipelineName":{
          "shape":"PipelineName",
          "documentation":"<p>The name of the pipeline in which you want to enable the flow of artifacts from one stage to another.</p>"
        },
        "stageName":{
          "shape":"StageName",
          "documentation":"<p>The name of the stage where you want to enable the transition of artifacts, either into the stage (inbound) or from that stage to the next stage (outbound).</p>"
        },
        "transitionType":{
          "shape":"StageTransitionType",
          "documentation":"<p>Specifies whether artifacts are allowed to enter the stage and be processed by the actions in that stage (inbound) or whether already processed artifacts are allowed to transition to the next stage (outbound).</p>"
        }
      },
      "documentation":"<p>Represents the input of an <code>EnableStageTransition</code> action.</p>"
    },
    "Enabled":{"type":"boolean"},
    "EncryptionKey":{
      "type":"structure",
      "required":[
        "id",
        "type"
      ],
      "members":{
        "id":{
          "shape":"EncryptionKeyId",
          "documentation":"<p>The ID used to identify the key. For an Amazon Web Services KMS key, you can use the key ID, the key ARN, or the alias ARN.</p> <note> <p>Aliases are recognized only in the account that created the KMS key. For cross-account actions, you can only use the key ID or key ARN to identify the key. Cross-account actions involve using the role from the other account (AccountB), so specifying the key ID will use the key from the other account (AccountB).</p> </note>"
        },
        "type":{
          "shape":"EncryptionKeyType",
          "documentation":"<p>The type of encryption key, such as an Amazon Web Services KMS key. When creating or updating a pipeline, the value must be set to 'KMS'.</p>"
        }
      },
      "documentation":"<p>Represents information about the key used to encrypt data in the artifact store, such as an Amazon Web Services Key Management Service (Key Management Service) key.</p>"
    },
    "EncryptionKeyId":{
      "type":"string",
      "max":400,
      "min":1
    },
    "EncryptionKeyType":{
      "type":"string",
      "enum":["KMS"]
    },
    "EnvironmentVariable":{
      "type":"structure",
      "required":[
        "name",
        "value"
      ],
      "members":{
        "name":{
          "shape":"EnvironmentVariableName",
          "documentation":"<p>The environment variable name in the key-value pair.</p>"
        },
        "value":{
          "shape":"EnvironmentVariableValue",
          "documentation":"<p>The environment variable value in the key-value pair.</p>"
        },
        "type":{
          "shape":"EnvironmentVariableType",
          "documentation":"<p>Specifies the type of use for the environment variable value. The value can be either <code>PLAINTEXT</code> or <code>SECRETS_MANAGER</code>. If the value is <code>SECRETS_MANAGER</code>, provide the Secrets reference in the EnvironmentVariable value.</p>"
        }
      },
      "documentation":"<p>The environment variables for the action.</p>"
    },
    "EnvironmentVariableList":{
      "type":"list",
      "member":{"shape":"EnvironmentVariable"},
      "max":10,
      "min":1
    },
    "EnvironmentVariableName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[A-Za-z0-9_]+"
    },
    "EnvironmentVariableType":{
      "type":"string",
      "enum":[
        "PLAINTEXT",
        "SECRETS_MANAGER"
      ]
    },
    "EnvironmentVariableValue":{
      "type":"string",
      "max":2000,
      "min":1,
      "pattern":".*"
    },
    "ErrorDetails":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"Code",
          "documentation":"<p>The system ID or number code of the error.</p>"
        },
        "message":{
          "shape":"Message",
          "documentation":"<p>The text of the error message.</p>"
        }
      },
      "documentation":"<p>Represents information about an error in CodePipeline.</p>"
    },
    "ExecutionDetails":{
      "type":"structure",
      "members":{
        "summary":{
          "shape":"ExecutionSummary",
          "documentation":"<p>The summary of the current status of the actions.</p>"
        },
        "externalExecutionId":{
          "shape":"ExecutionId",
          "documentation":"<p>The system-generated unique ID of this action used to identify this job worker in any external systems, such as CodeDeploy.</p>"
        },
        "percentComplete":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of work completed on the action, represented on a scale of 0 to 100 percent.</p>"
        }
      },
      "documentation":"<p>The details of the actions taken and results produced on an artifact as it passes through stages in the pipeline.</p>"
    },
    "ExecutionId":{
      "type":"string",
      "max":1500,
      "min":1
    },
    "ExecutionMode":{
      "type":"string",
      "enum":[
        "QUEUED",
        "SUPERSEDED",
        "PARALLEL"
      ]
    },
    "ExecutionSummary":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "ExecutionTrigger":{
      "type":"structure",
      "members":{
        "triggerType":{
          "shape":"TriggerType",
          "documentation":"<p>The type of change-detection method, command, or user interaction that started a pipeline execution.</p>"
        },
        "triggerDetail":{
          "shape":"TriggerDetail",
[...]
