<div class="modal-content">
    <header class="modal-header">
        <h1>Advanced theme options</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <div class="gh-setting-header">Installed Themes</div>
        <div class="gh-themes-container">
            <GhThemeTableLabs @themes={{this.themes}} />

            <div class="flex justify-between mt6">
                <a href="https://ghost.org/docs/themes/" target=_"blank" rel="noopener noreferrer" class="gh-btn gh-btn-outline">
                    <span>Theme developer docs</span>
                </a>

                <button type="button" class="gh-btn gh-btn-black" {{on "click" @close}}><span>Done</span></button>
            </div>
        </div>
    </div>
</div>