---
lang: zh
layout: default
meta_title: How to Use Ghost - Ghost Docs
meta_description: An in depth guide to using the Ghost blogging platform. Got Ghost but not sure how to get going? Start here!
heading: Using Ghost
subheading: Finding your way around, and getting set up the way you want
chapter: usage
next_section: configuration
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="overview">Overview</h2>

            <p>Hopefully at this point you've got Ghost installed and running, and you're ready to get blogging. The following sections are going to walk you through absolutely everything you need to know about Ghost, so that you are familiar with everything, and set up exactly how you want to be.</p>

            <h3>First run</h3>

            <p>If you are running Ghost for the very first time, then you need to create your admin user account. Navigate to your new blog in your favourite browser, and then change the URL to <code class="path">&lt;your URL&gt;/ghost/signup/</code>. You should see a screen just like this one:</p>

            <p><img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/ghost-signup.png" /></p>

            <ul>
                <li>Fill in your <strong>Full Name</strong> as the name you want to appear as the author of blog posts.</li>
                <li>Then enter your <strong>Email Address</strong> - make sure it's valid, and carefully enter a sensible <strong>Password</strong> (it needs to be at least 8 characters long).</li>
                <li>Hit the big blue <strong>Sign Up</strong> button, and you will be logged in to your blog.</li>
            </ul>

            <p>That's it! You can now start writing blog posts.</p>

            <h4>Messages</h4>

            <p>On your first run of Ghost you should see a blue info message at the top of the screen that looks a little like this:</p>

            <p><img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/first-run-info.png" /></p>

            <p>It let's you know some information about the way Ghost is configured, such as which environment you've started it in, and what you've got your URL set to.
                Jump to the <a href="/usage/configuration/">configuration</a> section to find out more about environments, and how to configure Ghost.
                You won't be able to get rid of this message until you log in (this is a bug we're working on), but once you have, and you're familiar with the info, close it by pressing the x. It won't appear again.</p>

            <p>You may also see an orange warning message with regard to email:</p>

            <p><img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/email-warning.png" /></p>

            <p>This isn't critical to setting up your blog so you can get started writing, but it is a good idea to mosey on over to the <a href="/mail">email documentation</a> at some point, and learn about configuring Ghost to send email.
            This is currently only used to send you a reset email if you forget your password. Not important for blogging, but really useful if you ever need it!</p>

            {% if page.next_section or page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>