{
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "pinpoint",
    "signingName": "mobiletargeting",
    "serviceFullName": "Amazon Pinpoint",
    "serviceId": "Pinpoint",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "pinpoint-2016-12-01",
    "signatureVersion": "v4",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "documentation": "<p>Doc Engage API - Amazon Pinpoint API</p>",
  "operations": {
    "CreateApp": {
      "name": "CreateApp",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAppRequest"
      },
      "output": {
        "shape": "CreateAppResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": " <p>Creates an application.</p>"
    },
    "CreateCampaign": {
      "name": "CreateCampaign",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/campaigns",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCampaignRequest"
      },
      "output": {
        "shape": "CreateCampaignResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Creates a new campaign for an application or updates the settings of an existing campaign for an application.</p>"
    },
    "CreateEmailTemplate": {
      "name": "CreateEmailTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateEmailTemplateRequest"
      },
      "output": {
        "shape": "CreateEmailTemplateResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        }
      ],
      "documentation": "<p>Creates a message template for messages that are sent through the email channel.</p>"
    },
    "CreateExportJob": {
      "name": "CreateExportJob",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/jobs/export",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateExportJobRequest"
      },
      "output": {
        "shape": "CreateExportJobResponse",
        "documentation": "<p>The request was accepted for processing. Processing may not be complete.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Creates an export job for an application.</p>"
    },
    "CreateImportJob": {
      "name": "CreateImportJob",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/jobs/import",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateImportJobRequest"
      },
      "output": {
        "shape": "CreateImportJobResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Creates an import job for an application.</p>"
    },
    "CreateInAppTemplate": {
      "name": "CreateInAppTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/inapp",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInAppTemplateRequest"
      },
      "output": {
        "shape": "CreateInAppTemplateResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        }
      ],
      "documentation": "<p>Creates a new message template for messages using the in-app message channel.</p>"
    },
    "CreateJourney": {
      "name": "CreateJourney",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/journeys",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJourneyRequest"
      },
      "output": {
        "shape": "CreateJourneyResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Creates a journey for an application.</p>"
    },
    "CreatePushTemplate": {
      "name": "CreatePushTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePushTemplateRequest"
      },
      "output": {
        "shape": "CreatePushTemplateResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        }
      ],
      "documentation": "<p>Creates a message template for messages that are sent through a push notification channel.</p>"
    },
    "CreateRecommenderConfiguration": {
      "name": "CreateRecommenderConfiguration",
      "http": {
        "method": "POST",
        "requestUri": "/v1/recommenders",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRecommenderConfigurationRequest"
      },
      "output": {
        "shape": "CreateRecommenderConfigurationResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Creates an Amazon Pinpoint configuration for a recommender model.</p>"
    },
    "CreateSegment": {
      "name": "CreateSegment",
      "http": {
        "method": "POST",
        "requestUri": "/v1/apps/{application-id}/segments",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSegmentRequest"
      },
      "output": {
        "shape": "CreateSegmentResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Creates a new segment for an application or updates the configuration, dimension, and other settings for an existing segment that's associated with an application.</p>"
    },
    "CreateSmsTemplate": {
      "name": "CreateSmsTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSmsTemplateRequest"
      },
      "output": {
        "shape": "CreateSmsTemplateResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        }
      ],
      "documentation": "<p>Creates a message template for messages that are sent through the SMS channel.</p>"
    },
    "CreateVoiceTemplate": {
      "name": "CreateVoiceTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateVoiceTemplateRequest"
      },
      "output": {
        "shape": "CreateVoiceTemplateResponse",
        "documentation": "<p>The request succeeded and the specified resource was created.</p>"
      },
      "errors": [
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        }
      ],
      "documentation": "<p>Creates a message template for messages that are sent through the voice channel.</p>"
    },
    "DeleteAdmChannel": {
      "name": "DeleteAdmChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAdmChannelRequest"
      },
      "output": {
        "shape": "DeleteAdmChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the ADM channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteApnsChannel": {
      "name": "DeleteApnsChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteApnsChannelRequest"
      },
      "output": {
        "shape": "DeleteApnsChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the APNs channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteApnsSandboxChannel": {
      "name": "DeleteApnsSandboxChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteApnsSandboxChannelRequest"
      },
      "output": {
        "shape": "DeleteApnsSandboxChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the APNs sandbox channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteApnsVoipChannel": {
      "name": "DeleteApnsVoipChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteApnsVoipChannelRequest"
      },
      "output": {
        "shape": "DeleteApnsVoipChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the APNs VoIP channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteApnsVoipSandboxChannel": {
      "name": "DeleteApnsVoipSandboxChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteApnsVoipSandboxChannelRequest"
      },
      "output": {
        "shape": "DeleteApnsVoipSandboxChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the APNs VoIP sandbox channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteApp": {
      "name": "DeleteApp",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAppRequest"
      },
      "output": {
        "shape": "DeleteAppResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes an application.</p>"
    },
    "DeleteBaiduChannel": {
      "name": "DeleteBaiduChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteBaiduChannelRequest"
      },
      "output": {
        "shape": "DeleteBaiduChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the Baidu channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteCampaign": {
      "name": "DeleteCampaign",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteCampaignRequest"
      },
      "output": {
        "shape": "DeleteCampaignResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes a campaign from an application.</p>"
    },
    "DeleteEmailChannel": {
      "name": "DeleteEmailChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/email",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteEmailChannelRequest"
      },
      "output": {
        "shape": "DeleteEmailChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the email channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteEmailTemplate": {
      "name": "DeleteEmailTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/email",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteEmailTemplateRequest"
      },
      "output": {
        "shape": "DeleteEmailTemplateResponse",
        "documentation": "<p>The request was accepted for processing. Processing may not be complete.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes a message template for messages that were sent through the email channel.</p>"
    },
    "DeleteEndpoint": {
      "name": "DeleteEndpoint",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/endpoints/{endpoint-id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteEndpointRequest"
      },
      "output": {
        "shape": "DeleteEndpointResponse",
        "documentation": "<p>The request was accepted for processing. Processing may not be complete.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes an endpoint from an application.</p>"
    },
    "DeleteEventStream": {
      "name": "DeleteEventStream",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/eventstream",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteEventStreamRequest"
      },
      "output": {
        "shape": "DeleteEventStreamResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes the event stream for an application.</p>"
    },
    "DeleteGcmChannel": {
      "name": "DeleteGcmChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/gcm",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteGcmChannelRequest"
      },
      "output": {
        "shape": "DeleteGcmChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the GCM channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteInAppTemplate": {
      "name": "DeleteInAppTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/inapp",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteInAppTemplateRequest"
      },
      "output": {
        "shape": "DeleteInAppTemplateResponse",
        "documentation": "<p>The request was accepted for processing. Processing may not be complete.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes a message template for messages sent using the in-app message channel.</p>"
    },
    "DeleteJourney": {
      "name": "DeleteJourney",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/journeys/{journey-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteJourneyRequest"
      },
      "output": {
        "shape": "DeleteJourneyResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes a journey from an application.</p>"
    },
    "DeletePushTemplate": {
      "name": "DeletePushTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/push",
        "responseCode": 202
      },
      "input": {
        "shape": "DeletePushTemplateRequest"
      },
      "output": {
        "shape": "DeletePushTemplateResponse",
        "documentation": "<p>The request was accepted for processing. Processing may not be complete.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes a message template for messages that were sent through a push notification channel.</p>"
    },
    "DeleteRecommenderConfiguration": {
      "name": "DeleteRecommenderConfiguration",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/recommenders/{recommender-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteRecommenderConfigurationRequest"
      },
      "output": {
        "shape": "DeleteRecommenderConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes an Amazon Pinpoint configuration for a recommender model.</p>"
    },
    "DeleteSegment": {
      "name": "DeleteSegment",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/segments/{segment-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSegmentRequest"
      },
      "output": {
        "shape": "DeleteSegmentResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes a segment from an application.</p>"
    },
    "DeleteSmsChannel": {
      "name": "DeleteSmsChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/sms",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSmsChannelRequest"
      },
      "output": {
        "shape": "DeleteSmsChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the SMS channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteSmsTemplate": {
      "name": "DeleteSmsTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/sms",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteSmsTemplateRequest"
      },
      "output": {
        "shape": "DeleteSmsTemplateResponse",
        "documentation": "<p>The request was accepted for processing. Processing may not be complete.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes a message template for messages that were sent through the SMS channel.</p>"
    },
    "DeleteUserEndpoints": {
      "name": "DeleteUserEndpoints",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/users/{user-id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteUserEndpointsRequest"
      },
      "output": {
        "shape": "DeleteUserEndpointsResponse",
        "documentation": "<p>The request was accepted for processing. Processing may not be complete.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes all the endpoints that are associated with a specific user ID.</p>"
    },
    "DeleteVoiceChannel": {
      "name": "DeleteVoiceChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apps/{application-id}/channels/voice",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteVoiceChannelRequest"
      },
      "output": {
        "shape": "DeleteVoiceChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Disables the voice channel for an application and deletes any existing settings for the channel.</p>"
    },
    "DeleteVoiceTemplate": {
      "name": "DeleteVoiceTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/templates/{template-name}/voice",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteVoiceTemplateRequest"
      },
      "output": {
        "shape": "DeleteVoiceTemplateResponse",
        "documentation": "<p>The request was accepted for processing. Processing may not be complete.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Deletes a message template for messages that were sent through the voice channel.</p>"
    },
    "GetAdmChannel": {
      "name": "GetAdmChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/adm",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAdmChannelRequest"
      },
      "output": {
        "shape": "GetAdmChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status and settings of the ADM channel for an application.</p>"
    },
    "GetApnsChannel": {
      "name": "GetApnsChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApnsChannelRequest"
      },
      "output": {
        "shape": "GetApnsChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status and settings of the APNs channel for an application.</p>"
    },
    "GetApnsSandboxChannel": {
      "name": "GetApnsSandboxChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApnsSandboxChannelRequest"
      },
      "output": {
        "shape": "GetApnsSandboxChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status and settings of the APNs sandbox channel for an application.</p>"
    },
    "GetApnsVoipChannel": {
      "name": "GetApnsVoipChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApnsVoipChannelRequest"
      },
      "output": {
        "shape": "GetApnsVoipChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status and settings of the APNs VoIP channel for an application.</p>"
    },
    "GetApnsVoipSandboxChannel": {
      "name": "GetApnsVoipSandboxChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/apns_voip_sandbox",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApnsVoipSandboxChannelRequest"
      },
      "output": {
        "shape": "GetApnsVoipSandboxChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status and settings of the APNs VoIP sandbox channel for an application.</p>"
    },
    "GetApp": {
      "name": "GetApp",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppRequest"
      },
      "output": {
        "shape": "GetAppResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about an application.</p>"
    },
    "GetApplicationDateRangeKpi": {
      "name": "GetApplicationDateRangeKpi",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/kpis/daterange/{kpi-name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApplicationDateRangeKpiRequest"
      },
      "output": {
        "shape": "GetApplicationDateRangeKpiResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) pre-aggregated data for a standard metric that applies to an application.</p>"
    },
    "GetApplicationSettings": {
      "name": "GetApplicationSettings",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/settings",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApplicationSettingsRequest"
      },
      "output": {
        "shape": "GetApplicationSettingsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the settings for an application.</p>"
    },
    "GetApps": {
      "name": "GetApps",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppsRequest"
      },
      "output": {
        "shape": "GetAppsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about all the applications that are associated with your Amazon Pinpoint account.</p>"
    },
    "GetBaiduChannel": {
      "name": "GetBaiduChannel",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels/baidu",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBaiduChannelRequest"
      },
      "output": {
        "shape": "GetBaiduChannelResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status and settings of the Baidu channel for an application.</p>"
    },
    "GetCampaign": {
      "name": "GetCampaign",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignRequest"
      },
      "output": {
        "shape": "GetCampaignResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status, configuration, and other settings for a campaign.</p>"
    },
    "GetCampaignActivities": {
      "name": "GetCampaignActivities",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/activities",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignActivitiesRequest"
      },
      "output": {
        "shape": "GetCampaignActivitiesResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about all the activities for a campaign.</p>"
    },
    "GetCampaignDateRangeKpi": {
      "name": "GetCampaignDateRangeKpi",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/kpis/daterange/{kpi-name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignDateRangeKpiRequest"
      },
      "output": {
        "shape": "GetCampaignDateRangeKpiResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) pre-aggregated data for a standard metric that applies to a campaign.</p>"
    },
    "GetCampaignVersion": {
      "name": "GetCampaignVersion",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignVersionRequest"
      },
      "output": {
        "shape": "GetCampaignVersionResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status, configuration, and other settings for a specific version of a campaign.</p>"
    },
    "GetCampaignVersions": {
      "name": "GetCampaignVersions",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns/{campaign-id}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignVersionsRequest"
      },
      "output": {
        "shape": "GetCampaignVersionsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status, configuration, and other settings for all versions of a campaign.</p>"
    },
    "GetCampaigns": {
      "name": "GetCampaigns",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/campaigns",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCampaignsRequest"
      },
      "output": {
        "shape": "GetCampaignsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>The request contains a syntax error (BadRequestException).</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure (InternalServerErrorException).</p>"
        },
        {
          "shape": "PayloadTooLargeException",
          "documentation": "<p>The request failed because the payload for the body of the request is too large (RequestEntityTooLargeException).</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>The request was denied because access to the specified resource is forbidden (ForbiddenException).</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>The request failed because the specified resource was not found (NotFoundException).</p>"
        },
        {
          "shape": "MethodNotAllowedException",
          "documentation": "<p>The request failed because the method is not allowed for the specified resource (MethodNotAllowedException).</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The request failed because too many requests were sent during a certain amount of time (TooManyRequestsException).</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the status, configuration, and other settings for all the campaigns that are associated with an application.</p>"
    },
    "GetChannels": {
      "name": "GetChannels",
      "http": {
        "method": "GET",
        "requestUri": "/v1/apps/{application-id}/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "GetChannelsRequest"
      },
      "output": {
        "shape": "GetChannelsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
[...]
