---
lang: de
layout: default
meta_title: Installation von Ghost auf dem eigenen Server - Ghost-Dokumentation
meta_description: Alles Wissenswerte um die Ghost Blogging Plattform in der eigenen lokalen oder entfernten Umgebung zum Laufen zu bekommen.
heading: Ghost Installation &amp; Erste Schritte
subheading: Die ersten Schritte beim erstmaligen Aufsetzen des eigenen neuen Blog.
chapter: Installation
next_section: Mac
---

<div class="container">
    <div class="row">
        {% include subnav/installation.html %}

        <section id="content" class="col-lg-9">

            <h2 id="overview">Überblick</h2>

            <p>Die Ghost-Dokumentation ist ein Arbeit im Fluß, welche ständig erneuert und verbessert wird. Wenn Sie irgendwo nicht weiterkommen oder Vorschläge für Verbesserungen haben, lassen Sie es uns bitte wissen.</p>

            <p>Ghost basier auf <a href="http://nodejs.org">Node.js</a> und benötigt die Version <code>0.10.*</code> (letzte stabile Version).</p>

            <p>Ghost kann problemlos auf Ihrem lokalen Computer betrieben werden, Sie müssen allerdings zuvor Node.js installiert haben.</p>

            <h3>Was ist Node.js?</h3>

            <p><a href="http://nodejs.org">Node.js</a> ist eine moderne Plattform zur Erstellung schneller, skalierbarer und effizienter Web-Anwendungen.
            Über die letzten 20 Jahre hinweg hat sich das Web von einer Sammlung statischer Seite hin zu einer Plattform entwickelt, welche die Unterstützung für komplexe Web-Anwendung wie Gmail und Facebook anbietet.
            JavaScript ist die Programmiersprache, welche diese Weiterentwicklung ermöglicht hat.

            <p><a href="http://nodejs.org">Node.js</a> ermöglicht es auf dem Server JavaScript zu verwenden. In der Vergangenheit existierte JavaScript nur im Browser und es wurde eine weitere Programmiersprache, zum Beispiel PHP, für die Server-seitige Programmierung benötigt. Die Möglichkeit, eine Web-Applikation mit eine einzigen Programmiersprache zu schreiben ist von grossem Vorteil und das macht Node.js für alle Entwickler interessant, die sich bisher traditionell nur auf der Client-Seite bewegt haben.</p>

            <p>Node.js ermöglicht dies dadurch, dass sie eine Hülle um die JavaScript-Engine des Chrome-Browser von Google erstellt und damit überall installierbar macht. Dies bedeutet das Sie Ghost auf Ihrem Computer installieren können um es sehr schell und einfach ausprobieren zu können. Die folgenden Abschnitte zeigen im Detail wie Sie Ghost lokal auf <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/mac/">Mac</a>,  <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/windows/">Windows</a> oder <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/linux/">Linux</a> oder alternativ auf einem <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/deploy">Server oder Hosting-Dienst</a>.</p>


            <h3>Erst Schritte</h3>

            <p>Wenn Sie sich nicht für die folgenden Instruktionen zur manuellen Installation von Node.js and Ghost erwärmen können, die großartigen Leute von <a href="http://bitnami.com/">BitNami</a> stellen <a href="http://bitnami.com/stack/ghost">Ghost-Installationsprogramme</a> für alle wichtigen Plattformen zur Verfügung.</p>

            <p>Sie möchten Ghost auf einem der folgenden Systeme installieren:</p>

            <div class="text-center install-ghost">
                <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/mac/" class="btn btn-success btn-large">Mac</a>
                <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/windows/" class="btn btn-success btn-large">Windows</a>
                <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/linux/" class="btn btn-success btn-large">Linux</a>
            </div>

            <p>Wenn Sie sich entschlossen haben Ghost auf einem Server oder Hosting-Dienst zu installieren, sind das großartige Neuigkeiten. Die folgende Dokumentation wird Sie Schritt für Schritt durch die verschiedenen Möglichkeiten führen Ghost zu installieren, vom manuellen Setup bis zur automatischen Installation.

            <div class="text-center install-ghost">
                <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/deploy/" class="btn btn-success btn-large">Get Ghost Live</a>
            </div>


            <p>Bedenken Sie bitte, dass Ghost brandneu ist und das Team hart daran arbeitet in schnellem Tempo weitere Features zu liefern. Wenn Sie Ghost auf die neueste Version updaten müssen, befolgen Sie bitte unsere <a href="/installation/upgrading/">Hinweise zum Update</a>.
            Wenn Sie nicht mehr weiterwissen, schauen Sie sich bitte die <a href="{% if page.lang %}/{{ page.lang }}{% endif %}/installation/troubleshooting/">Hinweise zur Problemlösung</a> an. Falls alles nicht hilft, wenden Sie sich bitte an das <a href="http://ghost.org/forum">Ghost-Forum</a>, dort stehen Mitarbeiter von Ghost und die Ghost-Community bereit, um Ihnen bei jeder Art von Problemen zu helfen.

            {% if page.next_section || page.prev_section %}
            {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>