{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-01-01",
    "endpointPrefix":"es",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Elasticsearch Service",
    "serviceId":"Elasticsearch Service",
    "signatureVersion":"v4",
    "uid":"es-2015-01-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptInboundCrossClusterSearchConnection":{
      "name":"AcceptInboundCrossClusterSearchConnection",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-01-01/es/ccs/inboundConnection/{ConnectionId}/accept"
      },
      "input":{"shape":"AcceptInboundCrossClusterSearchConnectionRequest"},
      "output":{"shape":"AcceptInboundCrossClusterSearchConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Allows the destination domain owner to accept an inbound cross-cluster search connection request.</p>"
    },
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/tags"
      },
      "input":{"shape":"AddTagsRequest"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon Elasticsearch Service Domains for more information.</a></p>"
    },
    "AssociatePackage":{
      "name":"AssociatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/packages/associate/{PackageID}/{DomainName}"
      },
      "input":{"shape":"AssociatePackageRequest"},
      "output":{"shape":"AssociatePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Associates a package with an Amazon ES domain.</p>"
    },
    "AuthorizeVpcEndpointAccess":{
      "name":"AuthorizeVpcEndpointAccess",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/authorizeVpcEndpointAccess"
      },
      "input":{"shape":"AuthorizeVpcEndpointAccessRequest"},
      "output":{"shape":"AuthorizeVpcEndpointAccessResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Provides access to an Amazon OpenSearch Service domain through the use of an interface VPC endpoint.</p>"
    },
    "CancelDomainConfigChange":{
      "name":"CancelDomainConfigChange",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/config/cancel"
      },
      "input":{"shape":"CancelDomainConfigChangeRequest"},
      "output":{"shape":"CancelDomainConfigChangeResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Cancels a pending configuration change on an Amazon OpenSearch Service domain.</p>"
    },
    "CancelElasticsearchServiceSoftwareUpdate":{
      "name":"CancelElasticsearchServiceSoftwareUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/serviceSoftwareUpdate/cancel"
      },
      "input":{"shape":"CancelElasticsearchServiceSoftwareUpdateRequest"},
      "output":{"shape":"CancelElasticsearchServiceSoftwareUpdateResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Cancels a scheduled service software update for an Amazon ES domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state.</p>"
    },
    "CreateElasticsearchDomain":{
      "name":"CreateElasticsearchDomain",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/domain"
      },
      "input":{"shape":"CreateElasticsearchDomainRequest"},
      "output":{"shape":"CreateElasticsearchDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"InvalidTypeException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>"
    },
    "CreateOutboundCrossClusterSearchConnection":{
      "name":"CreateOutboundCrossClusterSearchConnection",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/ccs/outboundConnection"
      },
      "input":{"shape":"CreateOutboundCrossClusterSearchConnectionRequest"},
      "output":{"shape":"CreateOutboundCrossClusterSearchConnectionResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InternalException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Creates a new cross-cluster search connection from a source domain to a destination domain.</p>"
    },
    "CreatePackage":{
      "name":"CreatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/packages"
      },
      "input":{"shape":"CreatePackageRequest"},
      "output":{"shape":"CreatePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidTypeException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Create a package for use with Amazon ES domains.</p>"
    },
    "CreateVpcEndpoint":{
      "name":"CreateVpcEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/vpcEndpoints"
      },
      "input":{"shape":"CreateVpcEndpointRequest"},
      "output":{"shape":"CreateVpcEndpointResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Creates an Amazon OpenSearch Service-managed VPC endpoint.</p>"
    },
    "DeleteElasticsearchDomain":{
      "name":"DeleteElasticsearchDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-01-01/es/domain/{DomainName}"
      },
      "input":{"shape":"DeleteElasticsearchDomainRequest"},
      "output":{"shape":"DeleteElasticsearchDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.</p>"
    },
    "DeleteElasticsearchServiceRole":{
      "name":"DeleteElasticsearchServiceRole",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-01-01/es/role"
      },
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr\" target=\"_blank\">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.</p>"
    },
    "DeleteInboundCrossClusterSearchConnection":{
      "name":"DeleteInboundCrossClusterSearchConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-01-01/es/ccs/inboundConnection/{ConnectionId}"
      },
      "input":{"shape":"DeleteInboundCrossClusterSearchConnectionRequest"},
      "output":{"shape":"DeleteInboundCrossClusterSearchConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Allows the destination domain owner to delete an existing inbound cross-cluster search connection.</p>"
    },
    "DeleteOutboundCrossClusterSearchConnection":{
      "name":"DeleteOutboundCrossClusterSearchConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-01-01/es/ccs/outboundConnection/{ConnectionId}"
      },
      "input":{"shape":"DeleteOutboundCrossClusterSearchConnectionRequest"},
      "output":{"shape":"DeleteOutboundCrossClusterSearchConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Allows the source domain owner to delete an existing outbound cross-cluster search connection.</p>"
    },
    "DeletePackage":{
      "name":"DeletePackage",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-01-01/packages/{PackageID}"
      },
      "input":{"shape":"DeletePackageRequest"},
      "output":{"shape":"DeletePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Delete the package.</p>"
    },
    "DeleteVpcEndpoint":{
      "name":"DeleteVpcEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-01-01/es/vpcEndpoints/{VpcEndpointId}"
      },
      "input":{"shape":"DeleteVpcEndpointRequest"},
      "output":{"shape":"DeleteVpcEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Deletes an Amazon OpenSearch Service-managed interface VPC endpoint.</p>"
    },
    "DescribeDomainAutoTunes":{
      "name":"DescribeDomainAutoTunes",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/autoTunes"
      },
      "input":{"shape":"DescribeDomainAutoTunesRequest"},
      "output":{"shape":"DescribeDomainAutoTunesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Provides scheduled Auto-Tune action details for the Elasticsearch domain, such as Auto-Tune action type, description, severity, and scheduled date.</p>"
    },
    "DescribeDomainChangeProgress":{
      "name":"DescribeDomainChangeProgress",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/progress"
      },
      "input":{"shape":"DescribeDomainChangeProgressRequest"},
      "output":{"shape":"DescribeDomainChangeProgressResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns information about the current blue/green deployment happening on a domain, including a change ID, status, and progress stages.</p>"
    },
    "DescribeElasticsearchDomain":{
      "name":"DescribeElasticsearchDomain",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/domain/{DomainName}"
      },
      "input":{"shape":"DescribeElasticsearchDomainRequest"},
      "output":{"shape":"DescribeElasticsearchDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.</p>"
    },
    "DescribeElasticsearchDomainConfig":{
      "name":"DescribeElasticsearchDomainConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/config"
      },
      "input":{"shape":"DescribeElasticsearchDomainConfigRequest"},
      "output":{"shape":"DescribeElasticsearchDomainConfigResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.</p>"
    },
    "DescribeElasticsearchDomains":{
      "name":"DescribeElasticsearchDomains",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/domain-info"
      },
      "input":{"shape":"DescribeElasticsearchDomainsRequest"},
      "output":{"shape":"DescribeElasticsearchDomainsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.</p>"
    },
    "DescribeElasticsearchInstanceTypeLimits":{
      "name":"DescribeElasticsearchInstanceTypeLimits",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}"
      },
      "input":{"shape":"DescribeElasticsearchInstanceTypeLimitsRequest"},
      "output":{"shape":"DescribeElasticsearchInstanceTypeLimitsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"InvalidTypeException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion. When modifying existing Domain, specify the <code> <a>DomainName</a> </code> to know what Limits are supported for modifying. </p>"
    },
    "DescribeInboundCrossClusterSearchConnections":{
      "name":"DescribeInboundCrossClusterSearchConnections",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/ccs/inboundConnection/search"
      },
      "input":{"shape":"DescribeInboundCrossClusterSearchConnectionsRequest"},
      "output":{"shape":"DescribeInboundCrossClusterSearchConnectionsResponse"},
      "errors":[
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Lists all the inbound cross-cluster search connections for a destination domain.</p>"
    },
    "DescribeOutboundCrossClusterSearchConnections":{
      "name":"DescribeOutboundCrossClusterSearchConnections",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/ccs/outboundConnection/search"
      },
      "input":{"shape":"DescribeOutboundCrossClusterSearchConnectionsRequest"},
      "output":{"shape":"DescribeOutboundCrossClusterSearchConnectionsResponse"},
      "errors":[
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Lists all the outbound cross-cluster search connections for a source domain.</p>"
    },
    "DescribePackages":{
      "name":"DescribePackages",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/packages/describe"
      },
      "input":{"shape":"DescribePackagesRequest"},
      "output":{"shape":"DescribePackagesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Describes all packages available to Amazon ES. Includes options for filtering, limiting the number of results, and pagination.</p>"
    },
    "DescribeReservedElasticsearchInstanceOfferings":{
      "name":"DescribeReservedElasticsearchInstanceOfferings",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/reservedInstanceOfferings"
      },
      "input":{"shape":"DescribeReservedElasticsearchInstanceOfferingsRequest"},
      "output":{"shape":"DescribeReservedElasticsearchInstanceOfferingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Lists available reserved Elasticsearch instance offerings.</p>"
    },
    "DescribeReservedElasticsearchInstances":{
      "name":"DescribeReservedElasticsearchInstances",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/reservedInstances"
      },
      "input":{"shape":"DescribeReservedElasticsearchInstancesRequest"},
      "output":{"shape":"DescribeReservedElasticsearchInstancesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Returns information about reserved Elasticsearch instances for this account.</p>"
    },
    "DescribeVpcEndpoints":{
      "name":"DescribeVpcEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/vpcEndpoints/describe"
      },
      "input":{"shape":"DescribeVpcEndpointsRequest"},
      "output":{"shape":"DescribeVpcEndpointsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Describes one or more Amazon OpenSearch Service-managed VPC endpoints.</p>"
    },
    "DissociatePackage":{
      "name":"DissociatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/packages/dissociate/{PackageID}/{DomainName}"
      },
      "input":{"shape":"DissociatePackageRequest"},
      "output":{"shape":"DissociatePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Dissociates a package from the Amazon ES domain.</p>"
    },
    "GetCompatibleElasticsearchVersions":{
      "name":"GetCompatibleElasticsearchVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/compatibleVersions"
      },
      "input":{"shape":"GetCompatibleElasticsearchVersionsRequest"},
      "output":{"shape":"GetCompatibleElasticsearchVersionsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p> Returns a list of upgrade compatible Elastisearch versions. You can optionally pass a <code> <a>DomainName</a> </code> to get all upgrade compatible Elasticsearch versions for that specific domain. </p>"
    },
    "GetPackageVersionHistory":{
      "name":"GetPackageVersionHistory",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/packages/{PackageID}/history"
      },
      "input":{"shape":"GetPackageVersionHistoryRequest"},
      "output":{"shape":"GetPackageVersionHistoryResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of versions of the package, along with their creation time and commit message.</p>"
    },
    "GetUpgradeHistory":{
      "name":"GetUpgradeHistory",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/upgradeDomain/{DomainName}/history"
      },
      "input":{"shape":"GetUpgradeHistoryRequest"},
      "output":{"shape":"GetUpgradeHistoryResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves the complete history of the last 10 upgrades that were performed on the domain.</p>"
    },
    "GetUpgradeStatus":{
      "name":"GetUpgradeStatus",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/upgradeDomain/{DomainName}/status"
      },
      "input":{"shape":"GetUpgradeStatusRequest"},
      "output":{"shape":"GetUpgradeStatusResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves the latest status of the last upgrade or upgrade eligibility check that was performed on the domain.</p>"
    },
    "ListDomainNames":{
      "name":"ListDomainNames",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/domain"
      },
      "input":{"shape":"ListDomainNamesRequest"},
      "output":{"shape":"ListDomainNamesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the name of all Elasticsearch domains owned by the current user's account. </p>"
    },
    "ListDomainsForPackage":{
      "name":"ListDomainsForPackage",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/packages/{PackageID}/domains"
      },
      "input":{"shape":"ListDomainsForPackageRequest"},
      "output":{"shape":"ListDomainsForPackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all Amazon ES domains associated with the package.</p>"
    },
    "ListElasticsearchInstanceTypes":{
      "name":"ListElasticsearchInstanceTypes",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/instanceTypes/{ElasticsearchVersion}"
      },
      "input":{"shape":"ListElasticsearchInstanceTypesRequest"},
      "output":{"shape":"ListElasticsearchInstanceTypesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List all Elasticsearch instance types that are supported for given ElasticsearchVersion</p>"
    },
    "ListElasticsearchVersions":{
      "name":"ListElasticsearchVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/versions"
      },
      "input":{"shape":"ListElasticsearchVersionsRequest"},
      "output":{"shape":"ListElasticsearchVersionsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List all supported Elasticsearch versions</p>"
    },
    "ListPackagesForDomain":{
      "name":"ListPackagesForDomain",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/domain/{DomainName}/packages"
      },
      "input":{"shape":"ListPackagesForDomainRequest"},
      "output":{"shape":"ListPackagesForDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all packages associated with the Amazon ES domain.</p>"
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/tags/"
      },
      "input":{"shape":"ListTagsRequest"},
      "output":{"shape":"ListTagsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns all tags for the given Elasticsearch domain.</p>"
    },
    "ListVpcEndpointAccess":{
      "name":"ListVpcEndpointAccess",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/listVpcEndpointAccess"
      },
      "input":{"shape":"ListVpcEndpointAccessRequest"},
      "output":{"shape":"ListVpcEndpointAccessResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Retrieves information about each principal that is allowed to access a given Amazon OpenSearch Service domain through the use of an interface VPC endpoint.</p>"
    },
    "ListVpcEndpoints":{
      "name":"ListVpcEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/vpcEndpoints"
      },
      "input":{"shape":"ListVpcEndpointsRequest"},
      "output":{"shape":"ListVpcEndpointsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Retrieves all Amazon OpenSearch Service-managed VPC endpoints in the current account and Region.</p>"
    },
    "ListVpcEndpointsForDomain":{
      "name":"ListVpcEndpointsForDomain",
      "http":{
        "method":"GET",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/vpcEndpoints"
      },
      "input":{"shape":"ListVpcEndpointsForDomainRequest"},
      "output":{"shape":"ListVpcEndpointsForDomainResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Retrieves all Amazon OpenSearch Service-managed VPC endpoints associated with a particular domain.</p>"
    },
    "PurchaseReservedElasticsearchInstanceOffering":{
      "name":"PurchaseReservedElasticsearchInstanceOffering",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/purchaseReservedInstanceOffering"
      },
      "input":{"shape":"PurchaseReservedElasticsearchInstanceOfferingRequest"},
      "output":{"shape":"PurchaseReservedElasticsearchInstanceOfferingResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Allows you to purchase reserved Elasticsearch instances.</p>"
    },
    "RejectInboundCrossClusterSearchConnection":{
      "name":"RejectInboundCrossClusterSearchConnection",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-01-01/es/ccs/inboundConnection/{ConnectionId}/reject"
      },
      "input":{"shape":"RejectInboundCrossClusterSearchConnectionRequest"},
      "output":{"shape":"RejectInboundCrossClusterSearchConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Allows the destination domain owner to reject an inbound cross-cluster search connection request.</p>"
    },
    "RemoveTags":{
      "name":"RemoveTags",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/tags-removal"
      },
      "input":{"shape":"RemoveTagsRequest"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes the specified set of tags from the specified Elasticsearch domain.</p>"
    },
    "RevokeVpcEndpointAccess":{
      "name":"RevokeVpcEndpointAccess",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/revokeVpcEndpointAccess"
      },
      "input":{"shape":"RevokeVpcEndpointAccessRequest"},
      "output":{"shape":"RevokeVpcEndpointAccessResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Revokes access to an Amazon OpenSearch Service domain that was provided through an interface VPC endpoint.</p>"
    },
    "StartElasticsearchServiceSoftwareUpdate":{
      "name":"StartElasticsearchServiceSoftwareUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/serviceSoftwareUpdate/start"
      },
      "input":{"shape":"StartElasticsearchServiceSoftwareUpdateRequest"},
      "output":{"shape":"StartElasticsearchServiceSoftwareUpdateResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Schedules a service software update for an Amazon ES domain.</p>"
    },
    "UpdateElasticsearchDomainConfig":{
      "name":"UpdateElasticsearchDomainConfig",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/domain/{DomainName}/config"
      },
      "input":{"shape":"UpdateElasticsearchDomainConfigRequest"},
      "output":{"shape":"UpdateElasticsearchDomainConfigResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"InvalidTypeException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. </p>"
    },
    "UpdatePackage":{
      "name":"UpdatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/packages/update"
      },
      "input":{"shape":"UpdatePackageRequest"},
      "output":{"shape":"UpdatePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a package for use with Amazon ES domains.</p>"
    },
    "UpdateVpcEndpoint":{
      "name":"UpdateVpcEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/vpcEndpoints/update"
      },
      "input":{"shape":"UpdateVpcEndpointRequest"},
      "output":{"shape":"UpdateVpcEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Modifies an Amazon OpenSearch Service-managed interface VPC endpoint.</p>"
    },
    "UpgradeElasticsearchDomain":{
      "name":"UpgradeElasticsearchDomain",
      "http":{
        "method":"POST",
        "requestUri":"/2015-01-01/es/upgradeDomain"
      },
      "input":{"shape":"UpgradeElasticsearchDomainRequest"},
      "output":{"shape":"UpgradeElasticsearchDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Allows you to either upgrade your domain or perform an Upgrade eligibility check to a compatible Elasticsearch version.</p>"
    }
  },
  "shapes":{
    "ARN":{
      "type":"string",
      "documentation":"<p>The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>"
    },
    "AWSAccount":{
      "type":"string",
      "pattern":"^[0-9]+$"
    },
    "AcceptInboundCrossClusterSearchConnectionRequest":{
      "type":"structure",
      "required":["CrossClusterSearchConnectionId"],
      "members":{
        "CrossClusterSearchConnectionId":{
          "shape":"CrossClusterSearchConnectionId",
          "documentation":"<p>The id of the inbound connection that you want to accept.</p>",
          "location":"uri",
          "locationName":"ConnectionId"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>AcceptInboundCrossClusterSearchConnection</a></code> operation.</p>"
    },
    "AcceptInboundCrossClusterSearchConnectionResponse":{
      "type":"structure",
      "members":{
        "CrossClusterSearchConnection":{
          "shape":"InboundCrossClusterSearchConnection",
          "documentation":"<p>Specifies the <code><a>InboundCrossClusterSearchConnection</a></code> of accepted inbound connection. </p>"
        }
      },
      "documentation":"<p>The result of a <code><a>AcceptInboundCrossClusterSearchConnection</a></code> operation. Contains details of accepted inbound connection.</p>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An error occurred because user does not have permissions to access the resource. Returns HTTP status code 403.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccessPoliciesStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{
          "shape":"PolicyDocument",
          "documentation":"<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>"
        },
        "Status":{
          "shape":"OptionStatus",
          "documentation":"<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>"
        }
      },
      "documentation":"<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>"
    },
    "AddTagsRequest":{
      "type":"structure",
      "required":[
        "ARN",
        "TagList"
      ],
      "members":{
        "ARN":{
          "shape":"ARN",
          "documentation":"<p> Specify the <code>ARN</code> for which you want to add the tags.</p>"
        },
        "TagList":{
          "shape":"TagList",
          "documentation":"<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>"
    },
    "AdditionalLimit":{
      "type":"structure",
      "members":{
        "LimitName":{
          "shape":"LimitName",
          "documentation":"<p> Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> </p>"
        },
        "LimitValues":{
          "shape":"LimitValueList",
          "documentation":"<p> Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>"
        }
      },
      "documentation":"<p> List of limits that are specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> . </p>"
    },
    "AdditionalLimitList":{
      "type":"list",
      "member":{"shape":"AdditionalLimit"}
    },
    "AdvancedOptions":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"},
      "documentation":"<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
    },
    "AdvancedOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{
          "shape":"AdvancedOptions",
          "documentation":"<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>"
        },
        "Status":{
          "shape":"OptionStatus",
          "documentation":"<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>"
        }
      },
      "documentation":"<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
    },
    "AdvancedSecurityOptions":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>True if advanced security is enabled.</p>"
        },
        "InternalUserDatabaseEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True if the internal user database is enabled.</p>"
        },
        "SAMLOptions":{
          "shape":"SAMLOptionsOutput",
          "documentation":"<p>Describes the SAML application configured for a domain.</p>"
        },
        "AnonymousAuthDisableDate":{
          "shape":"DisableTimestamp",
          "documentation":"<p>Specifies the Anonymous Auth Disable Date when Anonymous Auth is enabled.</p>"
        },
        "AnonymousAuthEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True if Anonymous auth is enabled. Anonymous auth can be enabled only when AdvancedSecurity is enabled on existing domains.</p>"
        }
      },
      "documentation":"<p>Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled.</p>"
    },
    "AdvancedSecurityOptionsInput":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>True if advanced security is enabled.</p>"
        },
        "InternalUserDatabaseEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True if the internal user database is enabled.</p>"
        },
        "MasterUserOptions":{
          "shape":"MasterUserOptions",
          "documentation":"<p>Credentials for the master user: username and password, ARN, or both.</p>"
        },
        "SAMLOptions":{
          "shape":"SAMLOptionsInput",
          "documentation":"<p>Specifies the SAML application configuration for the domain.</p>"
        },
        "AnonymousAuthEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True if Anonymous auth is enabled. Anonymous auth can be enabled only when AdvancedSecurity is enabled on existing domains.</p>"
        }
      },
      "documentation":"<p>Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled, master username and password (if internal database is enabled), and master user ARN (if IAM is enabled).</p>"
    },
    "AdvancedSecurityOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{
          "shape":"AdvancedSecurityOptions",
          "documentation":"<p> Specifies advanced security options for the specified Elasticsearch domain.</p>"
        },
        "Status":{
          "shape":"OptionStatus",
          "documentation":"<p> Status of the advanced security options for the specified Elasticsearch domain.</p>"
        }
      },
      "documentation":"<p> Specifies the status of advanced security options for the specified Elasticsearch domain.</p>"
    },
    "AssociatePackageRequest":{
      "type":"structure",
      "required":[
        "PackageID",
        "DomainName"
      ],
      "members":{
        "PackageID":{
          "shape":"PackageID",
          "documentation":"<p>Internal ID of the package that you want to associate with a domain. Use <code>DescribePackages</code> to find this value.</p>",
          "location":"uri",
          "locationName":"PackageID"
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Name of the domain that you want to associate the package with.</p>",
          "location":"uri",
          "locationName":"DomainName"
        }
      },
      "documentation":"<p> Container for request parameters to <code> <a>AssociatePackage</a> </code> operation. </p>"
    },
    "AssociatePackageResponse":{
      "type":"structure",
      "members":{
        "DomainPackageDetails":{
          "shape":"DomainPackageDetails",
          "documentation":"<p><code>DomainPackageDetails</code></p>"
        }
      },
      "documentation":"<p> Container for response returned by <code> <a>AssociatePackage</a> </code> operation. </p>"
    },
    "AuthorizeVpcEndpointAccessRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "Account"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the OpenSearch Service domain to provide access to.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "Account":{
          "shape":"AWSAccount",
          "documentation":"<p>The account ID to grant access to.</p>"
        }
      },
      "documentation":"<p>Container for request parameters to the <code><a>AuthorizeVpcEndpointAccess</a></code> operation. Specifies the account to be permitted to manage VPC endpoints against the domain.</p>"
    },
    "AuthorizeVpcEndpointAccessResponse":{
      "type":"structure",
      "required":["AuthorizedPrincipal"],
      "members":{
        "AuthorizedPrincipal":{
          "shape":"AuthorizedPrincipal",
          "documentation":"<p>Information about the account or service that was provided access to the domain.</p>"
        }
      },
      "documentation":"<p>Container for response parameters to the <code><a>AuthorizeVpcEndpointAccess</a></code> operation. Contains the account ID and the type of the account being authorized to access the VPC endpoint.</p>"
    },
    "AuthorizedPrincipal":{
      "type":"structure",
      "members":{
        "PrincipalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The type of principal.</p>"
        },
        "Principal":{
          "shape":"String",
          "documentation":"<p>The IAM principal that is allowed access to the domain.</p>"
        }
      },
      "documentation":"<p>Information about an account or service that has access to an Amazon OpenSearch Service domain through the use of an interface VPC endpoint.</p>"
    },
    "AuthorizedPrincipalList":{
      "type":"list",
      "member":{"shape":"AuthorizedPrincipal"}
    },
    "AutoTune":{
      "type":"structure",
      "members":{
        "AutoTuneType":{
          "shape":"AutoTuneType",
          "documentation":"<p>Specifies Auto-Tune type. Valid value is SCHEDULED_ACTION. </p>"
        },
        "AutoTuneDetails":{
          "shape":"AutoTuneDetails",
          "documentation":"<p>Specifies details of the Auto-Tune action. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information. </p>"
        }
      },
      "documentation":"<p>Specifies Auto-Tune type and Auto-Tune action details. </p>"
    },
    "AutoTuneDate":{
      "type":"timestamp",
      "documentation":"<p>Specifies timestamp for the Auto-Tune action scheduled for the domain. </p>"
    },
    "AutoTuneDesiredState":{
      "type":"string",
      "documentation":"<p>Specifies the Auto-Tune desired state. Valid values are ENABLED, DISABLED.</p>",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AutoTuneDetails":{
      "type":"structure",
      "members":{
        "ScheduledAutoTuneDetails":{"shape":"ScheduledAutoTuneDetails"}
      },
      "documentation":"<p>Specifies details of the Auto-Tune action. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information. </p>"
    },
    "AutoTuneList":{
      "type":"list",
      "member":{"shape":"AutoTune"}
    },
    "AutoTuneMaintenanceSchedule":{
      "type":"structure",
      "members":{
        "StartAt":{
          "shape":"StartAt",
          "documentation":"<p>Specifies timestamp at which Auto-Tune maintenance schedule start. </p>"
        },
        "Duration":{
          "shape":"Duration",
          "documentation":"<p>Specifies maintenance schedule duration: duration value and duration unit. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
        },
        "CronExpressionForRecurrence":{
          "shape":"String",
          "documentation":"<p>Specifies cron expression for a recurring maintenance schedule. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
        }
      },
      "documentation":"<p>Specifies Auto-Tune maitenance schedule. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
    },
    "AutoTuneMaintenanceScheduleList":{
      "type":"list",
      "member":{"shape":"AutoTuneMaintenanceSchedule"},
      "max":100
    },
    "AutoTuneOptions":{
      "type":"structure",
      "members":{
        "DesiredState":{
          "shape":"AutoTuneDesiredState",
          "documentation":"<p>Specifies the Auto-Tune desired state. Valid values are ENABLED, DISABLED. </p>"
        },
        "RollbackOnDisable":{
          "shape":"RollbackOnDisable",
          "documentation":"<p>Specifies the rollback state while disabling Auto-Tune for the domain. Valid values are NO_ROLLBACK, DEFAULT_ROLLBACK. </p>"
        },
        "MaintenanceSchedules":{
          "shape":"AutoTuneMaintenanceScheduleList",
          "documentation":"<p>Specifies list of maitenance schedules. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
        }
      },
      "documentation":"<p>Specifies the Auto-Tune options: the Auto-Tune desired state for the domain, rollback state when disabling Auto-Tune options and list of maintenance schedules.</p>"
    },
    "AutoTuneOptionsInput":{
      "type":"structure",
      "members":{
        "DesiredState":{
          "shape":"AutoTuneDesiredState",
          "documentation":"<p>Specifies the Auto-Tune desired state. Valid values are ENABLED, DISABLED. </p>"
        },
        "MaintenanceSchedules":{
          "shape":"AutoTuneMaintenanceScheduleList",
          "documentation":"<p>Specifies list of maitenance schedules. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
        }
      },
      "documentation":"<p>Specifies the Auto-Tune options: the Auto-Tune desired state for the domain and list of maintenance schedules.</p>"
    },
    "AutoTuneOptionsOutput":{
      "type":"structure",
      "members":{
        "State":{
          "shape":"AutoTuneState",
          "documentation":"<p>Specifies the <code>AutoTuneState</code> for the Elasticsearch domain.</p>"
        },
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>Specifies the error message while enabling or disabling the Auto-Tune.</p>"
        }
      },
      "documentation":"<p>Specifies the Auto-Tune options: the Auto-Tune desired state for the domain and list of maintenance schedules.</p>"
    },
    "AutoTuneOptionsStatus":{
      "type":"structure",
      "members":{
        "Options":{
          "shape":"AutoTuneOptions",
          "documentation":"<p> Specifies Auto-Tune options for the specified Elasticsearch domain.</p>"
        },
        "Status":{
          "shape":"AutoTuneStatus",
          "documentation":"<p> Specifies Status of the Auto-Tune options for the specified Elasticsearch domain.</p>"
        }
      },
      "documentation":"<p> Specifies the status of Auto-Tune options for the specified Elasticsearch domain.</p>"
    },
    "AutoTuneState":{
      "type":"string",
      "documentation":"<p>Specifies the Auto-Tune state for the Elasticsearch domain. For valid states see the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a>.</p>",
      "enum":[
        "ENABLED",
        "DISABLED",
        "ENABLE_IN_PROGRESS",
        "DISABLE_IN_PROGRESS",
        "DISABLED_AND_ROLLBACK_SCHEDULED",
        "DISABLED_AND_ROLLBACK_IN_PROGRESS",
        "DISABLED_AND_ROLLBACK_COMPLETE",
        "DISABLED_AND_ROLLBACK_ERROR",
        "ERROR"
      ]
    },
    "AutoTuneStatus":{
      "type":"structure",
      "required":[
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "members":{
        "CreationDate":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>Timestamp which tells Auto-Tune options creation date .</p>"
        },
        "UpdateDate":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>Timestamp which tells Auto-Tune options last updated time.</p>"
        },
        "UpdateVersion":{
          "shape":"UIntValue",
          "documentation":"<p>Specifies the Auto-Tune options latest version.</p>"
        },
        "State":{
          "shape":"AutoTuneState",
          "documentation":"<p>Specifies the <code>AutoTuneState</code> for the Elasticsearch domain.</p>"
        },
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>Specifies the error message while enabling or disabling the Auto-Tune options.</p>"
        },
        "PendingDeletion":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the Elasticsearch domain is being deleted.</p>"
        }
      },
      "documentation":"<p>Provides the current status of the Auto-Tune options. </p>"
    },
    "AutoTuneType":{
      "type":"string",
      "documentation":"<p>Specifies Auto-Tune type. Valid value is SCHEDULED_ACTION. </p>",
      "enum":["SCHEDULED_ACTION"]
    },
    "BackendRole":{
      "type":"string",
      "max":256,
      "min":1
    },
    "BaseException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>A description of the error.</p>"
        }
      },
      "documentation":"<p>An error occurred while processing the request.</p>",
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "CancelDomainConfigChangeRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Name of the OpenSearch Service domain configuration request to cancel.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "DryRun":{
          "shape":"DryRun",
          "documentation":"<p>When set to <b>True</b>, returns the list of change IDs and properties that will be cancelled without actually cancelling the change.</p>"
        }
      },
      "documentation":"<p>Container for parameters of the <code>CancelDomainConfigChange</code> operation.</p>"
    },
    "CancelDomainConfigChangeResponse":{
      "type":"structure",
      "members":{
        "DryRun":{
          "shape":"DryRun",
          "documentation":"<p>Whether or not the request was a dry run. If <b>True</b>, the changes were not actually cancelled.</p>"
        },
        "CancelledChangeIds":{
          "shape":"GUIDList",
          "documentation":"<p>The unique identifiers of the changes that were cancelled.</p>"
        },
        "CancelledChangeProperties":{
          "shape":"CancelledChangePropertyList",
          "documentation":"<p>The domain change properties that were cancelled.</p>"
        }
      },
      "documentation":"<p>Contains the details of the cancelled domain config change.</p>"
    },
    "CancelElasticsearchServiceSoftwareUpdateRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that you want to stop the latest service software update on.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>CancelElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to cancel a service software update on.</p>"
    },
    "CancelElasticsearchServiceSoftwareUpdateResponse":{
      "type":"structure",
      "members":{
        "ServiceSoftwareOptions":{
          "shape":"ServiceSoftwareOptions",
          "documentation":"<p>The current status of the Elasticsearch service software update.</p>"
        }
      },
      "documentation":"<p>The result of a <code>CancelElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.</p>"
    },
    "CancelledChangeProperty":{
      "type":"structure",
      "members":{
        "PropertyName":{
          "shape":"String",
          "documentation":"<p>The name of the property whose change was cancelled.</p>"
        },
        "CancelledValue":{
          "shape":"String",
          "documentation":"<p>The pending value of the property that was cancelled. This would have been the eventual value of the property if the chance had not been cancelled.</p>"
        },
        "ActiveValue":{
          "shape":"String",
          "documentation":"<p>The current value of the property, after the change was cancelled.</p>"
        }
      },
      "documentation":"<p>A property change that was cancelled for an Amazon OpenSearch Service domain.</p>"
    },
    "CancelledChangePropertyList":{
      "type":"list",
      "member":{"shape":"CancelledChangeProperty"}
    },
    "ChangeProgressDetails":{
      "type":"structure",
      "members":{
        "ChangeId":{
          "shape":"GUID",
          "documentation":"<p>The unique change identifier associated with a specific domain configuration change.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>Contains an optional message associated with the domain configuration change.</p>"
        },
        "ConfigChangeStatus":{
          "shape":"ConfigChangeStatus",
          "documentation":"<p>The current status of the configuration change.</p>"
        },
        "StartTime":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>The time that the configuration change was initiated, in Universal Coordinated Time (UTC).</p>"
        },
        "LastUpdatedTime":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>The last time that the configuration change was updated.</p>"
        },
        "InitiatedBy":{
          "shape":"InitiatedBy",
          "documentation":"<p>The IAM principal who initiated the configuration change.</p>"
        }
      },
      "documentation":"<p>Specifies change details of the domain configuration change.</p>"
    },
    "ChangeProgressStage":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ChangeProgressStageName",
          "documentation":"<p>The name of the specific progress stage.</p>"
        },
        "Status":{
          "shape":"ChangeProgressStageStatus",
          "documentation":"<p>The overall status of a specific progress stage.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the progress stage.</p>"
        },
        "LastUpdated":{
          "shape":"LastUpdated",
          "documentation":"<p>The last updated timestamp of the progress stage.</p>"
        }
      },
      "documentation":"<p>A progress stage details of a specific domain configuration change.</p>"
    },
    "ChangeProgressStageList":{
      "type":"list",
      "member":{"shape":"ChangeProgressStage"},
      "documentation":"<p>The list of progress stages of a specific domain configuration change.</p>"
    },
    "ChangeProgressStageName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ChangeProgressStageStatus":{
      "type":"string",
      "max":256,
      "min":1
    },
    "ChangeProgressStatusDetails":{
      "type":"structure",
      "members":{
        "ChangeId":{
          "shape":"GUID",
          "documentation":"<p>The unique change identifier associated with a specific domain configuration change.</p>"
        },
        "StartTime":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>The time at which the configuration change is made on the domain.</p>"
        },
        "Status":{
          "shape":"OverallChangeStatus",
          "documentation":"<p>The overall status of the domain configuration change. This field can take the following values: <code>PENDING</code>, <code>PROCESSING</code>, <code>COMPLETED</code> and <code>FAILED</code></p>"
        },
        "PendingProperties":{
          "shape":"StringList",
          "documentation":"<p>The list of properties involved in the domain configuration change that are still in pending.</p>"
        },
        "CompletedProperties":{
          "shape":"StringList",
          "documentation":"<p>The list of properties involved in the domain configuration change that are completed.</p>"
        },
        "TotalNumberOfStages":{
          "shape":"TotalNumberOfStages",
          "documentation":"<p>The total number of stages required for the configuration change.</p>"
        },
        "ChangeProgressStages":{
          "shape":"ChangeProgressStageList",
          "documentation":"<p>The specific stages that the domain is going through to perform the configuration change.</p>"
        },
        "ConfigChangeStatus":{
          "shape":"ConfigChangeStatus",
          "documentation":"<p>The current status of the configuration change.</p>"
        },
        "LastUpdatedTime":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>The last time that the status of the configuration change was updated.</p>"
        },
        "InitiatedBy":{
          "shape":"InitiatedBy",
          "documentation":"<p>The IAM principal who initiated the configuration change.</p>"
        }
      },
      "documentation":"<p>The progress details of a specific domain configuration change.</p>"
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1
    },
    "CloudWatchLogsLogGroupArn":{
      "type":"string",
      "documentation":"<p>ARN of the Cloudwatch log group to which log needs to be published.</p>"
    },
    "CognitoOptions":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies the option to enable Cognito for Kibana authentication.</p>"
        },
        "UserPoolId":{
          "shape":"UserPoolId",
          "documentation":"<p>Specifies the Cognito user pool ID for Kibana authentication.</p>"
        },
        "IdentityPoolId":{
          "shape":"IdentityPoolId",
          "documentation":"<p>Specifies the Cognito identity pool ID for Kibana authentication.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.</p>"
        }
      },
      "documentation":"<p>Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>"
    },
    "CognitoOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{
          "shape":"CognitoOptions",
          "documentation":"<p>Specifies the Cognito options for the specified Elasticsearch domain.</p>"
        },
        "Status":{
          "shape":"OptionStatus",
          "documentation":"<p>Specifies the status of the Cognito options for the specified Elasticsearch domain.</p>"
        }
      },
      "documentation":"<p>Status of the Cognito options for the specified Elasticsearch domain.</p>"
    },
    "ColdStorageOptions":{
      "type":"structure",
      "required":["Enabled"],
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>Enable cold storage option. Accepted values true or false</p>"
        }
      },
      "documentation":"<p>Specifies the configuration for cold storage options such as enabled</p>"
    },
    "CommitMessage":{
      "type":"string",
      "max":160
    },
    "CompatibleElasticsearchVersionsList":{
      "type":"list",
      "member":{"shape":"CompatibleVersionsMap"}
    },
    "CompatibleVersionsMap":{
      "type":"structure",
      "members":{
        "SourceVersion":{
          "shape":"ElasticsearchVersionString",
          "documentation":"<p>The current version of Elasticsearch on which a domain is.</p>"
        },
        "TargetVersions":{"shape":"ElasticsearchVersionList"}
      },
      "documentation":"<p> A map from an <code> <a>ElasticsearchVersion</a> </code> to a list of compatible <code> <a>ElasticsearchVersion</a> </code> s to which the domain can be upgraded. </p>"
    },
    "ConfigChangeStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "Initializing",
        "Validating",
        "ValidationFailed",
        "ApplyingChanges",
        "Completed",
        "PendingUserInput",
        "Cancelled"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An error occurred because the client attempts to remove a resource that is currently in use. Returns HTTP status code 409.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConnectionAlias":{
      "type":"string",
      "max":20
    },
    "CreateElasticsearchDomainRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a lowercase letter and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>"
        },
        "ElasticsearchVersion":{
          "shape":"ElasticsearchVersionString",
          "documentation":"<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>"
        },
        "ElasticsearchClusterConfig":{
          "shape":"ElasticsearchClusterConfig",
          "documentation":"<p>Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. </p>"
        },
        "EBSOptions":{
          "shape":"EBSOptions",
          "documentation":"<p>Options to enable, disable and specify the type and size of EBS storage volumes. </p>"
        },
        "AccessPolicies":{
          "shape":"PolicyDocument",
          "documentation":"<p> IAM access policy as a JSON-formatted string.</p>"
        },
        "SnapshotOptions":{
          "shape":"SnapshotOptions",
          "documentation":"<p>Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. </p>"
        },
        "VPCOptions":{
          "shape":"VPCOptions",
          "documentation":"<p>Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc\" target=\"_blank\">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i></p>"
        },
        "CognitoOptions":{
          "shape":"CognitoOptions",
          "documentation":"<p>Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>"
        },
        "EncryptionAtRestOptions":{
          "shape":"EncryptionAtRestOptions",
          "documentation":"<p>Specifies the Encryption At Rest Options.</p>"
        },
        "NodeToNodeEncryptionOptions":{
          "shape":"NodeToNodeEncryptionOptions",
          "documentation":"<p>Specifies the NodeToNodeEncryptionOptions.</p>"
        },
        "AdvancedOptions":{
          "shape":"AdvancedOptions",
          "documentation":"<p> Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</p>"
        },
        "LogPublishingOptions":{
          "shape":"LogPublishingOptions",
          "documentation":"<p>Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.</p>"
        },
        "DomainEndpointOptions":{
          "shape":"DomainEndpointOptions",
          "documentation":"<p>Options to specify configuration that will be applied to the domain endpoint.</p>"
        },
        "AdvancedSecurityOptions":{
          "shape":"AdvancedSecurityOptionsInput",
          "documentation":"<p>Specifies advanced security options.</p>"
        },
        "AutoTuneOptions":{
          "shape":"AutoTuneOptionsInput",
          "documentation":"<p>Specifies Auto-Tune options.</p>"
        },
        "TagList":{
          "shape":"TagList",
          "documentation":"<p>A list of <code>Tag</code> added during domain creation.</p>"
        }
      }
    },
    "CreateElasticsearchDomainResponse":{
      "type":"structure",
      "members":{
        "DomainStatus":{
          "shape":"ElasticsearchDomainStatus",
          "documentation":"<p>The status of the newly created Elasticsearch domain. </p>"
        }
      },
      "documentation":"<p>The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.</p>"
    },
    "CreateOutboundCrossClusterSearchConnectionRequest":{
      "type":"structure",
      "required":[
        "SourceDomainInfo",
        "DestinationDomainInfo",
        "ConnectionAlias"
      ],
      "members":{
        "SourceDomainInfo":{
          "shape":"DomainInformation",
          "documentation":"<p>Specifies the <code><a>DomainInformation</a></code> for the source Elasticsearch domain.</p>"
        },
        "DestinationDomainInfo":{
          "shape":"DomainInformation",
          "documentation":"<p>Specifies the <code><a>DomainInformation</a></code> for the destination Elasticsearch domain.</p>"
        },
        "ConnectionAlias":{
          "shape":"ConnectionAlias",
          "documentation":"<p>Specifies the connection alias that will be used by the customer for this connection.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>CreateOutboundCrossClusterSearchConnection</a></code> operation.</p>"
    },
    "CreateOutboundCrossClusterSearchConnectionResponse":{
      "type":"structure",
      "members":{
        "SourceDomainInfo":{
          "shape":"DomainInformation",
          "documentation":"<p>Specifies the <code><a>DomainInformation</a></code> for the source Elasticsearch domain.</p>"
        },
        "DestinationDomainInfo":{
          "shape":"DomainInformation",
          "documentation":"<p>Specifies the <code><a>DomainInformation</a></code> for the destination Elasticsearch domain.</p>"
        },
        "ConnectionAlias":{
          "shape":"ConnectionAlias",
          "documentation":"<p>Specifies the connection alias provided during the create connection request.</p>"
        },
        "ConnectionStatus":{
          "shape":"OutboundCrossClusterSearchConnectionStatus",
          "documentation":"<p>Specifies the <code><a>OutboundCrossClusterSearchConnectionStatus</a></code> for the newly created connection.</p>"
        },
        "CrossClusterSearchConnectionId":{
          "shape":"CrossClusterSearchConnectionId",
          "documentation":"<p>Unique id for the created outbound connection, which is used for subsequent operations on connection.</p>"
        }
      },
      "documentation":"<p>The result of a <code><a>CreateOutboundCrossClusterSearchConnection</a></code> request. Contains the details of the newly created cross-cluster search connection.</p>"
    },
    "CreatePackageRequest":{
      "type":"structure",
      "required":[
        "PackageName",
        "PackageType",
        "PackageSource"
      ],
      "members":{
        "PackageName":{
          "shape":"PackageName",
          "documentation":"<p>Unique identifier for the package.</p>"
        },
        "PackageType":{
          "shape":"PackageType",
          "documentation":"<p>Type of package. Currently supports only TXT-DICTIONARY.</p>"
        },
        "PackageDescription":{
          "shape":"PackageDescription",
          "documentation":"<p>Description of the package.</p>"
        },
        "PackageSource":{
          "shape":"PackageSource",
          "documentation":"<p>The customer S3 location <code>PackageSource</code> for importing the package.</p>"
        }
      },
      "documentation":"<p> Container for request parameters to <code> <a>CreatePackage</a> </code> operation. </p>"
    },
    "CreatePackageResponse":{
      "type":"structure",
      "members":{
        "PackageDetails":{
          "shape":"PackageDetails",
          "documentation":"<p>Information about the package <code>PackageDetails</code>.</p>"
        }
      },
      "documentation":"<p> Container for response returned by <code> <a>CreatePackage</a> </code> operation. </p>"
    },
    "CreateVpcEndpointRequest":{
      "type":"structure",
      "required":[
        "DomainArn",
        "VpcOptions"
      ],
      "members":{
        "DomainArn":{
          "shape":"DomainArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the domain to grant access to.</p>"
        },
        "VpcOptions":{
          "shape":"VPCOptions",
          "documentation":"<p>Options to specify the subnets and security groups for the endpoint.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>CreateVpcEndpointRequest</a></code> operation.</p>"
    },
    "CreateVpcEndpointResponse":{
      "type":"structure",
      "required":["VpcEndpoint"],
      "members":{
        "VpcEndpoint":{
          "shape":"VpcEndpoint",
          "documentation":"<p>Information about the newly created VPC endpoint.</p>"
        }
      },
      "documentation":"<p>Container for response parameters to the <code><a>CreateVpcEndpoint</a></code> operation. Contains the configuration and status of the VPC Endpoint being created.</p>"
    },
    "CreatedAt":{"type":"timestamp"},
    "CrossClusterSearchConnectionId":{"type":"string"},
    "CrossClusterSearchConnectionStatusMessage":{"type":"string"},
    "DeleteElasticsearchDomainRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the Elasticsearch domain that you want to permanently delete.</p>",
          "location":"uri",
          "locationName":"DomainName"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.</p>"
    },
    "DeleteElasticsearchDomainResponse":{
      "type":"structure",
      "members":{
        "DomainStatus":{
          "shape":"ElasticsearchDomainStatus",
          "documentation":"<p>The status of the Elasticsearch domain being deleted.</p>"
        }
      },
      "documentation":"<p>The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.</p>"
    },
    "DeleteInboundCrossClusterSearchConnectionRequest":{
      "type":"structure",
      "required":["CrossClusterSearchConnectionId"],
      "members":{
        "CrossClusterSearchConnectionId":{
          "shape":"CrossClusterSearchConnectionId",
          "documentation":"<p>The id of the inbound connection that you want to permanently delete.</p>",
          "location":"uri",
          "locationName":"ConnectionId"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>DeleteInboundCrossClusterSearchConnection</a></code> operation.</p>"
    },
    "DeleteInboundCrossClusterSearchConnectionResponse":{
      "type":"structure",
      "members":{
        "CrossClusterSearchConnection":{
          "shape":"InboundCrossClusterSearchConnection",
          "documentation":"<p>Specifies the <code><a>InboundCrossClusterSearchConnection</a></code> of deleted inbound connection. </p>"
        }
      },
      "documentation":"<p>The result of a <code><a>DeleteInboundCrossClusterSearchConnection</a></code> operation. Contains details of deleted inbound connection.</p>"
    },
    "DeleteOutboundCrossClusterSearchConnectionRequest":{
      "type":"structure",
      "required":["CrossClusterSearchConnectionId"],
      "members":{
        "CrossClusterSearchConnectionId":{
          "shape":"CrossClusterSearchConnectionId",
          "documentation":"<p>The id of the outbound connection that you want to permanently delete.</p>",
          "location":"uri",
          "locationName":"ConnectionId"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>DeleteOutboundCrossClusterSearchConnection</a></code> operation.</p>"
    },
    "DeleteOutboundCrossClusterSearchConnectionResponse":{
      "type":"structure",
      "members":{
        "CrossClusterSearchConnection":{
          "shape":"OutboundCrossClusterSearchConnection",
          "documentation":"<p>Specifies the <code><a>OutboundCrossClusterSearchConnection</a></code> of deleted outbound connection. </p>"
        }
      },
      "documentation":"<p>The result of a <code><a>DeleteOutboundCrossClusterSearchConnection</a></code> operation. Contains details of deleted outbound connection.</p>"
    },
    "DeletePackageRequest":{
      "type":"structure",
      "required":["PackageID"],
      "members":{
        "PackageID":{
          "shape":"PackageID",
          "documentation":"<p>Internal ID of the package that you want to delete. Use <code>DescribePackages</code> to find this value.</p>",
          "location":"uri",
          "locationName":"PackageID"
        }
      },
      "documentation":"<p> Container for request parameters to <code> <a>DeletePackage</a> </code> operation. </p>"
    },
    "DeletePackageResponse":{
      "type":"structure",
      "members":{
        "PackageDetails":{
          "shape":"PackageDetails",
          "documentation":"<p><code>PackageDetails</code></p>"
        }
      },
      "documentation":"<p> Container for response parameters to <code> <a>DeletePackage</a> </code> operation. </p>"
    },
    "DeleteVpcEndpointRequest":{
      "type":"structure",
      "required":["VpcEndpointId"],
      "members":{
        "VpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>The unique identifier of the endpoint to be deleted.</p>",
          "location":"uri",
          "locationName":"VpcEndpointId"
        }
      },
      "documentation":"<p>Deletes an Amazon OpenSearch Service-managed interface VPC endpoint.</p>"
    },
    "DeleteVpcEndpointResponse":{
      "type":"structure",
      "required":["VpcEndpointSummary"],
      "members":{
        "VpcEndpointSummary":{
          "shape":"VpcEndpointSummary",
          "documentation":"<p>Information about the deleted endpoint, including its current status (<code>DELETING</code> or <code>DELETE_FAILED</code>).</p>"
        }
      },
      "documentation":"<p>Container for response parameters to the <code><a>DeleteVpcEndpoint</a></code> operation. Contains the summarized detail of the VPC Endpoint being deleted.</p>"
    },
    "DeploymentCloseDateTimeStamp":{"type":"timestamp"},
    "DeploymentStatus":{
      "type":"string",
      "enum":[
        "PENDING_UPDATE",
        "IN_PROGRESS",
        "COMPLETED",
        "NOT_ELIGIBLE",
        "ELIGIBLE"
      ]
    },
    "DeploymentType":{
      "type":"string",
      "max":128,
      "min":2
    },
    "DescribeDomainAutoTunesRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Specifies the domain name for which you want Auto-Tune action details.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>NextToken is sent in case the earlier API call results contain the NextToken. It is used for pagination.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code>DescribeDomainAutoTunes</code> operation.</p>"
    },
    "DescribeDomainAutoTunesResponse":{
      "type":"structure",
      "members":{
        "AutoTunes":{
          "shape":"AutoTuneList",
          "documentation":"<p>Specifies the list of setting adjustments that Auto-Tune has made to the domain. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Specifies an identifier to allow retrieval of paginated results.</p>"
        }
      },
      "documentation":"<p>The result of <code>DescribeDomainAutoTunes</code> request. See the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">Developer Guide</a> for more information. </p>"
    },
    "DescribeDomainChangeProgressRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain you want to get the progress information about.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "ChangeId":{
          "shape":"GUID",
          "documentation":"<p>The specific change ID for which you want to get progress information. This is an optional parameter. If omitted, the service returns information about the most recent configuration change. </p>",
          "location":"querystring",
          "locationName":"changeid"
        }
      },
      "documentation":"<p>Container for the parameters to the <code>DescribeDomainChangeProgress</code> operation. Specifies the domain name and optional change specific identity for which you want progress information. </p>"
    },
    "DescribeDomainChangeProgressResponse":{
      "type":"structure",
      "members":{
        "ChangeProgressStatus":{
          "shape":"ChangeProgressStatusDetails",
          "documentation":"<p>Progress information for the configuration change that is requested in the <code>DescribeDomainChangeProgress</code> request. </p>"
        }
      },
      "documentation":"<p>The result of a <code>DescribeDomainChangeProgress</code> request. Contains the progress information of the requested domain change. </p>"
    },
    "DescribeElasticsearchDomainConfigRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The Elasticsearch domain that you want to get information about.</p>",
          "location":"uri",
          "locationName":"DomainName"
        }
      },
      "documentation":"<p> Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.</p>"
    },
    "DescribeElasticsearchDomainConfigResponse":{
      "type":"structure",
      "required":["DomainConfig"],
      "members":{
        "DomainConfig":{
          "shape":"ElasticsearchDomainConfig",
          "documentation":"<p>The configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code> request.</p>"
        }
      },
      "documentation":"<p>The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.</p>"
    },
    "DescribeElasticsearchDomainRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the Elasticsearch domain for which you want information.</p>",
          "location":"uri",
          "locationName":"DomainName"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.</p>"
    },
    "DescribeElasticsearchDomainResponse":{
      "type":"structure",
      "required":["DomainStatus"],
      "members":{
        "DomainStatus":{
          "shape":"ElasticsearchDomainStatus",
          "documentation":"<p>The current status of the Elasticsearch domain.</p>"
        }
      },
      "documentation":"<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>"
    },
    "DescribeElasticsearchDomainsRequest":{
      "type":"structure",
      "required":["DomainNames"],
      "members":{
        "DomainNames":{
          "shape":"DomainNameList",
          "documentation":"<p>The Elasticsearch domains for which you want information.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>"
    },
    "DescribeElasticsearchDomainsResponse":{
      "type":"structure",
      "required":["DomainStatusList"],
      "members":{
        "DomainStatusList":{
          "shape":"ElasticsearchDomainStatusList",
          "documentation":"<p>The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request.</p>"
        }
      },
      "documentation":"<p>The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.</p>"
    },
    "DescribeElasticsearchInstanceTypeLimitsRequest":{
      "type":"structure",
      "required":[
        "InstanceType",
        "ElasticsearchVersion"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p> DomainName represents the name of the Domain that we are trying to modify. This should be present only if we are querying for Elasticsearch <code> <a>Limits</a> </code> for existing domain. </p>",
          "location":"querystring",
          "locationName":"domainName"
        },
        "InstanceType":{
          "shape":"ESPartitionInstanceType",
          "documentation":"<p> The instance type for an Elasticsearch cluster for which Elasticsearch <code> <a>Limits</a> </code> are needed. </p>",
          "location":"uri",
          "locationName":"InstanceType"
        },
        "ElasticsearchVersion":{
          "shape":"ElasticsearchVersionString",
          "documentation":"<p> Version of Elasticsearch for which <code> <a>Limits</a> </code> are needed. </p>",
          "location":"uri",
          "locationName":"ElasticsearchVersion"
        }
      },
      "documentation":"<p> Container for the parameters to <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. </p>"
    },
    "DescribeElasticsearchInstanceTypeLimitsResponse":{
      "type":"structure",
      "members":{
        "LimitsByRole":{"shape":"LimitsByRole"}
      },
      "documentation":"<p> Container for the parameters received from <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. </p>"
    },
    "DescribeInboundCrossClusterSearchConnectionsRequest":{
      "type":"structure",
      "members":{
        "Filters":{
          "shape":"FilterList",
          "documentation":"<p> A list of filters used to match properties for inbound cross-cluster search connection. Available <code><a>Filter</a></code> names for this operation are: <ul> <li>cross-cluster-search-connection-id</li> <li>source-domain-info.domain-name</li> <li>source-domain-info.owner-id</li> <li>source-domain-info.region</li> <li>destination-domain-info.domain-name</li> </ul> </p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> NextToken is sent in case the earlier API call results contain the NextToken. It is used for pagination.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>DescribeInboundCrossClusterSearchConnections</a></code> operation.</p>"
    },
    "DescribeInboundCrossClusterSearchConnectionsResponse":{
      "type":"structure",
      "members":{
        "CrossClusterSearchConnections":{
          "shape":"InboundCrossClusterSearchConnections",
          "documentation":"<p>Consists of list of <code><a>InboundCrossClusterSearchConnection</a></code> matching the specified filter criteria.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If more results are available and NextToken is present, make the next request to the same API with the received NextToken to paginate the remaining results. </p>"
        }
      },
      "documentation":"<p>The result of a <code><a>DescribeInboundCrossClusterSearchConnections</a></code> request. Contains the list of connections matching the filter criteria.</p>"
    },
    "DescribeOutboundCrossClusterSearchConnectionsRequest":{
      "type":"structure",
      "members":{
        "Filters":{
          "shape":"FilterList",
          "documentation":"<p> A list of filters used to match properties for outbound cross-cluster search connection. Available <code><a>Filter</a></code> names for this operation are: <ul> <li>cross-cluster-search-connection-id</li> <li>destination-domain-info.domain-name</li> <li>destination-domain-info.owner-id</li> <li>destination-domain-info.region</li> <li>source-domain-info.domain-name</li> </ul> </p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> NextToken is sent in case the earlier API call results contain the NextToken. It is used for pagination.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code><a>DescribeOutboundCrossClusterSearchConnections</a></code> operation.</p>"
    },
    "DescribeOutboundCrossClusterSearchConnectionsResponse":{
      "type":"structure",
      "members":{
        "CrossClusterSearchConnections":{
          "shape":"OutboundCrossClusterSearchConnections",
          "documentation":"<p>Consists of list of <code><a>OutboundCrossClusterSearchConnection</a></code> matching the specified filter criteria.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If more results are available and NextToken is present, make the next request to the same API with the received NextToken to paginate the remaining results. </p>"
        }
      },
      "documentation":"<p>The result of a <code><a>DescribeOutboundCrossClusterSearchConnections</a></code> request. Contains the list of connections matching the filter criteria.</p>"
    },
    "DescribePackagesFilter":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DescribePackagesFilterName",
          "documentation":"<p>Any field from <code>PackageDetails</code>.</p>"
        },
        "Value":{
          "shape":"DescribePackagesFilterValues",
          "documentation":"<p>A non-empty list of values for the specified field.</p>"
        }
      },
      "documentation":"<p>Filter to apply in <code>DescribePackage</code> response.</p>"
    },
    "DescribePackagesFilterList":{
      "type":"list",
      "member":{"shape":"DescribePackagesFilter"},
      "documentation":"<p>A list of <code>DescribePackagesFilter</code> to filter the packages included in a <code>DescribePackages</code> response.</p>"
    },
    "DescribePackagesFilterName":{
      "type":"string",
      "enum":[
        "PackageID",
        "PackageName",
        "PackageStatus"
      ]
    },
    "DescribePackagesFilterValue":{
      "type":"string",
      "pattern":"^[0-9a-zA-Z\\*\\.\\\\/\\?-]*$"
    },
    "DescribePackagesFilterValues":{
      "type":"list",
      "member":{"shape":"DescribePackagesFilterValue"},
      "min":1
    },
    "DescribePackagesRequest":{
      "type":"structure",
      "members":{
        "Filters":{
          "shape":"DescribePackagesFilterList",
          "documentation":"<p>Only returns packages that match the <code>DescribePackagesFilterList</code> values.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Limits results to a maximum number of packages.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Used for pagination. Only necessary if a previous API call includes a non-null NextToken value. If provided, returns results for the next page.</p>"
        }
      },
      "documentation":"<p> Container for request parameters to <code> <a>DescribePackage</a> </code> operation. </p>"
    },
    "DescribePackagesResponse":{
      "type":"structure",
      "members":{
        "PackageDetailsList":{
          "shape":"PackageDetailsList",
          "documentation":"<p>List of <code>PackageDetails</code> objects.</p>"
        },
        "NextToken":{"shape":"String"}
      },
      "documentation":"<p> Container for response returned by <code> <a>DescribePackages</a> </code> operation. </p>"
    },
    "DescribeReservedElasticsearchInstanceOfferingsRequest":{
      "type":"structure",
      "members":{
        "ReservedElasticsearchInstanceOfferingId":{
          "shape":"GUID",
          "documentation":"<p>The offering identifier filter value. Use this parameter to show only the available offering that matches the specified reservation identifier.</p>",
          "location":"querystring",
          "locationName":"offeringId"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>NextToken should be sent in case if earlier API call produced result containing NextToken. It is used for pagination.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      },
      "documentation":"<p>Container for parameters to <code>DescribeReservedElasticsearchInstanceOfferings</code></p>"
    },
    "DescribeReservedElasticsearchInstanceOfferingsResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Provides an identifier to allow retrieval of paginated results.</p>"
        },
        "ReservedElasticsearchInstanceOfferings":{
          "shape":"ReservedElasticsearchInstanceOfferingList",
          "documentation":"<p>List of reserved Elasticsearch instance offerings</p>"
        }
      },
      "documentation":"<p>Container for results from <code>DescribeReservedElasticsearchInstanceOfferings</code></p>"
    },
    "DescribeReservedElasticsearchInstancesRequest":{
      "type":"structure",
      "members":{
        "ReservedElasticsearchInstanceId":{
          "shape":"GUID",
          "documentation":"<p>The reserved instance identifier filter value. Use this parameter to show only the reservation that matches the specified reserved Elasticsearch instance ID.</p>",
          "location":"querystring",
          "locationName":"reservationId"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
[...]
