<div data-ctrl={{this.actionKeyPressed}} {{did-insert this.setup}} ...attributes>
    {{yield
        (hash
            item=(
                component "multi-list/item"
                model=@model
            )
        )
    }}
</div>
