{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-11-01",
    "endpointPrefix":"compute-optimizer",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"AWS Compute Optimizer",
    "serviceId":"Compute Optimizer",
    "signatureVersion":"v4",
    "signingName":"compute-optimizer",
    "targetPrefix":"ComputeOptimizerService",
    "uid":"compute-optimizer-2019-11-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "DeleteRecommendationPreferences":{
      "name":"DeleteRecommendationPreferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRecommendationPreferencesRequest"},
      "output":{"shape":"DeleteRecommendationPreferencesResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a recommendation preference, such as enhanced infrastructure metrics.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/enhanced-infrastructure-metrics.html\">Activating enhanced infrastructure metrics</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "DescribeRecommendationExportJobs":{
      "name":"DescribeRecommendationExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRecommendationExportJobsRequest"},
      "output":{"shape":"DescribeRecommendationExportJobsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Describes recommendation export jobs created in the last seven days.</p> <p>Use the <a>ExportAutoScalingGroupRecommendations</a> or <a>ExportEC2InstanceRecommendations</a> actions to request an export of your recommendations. Then use the <a>DescribeRecommendationExportJobs</a> action to view your export jobs.</p>"
    },
    "ExportAutoScalingGroupRecommendations":{
      "name":"ExportAutoScalingGroupRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportAutoScalingGroupRecommendationsRequest"},
      "output":{"shape":"ExportAutoScalingGroupRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Exports optimization recommendations for Auto Scaling groups.</p> <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata in a JavaScript Object Notation (JSON) (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Auto Scaling group export job in progress per Amazon Web Services Region.</p>"
    },
    "ExportEBSVolumeRecommendations":{
      "name":"ExportEBSVolumeRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportEBSVolumeRecommendationsRequest"},
      "output":{"shape":"ExportEBSVolumeRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Exports optimization recommendations for Amazon EBS volumes.</p> <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata in a JavaScript Object Notation (JSON) (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Amazon EBS volume export job in progress per Amazon Web Services Region.</p>"
    },
    "ExportEC2InstanceRecommendations":{
      "name":"ExportEC2InstanceRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportEC2InstanceRecommendationsRequest"},
      "output":{"shape":"ExportEC2InstanceRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Exports optimization recommendations for Amazon EC2 instances.</p> <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata in a JavaScript Object Notation (JSON) (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Amazon EC2 instance export job in progress per Amazon Web Services Region.</p>"
    },
    "ExportECSServiceRecommendations":{
      "name":"ExportECSServiceRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportECSServiceRecommendationsRequest"},
      "output":{"shape":"ExportECSServiceRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Exports optimization recommendations for Amazon ECS services on Fargate. </p> <p>Recommendations are exported in a CSV file, and its metadata in a JSON file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can only have one Amazon ECS service export job in progress per Amazon Web Services Region.</p>"
    },
    "ExportIdleRecommendations":{
      "name":"ExportIdleRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportIdleRecommendationsRequest"},
      "output":{"shape":"ExportIdleRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Export optimization recommendations for your idle resources. </p> <p>Recommendations are exported in a comma-separated values (CSV) file, and its metadata in a JavaScript Object Notation (JSON) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one idle resource export job in progress per Amazon Web Services Region.</p>"
    },
    "ExportLambdaFunctionRecommendations":{
      "name":"ExportLambdaFunctionRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportLambdaFunctionRecommendationsRequest"},
      "output":{"shape":"ExportLambdaFunctionRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Exports optimization recommendations for Lambda functions.</p> <p>Recommendations are exported in a comma-separated values (.csv) file, and its metadata in a JavaScript Object Notation (JSON) (.json) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Lambda function export job in progress per Amazon Web Services Region.</p>"
    },
    "ExportLicenseRecommendations":{
      "name":"ExportLicenseRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportLicenseRecommendationsRequest"},
      "output":{"shape":"ExportLicenseRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Export optimization recommendations for your licenses. </p> <p>Recommendations are exported in a comma-separated values (CSV) file, and its metadata in a JavaScript Object Notation (JSON) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one license export job in progress per Amazon Web Services Region.</p>"
    },
    "ExportRDSDatabaseRecommendations":{
      "name":"ExportRDSDatabaseRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportRDSDatabaseRecommendationsRequest"},
      "output":{"shape":"ExportRDSDatabaseRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Export optimization recommendations for your Amazon Aurora and Amazon Relational Database Service (Amazon RDS) databases. </p> <p>Recommendations are exported in a comma-separated values (CSV) file, and its metadata in a JavaScript Object Notation (JSON) file, to an existing Amazon Simple Storage Service (Amazon S3) bucket that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html\">Exporting Recommendations</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>You can have only one Amazon Aurora or RDS export job in progress per Amazon Web Services Region.</p>"
    },
    "GetAutoScalingGroupRecommendations":{
      "name":"GetAutoScalingGroupRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAutoScalingGroupRecommendationsRequest"},
      "output":{"shape":"GetAutoScalingGroupRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns Auto Scaling group recommendations.</p> <p>Compute Optimizer generates recommendations for Amazon EC2 Auto Scaling groups that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "GetEBSVolumeRecommendations":{
      "name":"GetEBSVolumeRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEBSVolumeRecommendationsRequest"},
      "output":{"shape":"GetEBSVolumeRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns Amazon Elastic Block Store (Amazon EBS) volume recommendations.</p> <p>Compute Optimizer generates recommendations for Amazon EBS volumes that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "GetEC2InstanceRecommendations":{
      "name":"GetEC2InstanceRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEC2InstanceRecommendationsRequest"},
      "output":{"shape":"GetEC2InstanceRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns Amazon EC2 instance recommendations.</p> <p>Compute Optimizer generates recommendations for Amazon Elastic Compute Cloud (Amazon EC2) instances that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "GetEC2RecommendationProjectedMetrics":{
      "name":"GetEC2RecommendationProjectedMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEC2RecommendationProjectedMetricsRequest"},
      "output":{"shape":"GetEC2RecommendationProjectedMetricsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the projected utilization metrics of Amazon EC2 instance recommendations.</p> <note> <p>The <code>Cpu</code> and <code>Memory</code> metrics are the only projected utilization metrics returned when you run this action. Additionally, the <code>Memory</code> metric is returned only for resources that have the unified CloudWatch agent installed on them. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/metrics.html#cw-agent\">Enabling Memory Utilization with the CloudWatch Agent</a>.</p> </note>"
    },
    "GetECSServiceRecommendationProjectedMetrics":{
      "name":"GetECSServiceRecommendationProjectedMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetECSServiceRecommendationProjectedMetricsRequest"},
      "output":{"shape":"GetECSServiceRecommendationProjectedMetricsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Returns the projected metrics of Amazon ECS service recommendations. </p>"
    },
    "GetECSServiceRecommendations":{
      "name":"GetECSServiceRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetECSServiceRecommendationsRequest"},
      "output":{"shape":"GetECSServiceRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Returns Amazon ECS service recommendations. </p> <p> Compute Optimizer generates recommendations for Amazon ECS services on Fargate that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>Compute Optimizer User Guide</i>. </p>"
    },
    "GetEffectiveRecommendationPreferences":{
      "name":"GetEffectiveRecommendationPreferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEffectiveRecommendationPreferencesRequest"},
      "output":{"shape":"GetEffectiveRecommendationPreferencesResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the recommendation preferences that are in effect for a given resource, such as enhanced infrastructure metrics. Considers all applicable preferences that you might have set at the resource, account, and organization level.</p> <p>When you create a recommendation preference, you can set its status to <code>Active</code> or <code>Inactive</code>. Use this action to view the recommendation preferences that are in effect, or <code>Active</code>.</p>"
    },
    "GetEnrollmentStatus":{
      "name":"GetEnrollmentStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEnrollmentStatusRequest"},
      "output":{"shape":"GetEnrollmentStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the enrollment (opt in) status of an account to the Compute Optimizer service.</p> <p>If the account is the management account of an organization, this action also confirms the enrollment status of member accounts of the organization. Use the <a>GetEnrollmentStatusesForOrganization</a> action to get detailed information about the enrollment status of member accounts of an organization.</p>"
    },
    "GetEnrollmentStatusesForOrganization":{
      "name":"GetEnrollmentStatusesForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEnrollmentStatusesForOrganizationRequest"},
      "output":{"shape":"GetEnrollmentStatusesForOrganizationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the Compute Optimizer enrollment (opt-in) status of organization member accounts, if your account is an organization management account.</p> <p>To get the enrollment status of standalone accounts, use the <a>GetEnrollmentStatus</a> action.</p>"
    },
    "GetIdleRecommendations":{
      "name":"GetIdleRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdleRecommendationsRequest"},
      "output":{"shape":"GetIdleRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns idle resource recommendations. Compute Optimizer generates recommendations for idle resources that meet a specific set of requirements. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Resource requirements</a> in the <i>Compute Optimizer User Guide</i> </p>"
    },
    "GetLambdaFunctionRecommendations":{
      "name":"GetLambdaFunctionRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLambdaFunctionRecommendationsRequest"},
      "output":{"shape":"GetLambdaFunctionRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns Lambda function recommendations.</p> <p>Compute Optimizer generates recommendations for functions that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "GetLicenseRecommendations":{
      "name":"GetLicenseRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLicenseRecommendationsRequest"},
      "output":{"shape":"GetLicenseRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns license recommendations for Amazon EC2 instances that run on a specific license.</p> <p>Compute Optimizer generates recommendations for licenses that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "GetRDSDatabaseRecommendationProjectedMetrics":{
      "name":"GetRDSDatabaseRecommendationProjectedMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRDSDatabaseRecommendationProjectedMetricsRequest"},
      "output":{"shape":"GetRDSDatabaseRecommendationProjectedMetricsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Returns the projected metrics of Aurora and RDS database recommendations. </p>"
    },
    "GetRDSDatabaseRecommendations":{
      "name":"GetRDSDatabaseRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRDSDatabaseRecommendationsRequest"},
      "output":{"shape":"GetRDSDatabaseRecommendationsResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Returns Amazon Aurora and RDS database recommendations. </p> <p>Compute Optimizer generates recommendations for Amazon Aurora and RDS databases that meet a specific set of requirements. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/requirements.html\">Supported resources and requirements</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "GetRecommendationPreferences":{
      "name":"GetRecommendationPreferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRecommendationPreferencesRequest"},
      "output":{"shape":"GetRecommendationPreferencesResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns existing recommendation preferences, such as enhanced infrastructure metrics.</p> <p>Use the <code>scope</code> parameter to specify which preferences to return. You can specify to return preferences for an organization, a specific account ID, or a specific EC2 instance or Auto Scaling group Amazon Resource Name (ARN).</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/enhanced-infrastructure-metrics.html\">Activating enhanced infrastructure metrics</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "GetRecommendationSummaries":{
      "name":"GetRecommendationSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRecommendationSummariesRequest"},
      "output":{"shape":"GetRecommendationSummariesResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the optimization findings for an account.</p> <p>It returns the number of:</p> <ul> <li> <p>Amazon EC2 instances in an account that are <code>Underprovisioned</code>, <code>Overprovisioned</code>, or <code>Optimized</code>.</p> </li> <li> <p>EC2Auto Scaling groups in an account that are <code>NotOptimized</code>, or <code>Optimized</code>.</p> </li> <li> <p>Amazon EBS volumes in an account that are <code>NotOptimized</code>, or <code>Optimized</code>.</p> </li> <li> <p>Lambda functions in an account that are <code>NotOptimized</code>, or <code>Optimized</code>.</p> </li> <li> <p>Amazon ECS services in an account that are <code>Underprovisioned</code>, <code>Overprovisioned</code>, or <code>Optimized</code>.</p> </li> <li> <p>Commercial software licenses in an account that are <code>InsufficientMetrics</code>, <code>NotOptimized</code> or <code>Optimized</code>.</p> </li> <li> <p>Amazon Aurora and Amazon RDS databases in an account that are <code>Underprovisioned</code>, <code>Overprovisioned</code>, <code>Optimized</code>, or <code>NotOptimized</code>.</p> </li> </ul>"
    },
    "PutRecommendationPreferences":{
      "name":"PutRecommendationPreferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRecommendationPreferencesRequest"},
      "output":{"shape":"PutRecommendationPreferencesResponse"},
      "errors":[
        {"shape":"OptInRequiredException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new recommendation preference or updates an existing recommendation preference, such as enhanced infrastructure metrics.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/enhanced-infrastructure-metrics.html\">Activating enhanced infrastructure metrics</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "UpdateEnrollmentStatus":{
      "name":"UpdateEnrollmentStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEnrollmentStatusRequest"},
      "output":{"shape":"UpdateEnrollmentStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingAuthenticationToken"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the enrollment (opt in and opt out) status of an account to the Compute Optimizer service.</p> <p>If the account is a management account of an organization, this action can also be used to enroll member accounts of the organization.</p> <p>You must have the appropriate permissions to opt in to Compute Optimizer, to view its recommendations, and to opt out. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/security-iam.html\">Controlling access with Amazon Web Services Identity and Access Management</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>When you opt in, Compute Optimizer automatically creates a service-linked role in your account to access its data. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/using-service-linked-roles.html\">Using Service-Linked Roles for Compute Optimizer</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "exception":true,
      "synthetic":true
    },
    "AccountEnrollmentStatus":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The account enrollment status.</p>"
        },
        "statusReason":{
          "shape":"StatusReason",
          "documentation":"<p>The reason for the account enrollment status.</p> <p>For example, an account might show a status of <code>Pending</code> because member accounts of an organization require more time to be enrolled in the service.</p>"
        },
        "lastUpdatedTimestamp":{
          "shape":"LastUpdatedTimestamp",
          "documentation":"<p>The Unix epoch timestamp, in seconds, of when the account enrollment status was last updated.</p>"
        }
      },
      "documentation":"<p>Describes the enrollment status of an organization's member accounts in Compute Optimizer.</p>"
    },
    "AccountEnrollmentStatuses":{
      "type":"list",
      "member":{"shape":"AccountEnrollmentStatus"}
    },
    "AccountId":{"type":"string"},
    "AccountIds":{
      "type":"list",
      "member":{"shape":"AccountId"}
    },
    "AllocatedStorage":{"type":"integer"},
    "AllocationStrategy":{
      "type":"string",
      "enum":[
        "Prioritized",
        "LowestPrice"
      ]
    },
    "AsgType":{
      "type":"string",
      "enum":[
        "SingleInstanceType",
        "MixedInstanceTypes"
      ]
    },
    "AutoScalingConfiguration":{
      "type":"string",
      "enum":[
        "TargetTrackingScalingCpu",
        "TargetTrackingScalingMemory"
      ]
    },
    "AutoScalingGroupArn":{"type":"string"},
    "AutoScalingGroupArns":{
      "type":"list",
      "member":{"shape":"AutoScalingGroupArn"}
    },
    "AutoScalingGroupConfiguration":{
      "type":"structure",
      "members":{
        "desiredCapacity":{
          "shape":"DesiredCapacity",
          "documentation":"<p>The desired capacity, or number of instances, for the EC2 Auto Scaling group.</p>"
        },
        "minSize":{
          "shape":"MinSize",
          "documentation":"<p>The minimum size, or minimum number of instances, for the EC2 Auto Scaling group.</p>"
        },
        "maxSize":{
          "shape":"MaxSize",
          "documentation":"<p>The maximum size, or maximum number of instances, for the EC2 Auto Scaling group.</p>"
        },
        "instanceType":{
          "shape":"NullableInstanceType",
          "documentation":"<p>The instance type for the EC2 Auto Scaling group.</p>"
        },
        "allocationStrategy":{
          "shape":"AllocationStrategy",
          "documentation":"<p> Describes the allocation strategy that the EC2 Auto Scaling group uses. This field is only available for EC2 Auto Scaling groups with mixed instance types. </p>"
        },
        "estimatedInstanceHourReductionPercentage":{
          "shape":"NullableEstimatedInstanceHourReductionPercentage",
          "documentation":"<p> Describes the projected percentage reduction in instance hours after adopting the recommended configuration. This field is only available for EC2 Auto Scaling groups with scaling policies. </p>"
        },
        "type":{
          "shape":"AsgType",
          "documentation":"<p> Describes whether the EC2 Auto Scaling group has a single instance type or a mixed instance type configuration. </p>"
        },
        "mixedInstanceTypes":{
          "shape":"MixedInstanceTypes",
          "documentation":"<p> List the instance types within an EC2 Auto Scaling group that has mixed instance types. </p>"
        }
      },
      "documentation":"<p>Describes the configuration of an EC2 Auto Scaling group.</p>"
    },
    "AutoScalingGroupEstimatedMonthlySavings":{
      "type":"structure",
      "members":{
        "currency":{
          "shape":"Currency",
          "documentation":"<p> The currency of the estimated monthly savings. </p>"
        },
        "value":{
          "shape":"Value",
          "documentation":"<p> The value of the estimated monthly savings. </p>"
        }
      },
      "documentation":"<p> An object that describes the estimated monthly savings possible by adopting Compute Optimizer’s Auto Scaling group recommendations. This is based on the Savings Plans and Reserved Instances discounts. </p>"
    },
    "AutoScalingGroupName":{"type":"string"},
    "AutoScalingGroupRecommendation":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the Auto Scaling group.</p>"
        },
        "autoScalingGroupArn":{
          "shape":"AutoScalingGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
        },
        "autoScalingGroupName":{
          "shape":"AutoScalingGroupName",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "finding":{
          "shape":"Finding",
          "documentation":"<p>The finding classification of the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>—An Auto Scaling group is considered not optimized when Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>—An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul>"
        },
        "utilizationMetrics":{
          "shape":"UtilizationMetrics",
          "documentation":"<p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>"
        },
        "lookBackPeriodInDays":{
          "shape":"LookBackPeriodInDays",
          "documentation":"<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>"
        },
        "currentConfiguration":{
          "shape":"AutoScalingGroupConfiguration",
          "documentation":"<p>An array of objects that describe the current configuration of the Auto Scaling group.</p>"
        },
        "currentInstanceGpuInfo":{
          "shape":"GpuInfo",
          "documentation":"<p> Describes the GPU accelerator settings for the current instance type of the Auto Scaling group. </p>"
        },
        "recommendationOptions":{
          "shape":"AutoScalingGroupRecommendationOptions",
          "documentation":"<p>An array of objects that describe the recommendation options for the Auto Scaling group.</p>"
        },
        "lastRefreshTimestamp":{
          "shape":"LastRefreshTimestamp",
          "documentation":"<p>The timestamp of when the Auto Scaling group recommendation was last generated.</p>"
        },
        "currentPerformanceRisk":{
          "shape":"CurrentPerformanceRisk",
          "documentation":"<p>The risk of the current Auto Scaling group not meeting the performance needs of its workloads. The higher the risk, the more likely the current Auto Scaling group configuration has insufficient capacity and cannot meet workload requirements.</p>"
        },
        "effectiveRecommendationPreferences":{
          "shape":"EffectiveRecommendationPreferences",
          "documentation":"<p>An object that describes the effective recommendation preferences for the Auto Scaling group.</p>"
        },
        "inferredWorkloadTypes":{
          "shape":"InferredWorkloadTypes",
          "documentation":"<p>The applications that might be running on the instances in the Auto Scaling group as inferred by Compute Optimizer.</p> <p>Compute Optimizer can infer if one of the following applications might be running on the instances:</p> <ul> <li> <p> <code>AmazonEmr</code> - Infers that Amazon EMR might be running on the instances.</p> </li> <li> <p> <code>ApacheCassandra</code> - Infers that Apache Cassandra might be running on the instances.</p> </li> <li> <p> <code>ApacheHadoop</code> - Infers that Apache Hadoop might be running on the instances.</p> </li> <li> <p> <code>Memcached</code> - Infers that Memcached might be running on the instances.</p> </li> <li> <p> <code>NGINX</code> - Infers that NGINX might be running on the instances.</p> </li> <li> <p> <code>PostgreSql</code> - Infers that PostgreSQL might be running on the instances.</p> </li> <li> <p> <code>Redis</code> - Infers that Redis might be running on the instances.</p> </li> <li> <p> <code>Kafka</code> - Infers that Kafka might be running on the instance.</p> </li> <li> <p> <code>SQLServer</code> - Infers that SQLServer might be running on the instance.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Describes an Auto Scaling group recommendation.</p>"
    },
    "AutoScalingGroupRecommendationOption":{
      "type":"structure",
      "members":{
        "configuration":{
          "shape":"AutoScalingGroupConfiguration",
          "documentation":"<p>An array of objects that describe an Auto Scaling group configuration.</p>"
        },
        "instanceGpuInfo":{
          "shape":"GpuInfo",
          "documentation":"<p> Describes the GPU accelerator settings for the recommended instance type of the Auto Scaling group. </p>"
        },
        "projectedUtilizationMetrics":{
          "shape":"ProjectedUtilizationMetrics",
          "documentation":"<p>An array of objects that describe the projected utilization metrics of the Auto Scaling group recommendation option.</p> <note> <p>The <code>Cpu</code> and <code>Memory</code> metrics are the only projected utilization metrics returned. Additionally, the <code>Memory</code> metric is returned only for resources that have the unified CloudWatch agent installed on them. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/metrics.html#cw-agent\">Enabling Memory Utilization with the CloudWatch Agent</a>.</p> </note>"
        },
        "performanceRisk":{
          "shape":"PerformanceRisk",
          "documentation":"<p>The performance risk of the Auto Scaling group configuration recommendation.</p> <p>Performance risk indicates the likelihood of the recommended instance type not meeting the resource needs of your workload. Compute Optimizer calculates an individual performance risk score for each specification of the recommended instance, including CPU, memory, EBS throughput, EBS IOPS, disk throughput, disk IOPS, network throughput, and network PPS. The performance risk of the recommended instance is calculated as the maximum performance risk score across the analyzed resource specifications.</p> <p>The value ranges from <code>0</code> - <code>4</code>, with <code>0</code> meaning that the recommended resource is predicted to always provide enough hardware capability. The higher the performance risk is, the more likely you should validate whether the recommendation will meet the performance requirements of your workload before migrating your resource.</p>"
        },
        "rank":{
          "shape":"Rank",
          "documentation":"<p>The rank of the Auto Scaling group recommendation option.</p> <p>The top recommendation option is ranked as <code>1</code>.</p>"
        },
        "savingsOpportunity":{
          "shape":"SavingsOpportunity",
          "documentation":"<p>An object that describes the savings opportunity for the Auto Scaling group recommendation option. Savings opportunity includes the estimated monthly savings amount and percentage.</p>"
        },
        "savingsOpportunityAfterDiscounts":{
          "shape":"AutoScalingGroupSavingsOpportunityAfterDiscounts",
          "documentation":"<p> An object that describes the savings opportunity for the Auto Scaling group recommendation option that includes Savings Plans and Reserved Instances discounts. Savings opportunity includes the estimated monthly savings and percentage. </p>"
        },
        "migrationEffort":{
          "shape":"MigrationEffort",
          "documentation":"<p>The level of effort required to migrate from the current instance type to the recommended instance type.</p> <p>For example, the migration effort is <code>Low</code> if Amazon EMR is the inferred workload type and an Amazon Web Services Graviton instance type is recommended. The migration effort is <code>Medium</code> if a workload type couldn't be inferred but an Amazon Web Services Graviton instance type is recommended. The migration effort is <code>VeryLow</code> if both the current and recommended instance types are of the same CPU architecture.</p>"
        }
      },
      "documentation":"<p>Describes a recommendation option for an Auto Scaling group.</p>"
    },
    "AutoScalingGroupRecommendationOptions":{
      "type":"list",
      "member":{"shape":"AutoScalingGroupRecommendationOption"}
    },
    "AutoScalingGroupRecommendations":{
      "type":"list",
      "member":{"shape":"AutoScalingGroupRecommendation"}
    },
    "AutoScalingGroupSavingsOpportunityAfterDiscounts":{
      "type":"structure",
      "members":{
        "savingsOpportunityPercentage":{
          "shape":"SavingsOpportunityPercentage",
          "documentation":"<p> The estimated monthly savings possible as a percentage of monthly cost after applying the Savings Plans and Reserved Instances discounts. This saving can be achieved by adopting Compute Optimizer’s Auto Scaling group recommendations. </p>"
        },
        "estimatedMonthlySavings":{
          "shape":"AutoScalingGroupEstimatedMonthlySavings",
          "documentation":"<p> An object that describes the estimated monthly savings possible by adopting Compute Optimizer’s Auto Scaling group recommendations. This is based on the Savings Plans and Reserved Instances pricing discounts. </p>"
        }
      },
      "documentation":"<p> Describes the savings opportunity for Auto Scaling group recommendations after applying the Savings Plans and Reserved Instances discounts. </p> <p>Savings opportunity represents the estimated monthly savings you can achieve by implementing Compute Optimizer recommendations.</p>"
    },
    "Code":{"type":"string"},
    "ContainerConfiguration":{
      "type":"structure",
      "members":{
        "containerName":{
          "shape":"ContainerName",
          "documentation":"<p> The name of the container. </p>"
        },
        "memorySizeConfiguration":{
          "shape":"MemorySizeConfiguration",
          "documentation":"<p> The memory size configurations for the container. </p>"
        },
        "cpu":{
          "shape":"NullableCpu",
          "documentation":"<p> The number of CPU units reserved for the container. </p>"
        }
      },
      "documentation":"<p> Describes the container configurations within the tasks of your Amazon ECS service. </p>"
    },
    "ContainerConfigurations":{
      "type":"list",
      "member":{"shape":"ContainerConfiguration"}
    },
    "ContainerName":{"type":"string"},
    "ContainerRecommendation":{
      "type":"structure",
      "members":{
        "containerName":{
          "shape":"ContainerName",
          "documentation":"<p> The name of the container. </p>"
        },
        "memorySizeConfiguration":{
          "shape":"MemorySizeConfiguration",
          "documentation":"<p> The recommended memory size configurations for the container. </p>"
        },
        "cpu":{
          "shape":"NullableCpu",
          "documentation":"<p> The recommended number of CPU units reserved for the container. </p>"
        }
      },
      "documentation":"<p> The CPU and memory recommendations for a container within the tasks of your Amazon ECS service. </p>"
    },
    "ContainerRecommendations":{
      "type":"list",
      "member":{"shape":"ContainerRecommendation"}
    },
    "CpuSize":{"type":"integer"},
    "CpuVendorArchitecture":{
      "type":"string",
      "enum":[
        "AWS_ARM64",
        "CURRENT"
      ]
    },
    "CpuVendorArchitectures":{
      "type":"list",
      "member":{"shape":"CpuVendorArchitecture"}
    },
    "CreationTimestamp":{"type":"timestamp"},
    "Currency":{
      "type":"string",
      "enum":[
        "USD",
        "CNY"
      ]
    },
    "CurrentDBInstanceClass":{"type":"string"},
    "CurrentInstanceType":{"type":"string"},
    "CurrentPerformanceRisk":{
      "type":"string",
      "enum":[
        "VeryLow",
        "Low",
        "Medium",
        "High"
      ]
    },
    "CurrentPerformanceRiskRatings":{
      "type":"structure",
      "members":{
        "high":{
          "shape":"High",
          "documentation":"<p>A count of the applicable resource types with a high performance risk rating.</p>"
        },
        "medium":{
          "shape":"Medium",
          "documentation":"<p>A count of the applicable resource types with a medium performance risk rating.</p>"
        },
        "low":{
          "shape":"Low",
          "documentation":"<p>A count of the applicable resource types with a low performance risk rating.</p>"
        },
        "veryLow":{
          "shape":"VeryLow",
          "documentation":"<p>A count of the applicable resource types with a very low performance risk rating.</p>"
        }
      },
      "documentation":"<p>Describes the performance risk ratings for a given resource type.</p> <p>Resources with a <code>high</code> or <code>medium</code> rating are at risk of not meeting the performance needs of their workloads, while resources with a <code>low</code> rating are performing well in their workloads.</p>"
    },
    "CustomizableMetricHeadroom":{
      "type":"string",
      "enum":[
        "PERCENT_30",
        "PERCENT_20",
        "PERCENT_10",
        "PERCENT_0"
      ]
    },
    "CustomizableMetricName":{
      "type":"string",
      "enum":[
        "CpuUtilization",
        "MemoryUtilization"
      ]
    },
    "CustomizableMetricParameters":{
      "type":"structure",
      "members":{
        "threshold":{
          "shape":"CustomizableMetricThreshold",
          "documentation":"<p> The threshold value used for the specified metric parameter. </p> <note> <p>You can only specify the threshold value for CPU utilization.</p> </note>"
        },
        "headroom":{
          "shape":"CustomizableMetricHeadroom",
          "documentation":"<p> The headroom value in percentage used for the specified metric parameter. </p> <p>The following lists the valid values for CPU and memory utilization.</p> <ul> <li> <p>CPU utilization: <code>PERCENT_30 | PERCENT_20 | PERCENT_0</code> </p> </li> <li> <p>Memory utilization: <code>PERCENT_30 | PERCENT_20 | PERCENT_10</code> </p> </li> </ul>"
        }
      },
      "documentation":"<p> Defines the various metric parameters that can be customized, such as threshold and headroom. </p>"
    },
    "CustomizableMetricThreshold":{
      "type":"string",
      "enum":[
        "P90",
        "P95",
        "P99_5"
      ]
    },
    "DBClusterIdentifier":{"type":"string"},
    "DBInstanceClass":{"type":"string"},
    "DBStorageConfiguration":{
      "type":"structure",
      "members":{
        "storageType":{
          "shape":"StorageType",
          "documentation":"<p> The type of DB storage. </p>"
        },
        "allocatedStorage":{
          "shape":"AllocatedStorage",
          "documentation":"<p> The size of the DB storage in gigabytes (GB). </p>"
        },
        "iops":{
          "shape":"NullableIOPS",
          "documentation":"<p> The provisioned IOPs of the DB storage. </p>"
        },
        "maxAllocatedStorage":{
          "shape":"NullableMaxAllocatedStorage",
          "documentation":"<p> The maximum limit in gibibytes (GiB) to which Amazon RDS can automatically scale the storage of the DB instance. </p>"
        },
        "storageThroughput":{
          "shape":"NullableStorageThroughput",
          "documentation":"<p> The storage throughput of the DB storage. </p>"
        }
      },
      "documentation":"<p> The configuration of the recommended RDS storage. </p>"
    },
    "DeleteRecommendationPreferencesRequest":{
      "type":"structure",
      "required":[
        "resourceType",
        "recommendationPreferenceNames"
      ],
      "members":{
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The target resource type of the recommendation preference to delete.</p> <p>The <code>Ec2Instance</code> option encompasses standalone instances and instances that are part of Auto Scaling groups. The <code>AutoScalingGroup</code> option encompasses only instances that are part of an Auto Scaling group.</p>"
        },
        "scope":{
          "shape":"Scope",
          "documentation":"<p>An object that describes the scope of the recommendation preference to delete.</p> <p>You can delete recommendation preferences that are created at the organization level (for management accounts of an organization only), account level, and resource level. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/enhanced-infrastructure-metrics.html\">Activating enhanced infrastructure metrics</a> in the <i>Compute Optimizer User Guide</i>.</p>"
        },
        "recommendationPreferenceNames":{
          "shape":"RecommendationPreferenceNames",
          "documentation":"<p>The name of the recommendation preference to delete.</p>"
        }
      }
    },
    "DeleteRecommendationPreferencesResponse":{
      "type":"structure",
      "members":{}
    },
    "DescribeRecommendationExportJobsRequest":{
      "type":"structure",
      "members":{
        "jobIds":{
          "shape":"JobIds",
          "documentation":"<p>The identification numbers of the export jobs to return.</p> <p>An export job ID is returned when you create an export using the <a>ExportAutoScalingGroupRecommendations</a> or <a>ExportEC2InstanceRecommendations</a> actions.</p> <p>All export jobs created in the last seven days are returned if this parameter is omitted.</p>"
        },
        "filters":{
          "shape":"JobFilters",
          "documentation":"<p>An array of objects to specify a filter that returns a more specific list of export jobs.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to advance to the next page of export jobs.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of export jobs to return with a single request.</p> <p>To retrieve the remaining results, make another request with the returned <code>nextToken</code> value.</p>"
        }
      }
    },
    "DescribeRecommendationExportJobsResponse":{
      "type":"structure",
      "members":{
        "recommendationExportJobs":{
          "shape":"RecommendationExportJobs",
          "documentation":"<p>An array of objects that describe recommendation export jobs.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use to advance to the next page of export jobs.</p> <p>This value is null when there are no more pages of export jobs to return.</p>"
        }
      }
    },
    "DesiredCapacity":{"type":"integer"},
    "DestinationBucket":{"type":"string"},
    "DestinationKey":{"type":"string"},
    "DestinationKeyPrefix":{"type":"string"},
    "Dimension":{
      "type":"string",
      "enum":[
        "SavingsValue",
        "SavingsValueAfterDiscount"
      ]
    },
    "EBSEffectiveRecommendationPreferences":{
      "type":"structure",
      "members":{
        "savingsEstimationMode":{
          "shape":"EBSSavingsEstimationMode",
          "documentation":"<p> Describes the savings estimation mode preference applied for calculating savings opportunity for Amazon EBS volumes. </p>"
        }
      },
      "documentation":"<p> Describes the effective recommendation preferences for Amazon EBS volumes. </p>"
    },
    "EBSEstimatedMonthlySavings":{
      "type":"structure",
      "members":{
        "currency":{
          "shape":"Currency",
          "documentation":"<p> The currency of the estimated monthly savings. </p>"
        },
        "value":{
          "shape":"Value",
          "documentation":"<p> The value of the estimated monthly savings. </p>"
        }
      },
      "documentation":"<p> An object that describes the estimated monthly savings possible by adopting Compute Optimizer’s Amazon EBS volume recommendations. This includes any applicable discounts. </p>"
    },
    "EBSFilter":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"EBSFilterName",
          "documentation":"<p>The name of the filter.</p> <p>Specify <code>Finding</code> to return recommendations with a specific finding classification (for example, <code>NotOptimized</code>).</p> <p>You can filter your Amazon EBS volume recommendations by <code>tag:key</code> and <code>tag-key</code> tags.</p> <p>A <code>tag:key</code> is a key and value combination of a tag assigned to your Amazon EBS volume recommendations. Use the tag key in the filter name and the tag value as the filter value. For example, to find all Amazon EBS volume recommendations that have a tag with the key of <code>Owner</code> and the value of <code>TeamA</code>, specify <code>tag:Owner</code> for the filter name and <code>TeamA</code> for the filter value.</p> <p>A <code>tag-key</code> is the key of a tag assigned to your Amazon EBS volume recommendations. Use this filter to find all of your Amazon EBS volume recommendations that have a tag with a specific key. This doesn’t consider the tag value. For example, you can find your Amazon EBS volume recommendations with a tag key value of <code>Owner</code> or without any tag keys assigned.</p>"
        },
        "values":{
          "shape":"FilterValues",
          "documentation":"<p>The value of the filter.</p> <p>The valid values are <code>Optimized</code>, or <code>NotOptimized</code>.</p>"
        }
      },
      "documentation":"<p>Describes a filter that returns a more specific list of Amazon Elastic Block Store (Amazon EBS) volume recommendations. Use this filter with the <a>GetEBSVolumeRecommendations</a> action.</p> <p>You can use <code>LambdaFunctionRecommendationFilter</code> with the <a>GetLambdaFunctionRecommendations</a> action, <code>JobFilter</code> with the <a>DescribeRecommendationExportJobs</a> action, and <code>Filter</code> with the <a>GetAutoScalingGroupRecommendations</a> and <a>GetEC2InstanceRecommendations</a> actions.</p>"
    },
    "EBSFilterName":{
      "type":"string",
      "enum":["Finding"]
    },
    "EBSFilters":{
      "type":"list",
      "member":{"shape":"EBSFilter"}
    },
    "EBSFinding":{
      "type":"string",
      "enum":[
        "Optimized",
        "NotOptimized"
      ]
    },
    "EBSMetricName":{
      "type":"string",
      "enum":[
        "VolumeReadOpsPerSecond",
        "VolumeWriteOpsPerSecond",
        "VolumeReadBytesPerSecond",
        "VolumeWriteBytesPerSecond"
      ]
    },
    "EBSSavingsEstimationMode":{
      "type":"structure",
      "members":{
        "source":{
          "shape":"EBSSavingsEstimationModeSource",
          "documentation":"<p> Describes the source for calculating the savings opportunity for Amazon EBS volumes. </p>"
        }
      },
      "documentation":"<p> Describes the savings estimation mode used for calculating savings opportunity for Amazon EBS volumes. </p>"
    },
    "EBSSavingsEstimationModeSource":{
      "type":"string",
      "enum":[
        "PublicPricing",
        "CostExplorerRightsizing",
        "CostOptimizationHub"
      ]
    },
    "EBSSavingsOpportunityAfterDiscounts":{
      "type":"structure",
      "members":{
        "savingsOpportunityPercentage":{
          "shape":"SavingsOpportunityPercentage",
          "documentation":"<p> The estimated monthly savings possible as a percentage of monthly cost after applying the specific discounts. This saving can be achieved by adopting Compute Optimizer’s Amazon EBS volume recommendations. </p>"
        },
        "estimatedMonthlySavings":{
          "shape":"EBSEstimatedMonthlySavings",
          "documentation":"<p> The estimated monthly savings possible as a percentage of monthly cost by adopting Compute Optimizer’s Amazon EBS volume recommendations. This saving includes any applicable discounts. </p>"
        }
      },
      "documentation":"<p> Describes the savings opportunity for Amazon EBS volume recommendations after applying specific discounts. </p>"
    },
    "EBSUtilizationMetric":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"EBSMetricName",
          "documentation":"<p>The name of the utilization metric.</p> <p>The following utilization metrics are available:</p> <ul> <li> <p> <code>VolumeReadOpsPerSecond</code> - The completed read operations per second from the volume in a specified period of time.</p> <p>Unit: Count</p> </li> <li> <p> <code>VolumeWriteOpsPerSecond</code> - The completed write operations per second to the volume in a specified period of time.</p> <p>Unit: Count</p> </li> <li> <p> <code>VolumeReadBytesPerSecond</code> - The bytes read per second from the volume in a specified period of time.</p> <p>Unit: Bytes</p> </li> <li> <p> <code>VolumeWriteBytesPerSecond</code> - The bytes written to the volume in a specified period of time.</p> <p>Unit: Bytes</p> </li> </ul>"
        },
        "statistic":{
          "shape":"MetricStatistic",
          "documentation":"<p>The statistic of the utilization metric.</p> <p>The Compute Optimizer API, Command Line Interface (CLI), and SDKs return utilization metrics using only the <code>Maximum</code> statistic, which is the highest value observed during the specified period.</p> <p>The Compute Optimizer console displays graphs for some utilization metrics using the <code>Average</code> statistic, which is the value of <code>Sum</code> / <code>SampleCount</code> during the specified period. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/viewing-recommendations.html\">Viewing resource recommendations</a> in the <i>Compute Optimizer User Guide</i>. You can also get averaged utilization metric data for your resources using Amazon CloudWatch. For more information, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/WhatIsCloudWatch.html\">Amazon CloudWatch User Guide</a>.</p>"
        },
        "value":{
          "shape":"MetricValue",
          "documentation":"<p>The value of the utilization metric.</p>"
        }
      },
      "documentation":"<p>Describes a utilization metric of an Amazon Elastic Block Store (Amazon EBS) volume.</p> <p>Compare the utilization metric data of your resource against its projected utilization metric data to determine the performance difference between your current resource and the recommended option.</p>"
    },
    "EBSUtilizationMetrics":{
      "type":"list",
      "member":{"shape":"EBSUtilizationMetric"}
    },
    "ECSEffectiveRecommendationPreferences":{
      "type":"structure",
      "members":{
        "savingsEstimationMode":{
          "shape":"ECSSavingsEstimationMode",
          "documentation":"<p> Describes the savings estimation mode preference applied for calculating savings opportunity for Amazon ECS services. </p>"
        }
      },
      "documentation":"<p> Describes the effective recommendation preferences for Amazon ECS services. </p>"
    },
    "ECSEstimatedMonthlySavings":{
      "type":"structure",
      "members":{
        "currency":{
          "shape":"Currency",
          "documentation":"<p> The currency of the estimated monthly savings. </p>"
        },
        "value":{
          "shape":"Value",
          "documentation":"<p> The value of the estimated monthly savings for Amazon ECS services. </p>"
        }
      },
      "documentation":"<p> Describes the estimated monthly savings possible for Amazon ECS services by adopting Compute Optimizer recommendations. This is based on Amazon ECS service pricing after applying Savings Plans discounts. </p>"
    },
    "ECSSavingsEstimationMode":{
      "type":"structure",
      "members":{
        "source":{
          "shape":"ECSSavingsEstimationModeSource",
          "documentation":"<p> Describes the source for calculating the savings opportunity for Amazon ECS services. </p>"
        }
      },
      "documentation":"<p> Describes the savings estimation mode used for calculating savings opportunity for Amazon ECS services. </p>"
    },
    "ECSSavingsEstimationModeSource":{
      "type":"string",
      "enum":[
        "PublicPricing",
        "CostExplorerRightsizing",
        "CostOptimizationHub"
      ]
    },
    "ECSSavingsOpportunityAfterDiscounts":{
      "type":"structure",
      "members":{
        "savingsOpportunityPercentage":{
          "shape":"SavingsOpportunityPercentage",
          "documentation":"<p> The estimated monthly savings possible as a percentage of monthly cost by adopting Compute Optimizer’s Amazon ECS service recommendations. This includes any applicable Savings Plans discounts. </p>"
        },
        "estimatedMonthlySavings":{
          "shape":"ECSEstimatedMonthlySavings",
          "documentation":"<p> The estimated monthly savings possible by adopting Compute Optimizer’s Amazon ECS service recommendations. This includes any applicable Savings Plans discounts. </p>"
        }
      },
      "documentation":"<p> Describes the savings opportunity for Amazon ECS service recommendations after applying Savings Plans discounts. </p> <p>Savings opportunity represents the estimated monthly savings after applying Savings Plans discounts. You can achieve this by implementing a given Compute Optimizer recommendation.</p>"
    },
    "ECSServiceLaunchType":{
      "type":"string",
      "enum":[
        "EC2",
        "Fargate"
      ]
    },
    "ECSServiceMetricName":{
      "type":"string",
      "enum":[
        "Cpu",
        "Memory"
      ]
    },
    "ECSServiceMetricStatistic":{
      "type":"string",
      "enum":[
        "Maximum",
        "Average"
      ]
    },
    "ECSServiceProjectedMetric":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ECSServiceMetricName",
          "documentation":"<p> The name of the projected metric. </p> <p>The following metrics are available:</p> <ul> <li> <p> <code>Cpu</code> — The percentage of allocated compute units that are currently in use on the service tasks.</p> </li> <li> <p> <code>Memory</code> — The percentage of memory that's currently in use on the service tasks.</p> </li> </ul>"
        },
        "timestamps":{
          "shape":"Timestamps",
          "documentation":"<p> The timestamps of the projected metric. </p>"
        },
        "upperBoundValues":{
          "shape":"MetricValues",
          "documentation":"<p> The upper bound values for the projected metric. </p>"
        },
        "lowerBoundValues":{
          "shape":"MetricValues",
          "documentation":"<p> The lower bound values for the projected metric. </p>"
        }
      },
      "documentation":"<p> Describes the projected metrics of an Amazon ECS service recommendation option. </p> <p>To determine the performance difference between your current Amazon ECS service and the recommended option, compare the metric data of your service against its projected metric data.</p>"
    },
    "ECSServiceProjectedMetrics":{
      "type":"list",
      "member":{"shape":"ECSServiceProjectedMetric"}
    },
    "ECSServiceProjectedUtilizationMetric":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ECSServiceMetricName",
          "documentation":"<p> The name of the projected utilization metric. </p> <p>The following utilization metrics are available:</p> <ul> <li> <p> <code>Cpu</code> — The percentage of allocated compute units that are currently in use on the service tasks.</p> </li> <li> <p> <code>Memory</code> — The percentage of memory that's currently in use on the service tasks.</p> </li> </ul>"
        },
        "statistic":{
          "shape":"ECSServiceMetricStatistic",
          "documentation":"<p>The statistic of the projected utilization metric.</p> <p>The Compute Optimizer API, Command Line Interface (CLI), and SDKs return utilization metrics using only the <code>Maximum</code> statistic, which is the highest value observed during the specified period.</p> <p>The Compute Optimizer console displays graphs for some utilization metrics using the <code>Average</code> statistic, which is the value of <code>Sum</code> / <code>SampleCount</code> during the specified period. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/viewing-recommendations.html\">Viewing resource recommendations</a> in the <i>Compute Optimizer User Guide</i>. You can also get averaged utilization metric data for your resources using Amazon CloudWatch. For more information, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/WhatIsCloudWatch.html\">Amazon CloudWatch User Guide</a>.</p>"
        },
        "lowerBoundValue":{
          "shape":"LowerBoundValue",
          "documentation":"<p> The lower bound values for the projected utilization metrics. </p>"
        },
        "upperBoundValue":{
          "shape":"UpperBoundValue",
          "documentation":"<p> The upper bound values for the projected utilization metrics. </p>"
        }
      },
      "documentation":"<p> Describes the projected utilization metrics of an Amazon ECS service recommendation option. </p> <p>To determine the performance difference between your current Amazon ECS service and the recommended option, compare the utilization metric data of your service against its projected utilization metric data.</p>"
    },
    "ECSServiceProjectedUtilizationMetrics":{
      "type":"list",
      "member":{"shape":"ECSServiceProjectedUtilizationMetric"}
    },
    "ECSServiceRecommendation":{
      "type":"structure",
      "members":{
        "serviceArn":{
          "shape":"ServiceArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the current Amazon ECS service. </p> <p> The following is the format of the ARN: </p> <p> <code>arn:aws:ecs:region:aws_account_id:service/cluster-name/service-name</code> </p>"
        },
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p> The Amazon Web Services account ID of the Amazon ECS service. </p>"
        },
        "currentServiceConfiguration":{
          "shape":"ServiceConfiguration",
          "documentation":"<p> The configuration of the current Amazon ECS service. </p>"
        },
        "utilizationMetrics":{
          "shape":"ECSServiceUtilizationMetrics",
          "documentation":"<p> An array of objects that describe the utilization metrics of the Amazon ECS service. </p>"
        },
        "lookbackPeriodInDays":{
          "shape":"LookBackPeriodInDays",
          "documentation":"<p> The number of days the Amazon ECS service utilization metrics were analyzed. </p>"
        },
        "launchType":{
          "shape":"ECSServiceLaunchType",
          "documentation":"<p> The launch type the Amazon ECS service is using. </p> <note> <p>Compute Optimizer only supports the Fargate launch type.</p> </note>"
        },
        "lastRefreshTimestamp":{
          "shape":"LastRefreshTimestamp",
          "documentation":"<p> The timestamp of when the Amazon ECS service recommendation was last generated. </p>"
        },
        "finding":{
          "shape":"ECSServiceRecommendationFinding",
          "documentation":"<p> The finding classification of an Amazon ECS service. </p> <p>Findings for Amazon ECS services include:</p> <ul> <li> <p> <b> <code>Underprovisioned</code> </b> — When Compute Optimizer detects that there’s not enough memory or CPU, an Amazon ECS service is considered under-provisioned. An under-provisioned service might result in poor application performance.</p> </li> <li> <p> <b> <code>Overprovisioned</code> </b> — When Compute Optimizer detects that there’s excessive memory or CPU, an Amazon ECS service is considered over-provisioned. An over-provisioned service might result in additional infrastructure costs. </p> </li> <li> <p> <b> <code>Optimized</code> </b> — When both the CPU and memory of your Amazon ECS service meet the performance requirements of your workload, the service is considered optimized.</p> </li> </ul>"
        },
        "findingReasonCodes":{
          "shape":"ECSServiceRecommendationFindingReasonCodes",
          "documentation":"<p> The reason for the finding classification of an Amazon ECS service. </p> <p>Finding reason codes for Amazon ECS services include:</p> <ul> <li> <p> <b> <code>CPUUnderprovisioned</code> </b> — The service CPU configuration can be sized up to enhance the performance of your workload. This is identified by analyzing the <code>CPUUtilization</code> metric of the current service during the look-back period.</p> </li> <li> <p> <b> <code>CPUOverprovisioned</code> </b> — The service CPU configuration can be sized down while still meeting the performance requirements of your workload. This is identified by analyzing the <code>CPUUtilization</code> metric of the current service during the look-back period. </p> </li> <li> <p> <b> <code>MemoryUnderprovisioned</code> </b> — The service memory configuration can be sized up to enhance the performance of your workload. This is identified by analyzing the <code>MemoryUtilization</code> metric of the current service during the look-back period.</p> </li> <li> <p> <b> <code>MemoryOverprovisioned</code> </b> — The service memory configuration can be sized down while still meeting the performance requirements of your workload. This is identified by analyzing the <code>MemoryUtilization</code> metric of the current service during the look-back period.</p> </li> </ul>"
        },
        "serviceRecommendationOptions":{
          "shape":"ECSServiceRecommendationOptions",
          "documentation":"<p> An array of objects that describe the recommendation options for the Amazon ECS service. </p>"
        },
        "currentPerformanceRisk":{
          "shape":"CurrentPerformanceRisk",
          "documentation":"<p> The risk of the current Amazon ECS service not meeting the performance needs of its workloads. The higher the risk, the more likely the current service can't meet the performance requirements of its workload. </p>"
        },
        "effectiveRecommendationPreferences":{
          "shape":"ECSEffectiveRecommendationPreferences",
          "documentation":"<p> Describes the effective recommendation preferences for Amazon ECS services. </p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p> A list of tags assigned to your Amazon ECS service recommendations. </p>"
        }
      },
      "documentation":"<p> Describes an Amazon ECS service recommendation. </p>"
    },
    "ECSServiceRecommendationFilter":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ECSServiceRecommendationFilterName",
          "documentation":"<p> The name of the filter. </p> <p> Specify <code>Finding</code> to return recommendations with a specific finding classification. </p> <p> Specify <code>FindingReasonCode</code> to return recommendations with a specific finding reason code. </p> <p>You can filter your Amazon ECS service recommendations by <code>tag:key</code> and <code>tag-key</code> tags.</p> <p>A <code>tag:key</code> is a key and value combination of a tag assigned to your Amazon ECS service recommendations. Use the tag key in the filter name and the tag value as the filter value. For example, to find all Amazon ECS service recommendations that have a tag with the key of <code>Owner</code> and the value of <code>TeamA</code>, specify <code>tag:Owner</code> for the filter name and <code>TeamA</code> for the filter value.</p> <p>A <code>tag-key</code> is the key of a tag assigned to your Amazon ECS service recommendations. Use this filter to find all of your Amazon ECS service recommendations that have a tag with a specific key. This doesn’t consider the tag value. For example, you can find your Amazon ECS service recommendations with a tag key value of <code>Owner</code> or without any tag keys assigned.</p>"
        },
        "values":{
          "shape":"FilterValues",
          "documentation":"<p> The value of the filter. </p> <p>The valid values for this parameter are as follows:</p> <ul> <li> <p>If you specify the <code>name</code> parameter as <code>Finding</code>, specify <code>Optimized</code>, <code>Underprovisioned</code>, or <code>Overprovisioned</code>.</p> </li> <li> <p>If you specify the <code>name</code> parameter as <code>FindingReasonCode</code>, specify <code>CPUUnderprovisioned</code>, <code>CPUOverprovisioned</code>, <code>MemoryUnderprovisioned</code>, or <code>MemoryOverprovisioned</code>.</p> </li> </ul>"
        }
      },
      "documentation":"<p> Describes a filter that returns a more specific list of Amazon ECS service recommendations. Use this filter with the <a>GetECSServiceRecommendations</a> action. </p>"
    },
    "ECSServiceRecommendationFilterName":{
      "type":"string",
      "enum":[
        "Finding",
        "FindingReasonCode"
      ]
    },
    "ECSServiceRecommendationFilters":{
      "type":"list",
      "member":{"shape":"ECSServiceRecommendationFilter"}
    },
    "ECSServiceRecommendationFinding":{
      "type":"string",
      "enum":[
        "Optimized",
        "Underprovisioned",
        "Overprovisioned"
      ]
    },
    "ECSServiceRecommendationFindingReasonCode":{
      "type":"string",
      "enum":[
        "MemoryOverprovisioned",
        "MemoryUnderprovisioned",
        "CPUOverprovisioned",
        "CPUUnderprovisioned"
      ]
    },
    "ECSServiceRecommendationFindingReasonCodes":{
      "type":"list",
      "member":{"shape":"ECSServiceRecommendationFindingReasonCode"}
    },
    "ECSServiceRecommendationOption":{
      "type":"structure",
      "members":{
        "memory":{
          "shape":"NullableMemory",
          "documentation":"<p> The memory size of the Amazon ECS service recommendation option. </p>"
        },
        "cpu":{
          "shape":"NullableCpu",
          "documentation":"<p> The CPU size of the Amazon ECS service recommendation option. </p>"
        },
        "savingsOpportunity":{"shape":"SavingsOpportunity"},
        "savingsOpportunityAfterDiscounts":{
          "shape":"ECSSavingsOpportunityAfterDiscounts",
          "documentation":"<p> Describes the savings opportunity for Amazon ECS service recommendations or for the recommendation option. </p> <p>Savings opportunity represents the estimated monthly savings after applying Savings Plans discounts. You can achieve this by implementing a given Compute Optimizer recommendation.</p>"
        },
        "projectedUtilizationMetrics":{
          "shape":"ECSServiceProjectedUtilizationMetrics",
          "documentation":"<p> An array of objects that describe the projected utilization metrics of the Amazon ECS service recommendation option. </p>"
        },
        "containerRecommendations":{
          "shape":"ContainerRecommendations",
          "documentation":"<p> The CPU and memory size recommendations for the containers within the task of your Amazon ECS service. </p>"
        }
      },
      "documentation":"<p> Describes the recommendation options for an Amazon ECS service. </p>"
    },
    "ECSServiceRecommendationOptions":{
      "type":"list",
      "member":{"shape":"ECSServiceRecommendationOption"}
    },
    "ECSServiceRecommendations":{
      "type":"list",
      "member":{"shape":"ECSServiceRecommendation"}
    },
    "ECSServiceRecommendedOptionProjectedMetric":{
      "type":"structure",
      "members":{
        "recommendedCpuUnits":{
          "shape":"CpuSize",
          "documentation":"<p> The recommended CPU size for the Amazon ECS service. </p>"
        },
        "recommendedMemorySize":{
          "shape":"MemorySize",
          "documentation":"<p> The recommended memory size for the Amazon ECS service. </p>"
        },
        "projectedMetrics":{
          "shape":"ECSServiceProjectedMetrics",
          "documentation":"<p> An array of objects that describe the projected metric. </p>"
        }
      },
      "documentation":"<p> Describes the projected metrics of an Amazon ECS service recommendation option. </p> <p>To determine the performance difference between your current Amazon ECS service and the recommended option, compare the metric data of your service against its projected metric data.</p>"
    },
    "ECSServiceRecommendedOptionProjectedMetrics":{
      "type":"list",
      "member":{"shape":"ECSServiceRecommendedOptionProjectedMetric"}
    },
    "ECSServiceUtilizationMetric":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ECSServiceMetricName",
          "documentation":"<p> The name of the utilization metric. </p> <p>The following utilization metrics are available:</p> <ul> <li> <p> <code>Cpu</code> — The amount of CPU capacity that's used in the service.</p> </li> <li> <p> <code>Memory</code> — The amount of memory that's used in the service.</p> </li> </ul>"
        },
        "statistic":{
          "shape":"ECSServiceMetricStatistic",
          "documentation":"<p>The statistic of the utilization metric.</p> <p>The Compute Optimizer API, Command Line Interface (CLI), and SDKs return utilization metrics using only the <code>Maximum</code> statistic, which is the highest value observed during the specified period.</p> <p>The Compute Optimizer console displays graphs for some utilization metrics using the <code>Average</code> statistic, which is the value of <code>Sum</code> / <code>SampleCount</code> during the specified period. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/viewing-recommendations.html\">Viewing resource recommendations</a> in the <i>Compute Optimizer User Guide</i>. You can also get averaged utilization metric data for your resources using Amazon CloudWatch. For more information, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/WhatIsCloudWatch.html\">Amazon CloudWatch User Guide</a>.</p>"
        },
        "value":{
          "shape":"MetricValue",
          "documentation":"<p> The value of the utilization metric. </p>"
        }
      },
      "documentation":"<p> Describes the utilization metric of an Amazon ECS service. </p> <p>To determine the performance difference between your current Amazon ECS service and the recommended option, compare the utilization metric data of your service against its projected utilization metric data.</p>"
    },
    "ECSServiceUtilizationMetrics":{
      "type":"list",
      "member":{"shape":"ECSServiceUtilizationMetric"}
    },
    "EffectivePreferredResource":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"PreferredResourceName",
          "documentation":"<p> The name of the preferred resource list. </p>"
        },
        "includeList":{
          "shape":"PreferredResourceValues",
          "documentation":"<p> The list of preferred resource values that you want considered as rightsizing recommendation candidates. </p>"
        },
        "effectiveIncludeList":{
          "shape":"PreferredResourceValues",
          "documentation":"<p> The expanded version of your preferred resource's include list. </p>"
        },
        "excludeList":{
          "shape":"PreferredResourceValues",
          "documentation":"<p> The list of preferred resources values that you want excluded from rightsizing recommendation candidates. </p>"
        }
      },
      "documentation":"<p> Describes the effective preferred resources that Compute Optimizer considers as rightsizing recommendation candidates. </p> <note> <p>Compute Optimizer only supports Amazon EC2 instance types.</p> </note>"
    },
    "EffectivePreferredResources":{
      "type":"list",
      "member":{"shape":"EffectivePreferredResource"}
    },
    "EffectiveRecommendationPreferences":{
      "type":"structure",
      "members":{
        "cpuVendorArchitectures":{
          "shape":"CpuVendorArchitectures",
          "documentation":"<p>Describes the CPU vendor and architecture for an instance or Auto Scaling group recommendations.</p> <p>For example, when you specify <code>AWS_ARM64</code> with:</p> <ul> <li> <p>A <a>GetEC2InstanceRecommendations</a> or <a>GetAutoScalingGroupRecommendations</a> request, Compute Optimizer returns recommendations that consist of Graviton instance types only.</p> </li> <li> <p>A <a>GetEC2RecommendationProjectedMetrics</a> request, Compute Optimizer returns projected utilization metrics for Graviton instance type recommendations only.</p> </li> <li> <p>A <a>ExportEC2InstanceRecommendations</a> or <a>ExportAutoScalingGroupRecommendations</a> request, Compute Optimizer exports recommendations that consist of Graviton instance types only.</p> </li> </ul>"
        },
        "enhancedInfrastructureMetrics":{
          "shape":"EnhancedInfrastructureMetrics",
          "documentation":"<p>Describes the activation status of the enhanced infrastructure metrics preference.</p> <p>A status of <code>Active</code> confirms that the preference is applied in the latest recommendation refresh, and a status of <code>Inactive</code> confirms that it's not yet applied to recommendations.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/enhanced-infrastructure-metrics.html\">Enhanced infrastructure metrics</a> in the <i>Compute Optimizer User Guide</i>.</p>"
        },
        "inferredWorkloadTypes":{
          "shape":"InferredWorkloadTypesPreference",
          "documentation":"<p>Describes the activation status of the inferred workload types preference.</p> <p>A status of <code>Active</code> confirms that the preference is applied in the latest recommendation refresh. A status of <code>Inactive</code> confirms that it's not yet applied to recommendations.</p>"
        },
        "externalMetricsPreference":{
          "shape":"ExternalMetricsPreference",
          "documentation":"<p> An object that describes the external metrics recommendation preference. </p> <p> If the preference is applied in the latest recommendation refresh, an object with a valid <code>source</code> value appears in the response. If the preference isn't applied to the recommendations already, then this object doesn't appear in the response. </p>"
        },
        "lookBackPeriod":{
          "shape":"LookBackPeriodPreference",
          "documentation":"<p> The number of days the utilization metrics of the Amazon Web Services resource are analyzed. </p>"
        },
        "utilizationPreferences":{
          "shape":"UtilizationPreferences",
          "documentation":"<p> The resource’s CPU and memory utilization preferences, such as threshold and headroom, that are used to generate rightsizing recommendations. </p> <note> <p>This preference is only available for the Amazon EC2 instance resource type.</p> </note>"
        },
        "preferredResources":{
          "shape":"EffectivePreferredResources",
          "documentation":"<p> The resource type values that are considered as candidates when generating rightsizing recommendations. </p>"
        },
        "savingsEstimationMode":{
          "shape":"InstanceSavingsEstimationMode",
          "documentation":"<p> Describes the savings estimation mode applied for calculating savings opportunity for a resource. </p>"
        }
      },
      "documentation":"<p>Describes the effective recommendation preferences for a resource.</p>"
    },
    "Engine":{"type":"string"},
    "EngineVersion":{"type":"string"},
    "EnhancedInfrastructureMetrics":{
      "type":"string",
      "enum":[
        "Active",
        "Inactive"
      ]
    },
    "EnrollmentFilter":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"EnrollmentFilterName",
          "documentation":"<p>The name of the filter.</p> <p>Specify <code>Status</code> to return accounts with a specific enrollment status (for example, <code>Active</code>).</p>"
        },
        "values":{
          "shape":"FilterValues",
          "documentation":"<p>The value of the filter.</p> <p>The valid values are <code>Active</code>, <code>Inactive</code>, <code>Pending</code>, and <code>Failed</code>.</p>"
        }
      },
      "documentation":"<p>Describes a filter that returns a more specific list of account enrollment statuses. Use this filter with the <a>GetEnrollmentStatusesForOrganization</a> action.</p>"
    },
    "EnrollmentFilterName":{
      "type":"string",
      "enum":["Status"]
    },
    "EnrollmentFilters":{
      "type":"list",
      "member":{"shape":"EnrollmentFilter"}
    },
    "ErrorMessage":{"type":"string"},
    "EstimatedMonthlySavings":{
      "type":"structure",
      "members":{
        "currency":{
          "shape":"Currency",
          "documentation":"<p>The currency of the estimated monthly savings.</p>"
        },
        "value":{
          "shape":"Value",
          "documentation":"<p>The value of the estimated monthly savings.</p>"
        }
      },
      "documentation":"<p>Describes the estimated monthly savings amount possible, based on On-Demand instance pricing, by adopting Compute Optimizer recommendations for a given resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/view-ec2-recommendations.html#ec2-savings-calculation\">Estimated monthly savings and savings opportunities</a> in the <i>Compute Optimizer User Guide</i>.</p>"
    },
    "ExportAutoScalingGroupRecommendationsRequest":{
      "type":"structure",
      "required":["s3DestinationConfig"],
      "members":{
        "accountIds":{
          "shape":"AccountIds",
          "documentation":"<p>The IDs of the Amazon Web Services accounts for which to export Auto Scaling group recommendations.</p> <p>If your account is the management account of an organization, use this parameter to specify the member account for which you want to export recommendations.</p> <p>This parameter cannot be specified together with the include member accounts parameter. The parameters are mutually exclusive.</p> <p>Recommendations for member accounts are not included in the export if this parameter, or the include member accounts parameter, is omitted.</p> <p>You can specify multiple account IDs per request.</p>"
        },
        "filters":{
          "shape":"Filters",
          "documentation":"<p>An array of objects to specify a filter that exports a more specific set of Auto Scaling group recommendations.</p>"
        },
        "fieldsToExport":{
          "shape":"ExportableAutoScalingGroupFields",
          "documentation":"<p>The recommendations data to include in the export file. For more information about the fields that can be exported, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html#exported-files\">Exported files</a> in the <i>Compute Optimizer User Guide</i>.</p>"
        },
        "s3DestinationConfig":{
          "shape":"S3DestinationConfig",
          "documentation":"<p>An object to specify the destination Amazon Simple Storage Service (Amazon S3) bucket name and key prefix for the export job.</p> <p>You must create the destination Amazon S3 bucket for your recommendations export before you create the export job. Compute Optimizer does not create the S3 bucket for you. After you create the S3 bucket, ensure that it has the required permissions policy to allow Compute Optimizer to write the export file to it. If you plan to specify an object prefix when you create the export job, you must include the object prefix in the policy that you add to the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/create-s3-bucket-policy-for-compute-optimizer.html\">Amazon S3 Bucket Policy for Compute Optimizer</a> in the <i>Compute Optimizer User Guide</i>.</p>"
        },
        "fileFormat":{
          "shape":"FileFormat",
          "documentation":"<p>The format of the export file.</p> <p>The only export file format currently supported is <code>Csv</code>.</p>"
        },
        "includeMemberAccounts":{
          "shape":"IncludeMemberAccounts",
          "documentation":"<p>Indicates whether to include recommendations for resources in all member accounts of the organization if your account is the management account of an organization.</p> <p>The member accounts must also be opted in to Compute Optimizer, and trusted access for Compute Optimizer must be enabled in the organization account. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/security-iam.html#trusted-service-access\">Compute Optimizer and Amazon Web Services Organizations trusted access</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>Recommendations for member accounts of the organization are not included in the export file if this parameter is omitted.</p> <p>This parameter cannot be specified together with the account IDs parameter. The parameters are mutually exclusive.</p> <p>Recommendations for member accounts are not included in the export if this parameter, or the account IDs parameter, is omitted.</p>"
        },
        "recommendationPreferences":{
          "shape":"RecommendationPreferences",
          "documentation":"<p>An object to specify the preferences for the Auto Scaling group recommendations to export.</p>"
        }
      }
    },
    "ExportAutoScalingGroupRecommendationsResponse":{
      "type":"structure",
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The identification number of the export job.</p> <p>Use the <a>DescribeRecommendationExportJobs</a> action, and specify the job ID to view the status of an export job.</p>"
        },
        "s3Destination":{
          "shape":"S3Destination",
          "documentation":"<p>An object that describes the destination Amazon S3 bucket of a recommendations export file.</p>"
        }
      }
    },
    "ExportDestination":{
      "type":"structure",
      "members":{
        "s3":{
          "shape":"S3Destination",
          "documentation":"<p>An object that describes the destination Amazon Simple Storage Service (Amazon S3) bucket name and object keys of a recommendations export file, and its associated metadata file.</p>"
        }
      },
      "documentation":"<p>Describes the destination of the recommendations export and metadata files.</p>"
    },
    "ExportEBSVolumeRecommendationsRequest":{
      "type":"structure",
      "required":["s3DestinationConfig"],
      "members":{
        "accountIds":{
          "shape":"AccountIds",
          "documentation":"<p>The IDs of the Amazon Web Services accounts for which to export Amazon EBS volume recommendations.</p> <p>If your account is the management account of an organization, use this parameter to specify the member account for which you want to export recommendations.</p> <p>This parameter cannot be specified together with the include member accounts parameter. The parameters are mutually exclusive.</p> <p>Recommendations for member accounts are not included in the export if this parameter, or the include member accounts parameter, is omitted.</p> <p>You can specify multiple account IDs per request.</p>"
        },
        "filters":{
          "shape":"EBSFilters",
          "documentation":"<p>An array of objects to specify a filter that exports a more specific set of Amazon EBS volume recommendations.</p>"
        },
        "fieldsToExport":{
          "shape":"ExportableVolumeFields",
          "documentation":"<p>The recommendations data to include in the export file. For more information about the fields that can be exported, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/exporting-recommendations.html#exported-files\">Exported files</a> in the <i>Compute Optimizer User Guide</i>.</p>"
        },
        "s3DestinationConfig":{"shape":"S3DestinationConfig"},
        "fileFormat":{
          "shape":"FileFormat",
          "documentation":"<p>The format of the export file.</p> <p>The only export file format currently supported is <code>Csv</code>.</p>"
        },
        "includeMemberAccounts":{
          "shape":"IncludeMemberAccounts",
          "documentation":"<p>Indicates whether to include recommendations for resources in all member accounts of the organization if your account is the management account of an organization.</p> <p>The member accounts must also be opted in to Compute Optimizer, and trusted access for Compute Optimizer must be enabled in the organization account. For more information, see <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/security-iam.html#trusted-service-access\">Compute Optimizer and Amazon Web Services Organizations trusted access</a> in the <i>Compute Optimizer User Guide</i>.</p> <p>Recommendations for member accounts of the organization are not included in the export file if this parameter is omitted.</p> <p>This parameter cannot be specified together with the account IDs parameter. The parameters are mutually exclusive.</p> <p>Recommendations for member accounts are not included in the export if this parameter, or the account IDs parameter, is omitted.</p>"
        }
      }
    },
    "ExportEBSVolumeRecommendationsResponse":{
      "type":"structure",
      "members":{
        "jobId":{
          "shape":"JobId",
[...]
