
<div class="gh-expandable-block">
    <div class="gh-expandable-header">
        <div>
            <h4 class="gh-expandable-title">Embeddable signup form</h4>
            <p class="gh-expandable-description">Grow your audience from anywhere on the web</p>
        </div>
        <button type="button" class="gh-btn" {{on "click" this.open}} disabled={{not (eq this.settings.membersSignupAccess "all")}}>
            <span>Embed</span>
        </button>
    </div>
</div>