<section class="gh-main-section">
    <h4 class="gh-main-section-header small bn">Growth</h4>
    <div class="gh-expandable">
        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Embeddable signup form</h4>
                    <p class="gh-expandable-description">Grow your audience from anywhere on the web</p>
                </div>
                <button type="button" class="gh-btn" {{on "click" this.open}} disabled={{not (eq this.settings.membersSignupAccess "all")}}>
                    <span>Embed</span>
                </button>
            </div>
        </div>
        {{#if (feature "tipsAndDonations")}}
        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Tips & donations</h4>
                    <p class="gh-expandable-description">Give your audience a one-time way to support your work</p>
                </div>
                <GhTaskButton @buttonText="Copy link" @successText="Link copied" @task={{this.copyTipsAndDonationsLink}} @class="gh-btn gh-btn-icon"/>
            </div>
        </div>
        {{/if}}
    </div>
</section>

    

