{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-12-02",
    "endpointPrefix":"imagebuilder",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"imagebuilder",
    "serviceFullName":"EC2 Image Builder",
    "serviceId":"imagebuilder",
    "signatureVersion":"v4",
    "signingName":"imagebuilder",
    "uid":"imagebuilder-2019-12-02",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CancelImageCreation":{
      "name":"CancelImageCreation",
      "http":{
        "method":"PUT",
        "requestUri":"/CancelImageCreation"
      },
      "input":{"shape":"CancelImageCreationRequest"},
      "output":{"shape":"CancelImageCreationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>CancelImageCreation cancels the creation of Image. This operation can only be used on images in a non-terminal state.</p>"
    },
    "CancelLifecycleExecution":{
      "name":"CancelLifecycleExecution",
      "http":{
        "method":"PUT",
        "requestUri":"/CancelLifecycleExecution"
      },
      "input":{"shape":"CancelLifecycleExecutionRequest"},
      "output":{"shape":"CancelLifecycleExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Cancel a specific image lifecycle policy runtime instance.</p>"
    },
    "CreateComponent":{
      "name":"CreateComponent",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateComponent"
      },
      "input":{"shape":"CreateComponentRequest"},
      "output":{"shape":"CreateComponentResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new component that can be used to build, validate, test, and assess your image. The component is based on a YAML document that you specify using exactly one of the following methods:</p> <ul> <li> <p>Inline, using the <code>data</code> property in the request body.</p> </li> <li> <p>A URL that points to a YAML document file stored in Amazon S3, using the <code>uri</code> property in the request body.</p> </li> </ul>"
    },
    "CreateContainerRecipe":{
      "name":"CreateContainerRecipe",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateContainerRecipe"
      },
      "input":{"shape":"CreateContainerRecipeRequest"},
      "output":{"shape":"CreateContainerRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new container recipe. Container recipes define how images are configured, tested, and assessed.</p>"
    },
    "CreateDistributionConfiguration":{
      "name":"CreateDistributionConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateDistributionConfiguration"
      },
      "input":{"shape":"CreateDistributionConfigurationRequest"},
      "output":{"shape":"CreateDistributionConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline.</p>"
    },
    "CreateImage":{
      "name":"CreateImage",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateImage"
      },
      "input":{"shape":"CreateImageRequest"},
      "output":{"shape":"CreateImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new image. This request will create a new image along with all of the configured output resources defined in the distribution configuration. You must specify exactly one recipe for your image, using either a ContainerRecipeArn or an ImageRecipeArn.</p>"
    },
    "CreateImagePipeline":{
      "name":"CreateImagePipeline",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateImagePipeline"
      },
      "input":{"shape":"CreateImagePipelineRequest"},
      "output":{"shape":"CreateImagePipelineResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new image pipeline. Image pipelines enable you to automate the creation and distribution of images.</p>"
    },
    "CreateImageRecipe":{
      "name":"CreateImageRecipe",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateImageRecipe"
      },
      "input":{"shape":"CreateImageRecipeRequest"},
      "output":{"shape":"CreateImageRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new image recipe. Image recipes define how images are configured, tested, and assessed.</p>"
    },
    "CreateInfrastructureConfiguration":{
      "name":"CreateInfrastructureConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateInfrastructureConfiguration"
      },
      "input":{"shape":"CreateInfrastructureConfigurationRequest"},
      "output":{"shape":"CreateInfrastructureConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested.</p>"
    },
    "CreateLifecyclePolicy":{
      "name":"CreateLifecyclePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateLifecyclePolicy"
      },
      "input":{"shape":"CreateLifecyclePolicyRequest"},
      "output":{"shape":"CreateLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a lifecycle policy resource.</p>"
    },
    "CreateWorkflow":{
      "name":"CreateWorkflow",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateWorkflow"
      },
      "input":{"shape":"CreateWorkflowRequest"},
      "output":{"shape":"CreateWorkflowResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a new workflow or a new version of an existing workflow.</p>"
    },
    "DeleteComponent":{
      "name":"DeleteComponent",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteComponent"
      },
      "input":{"shape":"DeleteComponentRequest"},
      "output":{"shape":"DeleteComponentResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes a component build version.</p>"
    },
    "DeleteContainerRecipe":{
      "name":"DeleteContainerRecipe",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteContainerRecipe"
      },
      "input":{"shape":"DeleteContainerRecipeRequest"},
      "output":{"shape":"DeleteContainerRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes a container recipe.</p>"
    },
    "DeleteDistributionConfiguration":{
      "name":"DeleteDistributionConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteDistributionConfiguration"
      },
      "input":{"shape":"DeleteDistributionConfigurationRequest"},
      "output":{"shape":"DeleteDistributionConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes a distribution configuration.</p>"
    },
    "DeleteImage":{
      "name":"DeleteImage",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteImage"
      },
      "input":{"shape":"DeleteImageRequest"},
      "output":{"shape":"DeleteImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes an Image Builder image resource. This does not delete any EC2 AMIs or ECR container images that are created during the image build process. You must clean those up separately, using the appropriate Amazon EC2 or Amazon ECR console actions, or API or CLI commands.</p> <ul> <li> <p>To deregister an EC2 Linux AMI, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/deregister-ami.html\">Deregister your Linux AMI</a> in the <i> <i>Amazon EC2 User Guide</i> </i>.</p> </li> <li> <p>To deregister an EC2 Windows AMI, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/deregister-ami.html\">Deregister your Windows AMI</a> in the <i> <i>Amazon EC2 Windows Guide</i> </i>.</p> </li> <li> <p>To delete a container image from Amazon ECR, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/delete_image.html\">Deleting an image</a> in the <i>Amazon ECR User Guide</i>.</p> </li> </ul>"
    },
    "DeleteImagePipeline":{
      "name":"DeleteImagePipeline",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteImagePipeline"
      },
      "input":{"shape":"DeleteImagePipelineRequest"},
      "output":{"shape":"DeleteImagePipelineResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes an image pipeline.</p>"
    },
    "DeleteImageRecipe":{
      "name":"DeleteImageRecipe",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteImageRecipe"
      },
      "input":{"shape":"DeleteImageRecipeRequest"},
      "output":{"shape":"DeleteImageRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes an image recipe.</p>"
    },
    "DeleteInfrastructureConfiguration":{
      "name":"DeleteInfrastructureConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteInfrastructureConfiguration"
      },
      "input":{"shape":"DeleteInfrastructureConfigurationRequest"},
      "output":{"shape":"DeleteInfrastructureConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes an infrastructure configuration.</p>"
    },
    "DeleteLifecyclePolicy":{
      "name":"DeleteLifecyclePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteLifecyclePolicy"
      },
      "input":{"shape":"DeleteLifecyclePolicyRequest"},
      "output":{"shape":"DeleteLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Delete the specified lifecycle policy resource.</p>"
    },
    "DeleteWorkflow":{
      "name":"DeleteWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteWorkflow"
      },
      "input":{"shape":"DeleteWorkflowRequest"},
      "output":{"shape":"DeleteWorkflowResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes a specific workflow resource.</p>"
    },
    "GetComponent":{
      "name":"GetComponent",
      "http":{
        "method":"GET",
        "requestUri":"/GetComponent"
      },
      "input":{"shape":"GetComponentRequest"},
      "output":{"shape":"GetComponentResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets a component object.</p>"
    },
    "GetComponentPolicy":{
      "name":"GetComponentPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetComponentPolicy"
      },
      "input":{"shape":"GetComponentPolicyRequest"},
      "output":{"shape":"GetComponentPolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets a component policy.</p>"
    },
    "GetContainerRecipe":{
      "name":"GetContainerRecipe",
      "http":{
        "method":"GET",
        "requestUri":"/GetContainerRecipe"
      },
      "input":{"shape":"GetContainerRecipeRequest"},
      "output":{"shape":"GetContainerRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves a container recipe.</p>"
    },
    "GetContainerRecipePolicy":{
      "name":"GetContainerRecipePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetContainerRecipePolicy"
      },
      "input":{"shape":"GetContainerRecipePolicyRequest"},
      "output":{"shape":"GetContainerRecipePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves the policy for a container recipe.</p>"
    },
    "GetDistributionConfiguration":{
      "name":"GetDistributionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/GetDistributionConfiguration"
      },
      "input":{"shape":"GetDistributionConfigurationRequest"},
      "output":{"shape":"GetDistributionConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets a distribution configuration.</p>"
    },
    "GetImage":{
      "name":"GetImage",
      "http":{
        "method":"GET",
        "requestUri":"/GetImage"
      },
      "input":{"shape":"GetImageRequest"},
      "output":{"shape":"GetImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets an image.</p>"
    },
    "GetImagePipeline":{
      "name":"GetImagePipeline",
      "http":{
        "method":"GET",
        "requestUri":"/GetImagePipeline"
      },
      "input":{"shape":"GetImagePipelineRequest"},
      "output":{"shape":"GetImagePipelineResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets an image pipeline.</p>"
    },
    "GetImagePolicy":{
      "name":"GetImagePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetImagePolicy"
      },
      "input":{"shape":"GetImagePolicyRequest"},
      "output":{"shape":"GetImagePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets an image policy.</p>"
    },
    "GetImageRecipe":{
      "name":"GetImageRecipe",
      "http":{
        "method":"GET",
        "requestUri":"/GetImageRecipe"
      },
      "input":{"shape":"GetImageRecipeRequest"},
      "output":{"shape":"GetImageRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets an image recipe.</p>"
    },
    "GetImageRecipePolicy":{
      "name":"GetImageRecipePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetImageRecipePolicy"
      },
      "input":{"shape":"GetImageRecipePolicyRequest"},
      "output":{"shape":"GetImageRecipePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets an image recipe policy.</p>"
    },
    "GetInfrastructureConfiguration":{
      "name":"GetInfrastructureConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/GetInfrastructureConfiguration"
      },
      "input":{"shape":"GetInfrastructureConfigurationRequest"},
      "output":{"shape":"GetInfrastructureConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Gets an infrastructure configuration.</p>"
    },
    "GetLifecycleExecution":{
      "name":"GetLifecycleExecution",
      "http":{
        "method":"GET",
        "requestUri":"/GetLifecycleExecution"
      },
      "input":{"shape":"GetLifecycleExecutionRequest"},
      "output":{"shape":"GetLifecycleExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Get the runtime information that was logged for a specific runtime instance of the lifecycle policy.</p>"
    },
    "GetLifecyclePolicy":{
      "name":"GetLifecyclePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetLifecyclePolicy"
      },
      "input":{"shape":"GetLifecyclePolicyRequest"},
      "output":{"shape":"GetLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Get details for the specified image lifecycle policy.</p>"
    },
    "GetMarketplaceResource":{
      "name":"GetMarketplaceResource",
      "http":{
        "method":"POST",
        "requestUri":"/GetMarketplaceResource"
      },
      "input":{"shape":"GetMarketplaceResourceRequest"},
      "output":{"shape":"GetMarketplaceResourceResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Verify the subscription and perform resource dependency checks on the requested Amazon Web Services Marketplace resource. For Amazon Web Services Marketplace components, the response contains fields to download the components and their artifacts.</p>"
    },
    "GetWorkflow":{
      "name":"GetWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/GetWorkflow"
      },
      "input":{"shape":"GetWorkflowRequest"},
      "output":{"shape":"GetWorkflowResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Get a workflow resource object.</p>"
    },
    "GetWorkflowExecution":{
      "name":"GetWorkflowExecution",
      "http":{
        "method":"GET",
        "requestUri":"/GetWorkflowExecution"
      },
      "input":{"shape":"GetWorkflowExecutionRequest"},
      "output":{"shape":"GetWorkflowExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Get the runtime information that was logged for a specific runtime instance of the workflow.</p>"
    },
    "GetWorkflowStepExecution":{
      "name":"GetWorkflowStepExecution",
      "http":{
        "method":"GET",
        "requestUri":"/GetWorkflowStepExecution"
      },
      "input":{"shape":"GetWorkflowStepExecutionRequest"},
      "output":{"shape":"GetWorkflowStepExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Get the runtime information that was logged for a specific runtime instance of the workflow step.</p>"
    },
    "ImportComponent":{
      "name":"ImportComponent",
      "http":{
        "method":"PUT",
        "requestUri":"/ImportComponent"
      },
      "input":{"shape":"ImportComponentRequest"},
      "output":{"shape":"ImportComponentResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Imports a component and transforms its data into a component document.</p>"
    },
    "ImportDiskImage":{
      "name":"ImportDiskImage",
      "http":{
        "method":"PUT",
        "requestUri":"/ImportDiskImage"
      },
      "input":{"shape":"ImportDiskImageRequest"},
      "output":{"shape":"ImportDiskImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Import a Windows operating system image from a verified Microsoft ISO disk file. The following disk images are supported:</p> <ul> <li> <p>Windows 11 Enterprise</p> </li> </ul>"
    },
    "ImportVmImage":{
      "name":"ImportVmImage",
      "http":{
        "method":"PUT",
        "requestUri":"/ImportVmImage"
      },
      "input":{"shape":"ImportVmImageRequest"},
      "output":{"shape":"ImportVmImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>When you export your virtual machine (VM) from its virtualization environment, that process creates a set of one or more disk container files that act as snapshots of your VM’s environment, settings, and data. The Amazon EC2 API <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ImportImage.html\">ImportImage</a> action uses those files to import your VM and create an AMI. To import using the CLI command, see <a href=\"https://docs.aws.amazon.com/cli/latest/reference/ec2/import-image.html\">import-image</a> </p> <p>You can reference the task ID from the VM import to pull in the AMI that the import created as the base image for your Image Builder recipe.</p>"
    },
    "ListComponentBuildVersions":{
      "name":"ListComponentBuildVersions",
      "http":{
        "method":"POST",
        "requestUri":"/ListComponentBuildVersions"
      },
      "input":{"shape":"ListComponentBuildVersionsRequest"},
      "output":{"shape":"ListComponentBuildVersionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns the list of component build versions for the specified component version Amazon Resource Name (ARN).</p>"
    },
    "ListComponents":{
      "name":"ListComponents",
      "http":{
        "method":"POST",
        "requestUri":"/ListComponents"
      },
      "input":{"shape":"ListComponentsRequest"},
      "output":{"shape":"ListComponentsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns the list of components that can be filtered by name, or by using the listed <code>filters</code> to streamline results. Newly created components can take up to two minutes to appear in the ListComponents API Results.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>"
    },
    "ListContainerRecipes":{
      "name":"ListContainerRecipes",
      "http":{
        "method":"POST",
        "requestUri":"/ListContainerRecipes"
      },
      "input":{"shape":"ListContainerRecipesRequest"},
      "output":{"shape":"ListContainerRecipesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of container recipes.</p>"
    },
    "ListDistributionConfigurations":{
      "name":"ListDistributionConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/ListDistributionConfigurations"
      },
      "input":{"shape":"ListDistributionConfigurationsRequest"},
      "output":{"shape":"ListDistributionConfigurationsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of distribution configurations.</p>"
    },
    "ListImageBuildVersions":{
      "name":"ListImageBuildVersions",
      "http":{
        "method":"POST",
        "requestUri":"/ListImageBuildVersions"
      },
      "input":{"shape":"ListImageBuildVersionsRequest"},
      "output":{"shape":"ListImageBuildVersionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image build versions.</p>"
    },
    "ListImagePackages":{
      "name":"ListImagePackages",
      "http":{
        "method":"POST",
        "requestUri":"/ListImagePackages"
      },
      "input":{"shape":"ListImagePackagesRequest"},
      "output":{"shape":"ListImagePackagesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>List the Packages that are associated with an Image Build Version, as determined by Amazon Web Services Systems Manager Inventory at build time.</p>"
    },
    "ListImagePipelineImages":{
      "name":"ListImagePipelineImages",
      "http":{
        "method":"POST",
        "requestUri":"/ListImagePipelineImages"
      },
      "input":{"shape":"ListImagePipelineImagesRequest"},
      "output":{"shape":"ListImagePipelineImagesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of images created by the specified pipeline.</p>"
    },
    "ListImagePipelines":{
      "name":"ListImagePipelines",
      "http":{
        "method":"POST",
        "requestUri":"/ListImagePipelines"
      },
      "input":{"shape":"ListImagePipelinesRequest"},
      "output":{"shape":"ListImagePipelinesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image pipelines.</p>"
    },
    "ListImageRecipes":{
      "name":"ListImageRecipes",
      "http":{
        "method":"POST",
        "requestUri":"/ListImageRecipes"
      },
      "input":{"shape":"ListImageRecipesRequest"},
      "output":{"shape":"ListImageRecipesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image recipes.</p>"
    },
    "ListImageScanFindingAggregations":{
      "name":"ListImageScanFindingAggregations",
      "http":{
        "method":"POST",
        "requestUri":"/ListImageScanFindingAggregations"
      },
      "input":{"shape":"ListImageScanFindingAggregationsRequest"},
      "output":{"shape":"ListImageScanFindingAggregationsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image scan aggregations for your account. You can filter by the type of key that Image Builder uses to group results. For example, if you want to get a list of findings by severity level for one of your pipelines, you might specify your pipeline with the <code>imagePipelineArn</code> filter. If you don't specify a filter, Image Builder returns an aggregation for your account.</p> <p>To streamline results, you can use the following filters in your request:</p> <ul> <li> <p> <code>accountId</code> </p> </li> <li> <p> <code>imageBuildVersionArn</code> </p> </li> <li> <p> <code>imagePipelineArn</code> </p> </li> <li> <p> <code>vulnerabilityId</code> </p> </li> </ul>"
    },
    "ListImageScanFindings":{
      "name":"ListImageScanFindings",
      "http":{
        "method":"POST",
        "requestUri":"/ListImageScanFindings"
      },
      "input":{"shape":"ListImageScanFindingsRequest"},
      "output":{"shape":"ListImageScanFindingsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image scan findings for your account.</p>"
    },
    "ListImages":{
      "name":"ListImages",
      "http":{
        "method":"POST",
        "requestUri":"/ListImages"
      },
      "input":{"shape":"ListImagesRequest"},
      "output":{"shape":"ListImagesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns the list of images that you have access to. Newly created images can take up to two minutes to appear in the ListImages API Results.</p>"
    },
    "ListInfrastructureConfigurations":{
      "name":"ListInfrastructureConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/ListInfrastructureConfigurations"
      },
      "input":{"shape":"ListInfrastructureConfigurationsRequest"},
      "output":{"shape":"ListInfrastructureConfigurationsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of infrastructure configurations.</p>"
    },
    "ListLifecycleExecutionResources":{
      "name":"ListLifecycleExecutionResources",
      "http":{
        "method":"POST",
        "requestUri":"/ListLifecycleExecutionResources"
      },
      "input":{"shape":"ListLifecycleExecutionResourcesRequest"},
      "output":{"shape":"ListLifecycleExecutionResourcesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>List resources that the runtime instance of the image lifecycle identified for lifecycle actions.</p>"
    },
    "ListLifecycleExecutions":{
      "name":"ListLifecycleExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/ListLifecycleExecutions"
      },
      "input":{"shape":"ListLifecycleExecutionsRequest"},
      "output":{"shape":"ListLifecycleExecutionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Get the lifecycle runtime history for the specified resource.</p>"
    },
    "ListLifecyclePolicies":{
      "name":"ListLifecyclePolicies",
      "http":{
        "method":"POST",
        "requestUri":"/ListLifecyclePolicies"
      },
      "input":{"shape":"ListLifecyclePoliciesRequest"},
      "output":{"shape":"ListLifecyclePoliciesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Get a list of lifecycle policies in your Amazon Web Services account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the list of tags for the specified resource.</p>"
    },
    "ListWaitingWorkflowSteps":{
      "name":"ListWaitingWorkflowSteps",
      "http":{
        "method":"POST",
        "requestUri":"/ListWaitingWorkflowSteps"
      },
      "input":{"shape":"ListWaitingWorkflowStepsRequest"},
      "output":{"shape":"ListWaitingWorkflowStepsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Get a list of workflow steps that are waiting for action for workflows in your Amazon Web Services account.</p>"
    },
    "ListWorkflowBuildVersions":{
      "name":"ListWorkflowBuildVersions",
      "http":{
        "method":"POST",
        "requestUri":"/ListWorkflowBuildVersions"
      },
      "input":{"shape":"ListWorkflowBuildVersionsRequest"},
      "output":{"shape":"ListWorkflowBuildVersionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of build versions for a specific workflow resource.</p>"
    },
    "ListWorkflowExecutions":{
      "name":"ListWorkflowExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/ListWorkflowExecutions"
      },
      "input":{"shape":"ListWorkflowExecutionsRequest"},
      "output":{"shape":"ListWorkflowExecutionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of workflow runtime instance metadata objects for a specific image build version.</p>"
    },
    "ListWorkflowStepExecutions":{
      "name":"ListWorkflowStepExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/ListWorkflowStepExecutions"
      },
      "input":{"shape":"ListWorkflowStepExecutionsRequest"},
      "output":{"shape":"ListWorkflowStepExecutionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns runtime data for each step in a runtime instance of the workflow that you specify in the request.</p>"
    },
    "ListWorkflows":{
      "name":"ListWorkflows",
      "http":{
        "method":"POST",
        "requestUri":"/ListWorkflows"
      },
      "input":{"shape":"ListWorkflowsRequest"},
      "output":{"shape":"ListWorkflowsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Lists workflow build versions based on filtering parameters.</p>"
    },
    "PutComponentPolicy":{
      "name":"PutComponentPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/PutComponentPolicy"
      },
      "input":{"shape":"PutComponentPolicyRequest"},
      "output":{"shape":"PutComponentPolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Applies a policy to a component. We recommend that you call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a> to share resources. If you call the Image Builder API <code>PutComponentPolicy</code>, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a> in order for the resource to be visible to all principals with whom the resource is shared.</p>"
    },
    "PutContainerRecipePolicy":{
      "name":"PutContainerRecipePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/PutContainerRecipePolicy"
      },
      "input":{"shape":"PutContainerRecipePolicyRequest"},
      "output":{"shape":"PutContainerRecipePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Applies a policy to a container image. We recommend that you call the RAM API CreateResourceShare (https://docs.aws.amazon.com//ram/latest/APIReference/API_CreateResourceShare.html) to share resources. If you call the Image Builder API <code>PutContainerImagePolicy</code>, you must also call the RAM API PromoteResourceShareCreatedFromPolicy (https://docs.aws.amazon.com//ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html) in order for the resource to be visible to all principals with whom the resource is shared.</p>"
    },
    "PutImagePolicy":{
      "name":"PutImagePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/PutImagePolicy"
      },
      "input":{"shape":"PutImagePolicyRequest"},
      "output":{"shape":"PutImagePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Applies a policy to an image. We recommend that you call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a> to share resources. If you call the Image Builder API <code>PutImagePolicy</code>, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a> in order for the resource to be visible to all principals with whom the resource is shared.</p>"
    },
    "PutImageRecipePolicy":{
      "name":"PutImageRecipePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/PutImageRecipePolicy"
      },
      "input":{"shape":"PutImageRecipePolicyRequest"},
      "output":{"shape":"PutImageRecipePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Applies a policy to an image recipe. We recommend that you call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a> to share resources. If you call the Image Builder API <code>PutImageRecipePolicy</code>, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a> in order for the resource to be visible to all principals with whom the resource is shared.</p>"
    },
    "SendWorkflowStepAction":{
      "name":"SendWorkflowStepAction",
      "http":{
        "method":"PUT",
        "requestUri":"/SendWorkflowStepAction"
      },
      "input":{"shape":"SendWorkflowStepActionRequest"},
      "output":{"shape":"SendWorkflowStepActionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Pauses or resumes image creation when the associated workflow runs a <code>WaitForAction</code> step.</p>"
    },
    "StartImagePipelineExecution":{
      "name":"StartImagePipelineExecution",
      "http":{
        "method":"PUT",
        "requestUri":"/StartImagePipelineExecution"
      },
      "input":{"shape":"StartImagePipelineExecutionRequest"},
      "output":{"shape":"StartImagePipelineExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Manually triggers a pipeline to create an image.</p>"
    },
    "StartResourceStateUpdate":{
      "name":"StartResourceStateUpdate",
      "http":{
        "method":"PUT",
        "requestUri":"/StartResourceStateUpdate"
      },
      "input":{"shape":"StartResourceStateUpdateRequest"},
      "output":{"shape":"StartResourceStateUpdateResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Begin asynchronous resource state update for lifecycle changes to the specified image resources.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds a tag to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes a tag from a resource.</p>"
    },
    "UpdateDistributionConfiguration":{
      "name":"UpdateDistributionConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/UpdateDistributionConfiguration"
      },
      "input":{"shape":"UpdateDistributionConfigurationRequest"},
      "output":{"shape":"UpdateDistributionConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Updates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline.</p>"
    },
    "UpdateImagePipeline":{
      "name":"UpdateImagePipeline",
      "http":{
        "method":"PUT",
        "requestUri":"/UpdateImagePipeline"
      },
      "input":{"shape":"UpdateImagePipelineRequest"},
      "output":{"shape":"UpdateImagePipelineResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Updates an image pipeline. Image pipelines enable you to automate the creation and distribution of images. You must specify exactly one recipe for your image, using either a <code>containerRecipeArn</code> or an <code>imageRecipeArn</code>.</p> <note> <p>UpdateImagePipeline does not support selective updates for the pipeline. You must specify all of the required properties in the update request, not just the properties that have changed.</p> </note>"
    },
    "UpdateInfrastructureConfiguration":{
      "name":"UpdateInfrastructureConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/UpdateInfrastructureConfiguration"
      },
      "input":{"shape":"UpdateInfrastructureConfigurationRequest"},
      "output":{"shape":"UpdateInfrastructureConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Updates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested.</p>"
    },
    "UpdateLifecyclePolicy":{
      "name":"UpdateLifecyclePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/UpdateLifecyclePolicy"
      },
      "input":{"shape":"UpdateLifecyclePolicyRequest"},
      "output":{"shape":"UpdateLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Update the specified lifecycle policy.</p>"
    }
  },
  "shapes":{
    "AccountAggregation":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"NonEmptyString",
          "documentation":"<p>Identifies the account that owns the aggregated resource findings.</p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>Counts by severity level for medium severity and higher level findings, plus a total for all of the findings.</p>"
        }
      },
      "documentation":"<p>Contains counts of vulnerability findings from image scans that run when you create new Image Builder images, or build new versions of existing images. The vulnerability counts are grouped by severity level. The counts are aggregated across resources to create the final tally for the account that owns them.</p>"
    },
    "AccountId":{
      "type":"string",
      "pattern":"^[0-9]{12}$"
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "max":1536,
      "min":1
    },
    "AdditionalInstanceConfiguration":{
      "type":"structure",
      "members":{
        "systemsManagerAgent":{
          "shape":"SystemsManagerAgent",
          "documentation":"<p>Contains settings for the Systems Manager agent on your build instance.</p>"
        },
        "userDataOverride":{
          "shape":"UserDataOverride",
          "documentation":"<p>Use this property to provide commands or a command script to run when you launch your build instance.</p> <p>The userDataOverride property replaces any commands that Image Builder might have added to ensure that Systems Manager is installed on your Linux build instance. If you override the user data, make sure that you add commands to install Systems Manager, if it is not pre-installed on your base image.</p> <note> <p>The user data is always base 64 encoded. For example, the following commands are encoded as <code>IyEvYmluL2Jhc2gKbWtkaXIgLXAgL3Zhci9iYi8KdG91Y2ggL3Zhci$</code>:</p> <p> <i>#!/bin/bash</i> </p> <p>mkdir -p /var/bb/</p> <p>touch /var</p> </note>"
        }
      },
      "documentation":"<p>In addition to your infrastructure configuration, these settings provide an extra layer of control over your build instances. You can also specify commands to run on launch for all of your build instances.</p> <p>Image Builder does not automatically install the Systems Manager agent on Windows instances. If your base image includes the Systems Manager agent, then the AMI that you create will also include the agent. For Linux instances, if the base image does not already include the Systems Manager agent, Image Builder installs it. For Linux instances where Image Builder installs the Systems Manager agent, you can choose whether to keep it for the AMI that you create.</p>"
    },
    "Ami":{
      "type":"structure",
      "members":{
        "region":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Amazon Web Services Region of the Amazon EC2 AMI.</p>"
        },
        "image":{
          "shape":"NonEmptyString",
          "documentation":"<p>The AMI ID of the Amazon EC2 AMI.</p>"
        },
        "name":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the Amazon EC2 AMI.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the Amazon EC2 AMI. Minimum and maximum length are in characters.</p>"
        },
        "state":{"shape":"ImageState"},
        "accountId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The account ID of the owner of the AMI.</p>"
        }
      },
      "documentation":"<p>Details of an Amazon EC2 AMI.</p>"
    },
    "AmiDistributionConfiguration":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AmiNameString",
          "documentation":"<p>The name of the output AMI.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the AMI distribution configuration. Minimum and maximum length are in characters.</p>"
        },
        "targetAccountIds":{
          "shape":"AccountList",
          "documentation":"<p>The ID of an account to which you want to distribute an image.</p>"
        },
        "amiTags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to apply to AMIs distributed to this Region.</p>"
        },
        "kmsKeyId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The KMS key identifier used to encrypt the distributed image.</p>"
        },
        "launchPermission":{
          "shape":"LaunchPermissionConfiguration",
          "documentation":"<p>Launch permissions can be used to configure which Amazon Web Services accounts can use the AMI to launch instances.</p>"
        }
      },
      "documentation":"<p>Define and configure the output AMIs of the pipeline.</p>"
    },
    "AmiList":{
      "type":"list",
      "member":{"shape":"Ami"}
    },
    "AmiNameString":{
      "type":"string",
      "max":127,
      "min":1,
      "pattern":"^[-_A-Za-z0-9{][-_A-Za-z0-9\\s:{}\\.]+[-_A-Za-z0-9}]$"
    },
    "Arn":{"type":"string"},
    "Boolean":{"type":"boolean"},
    "BuildType":{
      "type":"string",
      "enum":[
        "USER_INITIATED",
        "SCHEDULED",
        "IMPORT",
        "IMPORT_ISO"
      ]
    },
    "CallRateLimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You have exceeded the permitted request rate for the specific operation.</p>",
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "CancelImageCreationRequest":{
      "type":"structure",
      "required":[
        "imageBuildVersionArn",
        "clientToken"
      ],
      "members":{
        "imageBuildVersionArn":{
          "shape":"ImageBuildVersionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the image that you want to cancel creation for.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier you provide to ensure idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a> in the <i>Amazon EC2 API Reference</i>.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CancelImageCreationResponse":{
      "type":"structure",
      "members":{
        "requestId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The request ID that uniquely identifies this request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The client token that uniquely identifies the request.</p>"
        },
        "imageBuildVersionArn":{
          "shape":"ImageBuildVersionArn",
          "documentation":"<p>The ARN of the image whose creation this request canceled.</p>"
        }
      }
    },
    "CancelLifecycleExecutionRequest":{
      "type":"structure",
      "required":[
        "lifecycleExecutionId",
        "clientToken"
      ],
      "members":{
        "lifecycleExecutionId":{
          "shape":"LifecycleExecutionId",
          "documentation":"<p>Identifies the specific runtime instance of the image lifecycle to cancel.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier you provide to ensure idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a> in the <i>Amazon EC2 API Reference</i>.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CancelLifecycleExecutionResponse":{
      "type":"structure",
      "members":{
        "lifecycleExecutionId":{
          "shape":"LifecycleExecutionId",
          "documentation":"<p>The unique identifier for the image lifecycle runtime instance that was canceled.</p>"
        }
      }
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ClientToken":{
      "type":"string",
      "max":36,
      "min":1
    },
    "Component":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ImageBuilderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component.</p>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the component.</p>"
        },
        "version":{
          "shape":"VersionNumber",
          "documentation":"<p>The version of the component.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the component.</p>"
        },
        "changeDescription":{
          "shape":"NonEmptyString",
          "documentation":"<p>Describes what change has been made in this version of the component, or what makes this version different from other versions of the component.</p>"
        },
        "type":{
          "shape":"ComponentType",
          "documentation":"<p>The component type specifies whether Image Builder uses the component to build the image or only to test it.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The operating system platform of the component.</p>"
        },
        "supportedOsVersions":{
          "shape":"OsVersionList",
          "documentation":"<p>The operating system (OS) version supported by the component. If the OS information is available, Image Builder performs a prefix match against the base image OS version during image recipe creation.</p>"
        },
        "state":{
          "shape":"ComponentState",
          "documentation":"<p>Describes the current status of the component.</p>"
        },
        "parameters":{
          "shape":"ComponentParameterDetailList",
          "documentation":"<p>Contains parameter details for each of the parameters that the component document defined for the component.</p>"
        },
        "owner":{
          "shape":"NonEmptyString",
          "documentation":"<p>The owner of the component.</p>"
        },
        "data":{
          "shape":"ComponentData",
          "documentation":"<p>Component data contains the YAML document content for the component.</p>"
        },
        "kmsKeyId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The KMS key identifier used to encrypt the component.</p>"
        },
        "encrypted":{
          "shape":"NullableBoolean",
          "documentation":"<p>The encryption status of the component.</p>"
        },
        "dateCreated":{
          "shape":"DateTime",
          "documentation":"<p>The date that Image Builder created the component.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags that apply to the component.</p>"
        },
        "publisher":{
          "shape":"NonEmptyString",
          "documentation":"<p>Contains the name of the publisher if this is a third-party component. Otherwise, this property is empty.</p>"
        },
        "obfuscate":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether component source is hidden from view in the console, and from component detail results for API, CLI, or SDK operations.</p>"
        },
        "productCodes":{
          "shape":"ProductCodeList",
          "documentation":"<p>Contains product codes that are used for billing purposes for Amazon Web Services Marketplace components.</p>"
        }
      },
      "documentation":"<p>A detailed view of a component.</p>"
    },
    "ComponentBuildVersionArn":{
      "type":"string",
      "pattern":"^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+$"
    },
    "ComponentConfiguration":{
      "type":"structure",
      "required":["componentArn"],
      "members":{
        "componentArn":{
          "shape":"ComponentVersionArnOrBuildVersionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component.</p>"
        },
        "parameters":{
          "shape":"ComponentParameterList",
          "documentation":"<p>A group of parameter settings that Image Builder uses to configure the component for a specific recipe.</p>"
        }
      },
      "documentation":"<p>Configuration details of the component.</p>"
    },
    "ComponentConfigurationList":{
      "type":"list",
      "member":{"shape":"ComponentConfiguration"},
      "min":1
    },
    "ComponentData":{"type":"string"},
    "ComponentFormat":{
      "type":"string",
      "enum":["SHELL"]
    },
    "ComponentParameter":{
      "type":"structure",
      "required":[
        "name",
        "value"
      ],
      "members":{
        "name":{
          "shape":"ComponentParameterName",
          "documentation":"<p>The name of the component parameter to set.</p>"
        },
        "value":{
          "shape":"ComponentParameterValueList",
          "documentation":"<p>Sets the value for the named component parameter.</p>"
        }
      },
      "documentation":"<p>Contains a key/value pair that sets the named component parameter.</p>"
    },
    "ComponentParameterDescription":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[^\\x00]+"
    },
    "ComponentParameterDetail":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "name":{
          "shape":"ComponentParameterName",
          "documentation":"<p>The name of this input parameter.</p>"
        },
        "type":{
          "shape":"ComponentParameterType",
          "documentation":"<p>The type of input this parameter provides. The currently supported value is \"string\".</p>"
        },
        "defaultValue":{
          "shape":"ComponentParameterValueList",
          "documentation":"<p>The default value of this parameter if no input is provided.</p>"
        },
        "description":{
          "shape":"ComponentParameterDescription",
          "documentation":"<p>Describes this parameter.</p>"
        }
      },
      "documentation":"<p>Defines a parameter that is used to provide configuration details for the component.</p>"
    },
    "ComponentParameterDetailList":{
      "type":"list",
      "member":{"shape":"ComponentParameterDetail"}
    },
    "ComponentParameterList":{
      "type":"list",
      "member":{"shape":"ComponentParameter"},
      "min":1
    },
    "ComponentParameterName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[^\\x00]+"
    },
    "ComponentParameterType":{
      "type":"string",
      "max":20,
      "min":1,
      "pattern":"^String|Integer|Boolean|StringList$"
    },
    "ComponentParameterValue":{
      "type":"string",
      "min":0,
      "pattern":"[^\\x00]*"
    },
    "ComponentParameterValueList":{
      "type":"list",
      "member":{"shape":"ComponentParameterValue"}
    },
    "ComponentState":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"ComponentStatus",
          "documentation":"<p>The current state of the component.</p>"
        },
        "reason":{
          "shape":"NonEmptyString",
          "documentation":"<p>Describes how or why the component changed state.</p>"
        }
      },
      "documentation":"<p>A group of fields that describe the current status of components.</p>"
    },
    "ComponentStatus":{
      "type":"string",
      "enum":[
        "DEPRECATED",
        "DISABLED",
        "ACTIVE"
      ]
    },
    "ComponentSummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ImageBuilderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component.</p>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the component.</p>"
        },
        "version":{
          "shape":"VersionNumber",
          "documentation":"<p>The version of the component.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The operating system platform of the component.</p>"
        },
        "supportedOsVersions":{
          "shape":"OsVersionList",
          "documentation":"<p>The operating system (OS) version that the component supports. If the OS information is available, Image Builder performs a prefix match against the base image OS version during image recipe creation.</p>"
        },
        "state":{
          "shape":"ComponentState",
          "documentation":"<p>Describes the current status of the component.</p>"
        },
        "type":{
          "shape":"ComponentType",
          "documentation":"<p>The component type specifies whether Image Builder uses the component to build the image or only to test it.</p>"
        },
        "owner":{
          "shape":"NonEmptyString",
          "documentation":"<p>The owner of the component.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the component.</p>"
        },
        "changeDescription":{
          "shape":"NonEmptyString",
          "documentation":"<p>The change description for the current version of the component.</p>"
        },
        "dateCreated":{
          "shape":"DateTime",
          "documentation":"<p>The original creation date of the component.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags that apply to the component.</p>"
        },
        "publisher":{
          "shape":"NonEmptyString",
          "documentation":"<p>Contains the name of the publisher if this is a third-party component. Otherwise, this property is empty.</p>"
        },
        "obfuscate":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether component source is hidden from view in the console, and from component detail results for API, CLI, or SDK operations.</p>"
        }
      },
      "documentation":"<p>A high-level summary of a component.</p>"
    },
    "ComponentSummaryList":{
      "type":"list",
      "member":{"shape":"ComponentSummary"}
    },
    "ComponentType":{
      "type":"string",
      "enum":[
        "BUILD",
        "TEST"
      ]
    },
    "ComponentVersion":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ImageBuilderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component.</p> <note> <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), at the level that applies to that object as follows:</p> <ol> <li> <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are either left off entirely, or they are specified as wildcards, for example: x.x.x.</p> </li> <li> <p>Version ARNs have only the first three nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;</p> </li> <li> <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p> </li> </ol> </note>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the component.</p>"
        },
        "version":{
          "shape":"VersionNumber",
          "documentation":"<p>The semantic version of the component.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> <p> <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the component.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The platform of the component.</p>"
        },
        "supportedOsVersions":{
          "shape":"OsVersionList",
          "documentation":"<p>he operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the base image OS version during image recipe creation.</p>"
        },
        "type":{
          "shape":"ComponentType",
          "documentation":"<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>"
        },
        "owner":{
          "shape":"NonEmptyString",
          "documentation":"<p>The owner of the component.</p>"
        },
        "dateCreated":{
          "shape":"DateTime",
          "documentation":"<p>The date that the component was created.</p>"
        },
        "status":{
          "shape":"ComponentStatus",
          "documentation":"<p>Describes the current status of the component version.</p>"
        },
        "productCodes":{
          "shape":"ProductCodeList",
          "documentation":"<p>Contains product codes that are used for billing purposes for Amazon Web Services Marketplace components.</p>"
        }
      },
      "documentation":"<p>The defining characteristics of a specific version of an Amazon Web Services TOE component.</p>"
    },
    "ComponentVersionArn":{
      "type":"string",
      "pattern":"^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$"
    },
    "ComponentVersionArnOrBuildVersionArn":{
      "type":"string",
      "pattern":"^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?):component/[a-z0-9-_]+/(?:(?:([0-9]+|x)\\.([0-9]+|x)\\.([0-9]+|x))|(?:[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+))$"
    },
    "ComponentVersionList":{
      "type":"list",
      "member":{"shape":"ComponentVersion"}
    },
    "Container":{
      "type":"structure",
      "members":{
        "region":{
          "shape":"NonEmptyString",
          "documentation":"<p>Containers and container images are Region-specific. This is the Region context for the container.</p>"
        },
        "imageUris":{
          "shape":"StringList",
          "documentation":"<p>A list of URIs for containers created in the context Region.</p>"
        }
      },
      "documentation":"<p>A container encapsulates the runtime environment for an application.</p>"
    },
    "ContainerDistributionConfiguration":{
      "type":"structure",
      "required":["targetRepository"],
      "members":{
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the container distribution configuration.</p>"
        },
        "containerTags":{
          "shape":"StringList",
          "documentation":"<p>Tags that are attached to the container distribution configuration.</p>"
        },
        "targetRepository":{
          "shape":"TargetContainerRepository",
          "documentation":"<p>The destination repository for the container distribution configuration.</p>"
        }
      },
      "documentation":"<p>Container distribution settings for encryption, licensing, and sharing in a specific Region.</p>"
    },
    "ContainerList":{
      "type":"list",
      "member":{"shape":"Container"}
    },
    "ContainerRecipe":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ImageBuilderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the container recipe.</p> <note> <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), at the level that applies to that object as follows:</p> <ol> <li> <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are either left off entirely, or they are specified as wildcards, for example: x.x.x.</p> </li> <li> <p>Version ARNs have only the first three nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;</p> </li> <li> <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p> </li> </ol> </note>"
        },
        "containerType":{
          "shape":"ContainerType",
          "documentation":"<p>Specifies the type of container, such as Docker.</p>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the container recipe.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the container recipe.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The system platform for the container, such as Windows or Linux.</p>"
        },
        "owner":{
          "shape":"NonEmptyString",
          "documentation":"<p>The owner of the container recipe.</p>"
        },
        "version":{
          "shape":"VersionNumber",
          "documentation":"<p>The semantic version of the container recipe.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> <p> <b>Filtering:</b> With semantic versioning, you have the flexibility to use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>"
        },
        "components":{
          "shape":"ComponentConfigurationList",
          "documentation":"<p>Build and test components that are included in the container recipe. Recipes require a minimum of one build component, and can have a maximum of 20 build and test components in any combination.</p>"
        },
        "instanceConfiguration":{
          "shape":"InstanceConfiguration",
          "documentation":"<p>A group of options that can be used to configure an instance for building and testing container images.</p>"
        },
        "dockerfileTemplateData":{
          "shape":"DockerFileTemplate",
          "documentation":"<p>Dockerfiles are text documents that are used to build Docker containers, and ensure that they contain all of the elements required by the application running inside. The template data consists of contextual variables where Image Builder places build information or scripts, based on your container image recipe.</p>"
        },
        "kmsKeyId":{
          "shape":"NonEmptyString",
          "documentation":"<p>Identifies which KMS key is used to encrypt the container image for distribution to the target Region.</p>"
        },
        "encrypted":{
          "shape":"NullableBoolean",
          "documentation":"<p>A flag that indicates if the target container is encrypted.</p>"
        },
        "parentImage":{
          "shape":"NonEmptyString",
          "documentation":"<p>The base image for customizations specified in the container recipe. This can contain an Image Builder image resource ARN or a container image URI, for example <code>amazonlinux:latest</code>.</p>"
        },
        "dateCreated":{
          "shape":"DateTime",
          "documentation":"<p>The date when this container recipe was created.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags that are attached to the container recipe.</p>"
        },
        "workingDirectory":{
          "shape":"NonEmptyString",
          "documentation":"<p>The working directory for use during build and test workflows.</p>"
        },
        "targetRepository":{
          "shape":"TargetContainerRepository",
          "documentation":"<p>The destination repository for the container image.</p>"
        }
      },
      "documentation":"<p>A container recipe.</p>"
    },
    "ContainerRecipeArn":{
      "type":"string",
      "pattern":"^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):container-recipe/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$"
    },
    "ContainerRecipeSummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ImageBuilderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the container recipe.</p>"
        },
        "containerType":{
          "shape":"ContainerType",
          "documentation":"<p>Specifies the type of container, such as \"Docker\".</p>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the container recipe.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The system platform for the container, such as Windows or Linux.</p>"
        },
        "owner":{
          "shape":"NonEmptyString",
          "documentation":"<p>The owner of the container recipe.</p>"
        },
        "parentImage":{
          "shape":"NonEmptyString",
          "documentation":"<p>The base image for the container recipe.</p>"
        },
        "dateCreated":{
          "shape":"DateTime",
          "documentation":"<p>The date when this container recipe was created.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags that are attached to the container recipe.</p>"
        }
      },
      "documentation":"<p>A summary of a container recipe</p>"
    },
    "ContainerRecipeSummaryList":{
      "type":"list",
      "member":{"shape":"ContainerRecipeSummary"}
    },
    "ContainerRepositoryService":{
      "type":"string",
      "enum":["ECR"]
    },
    "ContainerType":{
      "type":"string",
      "enum":["DOCKER"]
    },
    "CreateComponentRequest":{
      "type":"structure",
      "required":[
        "name",
        "semanticVersion",
        "platform",
        "clientToken"
      ],
      "members":{
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the component.</p>"
        },
        "semanticVersion":{
          "shape":"VersionNumber",
          "documentation":"<p>The semantic version of the component. This version follows the semantic version syntax.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> </note>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>Describes the contents of the component.</p>"
        },
        "changeDescription":{
          "shape":"NonEmptyString",
          "documentation":"<p>The change description of the component. Describes what change has been made in this version, or what makes this version different from other versions of the component.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The operating system platform of the component.</p>"
        },
        "supportedOsVersions":{
          "shape":"OsVersionList",
          "documentation":"<p>The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the base image OS version during image recipe creation.</p>"
        },
        "data":{
          "shape":"InlineComponentData",
          "documentation":"<p>Component <code>data</code> contains inline YAML document content for the component. Alternatively, you can specify the <code>uri</code> of a YAML document file stored in Amazon S3. However, you cannot specify both properties.</p>"
        },
        "uri":{
          "shape":"Uri",
          "documentation":"<p>The <code>uri</code> of a YAML component document file. This must be an S3 URL (<code>s3://bucket/key</code>), and the requester must have permission to access the S3 bucket it points to. If you use Amazon S3, you can specify component content up to your service quota.</p> <p>Alternatively, you can specify the YAML document inline, using the component <code>data</code> property. You cannot specify both properties.</p>"
        },
        "kmsKeyId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ID of the KMS key that is used to encrypt this component.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags that apply to the component.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier you provide to ensure idempotency of the request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a> in the <i>Amazon EC2 API Reference</i>.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateComponentResponse":{
      "type":"structure",
      "members":{
        "requestId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The request ID that uniquely identifies this request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The client token that uniquely identifies the request.</p>"
        },
        "componentBuildVersionArn":{
          "shape":"ComponentBuildVersionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component that the request created.</p>"
        }
      }
    },
    "CreateContainerRecipeRequest":{
      "type":"structure",
      "required":[
        "containerType",
        "name",
        "semanticVersion",
        "components",
        "parentImage",
        "targetRepository",
        "clientToken"
      ],
      "members":{
        "containerType":{
          "shape":"ContainerType",
          "documentation":"<p>The type of container to create.</p>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the container recipe.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the container recipe.</p>"
        },
        "semanticVersion":{
          "shape":"VersionNumber",
          "documentation":"<p>The semantic version of the container recipe. This version follows the semantic version syntax.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including zero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> </note>"
        },
        "components":{
          "shape":"ComponentConfigurationList",
          "documentation":"<p>Components for build and test that are included in the container recipe. Recipes require a minimum of one build component, and can have a maximum of 20 build and test components in any combination.</p>"
        },
        "instanceConfiguration":{
          "shape":"InstanceConfiguration",
          "documentation":"<p>A group of options that can be used to configure an instance for building and testing container images.</p>"
        },
        "dockerfileTemplateData":{
          "shape":"InlineDockerFileTemplate",
          "documentation":"<p>The Dockerfile template used to build your image as an inline data blob.</p>"
        },
        "dockerfileTemplateUri":{
          "shape":"Uri",
          "documentation":"<p>The Amazon S3 URI for the Dockerfile that will be used to build your container image.</p>"
        },
        "platformOverride":{
          "shape":"Platform",
          "documentation":"<p>Specifies the operating system platform when you use a custom base image.</p>"
        },
        "imageOsVersionOverride":{
          "shape":"NonEmptyString",
          "documentation":"<p>Specifies the operating system version for the base image.</p>"
        },
        "parentImage":{
          "shape":"NonEmptyString",
          "documentation":"<p>The base image for the container recipe.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags that are attached to the container recipe.</p>"
        },
        "workingDirectory":{
          "shape":"NonEmptyString",
          "documentation":"<p>The working directory for use during build and test workflows.</p>"
        },
        "targetRepository":{
          "shape":"TargetContainerRepository",
[...]
